<ngx-spinner bdColor="rgba(0, 0, 0, 0.4)"></ngx-spinner>
<div class=" mt-1 mb-5 ">
  <div class="row ">
    <div class="col-xl-12 col-lg-12 col-md-7 col-sm-12 col-12 p-0">
      <div class="card p-0">
        <div class="card-header bg-light custom-width-table-head col-md-12 mx-auto">
          <div class="row">
            <div class="col-md-8">
              <div class="row  customer-heading-wrapper">
                <div class="col-10 p-0 ">
                  <div class="input-group new_search" id="adv-search" (clickOutside)="onClickedOutside($event)">
                    <input type="text" class="form-control rounded-4 form-control-sm" placeholder="Search here.."
                      [(ngModel)]="search" (ngModelChange)="this.userQuestionUpdate.next($event)">
                    <div class="input-group-append">
                      <div class="input-group-append">
                        <button class="btn btn-danger rounded-0 " type="button" *ngIf="searchBox"
                          (click)="search='';clearSearch();">
                          <i class="fa fa-trash"></i>
                        </button>
                      </div>
                      <button class="btn btn-secondary rounded-right hand searc-opt search_new user_search"
                        type="button" pack="eva" (click)="clearMainSearch('',''); searchToggle = !searchToggle"><i
                          class="fa fa-caret-down"></i></button>
                    </div>
                    <div class="advance-search" *ngIf="searchToggle">
                      <div class="col-md-12">
                        <form [formGroup]="uomSearchForm" (ngSubmit)="searchBox=true;onSubmit()">
                          <div class="container-fluid  dropdown-content  mt-2">
                            <div class="card card-holder shadow-light p-0">


                              <div class="col-md-12 pl-4">

                                <div class="row mt-2">
                                  <div class="col-lg-2 col-md-12 ">
                                    <label>Name</label>
                                  </div>
                                  <div class="col-lg-10 col-md-12 ">
                                    <div class="form-group">
                                      <input autocomplete="no-fill"
                                        class=" transparent-field form-control-sm rounded-0 form-control border-top-0 border-left-0 border-right-0"
                                        maxlength="100" type="text" formControlName="uomName" placeholder=""
                                        [ngClass]="{ 'status-danger': submitted && f.uomName.errors }" />
                                    </div>
                                  </div>
                                </div>


                                <div class="row ">
                                  <div class="col-lg-2 col-md-12">
                                    <label>Description</label>
                                  </div>
                                  <div class="col-lg-10 col-md-12">
                                    <div class="form-group">
                                      <input autocomplete="no-fill"
                                        class="transparent-field form-control-sm rounded-0 form-control border-top-0 border-left-0 border-right-0"
                                        maxlength="1000" type="text" formControlName="uomDescripton" placeholder=""
                                        [ngClass]="{ 'status-danger': submitted && f.uomDescripton.errors }" />
                                    </div>
                                  </div>
                                </div>
                                <div class="row-6 ">
                                  <div class="col-lg-12 col-md-12 text-right mb-2">
                                    <button type="submit" class="btn btn-primary btn-sm mr-1 search_user_btn"
                                      [disabled]="searchLoader"><i class="fa fa-search"></i>&nbsp; Search</button>
                                    <button type="button" class="mr-1 btn btn-defaultcancel_btn_1 btn-sm btn-danger"
                                      (click)="searchToggle = !searchToggle">
                                      <i class="fa fa-close"></i>&nbsp; Close</button>
                                    <button type="button" class="btn btn-default btn-sm reset_user"
                                      (click)="clearSearch('reset');uomSearchForm.reset()">
                                      <i class="fa fa-refresh"></i>&nbsp; Reset </button>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>

                        </form>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4 p-0">
              <div class="btn-toolbar float-right  ">
                <button *ngIf="permissions.uom_add" type="button" type="button"
                  class="btn btn-default border border-right-0  btn-color btn-bg-color theme-btn-icon  btn-sm "
                  style="border-bottom-left-radius: 3px;border-top-left-radius: 3px;border-top-right-radius:0px;border-bottom-right-radius:0px;">
                  <a  [routerLink]="['/uom/add']"><i class="fa fa-plus text-danger"></i></a>
                </button>
                <button type="button" class="btn border btn-default  btn-color btn-bg-color theme-btn-icon btn-sm"
                  style="border-bottom-right-radius: 3px;border-top-right-radius: 3px;border-top-left-radius:0px;border-bottom-left-radius:0px;">
                  <a [routerLink]="['/uom/list']" (click)="exportUom()"> <i
                      class="fa fa-file-excel-o text-success"></i></a>
                </button>
              </div>
            </div>

          </div>
        </div>

        <div class="card-body p-0">
          <div class="table-responsive col-md-12  p-0">
            <table class="table mx-auto">
              <thead class="bg-light p-0 m-0">
                <tr class="border-0">
                  <th class="border-0 action-col-width" scope="col" width=5%>#</th>
                  <th class="border-0 width-style-s1" scope="col">Name</th>
                  <th scope="" class="border-0 width-style-s1">Description</th>
                  <th class="border-0" colspan="" width="10%">Actions</th>
                </tr>
              </thead>
              <tbody *ngIf="uomList && uomList.length>0">
                <tr
                  *ngFor="let uom of (isSearchRequest ? (uomList | slice: (currentPage-1) * itemsPerPage : (currentPage-1) * itemsPerPage + itemsPerPage) : uomList)   ;let i = index">
                  <td class=" action-col-width">{{ (offset+1)+ i}}</td>
                  <td><label placement="top" ngbTooltip="{{uom.uomName}}"  *ngIf="uom.uomName != null">{{uom.uomName}}</label></td>
                  <td><label placement="top" ngbTooltip="{{uom.uomDescripton}}"  *ngIf="uom.uomDescripton != null">{{uom.uomDescripton}}</label></td>
                  <td class="pr-5 action-col-width"><span ngbTooltip="Edit Uom" position="top"> <a [routerLink]="['/uom/edit/',uom.id]"
                      *ngIf="permissions.uom_edit">
                      <i class="fa fa-edit " style="font-size:20px;"></i>
                    </a></span>

                  </td>
                </tr>
                <tr>
                  <!-- Pagination -->
                  <td colspan="5" class="text-secondary" *ngIf="(totalItems > itemsPerPage)">
                    <ngb-pagination [collectionSize]="totalItems" class="d-flex justify-content-end"
                      [pageSize]="itemsPerPage" (pageChange)="pageChanged($event)" [(page)]="currentPage" [maxSize]="5"
                      [boundaryLinks]="true"></ngb-pagination>
                  </td>
                </tr>
              </tbody>
              <tbody *ngIf="!uomList.length">
                <tr>
                  <td colspan="10" class="text-center">No data found..</td>
                </tr>
                <!-- <tr>
         <td colspan="9"><a href="#" class="btn btn-outline-light float-right">View Details</a></td>
       </tr> -->

              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--pagination-controls previousLabel="<<"    nextLabel=">>"   autoHide="true"  *ngIf="totalItems > 1" (pageChange)="pageChanged($event)" class="text-right mrgn-t-10 width-100"></pagination-controls-->