 <div class="container-fluid p-0">
 
  <nav class="navbar navbar-expand-lg navbar-light main border-0 p-0">
   <div class="container-fluid pl-4 pr-4">
     
         <a class="navbar-brand" [routerLink]="['/']">
            <img class="img img-fluid" width="120" src="assets/images/logo.png" alt="logo">
         </a>
     </div>
 </nav>
</div>

 <div class=" mt-1 mb-5 ">
   <div class=" mt-1 mb-5 ">
      <div class="row ">
         <div class="col-xl-12 col-lg-12 col-md-7 col-sm-12 col-12">
            <div class="card ">
               <div class="col-lg-12">
                  <div nb-card class="pt-0 pr-3 pt-2 pl-3 pb-0">
                     <div  nb-card-body> 

     


<div class="container h-100" style="padding-top: 100px;">
    <div class="row h-100 justify-content-center align-items-center">
        <div class="col-10 col-md-8 col-lg-6">
            <!-- Form -->
             <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
                <h5 class="text-center">Forgot Password</h5>
                <p class="description" *ngIf="mailVerified ==false">Please enter the registered email address</p>
                <!-- Input fields -->
                <div class="form-group" *ngIf="mailVerified ==false">
                      <input   placeholder="Email Address" 
                 type="text" formControlName="email" class="form-control form-control-sm"
                       [ngClass]="{ 'is-invalid': submitted && f.email.errors }"/>
                <div *ngIf="submitted && f.email.errors?.required" class="invalid-feedback">
                  Email is required
                </div>

                </div>
				<div></div>
				 <div class="form-group"  *ngIf="pwdShow ==true">                   
                <label class="pass_1"> Enter the OTP received in your Email</label>
                <input   placeholder="Enter OTP"  formControlName="otp" 
                class="form-control form-control-sm"
                       [ngClass]="{ 'is-invalid': submitted && f.otp.errors }"/>
                       <div *ngIf="submitted && f.otp.errors?.required" class="invalid-feedback text-lowercase">
                  	OTP is required
                  </div>

                </div>
                <div class="form-group" *ngIf="pwdShow ==true">                   
                <label class="pass_1"> New Password</label>
                <input   placeholder="New Password" type="password" formControlName="new_password" 
                class="form-control form-control-sm"
                       [ngClass]="{ 'is-invalid': submitted && f.new_password.errors }"/>
                <div *ngIf="submitted && f.new_password.errors" class="invalid-feedback">
                  <div *ngIf="f.new_password.errors?.pattern" class="text-lowercase">Password between 8 and 20 characters; must contain at least one special character and a number</div>
                  <div *ngIf="f.new_password.errors?.required" class="text-lowercase">
                  	New password is required
                  </div>
                </div>

                </div>


                <div class="form-group" *ngIf="pwdShow ==true">
                   
               <label class="pass_1"> Confirm Password</label>
                <input   placeholder="Confirm Password" 
                type="password" formControlName="conf_new_password" class="form-control form-control-sm"
                       [ngClass]="{ 'is-invalid': submitted && f.conf_new_password.errors }"/>
                <div *ngIf="submitted && f.conf_new_password.errors" class="invalid-feedback">
                  <div *ngIf="f.conf_new_password.errors?.pattern" class="text-lowercase">Password between 8 and 20 characters; must contain at least one special character and a number</div>
                  <div *ngIf="f.conf_new_password.errors?.required" class="text-lowercase">
                  	Confirm password is required
                  </div>
                </div>

                </div>

     <div class="form-group">
                <button  class="btn btn-primary vendor_save mr-1 btn-sm"><ngx-spinner [fullScreen]="false"  bdColor="transparent">
									</ngx-spinner> Next</button>

                </div>



                	

                <!-- End input fields -->
            </form>
            <!-- Form end -->
        </div>
    </div>
</div>
        
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>

