<ngx-spinner bdColor="rgba(0, 0, 0, 0.4)"></ngx-spinner>
<div class=" mt-1 mb-5 ">
   <div class="row ">
    <div class="col-xl-12 col-lg-12 col-md-7 col-sm-12 col-12 p-0">
    <div class="card p-0"> 
    <div class="card-header bg-light custom-width-table-head col-md-12 mx-auto">
     <div class="row">
  
     <div class="col-md-12 p-0">
      <div class="btn-toolbar float-right  ">
          <button *ngIf="permissions.invoiceInstruction_add" type="button" type="button" class="btn btn-default border border-right-0  btn-color btn-bg-color theme-btn-icon  btn-sm " style="border-bottom-left-radius: 3px;border-top-left-radius: 3px;border-top-right-radius:0px;border-bottom-right-radius:0px;">
          <a  [routerLink]="['/invoiceInstruction/add']" ><i class="fa fa-plus text-danger"></i></a>
          </button>
          <button *ngIf="permissions.invoiceInstruction_edit" type="button" class="btn border btn-default  btn-color btn-bg-color theme-btn-icon btn-sm" style="border-bottom-right-radius: 3px;border-top-right-radius: 3px;border-top-left-radius:0px;border-bottom-left-radius:0px;">
            <a  [routerLink]="['/instructionList/list']" (click)="exportInvoiceInstruction()" > <i class="fa fa-file-excel-o text-success"></i></a>   </button>
      </div>
   </div>

 </div>
 </div>

        <div class="card-body p-0">
          <div class="table-responsive  p-0">
            <table class="table mx-auto">
              <thead class="bg-light p-0 m-0">
                <tr class="border-0">
                  <th scope="col" class="border-0" width="5%">#</th>
                  <th class="width-style-s1 border-0"  scope="col">Content</th>
                  <th class=" text-center border-0" width="20%"  colspan="2" width="10%">Actions</th>
                </tr>
              </thead>
              <tbody *ngIf="instructionList && instructionList.length>0">
                <tr *ngFor="let ins of instructionList ;let i = index">
                  <td>{{(offset+1)+ i}}</td>
                  <td><label placement="top" ngbTooltip="{{ins.content}}"  *ngIf="ins.content != null">{{ins.content}}</label></td>
                  <td  class=" action-col-width" *ngIf="permissions.invoiceInstruction_edit"> 

                    <div class="outerDivFull">
                      <div class="switchToggle" ngbTooltip="{{ins.status ==0? 'Activate' : 'Deactivate'}}" placement ="top">
                        <input (click)='changeInstructionStatus(ins.id,ins.status)' *ngIf="ins.status == 1"
                          type="checkbox" id="switch{{ins.id}}" checked>
                        <input (click)='changeInstructionStatus(ins.id,ins.status)' *ngIf="ins.status == 0"
                          type="checkbox" class="custom-control-input" id="switch{{ins.id}}">
                        <label for="switch{{ins.id}}">Toggle</label>
                      </div>
                    </div>

                  </td>
                  <td class="action-col-width"><span ngbTooltip="Edit Invoice Instruction" placement="top"> <a [routerLink]="['/invoiceInstruction/edit/',ins.id]"
                      *ngIf="permissions.invoiceInstruction_edit"><i class="fa fa-edit " style="font-size:20px;"></i>
                    </a>
                  </span>
                  </td>
                </tr>
                <tr *ngIf="(totalItems > itemsPerPage)">
                  <td colspan="4" class="text-secondary">
                    <ngb-pagination [collectionSize]="totalItems" class="d-flex justify-content-end"
                      [pageSize]="itemsPerPage" (pageChange)="pageChanged($event)" [(page)]="currentPage" [maxSize]="5"
                      [boundaryLinks]="true"></ngb-pagination>
                  </td>
                </tr>
              </tbody>
              <tbody *ngIf="!instructionList.length">
                <tr>
                  <td colspan="4" class="text-center">No data found..</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--pagination-controls previousLabel="<<"  *ngIf="totalItems > 1"   nextLabel=">>"   autoHide="true"  (pageChange)="pageChanged($event)" class="text-right mrgn-t-10 width-100"></pagination-controls-->