
<div class=" mt-1 mb-5 ">
   <div class="row ">
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
         <div class="card mrgn-t-10">
            <div class="row m-0 p-0">
               <div class="col-12 mt-1 text-right  mrgn-b-10">
                  
              <button (click)="viewPdf()" [disabled]="loading" class="btn btn-light border" type="button" >
                                    <i class="fa fa-share"></i>View Invoice </button>
               </div>
            
            </div>
<div *ngIf="invoiceDetails!=null">
   <form [formGroup]="payForm" (ngSubmit)="onSubmit()" encType="multipart/form-data">
      <ngb-accordion #acc="ngbAccordion" activeIds="static-1">
         <ngb-panel id="static-1">
            <ng-template ngbPanelTitle>
               <div class="col-md-12">
                  <label class="col-md-4"> Order Details
                     {{ invoiceDetails.invNumber }} </label>
                  <label class="col-md-3"> Cost : {{ invoiceDetails.amountUsdTotal }} USD </label>
                  <label class="col-md-2"> Sent Date : {{ convertDate(invoiceDetails.invSentDate) }} </label>
                  <label class="col-md-3"> Invoice Total :<span class="total-amount">{{ invoiceDetails.amountUsdTotal }}
                     </span> </label>
               </div>

            </ng-template>
            <ng-template ngbPanelContent>
               <div class="row mrgn-t-10">
                  <div class="col-sm-4">
                     <div class="form-group">
                        <label>Payment Ref No- Supplier</label>
                        <input type="text" formControlName="payment_ref_no" maxlength="255" class="form-control form-control-sm" />
                        <label *ngIf="submitted && form.payment_ref_no.errors?.required" class="error">
                           Payment Ref No required.
                        </label>
                     </div>
                  </div>
                  <div class="col-sm-2">
                     <div class="form-group">
                        <label>Amount Paid</label>
                        <input nbInput class="form-control form-control-sm" type="text" formControlName="amount_paid" />
                        <label *ngIf="submitted && form.amount_paid.errors?.required" class="error">
                           Amount Paid is required.
                        </label>
                     </div>
                  </div>
                  <div class="col-sm-2 box-padding">
                     <label>Paid Date</label>
                     <div class="input-group">
                        <input autocomplete="off" type="text" alt="{{paid_date}}_" formControlName="paid_date"
                           class="form-control form-control-sm" placeholder="yyyy-mm-dd" name="paid_datePicker"
                           ngbDatepicker #paid_datePicker="ngbDatepicker"
                           [ngClass]="{ 'is-invalid': submitted && form.paid_date.errors }" />
                        <div class="input-group-append">
                           <button class="btn btn-outline-secondary calendar btn-sm" (click)="paid_datePicker.toggle()"
                              type="button"><i class="fa fa-calendar "></i></button>
                        </div>
                        <div *ngIf="submitted && form.paid_date.errors" class="invalid-feedback">
                           <div *ngIf="form.paid_date.errors.required">Paid Date is required</div>
                        </div>
                     </div>
                  </div>

                  <div class="col-sm-4">
                     <div class="form-group">
                        <label>Payment Details - Supplier</label>
                        <input nbInput maxlength="255" class="form-control form-control-sm" type="text"
                           formControlName="payment_details" />
                     </div>
                  </div>
               </div>
               <div class="row mrgn-t-10 new1" *ngFor="let item of invoicePODetails">
                  <div class="col-sm-8">
                    <div class="row">
                      <div class="col-sm-6">
                        <label class="col-sm-5">ENQ Number</label>
                       <span class="text-info hand colour_bl"
                                 [routerLink]="['/enquiry/edit/',item.enqXid]"
                                 *ngIf="permissions.enquiry_edit"> <label class="col-sm-7">: {{item.enqNumber}}</label></span>
                      </div>
                      <!--div class="col-sm-4">
                        <label class="col-sm-6">Customer Name</label>
                        <label class="col-sm-6">: {{invoiceDetails.customerName}} </label>
                      </div-->
                       <div class="col-sm-6">
                        <label class="col-sm-7">Quotation Number</label>
                        <span class="text-info hand colour_bl"
                                 [routerLink]="['/quotation/edit/',item.quotationXid]"
                                 *ngIf="permissions.quotation_edit"><label class="col-sm-5">: {{item.quotationNumber}} </label></span>
                      </div>
                    </div>
                 </div>
              </div>               
               <div class="row" *ngIf="invoiceDetails">
                  <div class="col-sm-12">
                     <hr>
                     <b>Invoice Item Details</b>
                     <span (click)="viewPdf()"> ( View PDF ) </span>
                     <span class="pull-right">
                        <input type="checkbox" status="basic" (change)="selectAll($event)" [checked]='true'>
                        Show All
                     </span>
                     <hr>
                  </div>
                  <div *ngIf="invoiceDetails.remarks!=null" class="col-sm-12">
                     Remarks : {{ invoiceDetails.remarks }}<br>
                  </div>
                  <div class="col-sm-12 invoice-content" *ngIf="invoiceDetails && invoiceDetails.IMH">
                     <table class="table table-borderless ">
                        <thead class="invoice-thead bg-light">
                           <tr>
                              <th scope="col" style="width: 10px;" class="slno">#</th>
                              <th scope="col">PO Number </th>
                              <th scope="col">Invoice date </th>
                              <th scope="col">Port </th>
                              <th scope="col">Vessel</th>
                              <th scope="col">Vendor</th>
                              <th scope="col">Customer</th>
                              <th scope="col">tcd</th>
                           </tr>
                        </thead>
                        <tbody>
                           <ng-container *ngFor="let invItem of invoiceDetails.IMH;
                           let ind = index">
                              <tr>
                                 <td style="width: 10px;"> {{(ind+1)}}. </td>
                                 <td>
                                    <b>
                                       <span class="text-info" (click)="showPODetails(ind,null)">
                                          {{ invItem.poNumber }}
                                          <br>
                                       </span>
                                    </b>
                                 </td>
                                 <td>{{ convertDate(invItem.poDate) }}</td>
                                 <td>{{invItem.port}}</td>
                                 <td>{{invItem.vesselName}}</td>
                                 <td>{{invItem.vendorName}}</td>
                                 <td>{{invItem.customerName}}</td>
                                 <td>{{invItem.tcd}}</td>
                              </tr>
                              <tr *ngIf="invItem.show && invItem.ID && invItem.ID.length > 0">
                                 <td> </td>
                                 <td colspan="9">
                                    <table class="table table-bordered table-invoice table-header-details">
                                       <thead class="invoice-thead-detail invoice-thead-detail bg-relative-two">
                                          <tr>
                                             <th style="width: 10px;">Sl.No</th>
                                             <th>Group</th>
                                             <th>Description</th>
                                             <th>Type</th>
                                             <th>UOM</th>
                                             <th>Inv Qty</th>
                                             <th>Inv Price</th>
                                             <th>Inv Dis(%)</th>
                                             <th>Inv Cost</th>
                                          </tr>
                                       </thead>
                                       <tbody>
                                          <tr *ngFor="let itemInvoiceItem of invItem.ID; let i = index">
                                             <td style="width: 10px;" scope="col">
                                                {{  (i+1) }}
                                             </td>
                                             <td scope="col">
                                                {{  itemInvoiceItem.group }}
                                             </td>
                                             <td scope="col">
                                                {{  itemInvoiceItem.description }}
                                             </td>
                                             <td scope="col">
                                                {{  itemInvoiceItem.type }}
                                             </td>
                                             <td scope="col">
                                                {{  itemInvoiceItem.uom }}
                                             </td>
                                             <td scope="col">
                                                {{  itemInvoiceItem.invQty }}
                                             </td>
                                             <td scope="col">
                                                {{  itemInvoiceItem.invPrice  }}
                                             </td>
                                             <td scope="col">
                                                {{  itemInvoiceItem.invDiscount  }}
                                             </td>
                                             <td scope="col">
                                                {{  itemInvoiceItem.invCost }}
                                             </td>
                                          </tr>
                                       </tbody>
                                    </table>
                                 </td>
                              </tr>
                           </ng-container>
                        </tbody>
                     </table>
                  </div>
               </div>
            </ng-template>
         </ngb-panel>
      </ngb-accordion>
      <div *ngIf="(paymentData  && paymentData.status == 2)" class="form-group mrgn-t-10 save-button text-right ">
         <div style="text-align: center;">
            <label class="text bg-light pl-5 pr-5 pt-2 pb-2 text-danger col-12"> <b> Payment Is Closed</b></label>
         </div>
      </div>
      <div *ngIf="(paymentData==null) || (  paymentData && paymentData.status < 2)"
         class="form-group mrgn-t-10 save-button text-right ">
         <button class="btn btn-primary vendor_save" [routerLink]="['/pages/invoice']">
            Cancel </button>
         &nbsp;&nbsp;&nbsp;
         <button class="btn btn-primary vendor_save">
            <ngx-spinner [fullScreen]="false"  bdColor="transparent">
                           </ngx-spinner>
            Save</button>
      </div>
   </form>
</div>
</div>
</div>
</div>
</div>
