<ngx-spinner bdColor="rgba(0, 0, 0, 0.4)"></ngx-spinner>
<div class=" mt-1 mb-5 ">
  <div class="row ">
    <div class="col-xl-12 col-lg-12 col-md-7 col-sm-12 col-12 p-0">
      <div class="card p-0">
        <div class="card-header bg-light custom-width-table-head col-md-12 mx-auto">
          <div class="row">
          <div class="col-md-8">
              <div class="row  customer-heading-wrapper">
                <div class="col-10 p-0 " >

                  <div class="input-group new_search" id="adv-search" (clickOutside)="onClickedOutside($event)">
                    <input type="text" class="form-control rounded-4 form-control-sm" placeholder="Search "
                      [(ngModel)]="search" (ngModelChange)="this.userQuestionUpdate.next($event)">
                    <div class="input-group-append">
                      <div class="input-group-append">
                        <button class="btn btn-danger rounded-0 " type="button" *ngIf="(search || isAdvanceSearch)"
                          (click)="search='';searchBox=false;isAdvanceSearch=false;companySearchForm.reset();clearSearch();">
                          <i class="fa fa-trash"></i>
                        </button>
                      </div>
                      <button class="btn btn-secondary rounded-right hand searc-opt search_new user_search"
                        type="button" pack="eva" (click)="clearMainSearch('');searchToggle = !searchToggle">
                        <i class="fa fa-caret-down"></i>
                      </button>
                    </div>
                    <div class="advance-search" [ngClass]="{'advance-search': true, 
                              'toggleHide': !searchToggle}" *ngIf="firstLoad">
                      <div class="col-md-12">
                        <form [formGroup]="companySearchForm" (ngSubmit)="onSubmit()">

                          <div class="container-fluid  dropdown-content  mt-2" >
                            <div class="card card-holder shadow-light p-0">
                            
                              <div class="col-md-12 pl-4">

                                <div class="row">
                                  <div class="col-lg-2 col-md-12">
                                    <label>Name</label>
                                  </div>
                                  <div class="col-lg-4 col-md-12">
                                    <div class="form-group">
                                      <input fullWidth class="form-control border-top-0 border-left-0 border-right-0" autocomplete="no" 
                                        type="text" formControlName="name" placeholder=""
                                        [ngClass]="{ 'status-danger': submitted && f.name.errors }" />
                                    </div>
                                  </div>
                               <div class="col-lg-2 col-md-12">
                                    <label>Phone No</label>
                                  </div>
                                  <div class="col-lg-4 col-md-12">
                                    <div class="form-group">
                                    <input fullWidth  oninput="this.value = this.value.replace(/[^0-9.()+-]/g, ''); this.value = this.value.replace(/(\..*)\./g, '$1');" onKeyDown="if(this.value.length==10 && event.keyCode!=8 && event.keyCode!=9 && event.keyCode!=39 && event.keyCode!=37) return false;"  class="form-control border-top-0 border-left-0 border-right-0"  autocomplete="no" 
                                        type="text" formControlName="address1" placeholder=""
                                        [ngClass]="{ 'status-danger': submitted && f.address1.errors }" />
                                    </div>
                                  </div>
                                </div>

                                <div class="row">
                                  <div class="col-lg-2 col-md-12">
                                    <label>Country</label>
                                  </div>
                                  <div class="col-lg-10 col-md-12">
                                    <div class="form-group">
                                      <ng-autocomplete
                              [data]="countryList"
                              (selected)="changeSelection($event,'country')"
                              [searchKeyword]="keywordCountry"
                              placeHolder="Enter Country Name" 
                              [itemTemplate]="countryTemplate" formControlName="countryName" [initialValue]="countryName" [(ngModel)]="countryName"  (inputCleared)="clear('country')"
                              [notFoundTemplate]="notFoundTemplate" [ngClass]="{ 'is-invalid': submitted && f.country.errors }">
                              </ng-autocomplete>
                              <ng-template #countryTemplate let-item>
                                 <a [innerHTML]="item.name"></a>
                              </ng-template>
                              <ng-template #notFoundTemplate let-notFound>
                                 <div [innerHTML]="notFound"></div>
                              </ng-template>
                                    </div>
                                  </div>
                                </div>

                                <div class="row">
                                  <div class="col-lg-2 col-md-12">
                                    <label>State</label>
                                  </div>
                                  <div class="col-lg-10 col-md-12">
                                    <div class="form-group">
                                      <ng-autocomplete
                              [data]="stateList"
                              (selected)="changeSelection($event,'state')"
                              [searchKeyword]="keywordState"
                              placeHolder="Enter State Name"
                              [itemTemplate]="stateTemplate" formControlName="stateName" [initialValue]="stateName" [(ngModel)]="stateName"  (inputCleared)="clear('state')"
                              [notFoundTemplate]="notFoundTemplate" [ngClass]="{ 'is-invalid': submitted && f.state.errors }">
                              </ng-autocomplete>
                              <ng-template #stateTemplate let-item>
                                 <a [innerHTML]="item.name"></a>
                              </ng-template>
                              <ng-template #notFoundTemplate let-notFound>
                                 <div [innerHTML]="notFound"></div>
                              </ng-template>
                                    </div>
                                  </div>
                                </div>
                                
                                <div class="row">
                                  <div class="col-lg-2 col-md-12">
                                    <label>Zip Code</label>
                                  </div>
                                  <div class="col-lg-4 col-md-12">
                                    <div class="form-group">
                                    <input fullWidth class="form-control border-top-0 border-left-0 border-right-0" autocomplete="no" 
                                        type="text" formControlName="zipCode" placeholder=""
                                        [ngClass]="{ 'status-danger': submitted && f.zipCode.errors }" />
                                    </div>
                                  </div>
                                </div>
                                <div class="row">

                                  <div class="col-lg-12 col-md-12 text-right mb-2">
                                    <button type="submit" class="btn btn-sm btn-primary mr-1 search_user_btn"
                                      [disabled]="searchLoader" (click)="isAdvanceSearch=true">
                                      <i class="fa fa-search"></i>&nbsp; Search</button>
                                    <button type="button" class="mr-1 btn btn-sm btn-defaultcancel_btn_1 btn-danger"
                                      (click)="searchToggle = !searchToggle"><i class="fa fa-close"></i>&nbsp;
                                      Close</button>
                                    <button type="button" class="btn btn-sm btn-default  reset_user"
                                      (click)="isAdvanceSearch=false;clearSearch('reset');companySearchForm.reset()">
                                      <i class="fa fa-refresh"></i>&nbsp; Reset </button>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </form>


                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4 p-0">
              <div class="btn-toolbar float-right ">

                <button *ngIf="permissions.companies_add" type="button" class="btn btn-default border border-right-0  btn-color btn-bg-color theme-btn-icon  btn-sm " style="border-bottom-left-radius: 3px;border-top-left-radius: 3px;border-top-right-radius:0px;border-bottom-right-radius:0px;">
                  <a  [routerLink]="['/company/add']"><i class="fa fa-plus text-danger"></i></a>
                </button>
                <button type="button" class="btn border btn-default  btn-color btn-bg-color theme-btn-icon btn-sm" style="border-bottom-right-radius: 3px;border-top-right-radius: 3px;border-top-left-radius:0px;border-bottom-left-radius:0px;">
                  <a [routerLink]="['/company/list']" (click)="exportCompany()"> <i class="fa fa-file-excel-o text-success"></i></a>
                </button>
              </div>
            </div>
          </div>
        </div>

        <div class="card-body p-0">
          <div class="table-responsive">
            <table class="table mx-auto">
              <thead class="bg-light p-0 m-0">
                <tr class="border-0">
                  <th class="border-0" scope="col" width="5%">#</th>
                  <th class="width-style-s1 border-0" scope="col">Name</th>
                  <th class="width-style-s1 border-0" scope="col">Address 1</th>
                  <th class="border-0">Address 2</th>
                  <th class="border-0">Country</th>
                  <th class="border-0">State</th>
                  <th class="border-0">Zipcode</th>
                  <th class="border-0">Phone</th>
                  <th class="border-0">Website</th>
                  <th class="border-0">E-Mail</th>
                  <th class="border-0 text-center"   width="10%">Actions</th>
                </tr>
              </thead>
              <tbody *ngIf="company_list && company_list.length>0">
                <tr *ngFor="let company of company_list let i = index">
                  <!--| paginate: { itemsPerPage: itemsPerPage, currentPage:currentPage ,totalItems: totalItems };-->
                  <td>{{(offset+1)+ i}}</td>
                  <td><label placement="top" ngbTooltip="{{company.name}}"  *ngIf="company.name != null">{{company.name}}</label></td>
                  <td><label placement="top" ngbTooltip="{{company.address1}}"  *ngIf="company.address1 != null">{{company.address1}}</label></td>
                  <td><label placement="top" ngbTooltip="{{company.address2}}"  *ngIf="company.address2 != null">{{company.address2}}</label></td>
                  <td><label placement="top" ngbTooltip="{{company.CASR.name}}"  *ngIf="company.CASR.name != null">{{company.CASR.name}}</label></td>
                  <td><label placement="top" ngbTooltip="{{company.CAST.name}}"  *ngIf="company.CAST.name != null">{{company.CAST.name}}</label></td>
                  <td><label placement="top" ngbTooltip="{{company.zipCode}}"  *ngIf="company.zipCode!= null">{{company.zipCode}}</label></td>
                  <td><label placement="top" ngbTooltip="{{company.phoneNo}}"  *ngIf="company.phoneNo!= null">{{company.phoneNo}}</label></td>
                  <td><label placement="top" ngbTooltip="{{company.website}}"  *ngIf="company.website != null">{{company.website}}</label></td>
                  <td><label placement="top" ngbTooltip="{{company.email}}"  *ngIf="company.email!= null">{{company.email}}</label></td>
                  <td class="pr-5  action-col-width">
                    <span ngbTooltip="Edit Company" placement ="top">
                    <a [routerLink]="['/company/edit/',company.id]" *ngIf="permissions.companies_edit">
                      <i class="fa fa-edit " style="font-size:20px;"></i> </a>
                      </span>
                    <!--nb-actions size="small">
            <nb-action icon="edit-outline" [routerLink]="['/pages/masters/companies/edit/',company.id]" *ngIf="permissions.companies_edit"></nb-action>
          </nb-actions-->
                  </td>
                </tr>
                <tr *ngIf="(totalItems > itemsPerPage)">
                  <td colspan="11" class="text-secondary">
                    <ngb-pagination [collectionSize]="totalItems" class="d-flex justify-content-end"
                      [pageSize]="itemsPerPage" (pageChange)="pageChanged($event)" [(page)]="currentPage" [maxSize]="5"
                      [boundaryLinks]="true"></ngb-pagination>
                  </td>
                </tr>
              </tbody>
              <tbody *ngIf="!company_list.length">
                <tr>
                  <td colspan="11" class="text-center">No data found..</td>
                </tr>

              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--pagination-controls previousLabel="<<"    nextLabel=">>"  *ngIf="totalItems > 1"  autoHide="true" (pageChange)="pageChanged($event)" class="text-right mrgn-t-10 width-100"></pagination-controls-->