<div class="page-wrapper">
  <div class="left">
    <div class="left-content">
      <p style="color: #fff;"><strong>innovation</strong> is the <br><span class="fnt-styl ">harbor of knowledge</span></p>
    </div>
  </div>
  <div class="right">
    <div class="right-content">
      <div class="logo">
        <img src="../../../assets/images/logo.png">
      </div>
      <div class="form">
        <form  [formGroup]="registerForm" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <input type="text" formControlName="username" class="form-control" placeholder="Username/Email" (keydown.enter)="onSubmit()"
                   [ngClass]="{ 'is-invalid': submitted && form.username.errors }"/>
            <div *ngIf="submitted && form.username.errors" class="invalid-feedback">
              <div *ngIf="form.username.errors.required">Username is required</div>
            </div>
          </div>
          <div class="form-group">
            <input type="password" formControlName="password" class="form-control"  placeholder="Password"
                   [ngClass]="{ 'is-invalid': submitted && form.password.errors }" (keydown.enter)="onSubmit()"/>
            <div *ngIf="submitted && form.password.errors" class="invalid-feedback">
              <div *ngIf="form.password.errors.required">Password is required</div>
            </div>
          </div>
          <div class="text-danger text-center" *ngIf="error">
            Invalid username or password!
          </div>
          <div class="sp-spinner text-center" *ngIf="success" >
            Successfully Logged In....Redirecting
          </div>
          <button class="btn btn-info btn-block" (click)="onSubmit()"  [disabled]="loading">
            Login
            <span class="spinner-border spinner-border-sm" role="status" *ngIf="loading" aria-hidden="true"></span>
          </button>
        </form>
      </div>
      <div class="forgot-pass">
        <p><a [routerLink]="['/forgot-password']">Forgot Password?</a></p>
      </div>

    </div>
  </div>
  <div class="copy-right">
    <p>&copy;2020 samudhra</p>
  </div>
</div>
<link href="https://fonts.googleapis.com/css2?family=Cormorant+Upright:wght@300&display=swap" rel="stylesheet">