body {
  margin: 0;
  padding: 0;
}

.page-wrapper {
  width: 100%;
  float: left;
  background: #000;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url('../../../assets/images/login-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.left {
  width: 40%;
  float: left;
  padding-left: 10px;
  color: #fff;
}

.left p {
  font-size: 30px;
}

.left-content {
  width: 100%;
  max-width: 387px;
  float: right;
  text-align: left;
  font-style: italic;
}

.right {
  width: 60%;
  float: left;
  background: url('../../../assets/images/form-bg.png');
  background-repeat: no-repeat;
  background-position: inherit;
  height: 450px;
  background-size: inherit;
  position: relative;
}

.logo {
  width: 100%;
  float: left;
}

.right-content {
  position: absolute;
  left: 47%;
  top: 50px;
}

.form {
  width: 100%;
  float: left;
  max-width: 300px;
}

.form input {
  display: block;
  padding: 10px;
  margin-bottom: 10px;
  border: none;
  border-bottom: 1px solid #d1d1d1;
  width: 100%;
  color: #aaa;
}

.button {
  padding: 10px;
  background: #00aeee;
  color: #fff;
  text-align: center;
  text-transform: capitalize;
  float: left;
  width: 100%;
  border-radius: 5px;
}

.button:hover {
  background: #049bd3;
  cursor: pointer;
}

.forgot-pass {
  margin-top: 7px;
  width: 100%;
  float: left;
  text-align: center;
  color: #00aeee;
  max-width: 300px;
  font-size: 13px;
  z-index:9999;
}

.copy-right {
  width: 50%;
  position: fixed;
  bottom: 5px;
  left: 15px;
  font-size: 12px;
  font-style: italic;
}

.copy-right p {
  color: #c3cbef;
}

.fnt-styl{
  font-family: 'Cormorant Upright', serif;
  font-size: 40px;
  line-height: 60px !important;
}


/*custom style*/

.page-wrapper{
  @media(max-width:1200px){
    .right{
      width:70%;
    }
    .left{
      width: 30%;
      p{
        font-size: 25px !important;
      }
      span{
        font-size:30px;
      }
    }
  }
  @media(max-width:991px){
    .right{
      width:100%;
    }
    .left{
      width:100%;
    }
  }
}

.page-wrapper{

  @media(max-width:991px){
    display: flex;
    flex-direction: column;
  }
  @media(max-width:767px){
    .right{
      background:none;
      background-color:#fff;
      height: auto;
      padding: 0 20px;
    }
    .right-content{
      display: flex;
      justify-content: center;
      flex-direction: column;
      position: static;
      width: 100%;
    }
    .form{
      width: 100%;
      max-width:100% !important;
    }
    .logo{
      text-align: center;
      padding:15px 0;
    }
    .forgot-pass{
      max-width: 100%;
    }
    .left-content{
      max-width: 100%;
    }
  }

}


.sp-spinner, .sp-spinner:before, .sp-spinner:after {
  border-radius: 50%;
  background-color: rgba(255,255,255,0.7);
  width: 100%;
  height: 18px;
  transform-origin: center center;
  display: inline;
  z-index:1003;
  //background: #000000;
  left:0;right:0;top:0;bottom:0;
  opacity:0.5;
}
.sp-spinner {
  position: relative;
  // background-color: rgba($spCol,1);
  opacity: 1;
  -webkit-animation: spScaleAlpha 1s infinite linear;
  animation: spScaleAlpha 1s infinite linear;
}
.sp-spinner:before, .sp-spinner:after {
  content: '';
  position: relative;
  background: #000000;
  opacity: 0.25;
  z-index:9999;
}
.sp-spinner:before {
  left: 30px;
  top: 0px;
  -webkit-animation: spScaleAlphaBefore 1s infinite linear;
  animation: spScaleAlphaBefore 1s infinite linear;
}
.sp-spinner:after {
  left: -30px;
  top: -23px;
  z-index:9999;
  -webkit-animation: spScaleAlphaAfter 1s infinite linear;
  animation: spScaleAlphaAfter 1s infinite linear;
}
@-webkit-keyframes spScaleAlpha {
  0% { opacity: 1; }
  33% { opacity: 0.25; }
  66% { opacity: 0.25; }
  100% { opacity: 1; }
}
@keyframes spScaleAlpha {
  0% { opacity: 1; }
  33% {  opacity: 0.25; }
  66% { opacity: 0.25; }
  100% {  opacity: 1; }
}
@-webkit-keyframes spScaleAlphaBefore {
  0% { opacity: 0.25; }
  33% { opacity: 1; }
  66% { opacity: 0.25; }
}
@keyframes spScaleAlphaBefore {
  0% { opacity: 0.25; }
  33% { opacity: 1; }
  66% { opacity: 0.25; }
}
@-webkit-keyframes spScaleAlphaAfter {
  33% { opacity: 0.25; }
  66% { opacity: 1; }
  100% { opacity: 0.25; }
}
@keyframes spScaleAlphaAfter {
  33% { opacity: 0.25; }
  66% { opacity: 1; }
  100% { opacity: 0.25; }
}



