<div class=" mt-1 mb-5 ">
   <div class="row ">
      <div class="col-xl-12 col-lg-12 col-md-7 col-sm-12 col-12">
         <div class="card ">
            <div  nb-card-header class="add-new-header-bg pt-1 pb-1 bg-relative text-white card-header bg-info"><i class="fa fa-ship"></i>&nbsp;Item Group Edit</div>
            <div class="col-lg-12">
               <div nb-card class="pt-0 pr-3 pt-2 pl-3 pb-0">
                  <div  nb-card-body>
  					<form [formGroup]="groupForm" (ngSubmit)="onSubmit()">
                  <div class="row vessel-add">
 					<div class="col-sm-3 box-padding">
              <div class="form-group">
                <label>Group Name</label>
                <input type="text" maxlength="100" (keypress)="omit_special_char($event)" formControlName="groupName" class="form-control form-control-sm" placeholder="Group Name" autocomplete="no-fill"
                  [ngClass]="{ 'is-invalid': submitted && form.groupName.errors }" />
                <div *ngIf="submitted && form.groupName.errors" class="invalid-feedback">
                  <div *ngIf="form.groupName.errors.required">Group Name is required</div>
                </div>
              </div>
            </div>

          </div>
         



            <hr>
          <div class="row pb-2">
                           <div class="col-md-12 text-right pb-2">
                              <div class="btn-group">
                                 <button class="btn btn-primary vendor_save mr-1 btn-sm" [routerLink]="['/item-group/list']">
                                 <i class="fa fa-close"></i>&nbsp;Cancel
                                 </button>
                              </div>
                              &nbsp;
                              <div class="btn-group">
                                 <button  [disabled]="loading" class="btn btn-success btn-sm vendor_save"><ngx-spinner [fullScreen]="false"  bdColor="transparent">
                                                  </ngx-spinner> 
                                 <i class="fa fa-save"></i>&nbsp;
                                 Save
                                 </button>
                              </div>
                           </div>
                        </div>
  
                </form>
  				 </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>