h1 { font-size: 50px; 
font-family: sans-serif;
    color: #182c4a94;}
  article { display: block; text-align: left; width: 650px; margin: 0 auto; }
  a { color: #dc8100; text-decoration: none; }
  a:hover { color: #333; text-decoration: none; }
h1:hover {  
        color:#00378a
}

.main-blue-color{
color: #00adee !important;
}
.main-bg-color{
background-color: #00adee;
}
.main-bg-color-2{
background:#2b388f;
}
.shade-sm{
box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;
}
.border-bg-color{
border: 1px solid #2b388f;
}