<div class="container-fluid p-0 mt-1">
  <div class="row">
    <div class="col-md-12">
      <div class="card shade-sm">
        <div class="card-header main-blue-color bg-white ">
         <h5 class="font-weight-bold">Dashboard</h5>
        </div>
        <div class="card-body" style="background:#fbfbfb">
          <span class="badge main-bg-color  text-white p-1 ml-3 mb-1" style="font-size: 20px;">Supplier</span>
          <div class="d-flex flex-wrap">
            
            <div class="col-md-4">
          <div class="card shade-sm border-bg-color" >
            <div class="card-body text-center">
              <div class="text-center">
                <label>
              <h5 class="card-title">Request to be Sent</h5>
          </label>
          </div>
              <div class="text-center" *ngIf="dashboard">
              <label class="text-center">
                <a [routerLink]="['/enquiry/list/',0]"><h3 class="main-blue-color">{{dashboard.Enquiry}}</h3></a>
              </label>
          </div>
          </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card shade-sm border-bg-color">
            <div class="card-body " >
              <div class="text-center">
                <label>
              <h5 class="card-title">PO to be Sent</h5>
          </label>
          </div>
              <div class="text-center" *ngIf="dashboard">
              <label class="text-center">
                <a [routerLink]="['/enquiry/list/',4]"><h3 class="main-blue-color">{{dashboard.PO}}</h3></a>
              </label>
          </div>
          </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card shade-sm border-bg-color">
            <div class="card-body ">
              <div class="text-center">
                <label>
              <h5 class="card-title">Payment to be made</h5>
          </label>
          </div>
              <div class="text-center" *ngIf="dashboard">
              <label class="text-center">
                <a [routerLink]="['/enquiry/list/',8]"><h3 class="main-blue-color">{{dashboard.PaymentMade}}</h3></a>
              </label>
          </div>
          </div>
          </div>
        </div>
          
          
        </div><br>
        <span class="badge main-bg-color  text-white p-1 ml-3 mb-1" style="font-size: 20px;">Customer</span>
        <div class="d-flex flex-wrap ">
          <div class="col-md-4">
        <div class="card  shade-sm main border-bg-color" >
          <div class="card-body text-center">
            <div class="text-center">
              <label>
            <h5 class="card-title ">Quotation to be Sent</h5>
        </label>
        </div>
            <div class="text-center" *ngIf="dashboard">
            <label class="text-center ">
             <a [routerLink]="['/enquiry/list/',2]"> <h3 class="main-blue-color">{{dashboard.Quotation}}</h3></a>
            </label>
        </div>
        </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card shade-sm border-bg-color">
          <div class="card-body ">
            <div class="text-center">
              <label>
            <h5 class="card-title">Invoice to be Sent</h5>
        </label>
        </div>
        <div class="text-center" *ngIf="dashboard">
          <label class="text-center">
            <a [routerLink]="['/enquiry/list/',6]"><h3 class=" main-blue-color">{{dashboard.invoice}}</h3></a>
          </label>
      </div>
        </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card shade-sm border-bg-color">
          <div class="card-body ">
            <div class="text-center">
              <label>
            <h5 class="card-title">Payment to be recv'd</h5>
        </label>
        </div>
        <div class="text-center" *ngIf="dashboard">
          <label class="text-center">
            <a [routerLink]="['/enquiry/list/',9]"><h3 class=" main-blue-color">{{dashboard.PaymentReceived}}</h3></a>
          </label>
      </div>
        </div>
        </div>
      </div>
        
        
      </div>

        </div>
        
      </div>
    </div>
  </div>
</div>

