<ngx-spinner bdColor="rgba(0, 0, 0, 0.4)"></ngx-spinner>
<div class="mt-1 mb-5 ">
  <div class="row ">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 p-0">
      <div class="card p-0 purchase-order-content">
        <div class="card-header bg-light custom-width-table-head col-md-12 mx-auto">
          <div class="row">
            <div class="col-md-8">
              <div class="row  customer-heading-wrapper">
                <div class="col-10 p-0 " >

                  <div class="input-group new_search" id="adv-search" (clickOutside)="onClickedOutside($event)">
                    <input type="text" class="form-control rounded-4 form-control-sm" placeholder="Search "
                      [(ngModel)]="search" (ngModelChange)="this.userQuestionUpdate.next($event)">
                    <div class="input-group-append">
                      <div class="input-group-append">
                        <button class="btn btn-danger rounded-0 " type="button" *ngIf="(search || isAdvanceSearch)"
                          (click)="search='';searchBox=false;isAdvanceSearch=false;enquirySeacrhForm.reset();clearSearch();">
                          <i class="fa fa-trash"></i>
                        </button>
                      </div>
                      <button class="btn btn-secondary rounded-right hand searc-opt search_new user_search"
                        type="button" pack="eva" (click)="clearMainSearch('');searchToggle = !searchToggle">
                        <i class="fa fa-caret-down"></i>
                      </button>
                    </div>
                    <div class="advance-search" [ngClass]="{'advance-search': true, 
                              'toggleHide': !searchToggle}" *ngIf="firstLoad">
                      <div class="col-md-12">
                        <form [formGroup]="enquirySeacrhForm" (ngSubmit)="onSubmit()">

                          <div class="container-fluid  dropdown-content  mt-2" >
                            <div class="card card-holder shadow-light p-0">
                            
                              <div class="col-md-12 pl-4">

                                <div class="row mt-3">
                                  <div class="col-lg-2 col-md-12 ">
                                    <label>From</label>
                                  </div>
                                  <div class="col-lg-5 col-md-12 ">
                                    <div class="form-group">
                                      <div class="input-group">
                                        <input class="form-control  border-0 border-right-0 form-control-sm" autocomplete="nothing" 
                                          formControlName="fromDate" placeholder="yyyy-mm-dd" name="dp" ngbDatepicker  [maxDate]="todayDate" [readonly]="true"
                                          #d="ngbDatepicker" (click)="d.toggle()">
                                        <div class="input-group-append">
                                          <button class="btn btn-sm btn-outline-secondary calendar border-top-0 border-left-0 border-bottom-0 border-right-0 rounded-0" (click)="d.toggle()"
                                            type="button"><i class="fa fa-calendar fa-lg"></i></button>
                                        </div>
                                      </div>
                                    </div>
                                  </div>

                                  <div class="col-lg-1 col-md-12 ">
                                    <label>To</label>
                                  </div>                                 
                                  <div class="col-lg-4 col-md-12 ">

                                    <div class="input-group">
                                      <input class="form-control border-0 border-right-0 form-control-sm"
                                        formControlName="toDate" autocomplete="nothing" placeholder="yyyy-mm-dd" name="dp2" [readonly]="true" ngbDatepicker [maxDate]="todayDate" [minDate]="enquirySeacrhForm.value.fromDate"
                                        #d2="ngbDatepicker" (click)="d2.toggle()">
                                      <div class="input-group-append">
                                        <button class="btn btn-sm btn-outline-secondary calendar border-top-0 border-left-0 border-bottom-0 border-right-0 rounded-0" (click)="d2.toggle()"
                                          type="button"><i class="fa fa-calendar fa-lg"></i></button>
                                      </div>
                                    </div>
                                  </div>

                                </div>

                                <div class="row">
                                  <div class="col-lg-2 col-md-12">
                                    <label>Enq No</label>
                                  </div>
                                  <div class="col-lg-4 col-md-12">
                                    <div class="form-group">
                                      <input fullWidth class="form-control border-top-0 border-left-0 border-right-0" 
                                        type="text" formControlName="enqno" placeholder=""
                                        [ngClass]="{ 'status-danger': submitted && f.enqno.errors }" />
                                    </div>
                                  </div>
                               <div class="col-lg-2 col-md-12">
                                    <label>Status</label>
                                  </div>
                                  <div class="col-lg-4 col-md-12">
                                    <div class="form-group">
                                      <!--ng-select class="custom"  [ngbTooltip]="tipContent" placement="bottom"  container="body"  [clearable]="false" [searchable]="false"   placeholder="Status" fullWidth formControlName="status"
                                        (ngModelChange)="preventChange($event)"
                                        [ngClass]="{ 'status-danger': submitted && f.status.errors }">
                                        <ng-option *ngFor="let status of status" [value]="status.id">{{status.name}}
                                        </ng-option>
                                      </ng-select-->
									<ng-select [items]="status" bindLabel="name"  [clearable]="false" [searchable]="false" formControlName="status" bindValue="id">
    								<ng-template ng-option-tmp let-item="item">
    								<div title="{{item.name}}">{{item.name}}</div>
    								</ng-template>
									</ng-select>
                                    </div>
                                  </div>
                                </div>

                                <div class="row">
                                  <div class="col-lg-2 col-md-12">
                                    <label>Customer</label>
                                  </div>
                                  <div class="col-lg-10 col-md-12">
                                    <div class="form-group">
                                      <ng-autocomplete [data]="customers"
                                        (selected)="changeSelection($event,'customer')"
                                        [searchKeyword]="keywordCustomer" placeHolder=""
                                        [itemTemplate]="customerTemplate" [notFoundTemplate]="notFoundTemplate" formControlName="customerName"
                                        (inputCleared)="clear('customer')" [initialValue]="customerName" [(ngModel)]="customerName">
                                      </ng-autocomplete>

                                      <ng-template #customerTemplate let-item>
                                        <a [innerHTML]="item.vendorName"></a>
                                      </ng-template>
                                      <ng-template #notFoundTemplate let-notFound>
                                        <div [innerHTML]="notFound"></div>
                                      </ng-template>
                                    </div>
                                  </div>
                                </div>

                                <div class="row">
                                  <div class="col-lg-2 col-md-12">
                                    <label>Vendor</label>
                                  </div>
                                  <div class="col-lg-10 col-md-12">
                                    <div class="form-group">
                                      <ng-autocomplete [data]="vendors" (selected)="changeSelection($event,'vendor')"
                                        [searchKeyword]="keywordVendor" placeHolder="" [itemTemplate]="vendorTemplate" formControlName="vendorName"
                                        [initialValue]="vendorName" [notFoundTemplate]="notFoundTemplate"
                                        (inputCleared)="clear('vendor')" [(ngModel)]="vendorName">
                                      </ng-autocomplete>

                                      <ng-template #vendorTemplate let-item>
                                        <a [innerHTML]="item.vendorName"></a>
                                      </ng-template>


                                      <ng-template #notFoundTemplate let-notFound>
                                        <div [innerHTML]="notFound"></div>
                                      </ng-template>
                                    </div>
                                  </div>
                                </div>
                                
                                <div class="row">

                                </div>
                                <div class="row">

                                  <div class="col-lg-12 col-md-12 text-right mb-2">
                                    <button type="submit" class="btn btn-sm btn-primary mr-1 search_user_btn"
                                      [disabled]="searchLoader" (click)="isAdvanceSearch=true">
                                      <i class="fa fa-search"></i>&nbsp; Search</button>
                                    <button type="button" class="mr-1 btn btn-sm btn-defaultcancel_btn_1 btn-danger"
                                      (click)="searchToggle = !searchToggle"><i class="fa fa-close"></i>&nbsp;
                                      Close</button>
                                    <button type="button" class="btn btn-sm btn-default  reset_user"
                                      (click)="isAdvanceSearch=false;clearSearch('reset');enquirySeacrhForm.reset()">
                                      <i class="fa fa-refresh"></i>&nbsp; Reset </button>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </form>


                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4 p-0">
              <div class="btn-toolbar float-right  ">
                <button  [routerLink]="['/enquiry/add']" *ngIf="permissions.enquiry_add" class="btn btn-default border border-right-0  btn-color btn-bg-color theme-btn-icon  btn-sm " style="border-bottom-left-radius: 3px;border-top-left-radius: 3px;border-top-right-radius:0px;border-bottom-right-radius:0px;">
                  <i class="fa fa-plus text-danger"></i>
                  </button>
                  <button (click)="exportEnquiry()" type="button"  class="btn border btn-default  btn-color btn-bg-color theme-btn-icon btn-sm" style="border-bottom-right-radius: 3px;border-top-right-radius: 3px;border-top-left-radius:0px;border-bottom-left-radius:0px;">
                    <i
                       class="fa fa-file-excel-o text-success"></i>
                    </button>
              </div>
           </div>
           
          </div>
        </div>
        <div class="card-body p-0">
          <div class="table-responsive col-md-12 p-0">
            <table class="table mx-auto">
              <thead class="bg-light p-0 m-0">
                <tr class="border-0">
                  <th class="border-0" width="5%">#</th>
                  <th class="border-0">Enq No</th>
                  <th class="border-0">Service Request For</th>
                  <th class="border-0">Customer Name </th>
                  <th class="border-0">Vendor Name</th>
                  <th class="border-0">Date</th>
                  <th class="border-0">Status</th>
                  <th class="border-0">Action</th>
                </tr>
              </thead>
              <tbody *ngIf="enquirylist && enquirylist.length>0">
                <tr *ngFor="let enq of enquirylist ;  last as isLast; let i = index;">
                  <td> {{ (pageOffset+1)+ i}}</td>
                  <td class="text-info hand colour_bl  po-new-width1 " [routerLink]="['/enquiry/edit/',enq.id]"
                    *ngIf="permissions.enquiry_edit"><span placement="top" ngbTooltip="{{enq.enqNumber}}"  *ngIf="enq.enqNumber != null">{{enq.enqNumber}}</span>
                  </td>
                  <td class="text-info hand colour_bl  po-new-width1" *ngIf="!permissions.enquiry_edit"><span placement="top" ngbTooltip="{{enq.enqNumber}}"  *ngIf="enq.enqNumber != null">{{enq.enqNumber}}</span></td>

                  <!--<td>-</td> -->

                  <td class="num_po1"><span placement="top" ngbTooltip="{{enq.serviceRequestFor}}"  *ngIf="enq.serviceRequestFor != null">{{enq.serviceRequestFor}}</span></td>
                   <td class="num_po1 po-ellipsis1"><span placement="top" ngbTooltip="{{enq.customerName}}"  *ngIf="enq.customerName != null">{{enq.customerName}}</span></td>
                  <td class="num_po1" *ngIf="enq.EV && enq.EV.length>0">
                    <span  *ngIf="enq.EV && enq.EV.length>0" 
                       placement="top" ngbTooltip="{{ comaSeperated(enq.EV)}}">  {{ comaSeperated(enq.EV)}}
                    </span>
                  </td>
                  <td class="num_po1"><label placement="top" ngbTooltip="{{convertDate(enq.enqDate)}}"  *ngIf="enq.enqDate != null"> {{ convertDate(enq.enqDate) }} </label></td>
                  <td class="num_po1 "><span placement="top" ngbTooltip="{{ENQ_STATUS[enq.enqStatus]}}"  *ngIf="enq.enqStatus != null">{{ENQ_STATUS[enq.enqStatus] }}</span></td>
                     <td class=" num_po1   action-col-width" *ngIf="permissions.enquiry_edit"> <span *ngIf="enq.enqStatus <=2" ><a [routerLink]="['/enquiry/edit/',enq.id]" title="Edit Enquiry"
                      ><i class="fa fa-edit " style="font-size:20px;"></i>
                    </a></span>
                    <span *ngIf="enq.enqStatus >2"><a  [routerLink]="['/enquiry/edit/',enq.id]"  title="View Enquiry" style="color: #00adee"><i class="fa fa-eye" aria-hidden="true" style="font-size:20px;color: #00adee"></i></a></span>
                    &nbsp;<span *ngIf="enq.enqStatus <=5 && permissions.enquiry_cancel"><a  [routerLink]="" (click)='open(content,enq.id)' title="Cancel Enquiry" style="color: #00adee"><i class="fa fa-times-circle-o" aria-hidden="true" style="font-size:20px;color: #00adee"></i></a></span>
                    	 
                  </td>
                  
                </tr>
                <tr *ngIf="(totalItems > itemsPerPage)">
                  <td colspan="9" class="text-secondary">
                    <ngb-pagination [collectionSize]="totalItems" class="d-flex justify-content-end"
                      [pageSize]="itemsPerPage" (pageChange)="pageChanged($event)" [(page)]="currentPage" [maxSize]="5" [rotate]="true"
                      [boundaryLinks]="true"></ngb-pagination>
                  </td>
                </tr>
              </tbody>
              <tbody *ngIf="!enquirylist || !enquirylist.length">
                <tr>
                  <td class="text-center" colspan="12">
                    <span *ngIf="!loader">No data found!</span>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Cancel Enquiry</h4>
  </div>
  <div class="modal-body">
    <form [formGroup]="cancelModalForm" (ngSubmit)="Submit()">
   <div class="col-md-12 pl-4">
        <div class="row">
              <div class="col-lg-2 col-md-12 ">
                      <label >Reason</label>
                  </div>
                  <div class="col-lg-10 col-md-12 ">
                    <div class="form-group">
                      <input fullWidth class="form-control border-top-0 border-left-0 border-right-0"
                         type="text" formControlName="reason" placeholder="" maxlength="100" 
                             />
                        <!--div *ngIf="submitted && form.reason.errors" class="invalid-feedback">
                                    <div *ngIf="form.reason.errors.required">Reason is required</div>
                                 </div-->                          </div>

                  </div>                      
                  

              </div>
              <div class="row">
     <div class="col-lg-2 col-md-12 ">
         <label>Date</label>
           </div>                                 
         <div class="col-lg-5 col-md-12 ">

          <div class="input-group">
              <input class="form-control border-0 border-right-0 form-control-sm"
                   formControlName="cancelDate" placeholder="yyyy-mm-dd" name="dp2" ngbDatepicker [maxDate]="todayDate" [minDate]="enqDate"
                                        #d2="ngbDatepicker" (click)="d2.toggle()">
                   <div class="input-group-append">
                     <button class="btn btn-sm btn-outline-secondary calendar border-top-0 border-left-0 border-bottom-0 border-right-0 rounded-0" (click)="d2.toggle()"
                                          type="button"><i class="fa fa-calendar fa-lg"></i></button>
                           </div>
                                  <!--div *ngIf="submitted && form.cancelDate.errors" class="invalid-feedback">
                                    <div *ngIf="form.cancelDate.errors.required"> Date is required</div>
                                 </div-->                          
                         </div>
                        </div> 
                    </div>
 
  <div class="modal-footer">
    <button type="submit" class="btn btn-sm btn-success vendor_save"><i class="fa fa-save" aria-hidden="true"></i>&nbsp;Save</button>
    <button type="button" class="mr-1 btn btn-sm btn-defaultcancel_btn_1 btn-danger" (click)="modal.dismiss('Cross click');modal =!modal" 
   ><i class="fa fa-close"></i>&nbsp;Close</button>    
  </div> 
  </div>                            
    </form>
  </div>

</ng-template>