.loading-tr{
    z-index: 9999;
    position: fixed;
    text-align: center;
    left: 50%;
    color: #356f1d;
    font-size: 15px;
}

 .toggleHide{
    display: none;
}

::ng-deep .tooltip-inner {
max-width: 340px;
text-align: left;
}