<div class="container-fluid p-0">
 
  <nav class="navbar navbar-expand-lg navbar-light main border-0 p-0">
   <div class="container-fluid pl-4 pr-4">
     
         <a class="navbar-brand" [routerLink]="['/dashboard']">
            <img class="img img-fluid" width="120" src="assets/images/logo.png" alt="logo">
         </a>


         <button class="navbar-toggler" data-target="#navbarSupportedContent" data-toggle="collapse" type="button"><span
               class="navbar-toggler-icon"></span></button>
         <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav">
               <li class="nav-item dropdown position-static ">
                  <a class="nav-link dropdown-toggle text-dark" data-toggle="dropdown" href="#" id="navbarDropdown"><i
                        class="fa fa-gear"></i>&nbsp;Masters</a>
                  <ul
                     class="dropdown-menu megamenu dropdown-menu-one col-md-6 mr-auto border-top-0 border-right-0 border-left-0 ">
                     <h7 class="text-dark"><b>Masters</b></h7>
                     <hr>

                     <div class="row">
                        <li class="col-md-3 border-right-black text-light margin-top-custom background-custom">

                           <ul>
                              <li *ngIf="permissions.vendors_view">
                                 <a [routerLink]="['/vendor/list']">Vendor</a>
                              </li>
                              <li *ngIf="permissions.customers_view">
                                 <a [routerLink]="['/customer/list']">Customer</a>
                              </li>
                              <li *ngIf="permissions.users_view">
                                 <a [routerLink]="['/user/list']">User</a>
                              </li>
                           </ul>
                        </li>
                        <li class="col-md-3 border-right-black text-light margin-top-custom ">

                           <ul>
                              <li *ngIf="permissions.vessels_view"><a [routerLink]="['/vessel/list']">Vessel</a></li>
                              <li *ngIf="permissions.vendors_view"><a [routerLink]="['/company/list']">Company</a></li>
                              <li *ngIf="permissions.uom_view"><a [routerLink]="['/uom/list']">Uom</a></li>
                           </ul>
                        </li>
                        <li class="col-md-3 border-right-black text-light margin-top-custom background-custom">

                           <ul>

                              <li *ngIf="permissions.ports_view"><a [routerLink]="['/port/list']">Port</a></li>
                              <li *ngIf="permissions.itemGroups_view"><a  [routerLink]="['/item-group/list']">Item Group</a></li>
                              <li *ngIf="permissions.currency_view"><a [routerLink]="['/currency/list']">Currency</a></li>
                           </ul>
                        </li>
                        <li class="col-md-3  text-light margin-top-custom ">

                           <ul>
                              <li *ngIf="permissions.invoiceInstruction_view"><a [routerLink]="['/invoiceInstruction/list']">Invoice Instruction</a></li>

                           </ul>
                        </li>
                     </div>

                  </ul>
               </li>
               <li class="nav-item dropdown position-static">
                  <a class="nav-link dropdown-toggle text-dark" data-toggle="dropdown" href="#" id="navbarDropdown"
                     role="button"><i class="fa fa-exchange"></i>&nbsp;Transactions</a>
                  <ul
                     class="dropdown-menu megamenu dropdown-menu-two col-md-4 border-top-0 border-right-0 border-left-0   mr-auto">
                     <h7 class="text-dark"><b>Transactions</b></h7>
                     <hr>
                     <div class="row">
                        <li class="col-md-4 border-right-black text-light margin-top-custom background-custom">

                           <ul>
                              <li *ngIf="permissions.enquiry_view">
                                 <a [routerLink]="['/enquiry/list']">Enquiry</a>
                              </li>
                              <li *ngIf="permissions.quotation_view">
                                 <a [routerLink]="['/quotation/list']">Quotation</a>
                              </li>
                           </ul>
                        </li>

                        <!--li class="col-md-12 text-light margin-top-custom background-custom"-->
                        <li class="col-md-5 border-right-black text-light margin-top-custom ">
                           <ul>
                              <li *ngIf="permissions.po_view">
                                 <a [routerLink]="['/purchase-order/list']" class="">Purchase Order</a>
                              </li>
                              <li *ngIf="permissions.invoice_view">
                                 <a [routerLink]="['/invoice/list']">Invoice</a>
                              </li>

                           </ul>
                        </li>
                         <li class="col-md-3 border-right-black text-light margin-top-custom background-custom">
                         <ul>
                          <li >
                         <a [routerLink]="['/report']" class="">Report</a>
                         </li>
                         </ul>
                        </li>

                     </div>
                  </ul>
               </li>
            </ul>
         </div>



         <div class="collapse navbar-collapse " id="navbar-list-4">
            <div class="container p-0">
               <ul class="navbar-nav float-right">
                  <li class="nav-item text-dark mt-3">{{username}}</li>
                  <li class="nav-item dropdown mt-1">
                     <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <img src="{{imageSrc}}" width="35" height="35" class="rounded-circle">
                     </a>
                     <div class="dropdown-menu shadow-default" aria-labelledby="navbarDropdownMenuLink">

                        <a class="dropdown-item" [routerLink]="['/user/edit-profile']"><i
                              class="fa fa-user"></i>&nbsp;Profile</a>
                        <a class="dropdown-item" [routerLink]="['/change-password']"><i
                              class="fa fa-gear"></i>&nbsp;Change Password</a>
                        <a class="dropdown-item" (click)="logout()"><i class="fa fa-hand-paper-o"></i>&nbsp;Log Out</a>
                     </div>
                  </li>
               </ul>
            </div>
         </div>

      </div>
   </nav>
</div>
<!-- <div class="overLay dropdown" style="z-index: 99999; display: block;"></div> -->
<div class="container-fluid ">
   <router-outlet></router-outlet>
</div>