
/* Navigation Sub
------------------------------------- */
nav.sub {
	border-bottom: 1px solid #ebebeb;
	padding: 10px 0;
}

/* Navigation Main
------------------------------------- */

nav.main .nav-logo {
	max-width: 200px;
	width: 100%;
}
nav.main ul {
	padding-left: 0;
	list-style-type: none;
}
nav.main .megamenu ul li a:hover{

text-decoration: none;
color:#000;
}
nav.main .megamenu ul li a:hover{
 opacity: 1;
 
 color:#ffab23 !important;
  }

  .navbar-nav {
  
    font-size: 14px;
}
  // nav.main .megamenu ul li:hover:{
   
  // }
//   .dropdown-menu-one:before{
//     content: "";
//     border-bottom: 15px solid #fff;
//     border-right: 17px solid transparent;
//     border-left: 17px solid transparent;
//     position: absolute;
//     top: -15px;
//     left: 43px;
//     z-index: 10;
    
// }
// .dropdown-menu-two:before{
//   content: "";
//   border-bottom: 15px solid #fff;
//   border-right: 17px solid transparent;
//   border-left: 17px solid transparent;
//   position: absolute;
//   top: -15px;
//   left: 43px;
//   z-index: 10;
// }
/* ------ Mega Menu ------ */
nav.main .megamenu {
	padding: 20px 20px;
	position: absolute;
	top: 59px;
	left: 0;
  right: 0;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.16);
  border: 1px solid #80808021 !important;
	width: 100%;
	margin-left: auto;
  margin-right: auto;
  border-radius: 0px !important;
}

nav.main .megamenu li a{
  display: block; 
  width: 100%; 
  padding: 10px 0px 1px 10px;

  position: relative; 
  z-index: 2;
  text-decoration: none;
  color: #444;
  box-sizing: border-box;  
  -moz-box-sizing: border-box;  
  -webkit-box-sizing: border-box; 
}

  .bg-grey{
    background:#eef1f3;
   }




nav.main .midmenu {
	position: absolute;
	padding: 20px 20px;
	float: left;
	top: auto;
	left: auto;
	right: auto;
	max-width: 650px;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}
.dropdown-menu.megamenu.midmenu.show {
    right: 0;
  }
  .dropdown-menu.show {
    right: 0;
  }
  // .megamenu{
  //   -webkit-box-shadow: 0px 17px 8px -16px rgba(0,0,0,0.75);
  //   -moz-box-shadow: 0px 17px 8px -16px rgba(0,0,0,0.75);
  //   box-shadow: 0px 17px 8px -16px rgba(0,0,0,0.75);
  // }
  .border-right-black{
    border-right: 1px solid #80808040;
  }

  .text-light li a{
    color:#2e3031e0;
  }
  .text-blue{
    color: #2f8aeb;
  }
  .user-name{
    margin-top:-10px !important;
  }
  .shadow-default{
    -webkit-box-shadow: 0px 17px 8px -16px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 17px 8px -16px rgba(0,0,0,0.75);
    box-shadow: 0px 17px 8px -16px rgba(0,0,0,0.75);
  }
  .bg-custom{
    background: #3d6086;
  }
  .dropdown-menu {
    right: 0;
    margin-left: -83px;
    font-size: 14px;
}
@media only screen and (min-width: 600px) {
 .custom-height{
  height: 55px;
}
}
// HEADER CSS CHANGES
.bg-relative{
	background: rgb(0,212,255);
background: linear-gradient(90deg, rgba(0,212,255,1) 0%, rgba(0,123,255,1) 100%);
}
  