
<div class=" mt-1 mb-5 ">
    <div class="row" >
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
      <div class="card mrgn-t-10">
      	<form [formGroup]="reportForm" (ngSubmit)="onSubmit()">

              <div class="row form-group pt-4">
                       <div class="col-sm-4">
                        <label class="col-sm-5 float-left">Report Type</label>
                        <div class="col-sm-7 float-left">
                          <div class="form-group">
                          <ng-select [items]="reportList"
                           bindLabel="name" bindValue="id" autocomplete="no-fill" [clearable]="false" [searchable]="false" placeholder="Choose Type" (change)="selectedType($event)" formControlName="reportType">
                           </ng-select>
                         </div> 
                       </div>
                     </div>

                      <div class="col-sm-4">
                        <label class="col-sm-5 float-left">From</label>
                        <div class="col-sm-7 float-left">
                           <div class="form-group">
                          <ng-select [items]="arrYear"
                           bindLabel="name" bindValue="name" autocomplete="no-fill" [clearable]="false" [searchable]="false" placeholder="Select Year"  formControlName="fromDate">
                           </ng-select>
                         </div> 
                                    </div>
                                  </div>
                                    <div class="col-sm-4" *ngIf="hideTo ==false">
                                      <label class="col-sm-5 float-left">To</label>
                                      <div class="col-sm-7 float-left">
                                        <div class="form-group">
                                  <ng-select [items]="arrYear"
                                   bindLabel="name" bindValue="name" autocomplete="no-fill" [clearable]="false" [searchable]="false" placeholder="Select Year"  formControlName="toDate">
                                   </ng-select>
                                 </div> 
                                    </div>

                                  </div>
                                </div>
                              
               <div class="row pb-2" class="form-group mrgn-t-10 save-button text-right ">
            <div class="col-md-12 text-right pb-2">
 			<div class="btn-group">
                <button class="btn btn-sm btn-success" [disabled]="loading">
                  <ngx-spinner [fullScreen]="false" bdColor="transparent">
                  </ngx-spinner> <i class="fa fa-save"></i>&nbsp;Search
                </button>
              </div>
            </div>
          </div>

                                 


        </form>

                     <div class="row pb-2" class="form-group mrgn-t-10 save-button text-right " *ngIf="total && total.length >0">
                    <div class="col-md-12 text-right pb-2">
                  <div class="btn-group">
                      <button title="Export to pdf" (click)="generarPDF()" id="donwloadpdf" type="button"  class="btn border btn-default  btn-color btn-bg-color theme-btn-icon btn-sm" style="border-bottom-right-radius: 3px;border-top-right-radius: 3px;border-top-left-radius:0px;border-bottom-left-radius:0px;">
                        <i
                          class="fa fa-file-pdf-o text-success"></i>
                        </button>
                  </div>
                </div>
              </div>

        <div #screen *ngIf="total && total.length >0" class="col-md-10 text-center pl-10"  style="align-items: center;padding-left: 250px;">
  <div>
    <div id="screen">
      <canvas baseChart
        [datasets]="barChartData"
        [labels]="barChartLabels"
        [options]="barChartOptions"
        [plugins]="barChartPlugins"
        [legend]="barChartLegend"
        [chartType]="barChartType">
      </canvas>
    </div>
  </div>
</div>                       
      </div>
  </div>
</div>
</div>


