<ngx-spinner bdColor="rgba(0, 0, 0, 0.4)"></ngx-spinner>
<div class="mt-1 mb-5 ">
  <div class="row ">
    <div class="col-xl-12 col-lg-12 col-md-12 p-0 col-sm-12 col-12">
      <div class="card p-0">
        <div class="card-header bg-light custom-width-table-head col-md-12 mx-auto">
          <div class="row">
            <div class="col-md-8">
              <div class="row  customer-heading-wrapper">
                <div class="col-10 p-0 ">

                  <div class="input-group new_search" id="adv-search" (clickOutside)="onClickedOutside($event)">
                    <input type="text" class="form-control form-control-sm rounded-4" placeholder="Search here.." [(ngModel)]="search"
                      (ngModelChange)="this.userQuestionUpdate.next($event)">
                    <div class="input-group-append">
                      <div class="input-group-append">
                        <button class="btn btn-danger rounded-0 " type="button" *ngIf="searchBox"
                          (click)="search='';clearSearch();">
                          <i class="fa fa-trash"></i>
                        </button>
                      </div>
                      <button class="btn btn-secondary rounded-right hand searc-opt search_new user_search"
                        type="button" pack="eva" (click)="clearMainSearch('');searchToggle = !searchToggle">
                        <i class="fa fa-caret-down"></i>
                      </button>
                    </div>

                    <div class="advance-search" [ngClass]="{'advance-search': true, 
                              'toggleHide': !searchToggle}" *ngIf="firstLoad">
                      <div class="col-md-12">
                        <form [formGroup]="customerSearchForm" (ngSubmit)="searchBox=true;onSubmit()">

                          <div class="container-fluid  dropdown-content  mt-2">
                            <div class="card card-holder shadow-light p-0">
                             

                              <div class="col-md-12">

                                <div class="row mt-2">
                                  <div class="col-lg-2 col-md-12 ">
                                    <label>Cust Code</label>
                                  </div>
                                  <div class="col-lg-10 col-md-12 ">
                                    <div class="form-group">
                                      <input
                                        class="form-control border-top-0 border-left-0 border-right-0 transparent-field rounded-0 border-top-0 border-left-0 border-right-0" autocomplete="no-fill"
                                        type="text" formControlName="vendorCode" placeholder=""
                                        oninput="this.value = this.value.toUpperCase()"
                                        [ngClass]="{ 'status-danger': submitted && f.vendorCode.errors }" />
                                    </div>
                                  </div>
                                  <div class="col-lg-2 col-md-12 ">
                                    <label>Name</label>
                                  </div>
                                  <div class="col-lg-10 col-md-12">
                                    <div class="form-group">

                                      <input
                                        class="form-control border-top-0 border-left-0 border-right-0 transparent-field rounded-0 border-top-0 border-left-0 border-right-0" autocomplete="no-fill"
                                        type="text" formControlName="vendorName" placeholder=""
                                        oninput="this.value = this.value.toUpperCase()"
                                        [ngClass]="{ 'status-danger': submitted && f.vendorName.errors }" />
                                    </div>
                                  </div>
                                </div>
                                <div class="row ">
                                  <div class="col-lg-2 col-md-12">
                                    <label>Approved</label>
                                  </div>
                                  <div class="col-lg-10 col-md-12">
                                    <div class="form-group">
                                      <ng-select
                                        placeholder="Choose Customer Approved or Not" fullWidth
                                        formControlName="approvedVendor" autocomplete="no-fill"
                                        [clearable]="false" [searchable]="false"
                                        [ngClass]="{ 'status-danger': submitted && f.approvedVendor.errors }">
                                        <ng-option *ngFor="let stat of statuslist" [value]="stat.id" class="drop-bg">
                                          {{stat.name}}
                                        </ng-option>
                                      </ng-select>
                                    </div>
                                  </div>
                                </div>
                                <div class="row">
                                  <div class="col-lg-2 col-md-12 align-item">
                                    <label>Currency</label>
                                  </div>
                                  <div class="col-lg-10 col-md-12">
                                    <div class="form-group">
                                      <ng-autocomplete [data]="currencylist" (selected)="changeSelection($event.name)" 
                                        [searchKeyword]="keywordCurrency" placeHolder="Enter Currency name"
                                        [itemTemplate]="currencyTemplate" [notFoundTemplate]="notFoundTemplate" [(ngModel)]="currencyName"
                                        [initialValue]="currencyName" formControlName="currencyObj">
                                      </ng-autocomplete>
                                      <ng-template #currencyTemplate let-item>
                                        <a [innerHTML]="item.name"></a>
                                      </ng-template>
                                      <ng-template #notFoundTemplate let-notFound>
                                        <div [innerHTML]="notFound"></div>
                                      </ng-template>
                                    </div>
                                  </div>
                                </div>
                                <div class="row">
                                  <div class="col-lg-2 col-md-12 align-item">
                                    <label>Active</label>
                                  </div>
                                  <div class="col-lg-10 col-md-12">
                                    <div class="form-group mt-3">
                                      <input type="checkbox" formControlName="status"
                                        [ngClass]="{ 'is-invalid': submitted && f.status.errors }" status="warning" />
                                    </div>
                                  </div>
                                </div>

                                <div class="row">

                                  <div class="col-lg-12 col-md-12 text-right mb-2">
                                    <button type="submit" class="btn btn-primary btn-sm mr-1 search_user_btn"
                                      [disabled]="searchLoader"><ngx-spinner [fullScreen]="false"  bdColor="transparent">
                                                  </ngx-spinner> 
                                      <i class="fa fa-search"></i>&nbsp; Search</button>
                                    <button type="button" class="mr-1 btn btn-sm btn-defaultcancel_btn_1 btn-danger"
                                      (click)="searchToggle = !searchToggle"><i class="fa fa-close"></i>&nbsp;
                                      Close</button>
                                    <button type="button" class="btn btn-sm btn-default  reset_user"
                                      (click)="clearSearch('reset')">
                                      <i class="fa fa-refresh"></i>&nbsp; Reset </button>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>

                        </form>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4 p-0">
              <div class="btn-toolbar float-right  ">
                <button *ngIf="permissions.customers_add" type="button" class="btn btn-default border border-right-0  btn-color btn-bg-color theme-btn-icon  btn-sm "  style="border-bottom-left-radius: 3px;border-top-left-radius: 3px;border-top-right-radius:0px;border-bottom-right-radius:0px;">
                  <a  [routerLink]="['/customer/add']"><i class="fa fa-plus text-danger"></i></a>
                </button>
                  
                <button type="button" class="btn border btn-default  btn-color btn-bg-color theme-btn-icon btn-sm" style="border-bottom-right-radius: 3px;border-top-right-radius: 3px;border-top-left-radius:0px;border-bottom-left-radius:0px;">
                  <a [routerLink]="['/customer/list']" (click)="exportCustomer()"><i class="fa fa-file-excel-o text-success"></i></a>
                </button>
              </div>
           </div>
         
            
          </div>
        </div>
        <div class="card-body p-0">
          <div class="table-responsive">
            <table class="table mx-auto">
              <thead class="bg-light p-0 m-0">
                <tr class="border-0">
                  <th class="border-0" width="5%">#</th>
                  <th class="border-0">Customer Code</th>
                  <th class="border-0">Name</th>
                  <th class="border-0">Address</th>
                  <th class="border-0">Country</th>
                  <th class="border-0">Phone No</th>
                  <th class="border-0">Sales Email</th>
                  <th class="border-0">Approved</th>
                  <th class="border-0 text-center" colspan="2" width="10%">Actions</th>
                </tr>
              </thead>

              <tbody *ngIf="customerlist && customerlist.length>0">
                <tr
                  *ngFor="let vendor of (isSearchRequest ? (customerlist | slice: (currentPage-1) * itemsPerPage : (currentPage-1) * itemsPerPage + itemsPerPage) : customerlist)   ;let i =index">
                  <td>{{(offset+1)+ i}}</td>
                  <td class="hand text-info td-medium text-uppercase" [routerLink]="['/customer/edit/',vendor.id]"><label placement="top" ngbTooltip="{{vendor.vendorCode}}"  *ngIf="vendor.vendorCode != null"> {{vendor.vendorCode}}</label></td>
                  <td class="text-uppercase ellipsis-style_add1"><label placement="top" ngbTooltip="{{vendor.vendorName}}"  *ngIf="vendor.vendorName != null">{{vendor.vendorName}}</label></td>
                  <td class="ellipsis-style_add1"> <span *ngIf="vendor.VA?.length > 0"> <label placement="top" ngbTooltip="{{vendor.VA[0].address1}}"  *ngIf="vendor.VA[0].address1!= null"> {{vendor.VA[0].address1}} </label></span>
                  </td>
                  <td class="ellipsis-style_add1"> <span *ngIf="vendor.VA?.length > 0"><label placement="top" ngbTooltip="{{vendor.VA[0].CON.name}}"  *ngIf="vendor.VA[0].CON.name!= null">{{vendor.VA[0].CON.name}}</label></span>
                  </td>
                  <td> <span *ngIf="vendor.VA?.length > 0"><label placement="top" ngbTooltip="{{vendor.VA[0].phoneNo}}"  *ngIf="vendor.VA[0].phoneNo!= null"> {{vendor.VA[0].phoneNo}}</label></span></td>
                  <td class="ellipsis-style_add1"> <span *ngIf="vendor.VA?.length > 0">
                      <label placement="top" ngbTooltip="{{vendor.VA[0].salesEmail}}"  *ngIf="vendor.VA[0].salesEmail!= null">
                             {{vendor.VA[0].salesEmail}}</label></span></td>
                  <td> <span> <label placement="top" ngbTooltip="{{vendor.approvedVendor ==0? 'No' : 'Yes'}}"  *ngIf="vendor.approvedVendor!= null"> {{vendor.approvedVendor ==0? 'No' : 'Yes'}}</label></span></td>
                  <td  class=" action-col-width" *ngIf="permissions.customers_edit">
                    <span *ngIf="vendor.status==1" ></span>
                    <div class="outerDivFull">
                      <div class="switchToggle" ngbTooltip="{{vendor.status ==0? 'Activate' : 'Deactivate'}}" placement ="top">

                        <input (click)='changeVendorStatus(vendor.id,vendor.status)' *ngIf="vendor.status == 1"
                          type="checkbox" id="switch{{vendor.id}}" checked>
                        <input (click)='changeVendorStatus(vendor.id,vendor.status)' *ngIf="vendor.status == 0"
                          type="checkbox" class="custom-control-input" id="switch{{vendor.id}}">
                        <label for="switch{{vendor.id}}">Toggle</label>
                      </div>
                    </div>
                  </td>
                  <td class="pr-5 action-col-width">
                     <span ngbTooltip="Edit Customer" placement ="top">
                    <a [routerLink]="['/customer/edit/',vendor.id]" *ngIf="permissions.customers_edit"><i
                        class="fa fa-edit fa-2x"></i> </a>
                      </span>

                  </td>
                </tr>
                <tr *ngIf="(totalItems > itemsPerPage)">
                  <td colspan="10" class="text-secondary">
                    <ngb-pagination class="d-flex justify-content-end" [collectionSize]="totalItems"
                      [(page)]="currentPage" [pageSize]="itemsPerPage" [boundaryLinks]="true"
                      (pageChange)="pageChanged($event)"></ngb-pagination>
                  </td>
                </tr>
              </tbody>
              <tbody *ngIf="!customerlist.length">
                <tr>
                  <td colspan="10" class="text-center">
                    <span *ngIf="loader">Loading...</span>
                    <span *ngIf="!loader">No data found!</span>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>