<ngx-spinner bdColor="rgba(0, 0, 0, 0.4)"></ngx-spinner>
<div class=" mt-1 mb-5 ">
 <div class="row ">
  <div class="col-xl-12 col-lg-12 col-md-7 col-sm-12 col-12 p-0">
   <div class="card p-0">
  <div class="card-header bg-light custom-width-table-head col-md-12 mx-auto">
 <div class="row">
 <div class="col-md-8">
  <div class="row  customer-heading-wrapper">
   <div class="col-12 p-0 ">
    <div class="input-group new_search" id="adv-search" (clickOutside)="onClickedOutside($event)">
      <input type="text" class="form-control rounded-4 form-control-sm" placeholder="Search here.."  placeholder="Search here" [(ngModel)]="search"
        (ngModelChange)="this.userQuestionUpdate.next($event)">
        <div class="input-group-append">
        <div class="input-group-append">
        <button class="btn btn-danger rounded-0" type="button"   *ngIf="searchBox"  (click)="search='';clearSearch();">
           <i class="fa fa-trash"></i>
        </button>
      </div>
      <button class="btn btn-secondary rounded-right hand searc-opt search_new user_search"  pack="eva" (click)="clearMainSearch('');searchToggle = !searchToggle">
      <i class="fa fa-caret-down"></i>
        </button>
      </div>

      <div class="advance-search" *ngIf="searchToggle">
        <div class="col-md-12">
        <form [formGroup]="groupSearchForm" (ngSubmit)="searchBox=true;onSubmit()">
        <div class="container-fluid  dropdown-content  mt-2">
        <div class="card card-holder shadow-light p-0">
          <div class="col-md-12 pl-4">
            <div class="row mt-2">
            <div class="col-lg-2  ">
              <label class="">Group Name</label>
            </div>
            <div class="col-lg-10  ">
              <div class="form-group pt-2">
                 <input class=" transparent-field form-control-sm rounded-0 form-control border-top-0 border-left-0 border-right-0 " maxlength="100" type="text" formControlName="groupName" placeholder="" autocomplete="no-fill"
                  [ngClass]="{ 'status-danger': submitted && f.groupName.errors }" />
              </div>
            </div>
          </div>

            <div class="row ">
                                 
             <div class="col-lg-12 col-md-12 text-right mb-2">
                <button type="submit" class="btn btn-primary btn-sm mr-1 search_user_btn"  
                                       [disabled]="searchLoader">  
               <i class="fa fa-search"></i>&nbsp;  Search </button>
              <button type="button" class="mr-1 btn btn-defaultcancel_btn_1 btn-sm btn-danger"
                (click)="searchToggle = !searchToggle">
               <i class="fa fa-close"></i>&nbsp; Close</button>
                <button type="button" class="btn btn-default btn-sm reset_user"
                                        (click)="search='';clearSearch('reset');">
                 <i class="fa fa-refresh"></i>&nbsp; Reset  </button>
            </div>
               </div>
            </div>
           </div>
          </div>
        </form>
         </div>
        </div>
       </div>
     </div>
    </div>
    </div>

    <div class="col-md-4 p-0">
      <div class="btn-toolbar float-right  ">
        <button  *ngIf="permissions.itemGroups_add"  type="button" type="button" class="btn btn-default border border-right-0  btn-color btn-bg-color theme-btn-icon  btn-sm " style="border-bottom-left-radius: 3px;border-top-left-radius: 3px;border-top-right-radius:0px;border-bottom-right-radius:0px;">
          <a [routerLink]="['/item-group/add']" ><i class="fa fa-plus text-danger"></i></a>
          </button>
          <button type="button" class="btn border btn-default  btn-color btn-bg-color theme-btn-icon btn-sm" style="border-bottom-right-radius: 3px;border-top-right-radius: 3px;border-top-left-radius:0px;border-bottom-left-radius:0px;">
            <a [routerLink]="['/item-group/list']" (click)="exportItemGroup()" > <i class="fa fa-file-excel-o text-success"></i></a>
            </button>
      </div>
   </div>
                 

      
       </div>
    </div>

 <div class="card-body p-0">

  <div class="table-responsive col-md-12  p-0">
    <table class="table mx-auto">
      <thead class="bg-light p-0 m-0">
        <tr class="border-0">
          <th class="border-0" scope="col" width="5%">#</th>
          <th class="width-style-s1 border-0" scope="col">Group Name</th>
          <th class="border-0" width="10%">Actions</th>
        </tr>
    </thead>
    <tbody *ngIf="groupList && groupList.length>0">
      <tr
        *ngFor="let group of  (isSearchRequest ? (groupList | slice: (currentPage-1) * itemsPerPage : (currentPage-1) * itemsPerPage + itemsPerPage) : groupList)   ;let i = index">
        <td >{{(offset+1)+ i}}</td>
        <td><label placement="top" ngbTooltip="{{group.groupName}}"  *ngIf="group.groupName != null">{{group.groupName}}</label></td>
        <td class="pr-5 action-col-width">
          <span ngbTooltip="Edit Item Group" placement="top">
      <a  [routerLink]="['/item-group/edit/',group.id]"
              *ngIf="permissions.itemGroups_edit"><i class="fa fa-edit " style="font-size:20px;"></i> </a></span>
        </td>
      </tr>
            <tr *ngIf="(totalItems > itemsPerPage)">
      <td colspan="3" class="text-secondary">
          <ngb-pagination [collectionSize]="totalItems"  class="d-flex justify-content-end" [pageSize]="itemsPerPage" (pageChange)="pageChanged($event)" [(page)]="currentPage" [maxSize]="5" [boundaryLinks]="true"></ngb-pagination>
             </td>
         </tr>
    </tbody>
        <tbody *ngIf="!groupList.length">
      <tr>
        <td colspan="3" class="text-center">No data found..</td>
      </tr>
    </tbody>
  </table>
   </div>
  </div>
  </div>
  </div>
</div>
</div>

<!--pagination-controls previousLabel="<<"    nextLabel=">>"   autoHide="true"  *ngIf="totalItems >1" (pageChange)="pageChanged($event)" class="text-right mrgn-t-10 width-100"></pagination-controls-->