.loading-tr{
    z-index: 9999;
    position: fixed;
    text-align: center;
    left: 50%;
    color: #356f1d;
    font-size: 15px;
}

 .toggleHide{
    display: none;
}
.po-table .table td{
    font-weight: 400 !important;
    border-top: 0;
    font-size: 12px !important;
    padding: 6px 0px 6px 18px !important;
    height: 8px;
}