<ngx-spinner bdColor = "rgba(0, 0, 0, 0.4)" ></ngx-spinner>
<div class=" mt-1 mb-5 ">
   <div class="row ">
      <div class="col-xl-12 col-lg-12 col-md-7 col-sm-12 col-12">
         <div class="card company-add-content">
            <div  nb-card-header class="add-new-header-bg pt-1 pb-1 bg-relative text-white card-header bg-info"><i class="fa fa-ship"></i>&nbsp;Add Company</div>
            <div class="col-lg-12">
               <div nb-card class="pt-0 pr-3 pt-2 pl-3 pb-0">
                  <div  nb-card-body>
                     <form [formGroup]="companyForm" (ngSubmit)="onSubmit()">
                     <div class="row vessel-add">
                        <div class="col-sm-4 box-padding">
                           <div class="form-group">
                              <label>Name</label>
                              <input type="text" (keypress)="omit_special_char($event)" maxlength="50" autocomplete="no-fill" formControlName="name" class="form-control form-control-sm " placeholder="Name"
                                 [ngClass]="{ 'is-invalid': submitted && form.name.errors }" />
                              <div *ngIf="submitted && form.name.errors" class="invalid-feedback">
                                 <div *ngIf="form.name.errors.required">Name required</div>
                              </div>
                           </div>
                        </div>
                        <div class="col-sm-4 box-padding">
                           <div class="form-group">
                              <label>Email</label>
                              <input type="text" maxlength="100" autocomplete="no-fill" formControlName="email" class="form-control form-control-sm l" [ngClass]="{ 'is-invalid': submitted && form.email.errors }" placeholder="Email"/>
                              <div *ngIf="submitted && form.email.errors" class="invalid-feedback">
                                 <div *ngIf="form.email.errors.required">Email required</div>
                                 <div *ngIf="form.email.errors.email">Email must be a valid Email Address</div>
                              </div>
                           </div>
                        </div>
                        <div class="col-sm-4 box-padding">
                           <div class="form-group">
                              <label>Phone</label>
                              <input type="text" oninput="this.value = this.value.replace(/[^0-9.()+-]/g, ''); this.value = this.value.replace(/(\..*)\./g, '$1');" onKeyDown="if(this.value.length==10 && event.keyCode!=8 && event.keyCode!=9 && event.keyCode!=39 && event.keyCode!=37) return false;" autocomplete="no-fill" formControlName="phoneNo" class="form-control form-control-sm "
                                 [ngClass]="{ 'is-invalid': submitted && form.phoneNo.errors }" placeholder="Phone"/>
                              <div *ngIf="submitted && form.phoneNo.errors" class="invalid-feedback">
                                 <div *ngIf="form.phoneNo.errors.required">Phone required</div>
                                 <div *ngIf="form.phoneNo.errors.pattern">Please add 10 digit Phone Number</div>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="row">
                        <div class="col-sm-4 box-padding">
                           <div class="form-group">
                              <label>Address 1
                              </label>
                              <textarea rows="2" maxlength="255" autocomplete="no-fill" nbInput fullWidth shape="round" formControlName="address1"
                                 class="form-control form-control-sm " [ngClass]="{ 'is-invalid': submitted && form.address1.errors }"
                                 placeholder="Address 1"></textarea>
                              <div *ngIf="submitted && form.address1.errors" class="invalid-feedback">
                                 <div *ngIf="form.address1.errors.required">Address 1 required</div>
                              </div>
                           </div>
                        </div>
                        <div class="col-sm-4 box-padding">
                           <div class="form-group">
                              <label>Address 2
                              </label>
                              <textarea rows="2" maxlength="255" autocomplete="no-fill" nbInput fullWidth shape="round" formControlName="address2"
                                 class="form-control form-control-sm " [ngClass]="{ 'is-invalid': submitted && form.address2.errors }"
                                 placeholder="Address 2"></textarea>
                              <label> </label>
                           </div>
                        </div>
                        <div class="col-sm-4 box-padding">
                           <div class="form-group">
                              <label>Address 3
                              </label>
                              <textarea maxlength="255" rows="2" autocomplete="no-fill" nbInput fullWidth shape="round" formControlName="address3"
                                 class="form-control form-control-sm " [ngClass]="{ 'is-invalid': submitted && form.address3.errors }"
                                 placeholder="Address 3"></textarea>
                              <label> </label>
                           </div>
                        </div>
                     </div>
                     <div class="row">
                        <div class="col-sm-3 box-padding">
                           <div class="form-group">
                              <label>Country</label>
                              <ng-autocomplete
                              [data]="countryList"
                              (selected)="changeState($event,countryList,'id','country',null,'country')"
                              [searchKeyword]="keywordCountry"
                              placeHolder="Enter Country Name" 
                              [itemTemplate]="countryTemplate"
                              [notFoundTemplate]="notFoundTemplate" [ngClass]="{ 'is-invalid': submitted && form.country.errors }">
                              </ng-autocomplete>
                              <ng-template #countryTemplate let-item>
                                 <a [innerHTML]="item.name"></a>
                              </ng-template>
                              <ng-template #notFoundTemplate let-notFound>
                                 <div [innerHTML]="notFound"></div>
                              </ng-template>
                              <div *ngIf="submitted && form.country.errors" class="invalid-feedback">
                                 <div *ngIf="form.country.errors.required">Country required</div>
                              </div>
                           </div>
                        </div>
                        <div class="col-sm-3 box-padding">
                           <div class="form-group">
                              <label>State</label>
                              <ng-autocomplete
                              [data]="stateList"
                              (selected)="changeSelection($event,stateList,'id','state',null,'state')"
                              [searchKeyword]="keywordState"
                              placeHolder="Enter State Name"
                              [itemTemplate]="stateTemplate"
                              [notFoundTemplate]="notFoundTemplate" [ngClass]="{ 'is-invalid': submitted && form.state.errors }">
                              </ng-autocomplete>
                              <ng-template #stateTemplate let-item>
                                 <a [innerHTML]="item.name"></a>
                              </ng-template>
                              <ng-template #notFoundTemplate let-notFound>
                                 <div [innerHTML]="notFound"></div>
                              </ng-template>
                           </div>
                           <div *ngIf="submitted && form.state.errors" class="invalid-feedback">
                              <div *ngIf="form.state.errors.required">State required</div>
                           </div>
                        </div>
                        <div class="col-sm-3 box-padding">
                           <div class="form-group">
                              <label>Zip Code</label>
                              <input type="number" oninput="this.value = this.value.replace(/[^0-9.]/g, ''); this.value = this.value.replace(/(\..*)\./g, '$1');" onKeyDown="if(this.value.length==6 && event.keyCode!=8 && event.keyCode!=9 && event.keyCode!=39 && event.keyCode!=37) return false;" class="form-control form-control-sm " formControlName="zipCode"  placeholder="Zip Code"
                                 [ngClass]="{ 'is-invalid': submitted && form.zipCode.errors }" />
                              <div *ngIf="submitted && form.zipCode.errors" class="invalid-feedback">
                                 <div *ngIf="form.zipCode.errors.required">Valid Numeric Zip Code required</div>
                              </div>
                           </div>
                        </div>
                        <div class="col-sm-3 box-padding">
                           <div class="form-group">
                              <label>Website</label>
                              <input type="text" maxlength="100" autocomplete="no-fill" formControlName="website" class="form-control form-control-sm " placeholder="Enter Website"
                                 [ngClass]="{ 'is-invalid': submitted && form.website.errors }" />
                              <div *ngIf="submitted && form.website.errors" class="invalid-feedback">
                                 <div *ngIf="form.website.errors.required">Website required</div>
                              </div>
                           </div>
                        </div>
                        
                     </div>
                  
                     <div class="row company-add">
                       
                        <div class="col-sm-3 box-padding">
                           <div class="form-group">
                              <label>From Email</label>
                              <input type="text" maxlength="100" autocomplete="no-fill" formControlName="fromEmail" class="form-control form-control-sm " placeholder="From Email"
                                 [ngClass]="{ 'is-invalid': submitted && form.fromEmail.errors }" />
                           </div>
                        </div>
                        <div class="col-sm-3 box-padding">
                           <div class="form-group">
                              <label>Email Password</label>
                              <input type="text" maxlength="25" autocomplete="no-fill" formControlName="emailPassword" class="form-control form-control-sm " placeholder="Email Password"
                                 [ngClass]="{ 'is-invalid': submitted && form.emailPassword.errors }" />
                           </div>
                        </div>
                        <div class="col-sm-3 box-padding">
                           <div class="form-group">
                              <label>Email Server</label>
                              <input type="text" maxlength="25" autocomplete="no-fill" formControlName="emailServer" class="form-control form-control-sm " placeholder="Email Server"
                                 [ngClass]="{ 'is-invalid': submitted && form.emailServer.errors }" />
                           </div>
                        </div>
                        <div class="col-sm-3 box-padding">
                           <div class="form-group">
                              <label>Is SSL Enabled</label>
                              <ng-select placeholder="Is SSL Enabled" autocomplete="no-fill" fullWidth 
                              [clearable]="false" [searchable]="false"  formControlName="isSSLEnabled" class="custom" 
                                 >
                              <ng-option *ngFor="let cr of isSSLEnabled" [value]="cr.id" class="drop-bg">{{cr.name}}</ng-option>
                              </ng-select>
                           </div>
                        </div>
                       
                     </div>
                     
                     <div class = "row company-add">
                        <div class="col-sm-3 box-padding">
                           <div class="form-goup">
                              <label>Mail Port</label>
                              <input type="number" oninput="this.value = this.value.replace(/[^0-9.]/g, ''); this.value = this.value.replace(/(\..*)\./g, '$1');" onKeyDown="if(this.value.length==5 && event.keyCode!=8 && event.keyCode!=9 && event.keyCode!=39 && event.keyCode!=37) return false;" formControlName="mailPort" autocomplete="no-fill" class="form-control form-control-sm " placeholder="Mail Port"
                                 [ngClass]="{ 'is-invalid': submitted && form.mailPort.errors }" />
                           </div>
                        </div>
                        <div class="col-sm-3 box-padding">
                           <div class="form-group">
                              <label>Company Name</label>
                              <input type="text" maxlength="100" autocomplete="no-fill" formControlName="companyName" class="form-control form-control-sm " placeholder="Company Name"/>
                           </div>
                        </div>
                        <div class="col-sm-3 box-padding">
                           <div class="form-group">
                              <label>Enable Email</label>
                              <ng-select placeholder="Enable Email" autocomplete="no-fill" class="custom"  fullWidth  [clearable]="false" [searchable]="false" formControlName="enableEmail">
                              <ng-option *ngFor="let cr of enableEmail" [value]="cr.id" class="drop-bg">{{cr.name}}</ng-option>
                              </ng-select>
                           </div>
                        </div>
                        <div class="col-sm-3 box-padding">
                           <div class="form-group">
                              <label>Mail Port Read</label>
                              <input type="number" oninput="this.value = this.value.replace(/[^0-9.]/g, ''); this.value = this.value.replace(/(\..*)\./g, '$1');" onKeyDown="if(this.value.length==6 && event.keyCode!=8 && event.keyCode!=9 && event.keyCode!=39 && event.keyCode!=37) return false;" formControlName="mailPortRead" autocomplete="no-fill" class="form-control form-control-sm " placeholder="Mail Port Read" 
                                 [ngClass]="{ 'is-invalid': submitted && form.mailPortRead.errors }" />
                           </div>
                        </div>
                        <div class="col-sm-3 box-padding">
                           <div class="form-group">
                              <label>Email UserName</label>
                              <input type="text" maxlength="15" autocomplete="no-fill" formControlName="emailUserName" class="form-control form-control-sm " placeholder="Email User Name"
                                 [ngClass]="{ 'is-invalid': submitted && form.emailUserName.errors }" />
                           </div>
                        </div>
                        <div class="col-sm-3 box-padding">
                           <div class="form-group">
                              <label>Is SSL Enabled Read</label>
                              <ng-select placeholder="Is SSL Enabled Read" autocomplete="no-fill" fullWidth [clearable]="false" [searchable]="false"formControlName="isSSLEnabledRead" class="custom" >
                              <ng-option *ngFor="let cr of isSSLEnabledRead" [value]="cr.id" class="drop-bg">{{cr.name}}</ng-option>
                              </ng-select>
                           </div>
                        </div>
                     </div><hr class="mb-0 mt-0">
                     <div class="row pb-2">
                        <div class="col-md-12 text-right pb-2">
                           <div class="btn-group">
                              <button class="btn btn-primary vendor_save mr-1 btn-sm" [routerLink]="['/company/list']"> <i class="fa fa-close"></i>&nbsp; Cancel</button>
                           </div>
                           &nbsp;
                           <div class="btn-group">
                              <button  [disabled]="loading" class="btn btn-success btn-sm vendor_save"><ngx-spinner [fullScreen]="false"  bdColor="transparent">
                                                  </ngx-spinner> 
                              <i class="fa fa-save"></i>&nbsp;
                              Save
                              </button>
                           </div>
                        </div>
                     </div>
                     </form>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>