   <ngx-spinner bdColor="rgba(0, 0, 0, 0.4)"></ngx-spinner>
   <div class=" mt-1 mb-5 ">
  <div class="row ">
 <div class="col-xl-12 col-lg-12 col-md-7 col-sm-12 col-12 p-0">
<div class="card pt-0 ">
<div class="card-header bg-light custom-width-table-head col-md-12 mx-auto">
<div class="row">
<div class="col-md-8">
 <div class="row  customer-heading-wrapper">
  <div class="col-10 p-0 ">
    <div class="input-group new_search" id="adv-search" (clickOutside)="onClickedOutside($event)">
      <input type="text" class="form-control rounded-4 form-control-sm" placeholder="Search here.." [(ngModel)]="search"
        (ngModelChange)="this.userQuestionUpdate.next($event)">
        <div class="input-group-append">
        <div class="input-group-append">
           <button class="btn btn-danger rounded-0" type="button"     *ngIf="searchBox"  (click)="search='';resetSearchForm();" >
            <i class="fa fa-trash"></i>
             </button>
              </div>
            <button class="btn btn-secondary rounded-right hand searc-opt search_new user_search" type="button"  pack="eva" (click)="clearMainSearch(1);search='';searchToggle = !searchToggle">
          <i class="fa fa-caret-down"></i>
        </button>
       </div>
     <div class="advance-search" *ngIf="searchToggle">
      <div class="col-md-12">
          <form [formGroup]="userSearchForm" (ngSubmit)="onSubmit()">
           <div class="container-fluid  dropdown-content  mt-2">
            <div class="card card-holder shadow-light p-0">
             
                  <div class="col-md-12 pl-4">
                   <div class="row mt-2">
                    <div class="col-lg-2 col-md-12 ">
                     <label>Name</label>
                      </div>
                       <div class="col-lg-4 col-md-12 "> 
                        <div class="form-group">
                         <input nbInput class="transparent-field form-control-sm rounded-0 form-control border-top-0 border-left-0 border-right-0" autocomplete="no-fill" type="text" formControlName="name" 
                          [ngClass]="{ 'status-danger': submitted && f.name.errors }" />
                          </div>
                         </div>
                      <div  class="col-lg-2 col-md-12 ">
                    <label>Username</label>
                   </div>
                  <div class="col-lg-4 col-md-12">
                 <div class="form-group">
                <input nbInput fullWidth class="transparent-field form-control-sm rounded-0 form-control border-top-0 border-left-0 border-right-0" autocomplete="no-fill" type="text" formControlName="username"
                   [ngClass]="{ 'status-danger': submitted && f.username.errors }" />
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-lg-2 col-md-12">
              <label>Email</label>
            </div>
            <div class="col-lg-4 col-md-12">
              <div class="form-group">
                <input type="text" formControlName="email" autocomplete="no-fill" class="transparent-field form-control-sm rounded-0 form-control border-top-0 border-left-0 border-right-0"
                  [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />              
              </div>
            </div>
            <div class="col-lg-2 col-md-12 ">
              <label>Mobile No</label>
            </div>
            <div class="col-lg-4 col-md-12">
              <div class="form-group">
                <input type="text" formControlName="mobileNumber" autocomplete="no-fill" class="transparent-field form-control-sm rounded-0 form-control border-top-0 border-left-0 border-right-0"
                [ngClass]="{ 'is-invalid': submitted && f.mobileNumber.errors }" />

              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-lg-2 col-md-12">
              <label>Company</label>
            </div>
            <div class="col-lg-4 col-md-12">
              <div class="form-group">
             <ng-select formControlName="company" placeholder="Choose Company" autocomplete="no-fill" fullWidth>
                  <ng-option *ngFor="let item_row of companies"  [value]="item_row.id">{{item_row.name}}</ng-option>
               
                </ng-select>  
            </div>
            </div>
            <div class="col-lg-2 col-md-12">
              <label>Type</label>
            </div>
            <div class="col-lg-4 col-md-12">
              <div class="form-group">
         <ng-select class="custom" [(ngModel)]="selectedType" [items]="types" formControlName="types" placeholder="Choose Type" [multiple]="true" bindLabel="typeName" autocomplete="no-fill"
        bindValue="id" [clearable]="false" [searchable]="false" [selectableGroup]="true" [closeOnSelect]="false" >
              </ng-select>
              </div>
            </div>
          </div>

          <div class="row ">
            <div class="col-lg-2 col-md-12">
              <label>Group</label>
            </div>
            <div class="col-lg-4 col-md-12">
              <div class="form-group">
        <ng-select class="custom" [(ngModel)]="selectedGroup" formControlName="group"  placeholder="Choose Group" autocomplete="no-fill"
                                 [multiple]="true"
                                 [selectableGroup]="true"
                                 [closeOnSelect]="false" >
            <ng-option *ngFor="let item_row of groups"  [value]="item_row.id">{{item_row.groupName}}</ng-option>
                                 </ng-select>
              </div>
            </div>
            <div class="col-lg-2 col-md-12">
              <label>Rank</label>
            </div>
            <div class="col-lg-4 col-md-12">
              <div class="form-group">
        <ng-select class="custom" formControlName="rank"  placeholder="Choose Rank" autocomplete="no-fill" >
        <ng-option *ngFor="let item_row of ranks"  [value]="item_row.id">{{item_row.rankName}}</ng-option>
                                 </ng-select>               
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-12 col-md-12 text-right mb-2">
             <button type="submit" class="btn btn-primary btn-sm mr-1 search_user_btn" [disabled]="searchLoader">  
             <i class="fa fa-search"></i>&nbsp;  Search</button>
             <button type="button" class="mr-1 btn btn-defaultcancel_btn_1 btn-sm btn-danger"
             (click)="searchToggle = !searchToggle"><i class="fa fa-close"></i>&nbsp; Close</button>
             <button type="button" class="btn btn-default btn-sm reset_user" (click)="resetSearchForm('reset')">
             <i class="fa fa-refresh"></i>&nbsp; Reset  </button>
             </div>
             </div>
             </div>
             </div>
             </div>
             </form>
             </div>
             </div>
             </div>
              </div>
             </div>
             </div>
             <div class="col-md-4 p-0">
                    <div class="btn-toolbar float-right  ">
                      <button *ngIf="permissions.users_add"  type="button" type="button" class="btn btn-default border border-right-0  btn-color btn-bg-color theme-btn-icon  btn-sm " style="border-bottom-left-radius: 3px;border-top-left-radius: 3px;border-top-right-radius:0px;border-bottom-right-radius:0px;">
                        <a [routerLink]="['/user/add']" ><i class="fa fa-plus text-danger"></i></a>
                        </button>
                        <button type="button" class="btn border btn-default  btn-color btn-bg-color theme-btn-icon btn-sm" style="border-bottom-right-radius: 3px;border-top-right-radius: 3px;border-top-left-radius:0px;border-bottom-left-radius:0px;">
                          <a [routerLink]="['/user/list']" (click)="exportUser()" > <i class="fa fa-file-excel-o text-success"></i></a>
                          </button>
                    </div>
                 </div>
              
            </div>
         </div>

 <div class="card-body p-0">
            <div class="table-responsive">
               <table class="table mx-auto">
                  <thead class="bg-light p-0 m-0">
                     <tr class="border-0">
        <th class="border-0" scope="" >#</th>
        <th class="border-0" scope="col">Name</th>
        <th class="border-0" scope="border-0">Username</th>
        <th class="border-0" scope="border-0">Email</th>
        <th class="border-0" scope="border-0">Rank</th>
        <th class="border-0 text-center" colspan="3"  width="20%">Actions</th>
      </tr>
    </thead>
    <tbody *ngIf="users && users.length>0">
      <tr
        *ngFor="let user of users ;let i = index">
        <td class="num_user">{{ (offset+1)+ i}}</td>
        <td class="section1 ellipsis-style_add1"><label placement="top" ngbTooltip="{{user.name}}"  *ngIf="user.name != null">{{user.name}}</label></td>
        <td class="section1 ellipsis-style_add1"><label placement="top" ngbTooltip="{{user.username}}"  *ngIf="user.username != null">{{user.username}}</label></td>
        <td class="section1 ellipsis-style_add1"><label placement="top" ngbTooltip="{{user.email}}"  *ngIf="user.email != null">{{user.email}}</label></td>
        <td class="section1 ellipsis-style_add1" *ngIf="user.RK!=null"><label placement="top" ngbTooltip="{{user.RK.rankName}}"  *ngIf="user.RK != null">{{user.RK.rankName}}</label></td>
        <td class="section1 ellipsis-style_add1" *ngIf="user.RK==null"> No Ranks</td>
        <!-- <td  class="action-col action_new"><td> -->
          <td  class=" action-col-width">
            <span ngbTooltip="User Rights" placement="top">
            <a  [routerLink]="['/user-rights', user.id]"
              *ngIf="permissions.user_rights_view"><i class="fa fa-lock" style="font-size:20px;" aria-hidden="true"></i></a></span>
          </td>
                    <td class=" action-col-width"  *ngIf="permissions.users_edit">
                           <div class="outerDivFull" >
                              <div class="switchToggle" *ngIf="user.isSuperAdmin == 0" ngbTooltip="{{user.status ==0? 'Activate' : 'Deactivate'}}" placement ="top">
                                 <input  (click)='changeUserStatus(user.id, user.status )'  *ngIf="( permissions.users_delete && user.status == 1)"   type="checkbox"  id="switch{{user.id}}"  checked >
                                 <input  (click)='changeUserStatus(user.id,user.status)'  *ngIf="(permissions.users_delete && user.status == 0 )"   type="checkbox" class="custom-control-input" id="switch{{user.id}}"   > 
                                 <label for="switch{{user.id}}">Toggle</label>
                              </div>
                           </div>
                        </td>
                        <td class="pr-5 action-col-width"><span ngbTooltip="Edit User" placement="top"><a  (click)="editUser(user)"  
                    *ngIf="permissions.users_edit"><i class="fa fa-edit fa-2x" ></i> </a>
                    </span> </td>

                     </tr>
                     <tr *ngIf="(totalItems > itemsPerPage)">
<!-- Pagination -->
                        <td colspan="8" class="text-secondary">
                          <ngb-pagination [collectionSize]="totalItems"  class="d-flex justify-content-end" [pageSize]="itemsPerPage" (pageChange)="pageChanged($event)" [(page)]="currentPage" [maxSize]="5" [boundaryLinks]="true"></ngb-pagination>
                        </td>
                     </tr>
                  </tbody>
                    <tbody *ngIf="!users.length">
                       <tr>
                          <td colspan="10" class="text-center">
                             <span *ngIf="loader">Loading...</span>
                             <span *ngIf="!loader">No data found!</span>
                          </td>
                       </tr>
                    </tbody>                  
               </table>
            </div>
         </div>
      </div>
   </div>
</div>
</div>