// Remove 

/*form*/

.vessel-form{
    width: 100%;
    .padding-right{
        padding:0 5px 0 0;
    }
   
    .advance-search{
        padding:10px;
        @media(max-width:400px){            
                left: -98px;
        }
    }
}
 .toggleHide{
    display: none;
    }

 