 <ngx-spinner bdColor="rgba(0, 0, 0, 0.4)"></ngx-spinner>
 <div class=" mt-1 mb-5 ">
   <div class="row ">
      <div class="col-xl-12 col-lg-12 col-md-7 col-sm-12 col-12 p-0">
         <div class="card p-0"> 
            <div class="card-header bg-light custom-width-table-head col-md-12 mx-auto">
               <div class="row">
                  <div class="col-md-8">
                     <div class="row  customer-heading-wrapper">
                        <div class="col-10 p-0 ">

                           <div class="input-group new_search" id="adv-search" (clickOutside)="onClickedOutside($event)">
                            <input type="text" class="form-control rounded-4 form-control-sm" placeholder="Search here.."  [(ngModel)]="search"
                             (ngModelChange)="this.userQuestionUpdate.next($event)">

                             <div class="input-group-append">
                              <div class="input-group-append">
                                 <button  class="btn btn-danger rounded-0 " type="button" *ngIf="searchBox"   (click)="search='';clearSearch();">
                                    <i class="fa fa-trash"></i>
                                    </button>
                                    </div>
                                    <button class="btn btn-secondary hand searc-opt search_new user_search" type="button"  pack="eva" (click)="clearMainSearch('');searchToggle = !searchToggle">
                                       <i class="fa fa-caret-down"></i>
                                     </button>
                             </div>

                        <div class="advance-search" [ngClass]="{'advance-search': true, 
                              'toggleHide': !searchToggle}" *ngIf="firstLoad">
                              <div class="col-md-12">
                           <form [formGroup]="portSearchForm" (ngSubmit)="searchBox=true;onSubmit()">

                                <div class="container-fluid  dropdown-content  mt-2">
                                 <div class="card card-holder shadow-light p-0">
                                  
                                <div class="col-md-12 pl-4">
                                 <div class="row mt-2 ">
                                     <div class="col-lg-3 col-md-12">
                                        <label>Name</label>
                                     </div>
                                     <div class="col-lg-9 col-md-12">
                                        <div class="form-group">

                                           <input nbInput class=" transparent-field rounded-0 form-control border-top-0 border-left-0 border-right-0 "  maxlength="100" type="text" formControlName="name" placeholder="" autocomplete="no-fill"
                                              [ngClass]="{ 'status-danger': submitted && f.name.errors }" />
                                        </div>
                                     </div>
                                  </div>
                                  <div class="row">
                                     <div class="col-lg-3 col-md-12">
                                        <label>Short Name</label>
                                     </div>
                                     <div class="col-lg-9 col-md-12">
                                        <div class="form-group">
                                           <input nbInput class=" transparent-field rounded-0 form-control border-top-0 border-left-0 border-right-0 "  maxlength="20" type="text" formControlName="shortName" placeholder="" autocomplete="no-fill"
                                              [ngClass]="{ 'status-danger': submitted && f.shortName.errors }" />
                                        </div>
                                     </div>
                                  </div>
                                  <div class="row">
                                     <div class="col-lg-3 col-md-12">
                                        <label>ISO Code </label>
                                     </div>
                                     <div class="col-lg-9 col-md-12">
                                        <div class="form-group">
                                           <input nbInput class=" transparent-field rounded-0 form-control border-top-0 border-left-0 border-right-0 "  maxlength="20" type="text" formControlName="isoCode" placeholder="" autocomplete="no-fill"
                                              [ngClass]="{ 'status-danger': submitted && f.isoCode.errors }" />
                                        </div>
                                     </div>
                                  </div>
                                  <div class="row">
                                     <div class="col-lg-3 col-md-12 ">
                                        <label>UN Code</label>
                                     </div>
                                     <div class="col-lg-9 col-md-12">
                                        <div class="form-group">
                                           <input nbInput class=" transparent-field rounded-0 form-control border-top-0 border-left-0 border-right-0 "  maxlength="20" type="text" formControlName="unCode" placeholder="" autocomplete="no-fill"
                                              [ngClass]="{ 'status-danger': submitted && f.unCode.errors }" />
                                        </div>
                                     </div>
                                  </div>

                                  <div class="row">
                                     <div class="col-lg-3 col-md-12">
                                        <label>Country</label>
                                     </div>
                                     <div class="col-lg-9 col-md-12">
                                        <div class="form-group">
                                           <ng-autocomplete
                                           [data]="countries"
                                           (selected)="changeSelection($event.name)"
                                           [searchKeyword]="keywordCountry"
                                           placeHolder="Enter Country name"
                                           [itemTemplate]="countryTemplate"
                                           [notFoundTemplate]="notFoundTemplate"
                                           [initialValue]="countryName"
                                           formControlName="countryName"
                                           [(ngModel)]="countryName"
                                           >
                                           </ng-autocomplete>
                                           <ng-template #countryTemplate let-item>
                                              <a [innerHTML]="item.name"></a>
                                           </ng-template>
                                           <ng-template #notFoundTemplate let-notFound>
                                              <div [innerHTML]="notFound"></div>
                                           </ng-template>
                                        </div>
                                     </div>
                                  </div>
                                  <div class="row">
                                    <div class="col-lg-12 col-md-12 text-right mb-2">
                                       <button type="submit" class="btn btn-primary mr-1 search_user_btn btn-sm"
                                       [disabled]="searchLoader">
                                       <i class="fa fa-search"></i>&nbsp;  Search</button>
                                       <button type="button" class="mr-1 btn btn-defaultcancel_btn_1 btn-sm btn-danger"
                                       (click)="searchToggle = !searchToggle"><i class="fa fa-close"></i>&nbsp; Close</button>
                                       <button type="button" class="btn btn-default btn-sm reset_user"
                                       (click)="search='';clearSearch('reset');">
                                       <i class="fa fa-refresh"></i>&nbsp; Reset  </button>
                                                  </div>
                                                      </div>

               
                              </div>
                            </div>
                              </div>
                              </form>
                            </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="col-md-4 p-0">
                  <div class="btn-toolbar float-right  ">
                     <button *ngIf="permissions.ports_add"  type="button" class="btn btn-default border border-right-0  btn-color btn-bg-color theme-btn-icon  btn-sm " style="border-bottom-left-radius: 3px;border-top-left-radius: 3px;border-top-right-radius:0px;border-bottom-right-radius:0px;">
                        <a [routerLink]="['/port/add']" ><i class="fa fa-plus text-danger"></i></a>
                        </button>
                        <button type="button" class="btn border btn-default  btn-color btn-bg-color theme-btn-icon btn-sm" style="border-bottom-right-radius: 3px;border-top-right-radius: 3px;border-top-left-radius:0px;border-bottom-left-radius:0px;">
                           <a [routerLink]="['/port/list']" (click)="exportPorts()" > <i class="fa fa-file-excel-o text-success"></i></a>
                           </button>
                  </div>
               </div>
               
               <!-- <div class="col-md-4">
                  <div class="btn-toolbar text-center ">
                     <button type="button" class="btn btn-default btn-color btn-bg-color btn-sm col-xs-1">

                     <a *ngIf="permissions.ports_add" [routerLink]="['/port/add']" ><i class="fa fa-plus"></i></a>
                     </button>&nbsp;
                     <button type="button" class="btn btn-default btn-color btn-bg-color btn-sm col-xs-1">
                     <a [routerLink]="['/port/list']" (click)="exportPorts()" > <i class="fa fa-file-excel-o"></i></a>
                     </button>
                  </div>
               </div> -->
              
            </div>
         </div>


            <div class="card-body p-0">
            <div class="table-responsive">
               <table class="table mx-auto">
                  <thead class="bg-light p-0 m-0">
                     <tr class="border-0">
                           <th class="border-0">#</th>
                           <th class="border-0">Name</th>
                           <th class="border-0">Short Name</th>
                           <th class="border-0">ISO Code</th>
                           <th class="border-0">UN Code</th>
                           <th class="border-0">Country</th>
                           <th class="border-0 text-center" colspan="2">Actions</th>
                        </tr>
                     </thead>
                     <tbody *ngIf="( ports && ports.length>0 && !loader)">
                        <!-- *ngFor="let port of ports | paginate: { itemsPerPage: itemsPerPage, currentPage:currentPage ,totalItems: totalItems };let i = index"> -->
                        <tr
                           *ngFor="let port of (isSearchRequest ? (ports | slice: (currentPage-1) * itemsPerPage : (currentPage-1) * itemsPerPage + itemsPerPage) : ports);let i = index">
                           <td>{{(offset+1)+ i}}</td>
                           <td class="hand text-info" [routerLink]="['/port/edit/',port.id]"><label placement="top" ngbTooltip="{{port.name}}"  *ngIf="port.name != null">{{port.name}}</label></td>
                           <td><label placement="top" ngbTooltip="{{port.shortName}}"  *ngIf="port.shortName != null">{{port.shortName}}</label></td>
                           <td><label placement="top" ngbTooltip="{{port.isoCode}}"  *ngIf="port.isoCode != null">{{port.isoCode}}</label></td>
                           <td><label placement="top" ngbTooltip="{{port.unCode}}"  *ngIf="port.unCode != null">{{port.unCode}}</label></td>
                           <td *ngIf="port.PUSR!=null"><label placement="top" ngbTooltip="{{port.PUSR.name}}"  *ngIf="port.PUSR.name != null">{{port.PUSR.name}}</label></td>
                           <td *ngIf="port.PUSR==null"><label placement="top" ngbTooltip="{{port.PUSR.countryXid}}"  *ngIf="port.PUSR.countryXid != null">{{ports.PUSR.countryXid}}</label></td>
                           <td  class=" action-col-width" *ngIf="permissions.ports_edit">
                              <div class="outerDivFull" >
                                 <div class="switchToggle" title="{{port.status ==0 ? 'Activate' : 'Deactivate'}}">
                                    <input  (click)='changeportsStatus(port.id,port.status)'  *ngIf="port.status == 1"   type="checkbox"  id="switch{{port.id}}"  checked >
                                    <input  (click)='changeportsStatus(port.id,port.status)' *ngIf="port.status == 0"   type="checkbox" class="custom-control-input" id="switch{{port.id}}"   >
                                    <label for="switch{{port.id}}">Toggle</label>
                                 </div>
                              </div>
                              <!-- <a  [routerLink]="['port/edit/',port.id]"
                              *ngIf="permissions.ports_edit"><i class="fa fa-edit " style="font-size:20px;"></i>  </a> -->
                           </td>
                           <td class="pr-5 action-col-width"><span ngbTooltip="Edit Port" placement="top"> <a  [routerLink]="['/port/edit/',port.id]"
                              *ngIf="permissions.ports_edit"> <i class="fa fa-edit " style="font-size:20px;"></i> </a></span> </td>
                         </tr>
                     <tr *ngIf="(totalItems > itemsPerPage)">
<!-- Pagination -->
                        <td colspan="8" class="text-secondary">
                      <ngb-pagination [collectionSize]="totalItems"  class="d-flex justify-content-end" [pageSize]="itemsPerPage" (pageChange)="pageChanged($event)" [(page)]="currentPage" [maxSize]="5" [boundaryLinks]="true"></ngb-pagination>
                          </td>
                     </tr>
                     </tbody>
                     <tbody *ngIf="!ports || !ports.length && !loader">
                        <tr>
                           <td colspan="10" class="text-center">No data found..</td>
                        </tr>
                     </tbody>
                     <tbody *ngIf="loader">
                        <tr>
                           <td colspan="10" class="text-center">Loading .. </td>
                        </tr>
                     </tbody>

                  </table>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
