// Date picker range Start
.form-group.hidden {
    width: 0;
    margin: 0;
    border: none;
    padding: 0;
  }
  .custom-day {
    text-align: center;
    padding: 0.185rem 0.25rem;
    display: inline-block;
    height: 2rem;
    width: 2rem;
  }
  .custom-day.focused {
    background-color: #e6e6e6;
  }
  .custom-day.range, .custom-day:hover {
    background-color: rgb(2, 117, 216);
    color: white;
  }
  .custom-day.faded {
    background-color: rgba(2, 117, 216, 0.5);
  }
  // Date picker range End
.width-5{
  width: 5%;
}
.width-8{
  width: 8%;
}
.width-10{
  width: 10%;
}
.width-12{
  width: 12%;
}
.toggleHide{
    display: none;
}
.invoice-table .table td{
  font-weight: 400 !important;
  border-top: 0;
  font-size: 12px !important;
  padding: 6px 0px 6px 18px !important;
  height: 8px;
}