 <ngx-spinner bdColor="rgba(0, 0, 0, 0.4)"></ngx-spinner>
<div class="mt-1 mb-5 ">
  <div class="row ">
     <div class="col-xl-12 col-lg-12 col-md-7 col-sm-12 col-12 p-0">
        <div class="card p-0">
           <div class="card-header bg-light custom-width-table-head col-md-12 mx-auto">
              <div class="row">
                 <div class="col-md-8">
                     <div class="row  customer-heading-wrapper">
                        <div class="col-12 p-0 ">

                           <div class="input-group new_search" id="adv-search" (clickOutside)="onClickedOutside($event)">
                              <input type="text" class="form-control rounded-4" placeholder="Search here.."
                                 [(ngModel)]="search" (ngModelChange)="this.userQuestionUpdate.next($event)">

                                 <div class="input-group-append">
                                    <div class="input-group-append">
                                       <button class="btn btn-danger rounded-0 " type="button" *ngIf="searchBox"
                                       (click)="search='';clearSearch();">
                                       <i class="fa fa-trash"></i>   
                                    </button>
                                    </div>
                                    <button class="btn btn-secondary rounded-right hand searc-opt search_new user_search"
                                    type="button" pack="eva" (click)="clearMainSearch('');searchToggle = !searchToggle">
                                    <i class="fa fa-caret-down"></i>
                                     </button>
                                  </div>
                              <div class="advance-search" [ngClass]="{'advance-search': true, 
                              'toggleHide': !searchToggle}" *ngIf="firstLoad">
                                 <div class="col-md-12">
                                    <form [formGroup]="invSearchForm" (ngSubmit)="searchBox=true;onSubmit()">

                                       <div class="container-fluid  dropdown-content  mt-2">
                                          <div class="card card-holder shadow-light p-0">
                                           
                                             <div class="col-md-12">
                                                <div class="row mt-2">
                                                   <div class="col-lg-2">
                                                      <label>From & To</label>
                                                   </div>
                                                   <div class="col-lg-10 ">
                                                      <div class="row">
                                                         <div class="form-group hidden d-none">
                                                            <div class="input-group">
                                                               <input name="datepicker" class="form-control border-0 border-right-0 form-control-sm" [readonly]="true"
                                                                  ngbDatepicker #datepicker="ngbDatepicker"
                                                                  [autoClose]="'outside'"
                                                                  (dateSelect)="onDateSelection($event)"
                                                                  [displayMonths]="2" [dayTemplate]="t"
                                                                  outsideDays="hidden" [startDate]="fromDate!">
                                                               <ng-template #t let-date let-focused="focused">
                                                                  <span class="custom-day" [class.focused]="focused"
                                                                     [class.range]="isRange(date)"
                                                                     [class.faded]="isHovered(date) || isInside(date)"
                                                                     (mouseenter)="hoveredDate = date"
                                                                     (mouseleave)="hoveredDate = null">
                                                                     {{ date.day }}
                                                                  </span>
                                                               </ng-template>
                                                            </div>
                                                         </div>
                                                         <div class="col-md-6">
                                                         <div class="form-group">
                                                            <div class="input-group">
                                                               <input #dpFromDate class="form-control border-0 form-control-sm"
                                                                  placeholder="yyyy-mm-dd" name="dpFromDate" [readonly]="true"
                                                                  [value]="formatter.format(fromDateNew)"
                                                                  (input)="fromDate = validateInput(fromDate, dpFromDate.value)">
                                                               <div class="input-group-append">
                                                                  <button class="btn btn-outline-secondary calendar  border-top-0 border-left-0 border-bottom-0 border-right-0 rounded-0"
                                                                     (click)="datepicker.toggle()" type="button"> <i
                                                                        class="fa fa-calendar fa-lg"></i> </button>
                                                               </div>
                                                            </div>
                                                         </div>
                                                      </div>
                                                      <div class="col-md-6">
                                                         <div class="form-group ml-2">
                                                            <div class="input-group">
                                                               <input #dpToDate class="form-control border-0  form-control-sm"
                                                                  placeholder="yyyy-mm-dd" name="dpToDate" [readonly]="true"
                                                                  [value]="formatter.format(toDateNew)"
                                                                  (input)="toDate = validateInput(toDate, dpToDate.value)">
                                                               <div class="input-group-append">
                                                                  <button class="btn btn-outline-secondary calendar border-right-0 border-top-0 border-left-0 border-bottom-0 rounded-0"
                                                                     (click)="datepicker.toggle()" type="button"><i
                                                                        class="fa fa-calendar fa-lg"></i></button>
                                                               </div>
                                                            </div>
                                                         </div>
                                                      </div>
                                                      </div>
                                                   </div>
                                                </div>


                                                <div class="row">
                                                   <div class="col-lg-2 col-md-12 align-item">
                                                      <label>Source</label>
                                                   </div>
                                                   <div class="col-lg-4 col-md-12">
                                                      <div class="form-group">
                                                         <ng-select placeholder="Please select Source"
                                                            class="custom"
                                                            formControlName="source" [clearable]="false" [searchable]="false" 
                                                            (ngModelChange)="preventChange($event)"
                                                            [ngClass]="{ 'status-danger': submitted && f.source.errors }">
                                                            <ng-option *ngFor="let stype of sourceType" [value]="stype.id">
                                                               {{stype.name}}
                                                            </ng-option>
                                                         </ng-select>
                                                      </div>
                                                   </div>

                                                   <div class="col-lg-2 col-md-12 new-center-align align-item">
                                                      <label>Invoice No</label>
                                                   </div>
                                                   <div class="col-lg-4 col-md-12">
                                                      <div class="form-group">
                                                         <input nbInput fullWidth
                                                            class=" transparent-field rounded-0 form-control border-top-0 border-left-0 border-right-0 "
                                                            type="text" formControlName="invNumber" placeholder=""
                                                            [ngClass]="{ 'status-danger': submitted && f.invNumber.errors }" />
                                                      </div>
                                                   </div>
                                                </div>
                                                <div class="row">
                                                   <div class="col-lg-2 col-md-12 align-item">
                                                      <label>Customer</label>
                                                   </div>
                                                   <div class="col-lg-10 col-md-12 align-item">
                                                      <div class="form-group">
                                                         <ng-autocomplete class="new_4" [data]="customers"
                                                            (selected)="changeSelection($event.vendorName,'customer')"
                                                            [searchKeyword]="keywordVendor" placeHolder=""
                                                            [itemTemplate]="customerTemplate"
                                                            [notFoundTemplate]="notFoundTemplate"
                                                            (inputCleared)="clear('customer')" [(ngModel)]="customerName"
                                                            [initialValue]="customerName" formControlName="customername">
                                                         </ng-autocomplete>
                                                         <ng-template #customerTemplate let-item>
                                                            <a [innerHTML]="item.vendorName"></a>
                                                         </ng-template>
                                                         <ng-template #notFoundTemplate let-notFound>
                                                            <div [innerHTML]="notFound"></div>
                                                         </ng-template>
                                                      </div>
                                                   </div>
                                                </div>
                                                <div class="row">
                                                   <div class="col-lg-2 col-md-12 align-item">
                                                      <label>Vendor</label>
                                                   </div>
                                                   <div class="col-lg-10 col-md-12 align-item">
                                                      <div class="form-group">
                                                         <ng-autocomplete class="new_4" [data]="vendors"
                                                            (selected)="changeSelection($event.vendorName,'vendor')"
                                                            [searchKeyword]="keywordVendor" placeHolder=""
                                                            [itemTemplate]="vendorTemplate"
                                                            [notFoundTemplate]="notFoundTemplate"
                                                            (inputCleared)="clear('vendor')" [initialValue]="vendorName"
                                                             formControlName="vendorname" [(ngModel)]="vendorName">
                                                         </ng-autocomplete>
                                                         <ng-template #vendorTemplate let-item>
                                                            <a [innerHTML]="item.vendorName"></a>
                                                         </ng-template>
                                                         <ng-template #notFoundTemplate let-notFound>
                                                            <div [innerHTML]="notFound"></div>
                                                         </ng-template>
                                                      </div>
                                                   </div>
                                                </div>
                                               
                                                <div class="row ">
                                 
                                                   <div class="col-lg-12 col-md-12 text-right mb-2">
                                                      <button type="submit" class="btn btn-sm  btn-primary mr-1 search_user_btn"
                                                         [disabled]="searchLoader">
                                                         <i class="fa fa-search"></i>&nbsp;
                                                         Search</button>
                                                         <button type="button"
                                                         class="mr-1 btn btn-sm btn-defaultcancel_btn_1 btn-danger"
                                                         (click)="searchToggle = !searchToggle"><i
                                                            class="fa fa-close"></i>&nbsp;
                                                         Close</button>
                                                         <button type="button" class="btn btn-default btn-sm  reset_user"
                                                         (click)="clearSearch('reset')">
                                                         <i class="fa fa-refresh"></i>&nbsp; Reset
                                                      </button>
                                                      </div>
                                                     </div>
                                               
                                             </div>


                                          </div>
                                       </div>
                                    </form>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="col-md-4 p-0">
                     <div class="btn-toolbar float-right  ">
                        <button *ngIf="permissions.invoice_add" [routerLink]="['/invoice/add']" class="theme-btn-icon btn btn-default border border-right-0  btn-color btn-bg-color  btn-sm " style="border-bottom-left-radius: 3px;border-top-left-radius: 3px;border-top-right-radius:0px;border-bottom-right-radius:0px;">
                           <i class="fa fa-plus text-danger"></i>
                        </button>
                        <button [routerLink]="['/invoice/list']" (click)="exportInvoice()" type="button"
                        class=" btn border btn-default  btn-color btn-bg-color theme-btn-icon btn-sm" style="border-bottom-right-radius: 3px;border-top-right-radius: 3px;border-top-left-radius:0px;border-bottom-left-radius:0px;">
                        <i class="fa fa-file-excel-o text-success"></i>
                     </button>
                     </div>
                  </div>
                  
             
               </div>
            </div>
            <div class="card-body p-0">
               <div class="table-responsive invoice-table">
                  <table class="table mx-auto">
                     <thead class="bg-light p-0 m-0">
                        <tr class="border-0">
                           <th class="border-0  width-5">#</th>
                           <th class="border-0 width-12">Invoice No</th>
                           <th class="border-0  width-8">Date</th>
                           <th class="border-0   width-10">PO Source</th>
                           <th class="border-0">Customer</th>
                           <th class="border-0">Vendor</th>
                           <th class="border-0">Amount(USD)</th>
                           <th class="border-0 text-center  width-12">Status</th>
                        </tr>
                     </thead>
                     <tbody *ngIf="invoiceList && invoiceList.length>0 && !processing">
                        <!-- *ngFor="let inv_data of invoiceList | paginate: { itemsPerPage: itemsPerPage, currentPage:currentPage ,totalItems: totalItems };let i = index"> -->
                        <tr
                           *ngFor="let inv_data of (isSearchRequest ? (invoiceList | slice: (currentPage-1) * itemsPerPage : (currentPage-1) * itemsPerPage + itemsPerPage) : invoiceList);let i = index">
                           <td>{{(offset+1)+ i}}</td>
                           <td><span class="text-info hand colour_bl"
                                 [routerLink]="['/invoice/invoice-generate/',inv_data.id]"
                                 *ngIf="permissions.invoice_edit"><label placement="top" ngbTooltip="{{inv_data.invNumber}}"  *ngIf="inv_data.invNumber != null">{{inv_data.invNumber}}</label></span>
                           </td>
                           <td><label placement="top" ngbTooltip="{{conertDate(inv_data.invSentDate)}}"  *ngIf="inv_data.invSentDate != null">{{conertDate(inv_data.invSentDate)}}</label></td>
                           <td><span *ngIf="inv_data.poCategory == 1"><label placement="top" ngbTooltip="From Customer"> From Customer </label></span>
                              <span *ngIf="inv_data.poCategory == 2"><label placement="top" ngbTooltip="From Vendor"  > From Vendor</label> </span>
                           </td>
                           <td><label placement="top" ngbTooltip="{{inv_data.customerName}}"  *ngIf="inv_data.customerName != null">{{inv_data.customerName}}</label></td>
                           <td><label placement="top" ngbTooltip="{{inv_data.vendorName}}"  *ngIf="inv_data.vendorName != null">{{inv_data.vendorName}}</label></td>
                           <td><label placement="top" ngbTooltip="{{inv_data.amountUsdTotal}}"  *ngIf="inv_data.amountUsdTotal != null">{{inv_data.amountUsdTotal}}</label></td>
                           <td><label placement="top" ngbTooltip="{{INV_STATUS[inv_data.invStatus] }}"  *ngIf="inv_data.invStatus!= null">
                              {{INV_STATUS[inv_data.invStatus] }}</label>
                           </td>
                        </tr>
                        <tr *ngIf="(totalItems > itemsPerPage)">
                           <!-- Pagination -->
                           <td colspan="8" class="text-secondary">
                              <ngb-pagination [collectionSize]="totalItems" class="d-flex justify-content-end"
                                 [pageSize]="itemsPerPage" (pageChange)="pageChanged($event)" [(page)]="currentPage"
                                 [maxSize]="5" [boundaryLinks]="true"></ngb-pagination>
                           </td>
                        </tr>
                     </tbody>
                     <tbody *ngIf="(!invoiceList || !invoiceList.length && !processing)">
                        <tr>
                           <td colspan="8" class="text-center">No data found..</td>
                        </tr>
                     </tbody>
                     <tbody *ngIf="processing">
                        <tr>
                           <td class="text-center" colspan="8">
                              Loading ..
                           </td>
                        </tr>
                     </tbody>
                  </table>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>