::ng-deep .card .card-header{
    background: #f1f1f1 ;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.16);
    padding: 0px !important;
    max-height: 40px !important;
    width: 98%;
    margin : auto auto;   
    margin-top: 5px !important;
    margin-bottom: 1px !important;
    border-bottom: 1px solid #0000 !important;
  }
  
.custom-width:focus{
    width:100px;
    border: 1px solid #ced4da;
}
.custom-width{
  border: 0px;
  background: #fafafa ;
}


table thead tr th{
  border-bottom: 1px solid #000000;
}
.table-heading{
    font-size: 12px;
}
.bg-relative-two{
  background: rgb(236,236,236);
  background: linear-gradient(0deg, rgba(236,236,236,1) 0%, rgba(246,246,246,1) 100%);
}

.autocomplete-container {
  /* box-shadow: 0 1px 3px 0 rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 2px 1px -1px rgba(0,0,0,.12); */
  position: relative;
  box-shadow: none !important;
  overflow: visible;
  border-bottom: 1px solid #fff !important;
  height: 40px;
}
.h-minus{
  background: #00000008;
 
}
input:read-only {
  background-color: #cbcbd9 !important;
}

.wrapword {
    white-space: -moz-pre-wrap !important;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    white-space: pre-wrap;       /* css-3 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
    white-space: -webkit-pre-wrap; /* Newer versions of Chrome/Safari*/
    word-break: break-all;
    white-space: normal;
}

.form-control:disabled {
background-color: #cbcbd9 !important;

}

input:read-only {
    background-color: #fff !important;
}