<div class=" mt-1 mb-5 ">
   <div class="row ">
      <div class="col-xl-12 col-lg-12 col-md-7 col-sm-12 col-12">
         <div class="card ">
            <div  nb-card-header class="add-new-header-bg pt-1 pb-1 bg-relative text-white card-header bg-info"><i class="fa fa-ship"></i>&nbsp;Add Invoice Instruction</div>
            <div class="col-lg-12">
               <div nb-card class="pt-0 pr-3 pt-2 pl-3 pb-0">
                  <div  nb-card-body>
  <form [formGroup]="instructionForm" (ngSubmit)="onSubmit()">
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label>Content</label>
                <input type="text" maxlength="255" (keypress)="omit_special_char($event)" formControlName="content" class="form-control form-control-sm" placeholder="Content" autocomplete="no-fill"
                  [ngClass]="{ 'is-invalid': submitted && form.content.errors }" />
                <div *ngIf="submitted && form.content.errors" class="invalid-feedback">
                  <div *ngIf="form.content.errors.required">Content is required</div>
                </div>
              </div>
            </div>

          </div>
         


<hr class="mb-0 mt-0">
          <div class="row pb-2">
                           <div class="col-md-12 text-right pb-2">
                              <div class="btn-group">
                                 <button class="btn btn-primary vendor_save mr-1 btn-sm" [routerLink]="['/invoiceInstruction/list']">
                                 <i class="fa fa-close"></i>&nbsp;Cancel
                                 </button>
                              </div>
                              &nbsp;
                              <div class="btn-group">
                                 <button  [disabled]="loading" class="btn btn-success btn-sm vendor_save"><ngx-spinner [fullScreen]="false"  bdColor="transparent">
                                                  </ngx-spinner> 
                                 <i class="fa fa-save"></i>&nbsp;
                                 Save
                                 </button>
                              </div>
                           </div>
                        </div>
  
                </form>
           </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>