<div class=" mt-1 mb-5 ">
   <div class="row ">
      <div class="col-xl-12 col-lg-12 col-md-7 col-sm-12 col-12">
         <div class="card ">
            <div  nb-card-header class="add-new-header-bg pt-1 pb-1 bg-relative text-white card-header bg-info"><i class="fa fa-ship"></i>&nbsp;Add Vessel</div>
            <div class="col-lg-12">
               <div nb-card class="pt-0 pr-3 pt-2 pl-3 pb-0">
                  <div  nb-card-body>
                <form [formGroup]="vesselForm" (ngSubmit)="saveVessel()">
                  <div class="row vessel-add">
                    <div class="col-sm-3 box-padding">
                    <div class="form-group">
                        <label>Vessel Code</label>
                        <input  maxlength="24" type="text" autocomplete="no-fill" formControlName="vesselCode" class="form-control form-control-sm" [ngClass]="{ 'is-invalid': submitted && f.vesselCode.errors }" placeholder="Vessel Code"/>
                        <div *ngIf="submitted && f.vesselCode.errors" class="invalid-feedback">
                            <div *ngIf="f.vesselCode.errors.required">Vessel Code is required </div>
                        </div>
                    </div>
                    </div>
                    <div class="col-sm-3 box-padding">
                    <div class="form-group">
                        <label>Vessel</label>
                        <input   type="text"  maxlength="100" autocomplete="no-fill" formControlName="vessel" class="form-control form-control-sm"   [ngClass]="{ 'is-invalid': submitted && f.vessel.errors }" placeholder="Vessel Name"/>
                        <div *ngIf="submitted && f.vessel.errors" class="invalid-feedback">
                            <div *ngIf="f.vessel.errors.required">Vessel is required</div>
                        </div>
                    </div>
                    </div>
                     
                    <div class="col-sm-3 box-padding">
                      <div class="form-group">
                          <label>Imo Number</label>
                          <input type="number" pattern="\d*" autocomplete="no-fill" onkeypress="if(this.value.length==7) {return false} else {return true };" formControlName="imoNo" class="form-control form-control-sm"   [ngClass]="{ 'is-invalid': submitted && f.imoNo.errors }" placeholder="Imo No"/>
                          <div *ngIf="submitted && f.imoNo.errors" class="invalid-feedback">
                              <div *ngIf="f.imoNo.errors.required">Imo Number is required </div>
                          </div>
                      </div>
                      </div>
                          <div class="col-sm-3 box-padding">
                              <label>Build Date</label>
                              <div class="input-group">
                                 <input  class="form-control form-control-sm" autocomplete="no-fill" [ngClass]="{ 'is-invalid': submitted && f.buildDate.errors }"   placeholder="yyyy-mm-dd"  [(ngModel)]="buildDate"  formControlName="buildDate"  ngbDatepicker #buildDatePicker="ngbDatepicker">
                                 <div class="input-group-append">
                                    <button class="btn btn-outline-secondary btn-sm calendar" (click)="buildDatePicker.toggle()" type="button"><i class="fa fa-calendar fa-lg"></i></button>
                                 </div>
                                 <div *ngIf="submitted && f.buildDate.errors" class="invalid-feedback">
                                    <div *ngIf="f.buildDate.errors.required">Build Date is required</div>
                                 </div>
                              </div>
                           </div>
                    </div>
                    <div class="row vessel-add">
                      <div class="col-sm-3 box-padding">
                          <div class="form-group custom">
                              <label>Vessel Type</label>
                              <!-- <input type="password" formControlName="type" class="form-control form-control-sm"   [ngClass]="{ 'is-invalid': submitted && f.type.errors }" /> -->
                              <ng-select class="custom "  autocomplete="no-fill"
                              [ngClass]="{ 'ng-invalid red-border': submitted && f.vesselType.errors }"
                              formControlName="vesselType"   (change)="getVesselSubTypes($event,vesselTypeList)"  placeholder="Choose Vessel Type" [ngClass]="{ 'red-border': submitted && f.vesselType.errors }" >
                          <ng-option *ngFor="let type_item of vesselTypeList" [value]="type_item.id" class="drop-bg">{{type_item.Vtype}}</ng-option>
                              </ng-select>
                              <div *ngIf="submitted && f.vesselType.errors" class="invalid-feedback"  >
                                  <div *ngIf="f.vesselType.errors.required">Vessel Type is required</div>
                              </div>
                          </div>
                            </div>
                    <div class="col-sm-3 box-padding">
                  <div class="form-group">
                      <label>Vessel Sub Type</label>
                  <ng-select class="custom" placeholder="Vessel Sub Type" autocomplete="no-fill"   formControlName="vesselSubType" [ngClass]="{ 'red-border': submitted && f.vesselSubType.errors }"  >
                     <ng-option *ngFor="let group of vesselSubType" [value]="group.id" class="drop-bg">{{group.VSubtype}}</ng-option>
                  </ng-select>
                      <!-- <input type="text" formControlName="group_id" class="form-control form-control-sm"   [ngClass]="{ 'is-invalid': submitted && f.group_id.errors }" /> -->
                      <!-- <select class="form-control form-control-sm"    formControlName="vesselSubType" [ngClass]="{ 'red-border': submitted && f.vesselSubType.errors }"  >
                    <option value="0">Choose</option>        
                   <option *ngFor="let group of vesselSubType" [value]="group.id" class="drop-bg">{{group.VSubtype}}</option>
                      </select> -->


                      <div *ngIf="submitted && f.vesselSubType.errors" class="invalid-feedback"  >
                          <div *ngIf="f.vesselSubType.errors.required">Vessel Sub Type is required</div>
                      </div>
                  </div>
                    </div>

                    <div class="col-sm-3 box-padding">
                      <div class="form-group">
                          <label>Owner</label>
                           <ng-select class="custom" placeholder="Owner" autocomplete="no-fill"   formControlName="owner" [ngClass]="{ 'red-border': submitted && f.owner.errors }" >
                            <ng-option *ngFor="let group of ownerList" [value]="group.id" class="drop-bg">{{group.ownername}}</ng-option>
                         </ng-select>
                          <div *ngIf="submitted && f.owner.errors" class="invalid-feedback"  >
                              <div *ngIf="f.owner.errors.required">Owner is required</div>
                          </div>
                      </div>
                   </div>

                   <div class="col-sm-3 box-padding">

                   <div class="form-group">
                    <label>Port Of Registry</label>
                    <ng-autocomplete [data]="portOfRegistryList"
                    (selected)="changeSelection($event,portOfRegistryList,'name','portOfRegistryXid',null,'portOfRegistryXid')"
                    (inputCleared)="clearSelection('portOfRegistryXid')" [searchKeyword]="keywordPortOfRegistry"
                    placeHolder="Select Port Of Registry" [itemTemplate]="portOfRegistryTemplate" [notFoundTemplate]="notFoundTemplate"
                    [ngClass]="{'is-invalid': submitted && f.portOfRegistryXid.errors }" 
                    >
                  </ng-autocomplete>
                  <ng-template #portOfRegistryTemplate let-item>
                    <a [innerHTML]="item.name"></a>
                  </ng-template>
                   <ng-template #notFoundTemplate let-notFound>
                  <div [innerHTML]="notFound"></div>
                </ng-template>
                  <div *ngIf="submitted && f.portOfRegistryXid.errors" class="invalid-feedback"  >
                    <div *ngIf="f.portOfRegistryXid.errors.required">Port Of Registry is required</div>
                </div>
                   </div>

                     </div>
                     
                      </div>

                      <div class="row vessel-add">
                       
                       
                          <div class="col-sm-3 box-padding">
                        <div class="form-group">
                            <label>Ship Builder</label>
                            <input type="text" maxlength="100" autocomplete="no-fill" formControlName="shipBuilder" class="form-control form-control-sm"   [ngClass]="{ 'is-invalid': submitted && f.shipBuilder.errors }"  placeholder="Ship Builder"/>
                            <div *ngIf="submitted && f.shipBuilder.errors" class="invalid-feedback">
                                <div *ngIf="f.shipBuilder.errors.required">Ship Builder is required</div>
                            </div>
                        </div>
                        </div>
                         
                         
                            <div class="col-sm-3 box-padding">
                              <label>Takeover Date</label>
                              <div class="input-group">
                                 <input  class="form-control form-control-sm" autocomplete="disabled" [ngClass]="{ 'is-invalid': submitted && f.takeOverDate.errors }"  placeholder="yyyy-mm-dd"    formControlName="takeOverDate"  ngbDatepicker #takeOverDatePicker="ngbDatepicker">
                                 <div class="input-group-append">
                                    <button class="btn btn-outline-secondary calendar btn-sm" (click)="takeOverDatePicker.toggle()" type="button"><i class="fa fa-calendar fa-lg"></i></button>
                                 </div>
                                 <div *ngIf="submitted && f.takeOverDate.errors" class="invalid-feedback">
                                    <div *ngIf="f.takeOverDate.errors.required">Takeover Date is required</div>
                                 </div>
                              </div>
                           </div>
                           <div class="col-sm-3 box-padding">
                              <label>Handover Date</label>
                              <div class="input-group">
                                 <input  class="form-control form-control-sm" autocomplete="no-fill"  placeholder="yyyy-mm-dd" [(ngModel)]="handOverDate"  formControlName="handOverDate"  ngbDatepicker #handOverDatePicker="ngbDatepicker">
                                 <div class="input-group-append">
                                    <button class="btn btn-outline-secondary btn-sm calendar" (click)="handOverDatePicker.toggle()" type="button"><i class="fa fa-calendar fa-lg"></i></button>
                                 </div>
                                 <!--div *ngIf="submitted && f.handOverDate.errors" class="invalid-feedback">
                                    <div *ngIf="f.handOverDate.errors.required">Handover Date is required</div>
                                 </div-->
                              </div>
                           </div>
                            <div class="col-sm-3 box-padding">
                              <div class="form-group">
                                  <label>Management</label>
                                  <ng-select  class="custom" placeholder="Management" autocomplete="no-fill"  formControlName="management" [ngClass]="{ 'red-border': submitted && f.management.errors }">
                                    <ng-option *ngFor="let mnt of managementList" [value]="mnt.id" class="drop-bg">{{mnt.management}}</ng-option>
                                 </ng-select>
                                  <!-- <input type="text" formControlName="management" class="form-control form-control-sm"   [ngClass]="{ 'is-invalid': submitted && f.management.errors }" /> -->
                                  <div *ngIf="submitted && f.management.errors" class="invalid-feedback"  >
                                      <div *ngIf="f.management.errors.required">Management Field is required</div>
                                  </div>
                              </div>
                              </div>

                          </div>

                      <div class="row vessel-add">
                       

                    <div class="col-sm-3 box-padding">
                      <div class="form-group">
                          <label>Engine Type</label>
                          <ng-select formControlName="engineType" autocomplete="no-fill" [ngClass]="{ 'red-border': submitted && f.engineType.errors }" class="custom" placeholder="Engine Type"   >
                            <ng-option *ngFor="let engine of engineList" [value]="engine.id" class="drop-bg">{{engine.typeName}}</ng-option>
                         </ng-select>
                          <div *ngIf="submitted && f.engineType.errors" class="invalid-feedback"  >
                              <div *ngIf="f.engineType.errors.required">Eninge Type is required</div>
                          </div>
                      </div>
                      </div>

                      <div class="col-sm-3 box-padding">
                        <div class="form-group">
                            <label>Auxiliary Engine Type</label>
                            <ng-select formControlName="auxiliaryEngineType" autocomplete="no-fill" [ngClass]="{ 'red-border': submitted && f.auxiliaryEngineType.errors }" class="custom" placeholder="Auxiliary Engine Type"    >
                              <ng-option *ngFor="let engine of auxEngineList" [value]="engine.id" class="drop-bg">{{engine.typeName}}</ng-option>
                           </ng-select>
                            <div *ngIf="submitted && f.auxiliaryEngineType.errors" class="invalid-feedback"  >
                                <div *ngIf="f.auxiliaryEngineType.errors.required">Auxiliary Engine Type is required</div>
                            </div>
                        </div>
                        </div>

                        <div class="col-sm-3 box-padding">
                          <div class="form-group">
                              <label>Crane Type</label>
                              <ng-select formControlName="craneType" autocomplete="no-fill" [ngClass]="{ 'red-border': submitted && f.craneType.errors }" class="custom" placeholder="Crane Type"  >
                                <ng-option *ngFor="let crane of craneList" [value]="crane.id" class="drop-bg">{{crane.typeName}}</ng-option>
                             </ng-select>
                              <div *ngIf="submitted && f.craneType.errors" class="invalid-feedback"  >
                                  <div *ngIf="f.craneType.errors.required">Crane Type is required</div>
                              </div>
                          </div>
                          </div>
                    </div>
                  <div class="row">
                    <div class="col-sm-6">
                  </div>
                  </div>
                    <!-- <div class="form-group">
                         <button class="btn btn-primary vendor_save" [routerLink]="['/vessel/list']"><fa name="close-circle" pack="eva" class="mrgn-l-10 text-info save_v hand save_1"></fa>Cancel</button>
                          &nbsp;&nbsp;&nbsp;
             <button  [disabled]="loading" class="btn btn-primary vendor_save">
                          <fa name="save" pack="eva" class="mrgn-l-10 text-info hand save_1"></fa> 
                        Save</button>
                    </div> -->
                    <hr class="mt-0 mb-0">
<div class="row pb-2 mt-0 pt-0">
                           <div class="col-md-12 text-right pb-2">
                              <div class="btn-group">
                                 <button class="btn btn-primary vendor_save mr-1 btn-sm" [routerLink]="['/vessel/list']">
                                 <i class="fa fa-close"></i>&nbsp;Cancel
                                 </button>
                              </div>
                              &nbsp;
                              <div class="btn-group">
                                 <button  [disabled]="loading" class="btn btn-success btn-sm vendor_save"><ngx-spinner [fullScreen]="false"  bdColor="transparent">
                                                  </ngx-spinner> 
                                 <i class="fa fa-save"></i>&nbsp;
                                 Save
                                 </button>
                              </div>
                           </div>
                        </div>
  
                </form>
   </div>
                  <!-- nb-card-body -->
               </div>
               <!-- nb-card -->
            </div>
         </div>
      </div>
   </div>
</div>