




 <ngx-spinner bdColor="rgba(0, 0, 0, 0.4)"></ngx-spinner>
<div class="mt-1 mb-5 ">
  <div class="row ">
     <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
      <div class="card purchase-holder-main">
        <div *ngIf="(orderDetails)">
          <div class="row p-0 m-0 mt-3" *ngIf="(orderDetails && orderDetails.poStatus==2)">
            <div class="container text-center pb-3 alert alert-danger">
              Purchase Order Sent to Supplier
            </div>
          </div>
          <div class="row m-0 p-0 mt-1">
            <div class="col-12 text-right">
              <button *ngIf="(purchaseForm.value.poDate!=null && orderDetails.poStatus == 2 && orderDetails.poCategory ==2)" class="btn btn-light"
                type="button" (click)="generateInvoice(orderDetails)" [disabled]="loaderItem[orderDetails.id]">
                <i class="fa fa-file" aria-hidden="true"></i>&nbsp;Generate Invoice
              </button>&nbsp; 
              <button  class="btn btn-light" *ngIf="orderDetails.poStatus <2 && orderDetails.poCategory ==2 && orderDetails.isDirectPO ==1"
                type="button"  (click)="generatePOVendor(2)" [disabled]="loading">
                <i class="fa fa-file" aria-hidden="true"></i>&nbsp;Generate PO to Supplier
              </button>&nbsp; 
              <button [disabled]="loading" class="btn btn-light" type="button" *ngIf="(orderDetails && orderDetails.poStatus <2 && orderDetails.poCategory ==1 || orderDetails.isDirectPO ==0 && orderDetails.poStatus <2) "
                (click)="generatePurchase()">
                <i class="fa fa-share" aria-hidden="true"></i>&nbsp;Send PO to Supplier
              </button>&nbsp;
              <button [disabled]="loading" *ngIf="orderDetails.poCategory ==1" class="btn btn-light border" type="button" (click)="viewPdf()" >
                <i class="fa fa-download" aria-hidden="true" ></i>&nbsp; Preview Supplier PO
              </button>&nbsp;
                <button [disabled]="loading" *ngIf="orderDetails.poCategory ==2" class="btn btn-light border" type="button" (click)="viewPdf()" >
                <i class="fa fa-download" aria-hidden="true" ></i>&nbsp; Preview Customer PO
              </button>&nbsp;
            </div>
          </div>
        

        <form [formGroup]="purchaseForm" (ngSubmit)="onSubmit()" encType="multipart/form-data">
          <ngb-accordion #acc="ngbAccordion" activeIds="toggle-1">
            <!-- Acc start -->
            <ngb-panel id="toggle-1">
              <div class="container">
                <ng-template ngbPanelTitle>
                  
                    <div class="row">
                      <div class="col padding">
                      Edit  Purchase Order - {{orderDetails.poNumber}}
                      </div>
                      <div class="col padding" *ngIf="purchaseForm.value.poCost">
                        Total : {{currencySymbol+purchaseForm.value.poCost}}<span
                          *ngIf="( purchaseForm.value.amountUsd && purchaseForm.value.amountUsd>0 ) &&  currencySymbol!='$'">(${{purchaseForm.value.amountUsd}})</span>
                      </div>
                      <div class="col padding" *ngIf="tcdTotal || tcdDiscount">
                        TCD : <span *ngIf="tcdTotal">(Tax/Charge {{currencySymbol+tcdTotal}})</span>
                          <span>{{tcdTotal&&tcdDiscount?', ':''}}</span>
                          <span *ngIf="tcdDiscount">(Discount : {{currencySymbol+tcdDiscount}})</span>
                      </div>
                      <div class="col padding text-right" *ngIf="orderDetails.poStatus <2">
                        {{PO_STATUS[orderDetails.poStatus]}}
                      </div>
                      <div class="col text-right"><i class="fa fa-angle-down"></i></div>
                    </div>
                  
                </ng-template>
              </div>
              <ng-template ngbPanelContent>
                <div class="row mrgn-t-10 new1" style="padding : 40px;" *ngIf="(orderDetails)">
                  <div class="col-sm-8">
                    <div *ngIf="orderDetails && orderDetails.isDirectPO ==0">
                     <div class="row">
                       <div class="row col-sm-6">
                        <label class="row col-sm-5">Customer Name</label>
                        <label class="row col-sm-7 elipsis" placement="left" ngbTooltip="{{orderDetails.customerName}}">: {{orderDetails.customerName}} </label>
                      </div>
                      <div class="row col-sm-6" >
                        <label class="row col-sm-5">Vendor Name</label>
                        <label class="row col-sm-7 elipsis" placement="left" ngbTooltip="{{orderDetails.vendorName}}">: {{orderDetails.vendorName}} </label>
                      </div>
                    </div>
                    <div class="row" >
                      <div class="row col-sm-6" >
                        <label class="row col-sm-5" >Customer currency</label>
                        <label class="row col-sm-7" > : {{ orderDetails.currency}} </label>
                      </div>
                      <div class="row col-sm-6">
                        <label class="row col-sm-5">Port</label>
                        <label class="row col-sm-7 elipsis" placement="left" ngbTooltip="{{ orderDetails.port}}" > : {{ orderDetails.port}} </label>
                      </div>
                      

                    </div>
                      <div class="row" >
                        <div class="row col-sm-6" >
                        <label class="row col-sm-5">Vessel</label>
                        <label class="row col-sm-7 elipsis" placement="left" ngbTooltip="{{orderDetails.vesselName}}">: {{orderDetails.vesselName}} </label>
                      </div>
                        <div class="row col-sm-6">
                        <label class="row col-sm-5">Remarks</label>
                        <label class="row col-sm-7 elipsis" placement="left" ngbTooltip=" {{ orderDetails.remarks}}" > : {{ orderDetails.remarks}} </label>
                      </div>
                    </div>
                     <div class="row">
                      <div class="row col-sm-6"  >
                        <label class="row col-sm-5 ">PO Sent Date</label>
                        <div class="row col-sm-7">
                      <div class="input-group" *ngIf="orderDetails.poCategory ==1 && orderDetails.poStatus==1">
                        <input class="form-control form-control-sm" [readonly]="true" [(ngModel)]="poSentDate" formControlName="poDate" 
                          [minDate]="toJsonDate(orderDetails.poDate)" [maxDate]="todayDate" placeholder="yyyy-mm-dd" name="dp" ngbDatepicker
                          #d="ngbDatepicker" (click)="d.toggle()">
                        <div class="input-group-append">
                          <button class="btn btn-sm btn-outline-secondary calendar" (click)="d.toggle()"
                            type="button"><i class="fa fa-calendar fa-lg"></i></button>
                        </div>
                        <div *ngIf="submitted && form.poDate.errors" class="invalid-feedback">
                          <div *ngIf="form.poDate.errors.required">
                            <label >PO
                              Sent Date Is Required</label>
                          </div>
                        </div>
                      </div>
                      <div class="input-group" *ngIf="orderDetails.poCategory ==2 && orderDetails.poStatus ==1">
                        <input class="form-control form-control-sm" [readonly]="true" [(ngModel)]="poSentDate" formControlName="directMailSentDate" 
                          [minDate]="toJsonDate(orderDetails.poDate)" [maxDate]="todayDate" placeholder="yyyy-mm-dd" name="dp" ngbDatepicker
                          #d="ngbDatepicker" (click)="d.toggle()">
                        <div class="input-group-append">
                          <button class="btn btn-sm btn-outline-secondary calendar" (click)="d.toggle()"
                            type="button"><i class="fa fa-calendar fa-lg"></i></button>
                        </div>
                        <div *ngIf="submitted && form.poDate.errors" class="invalid-feedback">
                          <div *ngIf="form.poDate.errors.required">
                            <label >PO
                              Sent Date Is Required</label>
                          </div>
                        </div>
                      </div>
                      <label class="row col-sm-7" *ngIf="orderDetails.poCategory ==1 && orderDetails.poStatus ==2"> : {{ convertDate(orderDetails.poDate)}} </label> <label class="row col-sm-7" *ngIf="orderDetails.poCategory ==2 && orderDetails.poStatus ==2"> : {{ convertDate(orderDetails.directMailSentDate)}} </label>                     
                    </div>
                      </div>
                    </div>
                  </div>
                  <div *ngIf="orderDetails && orderDetails.isDirectPO ==1">
                    <div class="row">
                      <div class="row col-sm-6" >
                        <label class="row col-sm-5">ENQ Number</label>
                        <label class="row col-sm-7">:
                          <span *ngIf="permissions.enquiry_edit"> <a [routerLink]="['/enquiry/edit/',orderDetails.enqXid]">
                              {{orderDetails.enqNumber}} </a> </span>
                          <span *ngIf="!permissions.enquiry_edit"> {{orderDetails.enqNumber}}</span>
                        </label>
                      </div>
                      <div class="row col-sm-6">
                        <label class="row col-sm-5">Customer Name</label>
                        <label class="row col-sm-7 elipsis" placement="left" ngbTooltip="{{orderDetails.customerName}}">: {{orderDetails.customerName}} </label>
                      </div>
                    </div>
                      <div class="row" >
                      <div class="row col-sm-6" >
                        <label class="row col-sm-5">Quotation Number</label>
                        <label class="row col-sm-7" >: <span *ngIf="permissions.quotation_edit"> <a [routerLink]="['/quotation/edit/',orderDetails.quotationXid]">{{orderDetails.quotationNumber}} </a></span> </label>
                      </div>
                      <div class=" row col-sm-6" >
                        <label class="row col-sm-5">ENQ Received Date</label>
                        <label class="row col-sm-7">: {{ convertDate(enquiryDetails.enqDate)}} </label>
                      </div>
                    </div>
                    <div class="row">

                      <div class="row col-sm-6" >
                        <label class="row col-sm-5">Customer Ref Name</label>
                        <label class="row col-sm-7 elipsis" placement="left" ngbTooltip="{{enquiryDetails.customerRefName}}">: {{enquiryDetails.customerRefName}} </label>
                      </div>
                        <div class="row col-sm-6" >
                        <label class="row col-sm-5">Vendor Name</label>
                        <label class="row col-sm-7 elipsis" placement="left" ngbTooltip="{{orderDetails.vendorName}}">: {{orderDetails.vendorName}} </label>
                      </div>
                    </div>
                    <div class="row" >
                      <div class="row col-sm-6" >
                        <label class="row col-sm-5">Service Request For</label>
                        <label class="row col-sm-7 elipsis" placement="left" ngbTooltip="{{ enquiryDetails.serviceRequestFor}}">: {{ enquiryDetails.serviceRequestFor}} </label>
                      </div>
                      <div class="row col-sm-6" >
                        <label class="row col-sm-5">Customer Ref No</label>
                        <label class="row col-sm-7 elipsis" placement="left" ngbTooltip="{{enquiryDetails.customerRefNo}}">: {{enquiryDetails.customerRefNo}} </label>
                      </div>

                      <!--div class="row col-sm-4" >
                        <label class="row col-sm-5">Vendor Currency</label>
                        <label class="row col-sm-7">: {{orderDetails.vendCurrency}} </label>
                      </div-->
                    </div>
                      <div class="row" >
                      <div class="row col-sm-6" >
                        <label class="row col-sm-5" >Customer currency</label>
                        <label class="row col-sm-7" > : {{ orderDetails.currency}} </label>
                      </div>
                       <div class="row col-sm-6" >
                        <label class="row col-sm-5">Vendor Currency</label>
                        <label class="row col-sm-7" *ngIf="orderDetails.poCategory==2">: {{purchaseForm.get('supcurrency').value}}</label>
                        <label class="row col-sm-7" *ngIf="orderDetails.poCategory==1">: {{orderDetails.currency}} </label>
                      </div>
                    
                    </div>

                    </div>
                  </div>
                      <div class="col-md-4">


                        <table class="table rate-table-border">
                          <thead>
                            <tr class="bg-info text-white">
                              <th>Total Amount</th>
                              <th>TCD Amount</th>

                            </tr>
                          </thead>
                          <tbody class="bg-rate">
                            <tr>
                              <td>
                                <p>
                                  <label class="amount-box-label"> <b>Amount</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                  </label>:&nbsp;<span class="amount-box-value">
                                    {{currencySymbol+purchaseForm.value.poCost}} </span>
                                </p>
                              </td>
                              <td>
                                <p>
                                  <label class="amount-box-label"> <b>Tax/Charge </b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                  </label>:&nbsp;<span class="amount-box-value">
                                    {{currencySymbol+tcdTotal}}
                                  </span>
                                </p>
                              </td>

                            </tr>
                            <tr>
                              <td>
                                <p *ngIf="purchaseForm.value.amountUsd && purchaseForm.value.amountUsd>0">
                                  <label class="amount-box-label"> Amount in USD </label>:<label class="amount-box-value">
                                    ${{purchaseForm.value.amountUsd}} </label>
                                </p>
                              </td>
                              <td>
                                <p>
                                  <label class="amount-box-label">
                                    <b>Discount</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
                                  :&nbsp;<span class="amount-box-value">
                                    {{currencySymbol+tcdDiscount}} </span>
                                </p>
                              </td>
                            </tr>



                          </tbody>
                        </table>
                      </div>
                                     
                      
                    <div class="col-md-8" *ngIf="orderDetails && orderDetails.isDirectPO ==1">

                     <div class="row" >
                      <div class="row col-sm-6">
                        <label class="row col-sm-5">Port</label>
                        <label class="row col-sm-7 elipsis" placement="left" ngbTooltip="{{ orderDetails.port}}" > : {{ orderDetails.port}} </label>
                      </div>
                       <div class="row col-sm-6" >
                        <label class="row col-sm-5">Vessel</label>
                        <label class="row col-sm-7 elipsis" placement="left" ngbTooltip="{{orderDetails.vesselName}}">: {{orderDetails.vesselName}} </label>
                      </div>

                    </div>
                    <div class="row" >
                      <div class="row col-sm-6"  *ngIf="orderDetails.poCategory==2 && !poWithoutEnquiry">
                        <label class="row col-sm-5" *ngIf="orderDetails.poCategory==2 && !poWithoutEnquiry">PO Received Date</label>
                        <label class="row col-sm-5" *ngIf="poWithoutEnquiry">PO Date</label>
                        <!--label *ngIf="orderDetails.poCategory ==1" class="row col-sm-5">PO Sent Date</label-->
                        <label class="row col-sm-7" > : {{ convertDate(orderDetails.poDate)}} </label>
                      </div>

                    </div>
                    <div class="row">
                      <div class="row col-sm-6">
                        <label class="row col-sm-5">Remarks</label>
                        <label class="row col-sm-7 elipsis" placement="left" ngbTooltip="{{ orderDetails.remarks}}" > : {{ orderDetails.remarks}} </label>
                      </div>
                        <div class="row col-sm-6"  *ngIf="orderDetails.poCategory==1 && !poWithoutEnquiry">
                        <label class="row col-sm-5 ">PO Sent Date</label>
                        <div class="row col-sm-7">
                      <div class="input-group">
                        <input class="form-control form-control-sm" [readonly]="true" [(ngModel)]="poSentDate" formControlName="poDate" 
                          [minDate]="toJsonDate(enquiryDetails.enqDate)" [maxDate]="todayDate" placeholder="yyyy-mm-dd" name="dp" ngbDatepicker
                          #d="ngbDatepicker" (click)="d.toggle()">
                        <div class="input-group-append">
                          <button class="btn btn-sm btn-outline-secondary calendar" (click)="d.toggle()"
                            type="button"><i class="fa fa-calendar fa-lg"></i></button>
                        </div>
                        <div *ngIf="submitted && form.poDate.errors" class="invalid-feedback">
                          <div *ngIf="form.poDate.errors.required">
                            <label >PO
                              Sent Date Is Required</label>
                          </div>
                        </div>
                      </div>
                    </div>
                      </div>
                    </div>
                  </div>
                </div>
                                                                                 

                <!--div class="row p-3">
                  <div class="col-md-8 ">
                    <div class="row">

                      <div class="col-sm-6 space-between poCategoty_id">
                        <div class="form-group">
                          <label>PO Category</label>
                          <ng-select [items]="poCategories" autocomplete="no-fill" 
                                  bindLabel="name" [clearable]="false" [searchable]="false"
                                  bindValue="id"
                                  placeholder="Please select PO Category"
                                  formControlName="poCategory"
                                  [(ngModel)]="selectedPoCategoryId"
                                  (change)="resetCustomerValue()"
                                  >
                          </ng-select>
                          <select class="form-control form-control-sm"
                            placeholder="  &nbsp;  &nbsp; Please select PO Category" fullWidth
                            formControlName="poCategory">
                            <option *ngFor="let stype of poCategories" [value]="stype.id">{{stype.name}}
                            </option>
                          </select>
                          <label *ngIf="submitted && form.poCategory.errors" class="error">
                            PO Category Is Required.
                          </label>

                        </div>
                      </div>

                      <div class="col-sm-6 space-between">
                        <div class="form-group">
                          <label>Vessel</label>
                          <ng-autocomplete [data]="vessels"
                            (selected)="changeSelection($event,vessels,'vessel','vesselName',null,'vesselXid')"
                            [searchKeyword]="keywordVessel" placeHolder="Enter Vessel Name"
                            [itemTemplate]="vesselTemplate" [initialValue]="orderDetails.vesselName"
                            [notFoundTemplate]="notFoundTemplate">
                          </ng-autocomplete>
                          <ng-template #vesselTemplate let-item>
                            <a [innerHTML]="item.vessel"></a>
                          </ng-template>
                          <ng-template #notFoundTemplate let-notFound>
                            <div [innerHTML]="notFound"></div>
                          </ng-template>
                          <label *ngIf="submitted && form.vesselXid.errors" class="error">
                            Vessel Is Required.
                          </label>
                        </div>
                      </div>



                    </div>

                    <div class="row po-list-row">
                      <div class="col-sm-6 space-between">
                        <div class="form-group">
                          <label>Vendor</label>
                          <ng-autocomplete [data]="vendors"
                            (selected)="changeSelection($event,vendors,'vendorName','vendorName',null,'vendorXid')"
                            [searchKeyword]="keywordVendor" placeHolder="Enter Vendor Name"
                            [itemTemplate]="vendorTemplate" [initialValue]="orderDetails.vendorName"
                            [notFoundTemplate]="notFoundTemplate">
                          </ng-autocomplete>
                          <ng-template #vendorTemplate let-item>
                            <a [innerHTML]="item.vendorName"></a>
                          </ng-template>
                          <ng-template #notFoundTemplate let-notFound>
                            <div [innerHTML]="notFound"></div>
                          </ng-template>
                          <label *ngIf="submitted && form.vendorXid.errors" class="error">
                            Vendor Is Required.
                          </label>
                        </div>
                      </div>
                      <div class="col-sm-6 space-between">
                        <div class="form-group">
                          <label>Customer</label>

                          <span *ngIf="form.poCategory.value==null || form.poCategory.value==1">
                            <ng-autocomplete [data]="customers"
                              (selected)="changeSelection($event,customers,'vendorName','customerName',null,'customerXid')"
                              [searchKeyword]="keywordVendor" placeHolder="Enter Customer Name"
                              [itemTemplate]="customerTemplate" [notFoundTemplate]="notFoundTemplate"
                              [initialValue] ="orderDetails.customerName"
                              >
                            </ng-autocomplete>
                          </span>

                          <span *ngIf="form.poCategory.value==2">
                            <ng-autocomplete [data]="vendors"
                              (selected)="changeSelection($event,vendors,'vendorName','customerName',null,'customerXid')"
                              [searchKeyword]="keywordVendor" placeHolder="Enter Customer Name"
                              [itemTemplate]="customerTemplate" [notFoundTemplate]="notFoundTemplate"
                              [initialValue] ="orderDetails.customerName">
                            </ng-autocomplete>
                          </span>

                          <ng-template #customerTemplate let-item>
                            <a [innerHTML]="item.vendorName" class="drop-bg"></a>
                          </ng-template>
                          <ng-template #notFoundTemplate let-notFound>
                            <div [innerHTML]="notFound"></div>
                          </ng-template>
                          <label *ngIf="submitted && form.customerXid.errors" class="error">
                            Customer Is Required.
                          </label>
                        </div>
                      </div>
                    </div>

                    <div class="row po-list-row">

                      <div class="col-sm-6 space-between currency_id">
                        <div class="form-group">
                          <label>Currency</label>
                          <ng-autocomplete [data]="currencies"
                            (selected)="changeSelection($event,currencies,'name','currency',null,'currencyXid');toUsd();"
                            [searchKeyword]="keywordCurrency" placeHolder="Enter Currency Name"
                            formControlName="currencyNameAuto" [itemTemplate]="currencyTemplate"
                            [initialValue]="orderDetails.currency"
                            (inputCleared)="clear(['currencyXid','currency','currencyNameAuto'],null,'currencyNameAuto')"
                            [notFoundTemplate]="notFoundTemplate">
                          </ng-autocomplete>
                          <ng-template #currencyTemplate let-item>
                            <a [innerHTML]="item.name"></a>
                          </ng-template>
                          <label *ngIf="submitted && form.currency.errors" class="error">
                            Currency Is Required.
                          </label>
                        </div>
                      </div>

                      <div class="col-sm-6 space-between currency d-none">
                        <label>Currency</label>
                        <div class="input-group">
                          <input type="text" formControlName="currency" class="form-control form-control-sm"
                            autocomplete="no-fill"  [ngClass]="{ 'is-invalid': submitted && form.currency.errors }" />

                          <div class="input-group-append">
                            <button><i class="material-icons" aria-hidden="true"
                                (click)="clear(['currencyXid','currency','currencyAuto'],null,'currencyNameAuto');close('currency')"></i>X</button>
                          </div>
                        </div>
                        <label *ngIf="submitted && form.currency.errors" class="error">
                          Currency Is Required.
                        </label>
                      </div>
                      <div class="col-sm-6 space-between port_id">
                        <div class="form-group">
                          <label>Port</label>
                          <ng-autocomplete [data]="port"
                            (selected)="changeSelection($event,port,'name','port',null,'portXid')"
                            [searchKeyword]="keywordPort" placeHolder="Enter Port Name" formControlName="portNameAuto"
                            [itemTemplate]="portTemplate"
                            (inputCleared)="clear(['portXid','port','portNameAuto'],null,'portNameAuto')"
                            [notFoundTemplate]="notFoundTemplate">
                          </ng-autocomplete>
                          <ng-template #portTemplate let-item>
                            <a [innerHTML]="item.name" class="drop-bg"></a>
                          </ng-template>

                          <label *ngIf="submitted && form.port.errors" class="error">
                            Port Is Required.
                          </label>
                        </div>
                      </div>
                    </div>
                    <div class="row po-list-row">
                      <div class="col-sm-6 space-between port d-none">
                        <label>Port</label>
                        <div class="input-group">
                          <input type="text" formControlName="port" class="form-control form-control-sm"
                            [ngClass]="{ 'is-invalid': submitted && form.port.errors }" />
                          <div class="input-group-append">
                            <button class="border-left-0 border"><i class="material-icons" aria-hidden="true"
                                (click)="clear(['portXid','port','portNameAuto'],null,'portNameAuto');close('port')">close</i></button>
                          </div>

                        </div>
                        <label *ngIf="submitted && form.port.errors" class="error">
                          Port Is Required.
                        </label>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-sm-12 space-between ">
                        <div class="form-group">
                          <label>Remarks</label>
                          <textarea autocomplete="no-fill"  formControlName="remarks" class="form-control new_text1"
                            [ngClass]="{ 'is-invalid': submitted && form.remarks.errors }">
                    </textarea>
                          <label *ngIf="submitted && form.remarks.errors" class="error">
                            Remarks Is Required.
                          </label>
                        </div>
                      </div>
                    </div>

                  </div>
                  <div class="col-md-4  border bg-light border-right-0 border-bottom-0 border-top-0">
                    <div class="row  p-3">
                      <div class="col-sm-12 mb-2">
                        <label *ngIf="form.poCategory.value==null || form.poCategory.value==1">Order Received Date</label>
                        <label *ngIf="form.poCategory.value==2">Order Send Date</label>
                        <div class="input-group">

                          <input class="form-control form-control-sm" formControlName="poDate" [readonly]="true" placeholder="yyyy-mm-dd"
                            name="dp" ngbDatepicker #d="ngbDatepicker" (click)="d.toggle()">
                          <div class="input-group-append">
                            <button class="btn btn-sm btn-outline-secondary calendar" (click)="d.toggle()"
                              type="button"><i class="fa fa-calendar fa-lg"></i></button>
                          </div>
                          <div *ngIf="submitted && form.poDate.errors" class="invalid-feedback">
                            <div *ngIf="form.poDate.errors.required">
                              <label *ngIf="form.poCategory.value==null || form.poCategory.value==1">Order Received Date Is Required</label>
                              <label *ngIf="form.poCategory.value==2">Order Send Date Is Required</label>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-sm-12">
                        <div class="form-group">
                          <label>Advance Amount</label>
                          <input type="text" formControlName="advanceAmountUsd" class="form-control"
                            (blur)="makeDecimalPoint('advanceAmountUsd')"
                            [ngClass]="{ 'is-invalid': submitted && form.advanceAmountUsd.errors }" autocomplete="no-fill" />
                          <label
                            *ngIf="submitted && form.advanceAmountUsd.errors &&form.advanceAmountUsd.errors.pattern"
                            class="error">
                            Invalid Amount (Eg:25.010)
                          </label>
                          <label *ngIf="customError.advanceAmountUsd" class="error">
                            {{customError.advanceAmountUsd}}
                          </label>
                        </div>
                      </div>
                      <div class="col-md-12">
                        <table class="table rate-table-border">
                          <thead>
                            <tr class="bg-info text-white">
                              <th>Total Amount</th>
                              <th>TCD Amount</th>
                            </tr>
                          </thead>
                          <tbody class="bg-rate">
                            <tr>
                              <td>
                                <p>
                                  <label class="amount-box-label"> <b>Amount</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                  </label>:&nbsp;<label class="amount-box-value">
                                    {{currencySymbol+purchaseForm.value.poCost}} </label>
                                </p>
                              </td>
                              <td>
                                <p>
                                  <label class="amount-box-label"> <b>Tax/Charge </b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                  </label>:&nbsp;<label class="amount-box-value">
                                    {{currencySymbol+tcdTotal}}
                                  </label>
                                </p>
                              </td>

                            </tr>
                            <tr>
                              <td>
                                <p *ngIf="purchaseForm.value.amountUsd && purchaseForm.value.amountUsd>0">
                                  <label class="amount-box-label"> Amount(USD) </label>:<label class="amount-box-value">
                                    ${{purchaseForm.value.amountUsd}} </label>
                                </p>
                              </td>
                              <td>
                                <p>
                                  <label class="amount-box-label">
                                    <b>Discount</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
                                  :&nbsp;<label class="amount-box-value">
                                    {{currencySymbol+tcdDiscount}} </label>
                                </p>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </div>

                    </div>
                  </div>
                </div-->

              </ng-template>
            </ngb-panel>

            <ngb-panel id="toggle-2">
              <ng-template ngbPanelTitle>
                <div class="row">
                <div class="col text-primary">
                  Item Details
                </div>
                <div class="col">
                </div>
                <div class="col text-right"><i class="fa fa-angle-down"></i></div>
              </div>
              </ng-template>
              <ng-template ngbPanelContent>
                <div class="container-fluid">
                  <div class="row  purchase-holder mt-2">
                    <div class=" col-md-12 p-0">
                      <!--div class="row bg-relative-two custom-table text-dark mt-3">
                        <div class="new_spc1 col-md-1 mx-auto">
                          <button type="button" class="address-btn" (click)="createItems(true)" outline status="sussess">
                            <i class="fa fa-plus" aria-hidden="true"></i>
                          </button>
                        </div>
                        <div class="new_spc1a col-md-2" scope="col">Group</div>
                        <div class="new_spc1a col-md-2" scope="col">Description</div>
                        <div class="new_spc1a col" scope="col">Type</div>
                        <div class="new_spc1ab col" style="width:9.75%" scope="col">UOM</div>
                        <div class="new_spc1a col" scope="col">Qty</div>
                        <div class="new_spc1a col" scope="col" *ngIf="orderDetails.poCategory==2 && poWithoutEnquiry ==false">Unit Price (Cust) QT</div>
                        <div class="new_spc1a col" scope="col" *ngIf="orderDetails.poCategory==2 && poWithoutEnquiry ==false">Cost (Cust) QT</div>
                        <div class="new_spc1a col" scope="col" *ngIf="orderDetails.poCategory==1 && poWithoutEnquiry ==false">Unit Price (Sup) QT</div>
                        <div class="new_spc1a col" scope="col" *ngIf="orderDetails.poCategory==1 && poWithoutEnquiry ==false">Cost (Sup) QT</div>  
                        <div class="new_spc1a col" scope="col" *ngIf="poWithoutEnquiry ==false">Qty</div>               
                        <div class="new_spc1a col" scope="col" *ngIf="orderDetails.poCategory==1 ">Unit Price (Sup) PO</div>
                        <div class="new_spc1a col" scope="col"*ngIf="orderDetails.poCategory==1 ">Cost (Sup) PO</div>
                        <div class="new_spc1a col" scope="col" *ngIf="orderDetails.poCategory==2 ">Unit Price (Cust) PO</div>
                        <div class="new_spc1a col" scope="col"*ngIf="orderDetails.poCategory==2 ">Cost (Cust) PO</div>
                      </div>
                    </div-->
                    <!--div class="container-fluid"-->
                      <div formArrayName="details" >
                                <table class="table-bordered table-sm p-0 " style="max-width: 100%;">
                    <thead class="bg-relative-two">
                    <tr class="border">
                    <th> <button type="button" class="address-btn" (click)="createItems(true)" outline status="sussess">
                    <i class="fa fa-plus"></i>
                    </button></th>
                    <th class="text-center" style="font-size: 11px; width: 190px">Group</th>
                    <th class="text-center" style="font-size: 11px; width: 230px;">Description</th>
                    <th class="text-center" style="font-size: 11px;">Type</th>
                    <th class="text-center" style="font-size: 11px; width: 70px;">UOM</th>
                    <th class="text-center" style="font-size: 11px;" *ngIf="orderDetails.isDirectPO ==0">Qty</th>
                    <th class="text-center" style="font-size: 11px; width: 70px;" *ngIf="orderDetails.poCategory ==2 && orderDetails.isDirectPO ==1">Qty (QS)</th>
                    <th class="text-center" style="font-size: 11px; width: 70px;" *ngIf="orderDetails.poCategory ==1 && orderDetails.isDirectPO ==1">Qty (QR)</th>
                  
                    <th class="text-center" style="font-size: 11px;" colspan="2" *ngIf="orderDetails.poCategory==2 && orderDetails.isDirectPO ==1"><div class="row">
                      <div class="col-md-12 text-center" >
                  <div style="border-bottom: 1px solid #fff;">Qtn to Cust</div>
                  </div>
                    </div>
                      <div class="row">
                        <div class="col-md-6 text-center">Unit Price (QS)</div>
                        <div class="col-md-6 text-center" style="border-left: 1px solid #fff;">Cost (QS)</div>
                      </div>
                    </th>
                    <th style="font-size: 11px;" colspan="2" *ngIf="orderDetails.poCategory==1 && orderDetails.isDirectPO ==1"><div class="row">
                      <div class="col-md-12 text-center" >
                  <div style="border-bottom: 1px solid #fff;">Qtn from Sup</div>
                  </div>
                    </div>
                      <div class="row">
                        <div class="col-md-6 text-center">Unit Price (QR)</div>
                        <div class="col-md-6 text-center" style="border-left: 1px solid #fff;">Cost (QR)</div>
                      </div>
                    </th>
                  
                    <th class="text-center" style="font-size: 11px; width: 80px;" *ngIf="orderDetails.poCategory ==2 && orderDetails.isDirectPO ==1">Qty (PO-R)</th>
                    <th class="text-center" style="font-size: 11px; width: 80px;" *ngIf="orderDetails.poCategory ==1 && orderDetails.isDirectPO ==1">Qty (PO-S)</th>
                  <th style="font-size: 11px;" colspan="2" *ngIf="orderDetails.poCategory==2 && orderDetails.isDirectPO ==1"><div class="row">
                      <div class="col-md-12 text-center" >
                  <div style="border-bottom: 1px solid #fff;">PO from Cust</div>
                  </div>
                    </div>
                      <div class="row">
                        <div class="col-md-6 text-center">Unit Price (PO-R)</div>
                        <div class="col-md-6 text-center" style="border-left: 1px solid #fff;">Cost (PO-R)</div>
                      </div>
                    </th>
                  <th style="font-size: 11px;" colspan="2" *ngIf="orderDetails.poCategory==1 && orderDetails.isDirectPO ==1"><div class="row">
                      <div class="col-md-12 text-center" >
                  <div style="border-bottom: 1px solid #fff;">PO to Sup</div>
                  </div>
                    </div>
                      <div class="row">
                        <div class="col-md-6 text-center">Unit Price (PO-S)</div>
                        <div class="col-md-6 text-center" style="border-left: 1px solid #fff;">Cost (PO-S)</div>
                      </div>
                    </th>
                    <th class="text-center" style="font-size: 11px;" *ngIf="orderDetails.isDirectPO ==0">Unit Price</th>
                    <th class="text-center" style="font-size: 11px;" *ngIf="orderDetails.isDirectPO ==0">Cost</th>
                    </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of purchaseForm.get('details')['controls']; let i = index"
                          [formGroupName]="i" 
                          [class.hidden]="form.details.controls[i].controls.status.value!=1">
                          <ng-container *ngIf="form.details.controls[i].controls.status.value==1">
                         <td class="text-center"><div class="form-group d-inline">
                              <button type="button" class="btn-default btn-circle address-btn-delete" (click)="deleteItems(i)" outline status="sussess"
                                *ngIf="purchaseForm.get('details').controls.length>1">
                                <i class="fa fa-close" aria-hidden="true"></i>
                              </button>
                            </div>
                          </td>
                         <td class="">
                            <div [class]="'form-group d-inline itemGroup'+i+'_id'">
                              <ng-autocomplete [data]="itemGroups"
                                (selected)="changeSelection($event,itemGroups,'groupName','group',i,'groupXid')"
                                [searchKeyword]="keywordGroup" placeHolder="Enter Group Name"
                                formControlName="groupNameAuto" [itemTemplate]="groupTemplate" (closed)="fixSelectedData('group',i)"
                                (inputCleared)="clear(['groupXid','group','groupNameAuto'],i,'groupNameAuto')"
                                [notFoundTemplate]="notFoundTemplate">
                              </ng-autocomplete>
                              <ng-template #groupTemplate let-item>
                                <a [innerHTML]="item.groupName"></a>
                              </ng-template>
                              <!-- <span class="hand text-info pull-right"
                                  (click)="clear(['groupXid','group','groupNameAuto'],i,'groupNameAuto');show('itemGroup'+i)">Add
                                New</span>-->
                              <label *ngIf="submitted && form.details.controls[i].controls.group.errors" class="error-po">
                                Group Is Required.
                              </label>
                            </div>
                            <div [class]="'form-group d-none itemGroup'+i">
                              <input type="text" formControlName="group" class="form-control custom-width" />
                              <i class="fa fa-close" aria-hidden="true"
                                (click)="clear(['groupXid','group','groupNameAuto'],i,'groupNameAuto');close('itemGroup'+i)"></i>
                              <label *ngIf="submitted && form.details.controls[i].controls.group.errors" class="error-po">
                                Group Is Required.
                              </label>
                            </div>
                          </td>
                          <td class="">
                            <div class="form-group d-inline">
                              <input type="text" formControlName="description"
                                class="form-control form-control-sm border" autocomplete="no-fill" 
                                [ngClass]="{ 'is-invalid': submitted && form.details.controls[i].controls.description.errors }" />
                              <label *ngIf="submitted && form.details.controls[i].controls.description.errors"
                                class="error-po">
                                Required
                              </label>
                            </div>
                          </td>
                           <td>
                            <div [class]="'form-group d-inline itemType'+i+'_id'" class="new_group_1">
                              <ng-select [items]="itemTypes"
                                  class="custom" autocomplete="no-fill" 
                                  bindLabel="name" 
                                  bindValue="id" [clearable]="false" [searchable]="false"
                                  placeholder="Choose Type"
                                  formControlName="typeXid"
                                  (change)="changeSelection($event,itemTypes,'name','type',i)"
                                  >
                                    <ng-template ng-option-tmp let-item="item">
                    <div title="{{item.name}}">{{item.name}}</div>
                    </ng-template>
                              </ng-select>

                              <!--ng-select class="custom" formControlName="typeXid"
                                placeholder="Choose type" [clearable]="false" [searchable]="false"  fullWidth
                                (ngModelChange)="changeSelection($event,itemTypes,'name','type',i)">
                                <ng-option class="new_7" *ngFor="let item_row of itemTypes" [value]="item_row.id">
                                  {{item_row.name}}
                                </ng-option>
                              </ng-select-->
                              <label *ngIf="submitted && form.details.controls[i].controls.type.errors" class="error-po">
                                Type Is Required.
                              </label>
                            </div>
                            <div [class]="'form-group d-none itemType'+i">
                              <input type="text" formControlName="type" class="form-control border custom-width" />
                              <i class="fa fa-times-circle" aria-hidden="true"
                                (click)="clear(['typeXid','type'],i);close('itemType'+i)"></i>
                              <label *ngIf="submitted && form.details.controls[i].controls.type.errors" class="error-po">
                                Type Is Required.
                              </label>
                            </div>
                          </td>
                          <td>
                            <div [class]="'form-group d-inline uom'+i+'_id'" class="new_width1">

                              <ng-autocomplete class="new_6" [data]="uoms"
                                (selected)="changeSelection($event,uoms,'uomName','uom',i,'uomXid')"
                                [searchKeyword]="keywordUom" placeHolder="Enter UOM" formControlName="uomNameAuto" (closed)="fixSelectedData('uom',i)"
                                [itemTemplate]="uomTemplate"
                                (inputCleared)="clear(['uomXid','uom','uomNameAuto'],i,'uomNameAuto')"
                                [notFoundTemplate]="notFoundTemplate">
                              </ng-autocomplete>
                              <ng-template #uomTemplate let-item>
                                <a [innerHTML]="item.uomName"></a>
                              </ng-template>
                              <label *ngIf="submitted && form.details.controls[i].controls.uom.errors" class="error-po">
                                UOM Is Required.
                              </label>
                            </div>
                            <div [class]="'form-group d-none uom'+i">
                              <input type="text" formControlName="uom"
                                class="form-control border-top-0 border-left-0 border-right-0 custom-width" />
                              <i class="fa fa-close" aria-hidden="true"
                                (click)="clear(['uomXid','uom','uomNameAuto'],i,'uomNameAuto');close('uom'+i)"></i>
                              <label *ngIf="submitted && form.details.controls[i].controls.uom.errors" class="error-po">
                                UOM Is Required.
                              </label>
                            </div>
                          </td>
                          <td *ngIf="orderDetails.poCategory ==1 && orderDetails.isDirectPO ==1">
                            <div class="form-group d-inline">
                              <input type="text" formControlName="supQty" class="form-control form-control-sm border custom-width" autocomplete="no-fill" 
                                placeholder="Eg:2.00" (blur)="makeDecimalPoint('supQty',i,'details',2);calculateCost(i)"
                                (keyup)="calculateCost(i)"
                                [ngClass]="{ 'is-invalid': submitted && form.details.controls[i].controls.supQty.errors }" />
                              <label
                                *ngIf="submitted && form.details.controls[i].controls.supQty.errors && form.details.controls[i].controls.supQty.errors.required"
                                class="error-po">
                                Required
                              </label>
                              <label
                                *ngIf="submitted && form.details.controls[i].controls.supQty.errors && form.details.controls[i].controls.supQty.errors.pattern"
                                class="error-po">
                                Invalid Quantity (Eg:2.00)
                              </label>
                            </div>
                          </td>
                          <td *ngIf="orderDetails.poCategory ==1 && orderDetails.isDirectPO ==1">
                            <div class="form-group d-inline" style=" background-color: :rgba(1,1,0.9,0.3)">
                              <input type="text" formControlName="supPrice" class="form-control form-control-sm border custom-width" autocomplete="no-fill" 
                                placeholder="Eg:25.010"
                                (blur)="makeDecimalPoint('supPrice',i,'details');calculateCost(i);supPrice(i,item.get('supPrice').value)"
                                (keyup)="calculateCost(i)"
                                [ngClass]="{ 'is-invalid': submitted && form.details.controls[i].controls.poPrice.errors }" />
                              <label
                                *ngIf="submitted && form.details.controls[i].controls.supPrice.errors && form.details.controls[i].controls.supPrice.errors.required"
                                class="error-po">
                                Required
                              </label>
                              <label
                                *ngIf="submitted && form.details.controls[i].controls.supPrice.errors && form.details.controls[i].controls.supPrice.errors.pattern"
                                class="error-po">
                                Invalid Amount (Eg:25.010)
                              </label>
                            </div>
                          </td>
                          <!--div class="col border custom-h border-right-0  pt-2">
                            <div class="form-group">
                              <input type="text" formControlName="poDiscount" class="form-control form-control-sm border custom-width" autocomplete="no-fill" 
                                (blur)="makeDecimalPoint('poDiscount',i,'details',2);calculateCost(i);"
                                placeholder="Discount" (keyup)="calculateCost(i)"
                                [ngClass]="{ 'is-invalid': submitted && form.details.controls[i].controls.poPrice.errors }" />
                              <label
                                *ngIf="submitted && form.details.controls[i].controls.poDiscount.errors && form.details.controls[i].controls.poDiscount.errors.required"
                                class="error-po">
                                Required
                              </label>
                              <label
                                *ngIf="submitted && form.details.controls[i].controls.poDiscount.errors && form.details.controls[i].controls.poDiscount.errors.pattern"
                                class="error-po">
                                Invalid Discount
                              </label>
                            </div>
                          </div-->
                          <td *ngIf="orderDetails.poCategory ==1 && orderDetails.isDirectPO ==1">
                            <div class="form-group d-inline">
                              <input type="text" formControlName="supCost" class="form-control form-control-sm border custom-width"
                                disabled
                                [ngClass]="{ 'is-invalid': submitted && form.details.controls[i].controls.supCost.errors }" />
                              <!--label
                                *ngIf="submitted && form.details.controls[i].controls.supCost.errors && form.details.controls[i].controls.supCost.errors.required"
                                class="error-po">
                                Required
                              </label-->
                              <label
                                *ngIf="submitted && form.details.controls[i].controls.supCost.errors && form.details.controls[i].controls.supCost.errors.pattern"
                                class="error-po">
                                Invalid Amount (Eg:25.010)
                              </label>
                            </div>
                          </td>
                            <td  *ngIf="orderDetails.poCategory ==2 && orderDetails.isDirectPO ==1">
                            <div class="form-group d-inline">
                              <input type="number" formControlName="qtQty" class="form-control form-control-sm border custom-width" autocomplete="no-fill" 
                                placeholder="Eg:2.00"  (blur)="makeDecimalPoint('qtQty',i,'details',2);calculateCost(i)"
                                (keyup)="calculateCost(i)"
                                [ngClass]="{ 'is-invalid': submitted && form.details.controls[i].controls.qtQty.errors }" />
                              <label
                                *ngIf="submitted && form.details.controls[i].controls.qtQty.errors && form.details.controls[i].controls.qtQty.errors.required"
                                class="error-po">
                                Required
                              </label>
                              <label
                                *ngIf="submitted && form.details.controls[i].controls.qtQty.errors && form.details.controls[i].controls.qtQty.errors.pattern"
                                class="error-po">
                                Invalid Quantity (Eg:2.00)
                              </label>
                            </div>
                          </td>
                          <td  *ngIf="orderDetails.poCategory ==2 && orderDetails.isDirectPO ==1">
                            <div class="form-group d-inline">
                              <input type="text" formControlName="qtPrice" class="form-control form-control-sm border custom-width" autocomplete="no-fill" 
                                placeholder="Eg:25.010" 
                                (blur)="makeDecimalPoint('qtPrice',i,'details');calculateCost(i);supPrice(i,item.get('qtPrice').value)"
                                (keyup)="calculateCost(i)"
                                [ngClass]="{ 'is-invalid': submitted && form.details.controls[i].controls.qtPrice.errors }" />
                              <label
                                *ngIf="submitted && form.details.controls[i].controls.qtPrice.errors && form.details.controls[i].controls.qtPrice.errors.required"
                                class="error-po">
                                Required
                              </label>
                              <label
                                *ngIf="submitted && form.details.controls[i].controls.qtPrice.errors && form.details.controls[i].controls.qtPrice.errors.pattern"
                                class="error-po">
                                Invalid Amount (Eg:25.010)
                              </label>
                            </div>
                          </td>
                          <td  *ngIf="orderDetails.poCategory ==2 && orderDetails.isDirectPO ==1">
                            <div class="form-group d-inline">
                              <input type="text" formControlName="qtCost" class="form-control form-control-sm border custom-width" 
                                disabled
                                [ngClass]="{ 'is-invalid': submitted && form.details.controls[i].controls.qtCost.errors }" />
                              <!--label
                                *ngIf="submitted && form.details.controls[i].controls.qtCost.errors && form.details.controls[i].controls.qtCost.errors.required"
                                class="error-po">
                                Required
                              </label-->
                              <label
                                *ngIf="submitted && form.details.controls[i].controls.qtCost.errors && form.details.controls[i].controls.qtCost.errors.pattern"
                                class="error-po">
                                Invalid Amount (Eg:25.010)
                              </label>
                            </div>
                          </td>
                          <td >
                            <div class="form-group d-inline">
                              <input type="number" formControlName="poQty" class="form-control form-control-sm border custom-width" autocomplete="no-fill" 
                                placeholder="Eg:2.00" (blur)="makeDecimalPoint('poQty',i,'details',2);calculateCost(i)"
                                (keyup)="calculateCost(i)"
                                [ngClass]="{ 'is-invalid': submitted && form.details.controls[i].controls.poQty.errors }" />
                              <label
                                *ngIf="submitted && form.details.controls[i].controls.poQty.errors && form.details.controls[i].controls.poQty.errors.required"
                                class="error-po">
                                Required
                              </label>
                              <label
                                *ngIf="submitted && form.details.controls[i].controls.poQty.errors && form.details.controls[i].controls.poQty.errors.pattern"
                                class="error-po">
                                Invalid Quantity (Eg:2.00)
                              </label>
                            </div>
                          </td>
                          <td>
                            <div class="form-group d-inline">
                              <input type="text" formControlName="poPrice" class="form-control form-control-sm border custom-width" autocomplete="no-fill" 
                                placeholder="Eg:25.010"
                                (blur)="makeDecimalPoint('poPrice',i,'details');calculateCost(i);"
                                (keyup)="calculateCost(i)"
                                [ngClass]="{ 'is-invalid': submitted && form.details.controls[i].controls.poPrice.errors }" />
                              <label
                                *ngIf="submitted && form.details.controls[i].controls.poPrice.errors && form.details.controls[i].controls.poPrice.errors.required"
                                class="error-po">
                                Required
                              </label>
                              <label
                                *ngIf="submitted && form.details.controls[i].controls.poPrice.errors && form.details.controls[i].controls.poPrice.errors.pattern"
                                class="error-po">
                                Invalid Amount (Eg:25.010)
                              </label>
                            </div>
                          </td>
                          <td>
                            <div class="form-group d-inline">
                              <input type="text" formControlName="poCost" class="form-control form-control-sm border custom-width"
                                disabled
                                [ngClass]="{ 'is-invalid': submitted && form.details.controls[i].controls.poCost.errors }" />
                              <!--label
                                *ngIf="submitted && form.details.controls[i].controls.poCost.errors && form.details.controls[i].controls.poCost.errors.required"
                                class="error-po">
                                Required
                              </label-->
                              <label
                                *ngIf="submitted && form.details.controls[i].controls.poCost.errors && form.details.controls[i].controls.poCost.errors.pattern"
                                class="error-po">
                                Invalid Amount (Eg:25.010)
                              </label>
                            </div>
                          </td>                                                    
                          </ng-container>
                        </tr>
                      </tbody>
                      </table>
                      </div>
                    </div>
                  </div>
                </div>

              </ng-template>
            </ngb-panel>

            
            <ngb-panel id="toggle-3">
              <ng-template ngbPanelTitle>
                <div class="row ">
                <div class="col text-primary">
                  TCD Details
                </div>
                
                <div class="col text-right"><i class="fa fa-angle-down"></i></div>
              </div>
              </ng-template>
              <ng-template ngbPanelContent>
                <div class="container-fluid">
                  <div class="row  purchase-holder">
                    <div class=" col-md-12">
                      <div class="row bg-relative-two custom-table text-dark mt-3">
                        <div class="col-md-1 mx-auto" *ngIf="orderDetails.isDirectPO ==0">
                          <button type="button"  (click)="createTcdItems(true)" class="address-btn"  outline 
                            status="sussess">
                            <i class="fa fa-plus" aria-hidden="true"></i>
                          </button>
                        </div>
                          <div class="col-md-1 mx-auto" *ngIf="orderDetails.isDirectPO ==1">
                          <button type="button"   class="address-btn"  outline 
                            status="sussess">
                            <i class="fa fa-plus" aria-hidden="true"></i>
                          </button>
                        </div>
                        <div class="new_spc1a col" scope="col">TCD Types</div>
                        <div class="new_spc1a col" scope="col">Description</div>
                        <div class="new_spc1a col" scope="col">Flat/Percentage</div>
                        <div class="new_spc1ab col" scope="col">Amount</div>
                        <div class="new_spc1a col" scope="col">TCD Amount</div>

                      </div>
                    </div>




                    <div class="container-fluid">

                      <div formArrayName="tcdDetails" class="address">
                        <div *ngFor="let item of purchaseForm.get('tcdDetails').controls; let i = index"
                          [formGroupName]="i" [class.hidden]="form.tcdDetails.controls[i].controls.status.value!=1"
                          class="row d-flex h-minus">
                          <ng-container *ngIf="form.tcdDetails.controls[i].controls.status.value==1">

                          <div class="col-md-1  custom-h border border-right-0 pt-2">
                            <div class="form-group text-center">
                              <button type="button" class="btn-default btn-circle address-btn-delete" (click)="deleteTcdItems(i)" outline status="sussess"
                                *ngIf="purchaseForm.get('tcdDetails').controls.length>1">
                                <i class="fa fa-close" aria-hidden="true"></i>
                              </button>
                            </div>
                          </div>
                          <div class="col custom-h border border-right-0 pt-2">
                            <div [class]="'form-group tcdType'+i+'_id'">
                              <ng-select formControlName="tcdType" placeholder="Choose Type" fullWidth *ngIf="toggle" class="custom" [clearable]="false" [searchable]="false" 
                                (change)="calculateTcdAmount()" autocomplete="no-fill" >
                                <ng-option *ngFor="let item_row of tcdTypes" [value]="item_row.id">{{item_row.tcdName}}
                                </ng-option>
                              </ng-select>
                              <label *ngIf="tcdSubmitted && form.tcdDetails.controls[i].controls.tcdType.errors"
                                class="error">
                                TCD Type Is Required.
                              </label>
                            </div>
                            <div [class]="'form-group d-none tcdType'+i">
                              <input type="text" class="form-control form-control-sm border" formControlName="tcdName"
                                [ngClass]="{ 'is-invalid': submitted && form.tcdDetails.controls[i].controls.tcdType.errors }" />

                              <i class="fa fa-floppy-o" aria-hidden="true" class="text-info pull-right hand"
                                (click)="saveList('tcdName','tcdType','tcdTypes',i,'tcdDetails')"></i>
                              <i class="fa fa-close" aria-hidden="true" class="text-danger pull-right hand"
                                (click)="clearTcd(['tcdType','tcdName'],i);close('tcdType'+i);calculateTcdAmount();"></i>
                              <label *ngIf="tcdSubmitted && form.tcdDetails.controls[i].controls.tcdType.errors"
                                class="error">
                                TCD Type Is Required.
                              </label>
                            </div>
                          </div>
                          <div class="col custom-h border border-right-0 pt-2">
                            <div class="form-group">
                              <input type="text" formControlName="tcdDesc"
                                class="form-control form-control-sm border" />
                            </div>
                          </div>

                          <div class="col custom-h border border-right-0 pt-2">
                            <div class="form-group control-select ">
                              <ng-select formControlName="flatOrPercentage" placeholder="Choose Type" fullWidth autocomplete="no-fill" 
                                *ngIf="toggle" (change)="calculateTcdAmount()"
                                class="custom" [clearable]="false" [searchable]="false" >
                                <ng-option *ngFor="let item_row of FPtypes" [value]="item_row.name">{{item_row.name}}
                                </ng-option>
                              </ng-select>
                              <label
                                *ngIf="tcdSubmitted && form.tcdDetails.controls[i].controls.flatOrPercentage.errors"
                                class="error">
                                Flat/Percentage Is Required.
                              </label>
                            </div>
                          </div>
                          <div class="col custom-h border border-right-0 pt-2">
                            <div class="form-group">
                              <input type="text" formControlName="amount"
                                class="form-control form-control-sm border custom-width" placeholder="Eg:25.010" autocomplete="no-fill" 
                                (blur)="makeDecimalPoint('amount',i,'tcdDetails');calculateTcdAmount()"
                                (keyup)="calculateTcdAmount()"
                                [ngClass]="{ 'is-invalid': tcdSubmitted && form.tcdDetails.controls[i].controls.amount.errors }" />
                              <label
                                *ngIf="tcdSubmitted && form.tcdDetails.controls[i].controls.amount.errors && form.tcdDetails.controls[i].controls.amount.errors.required"
                                class="error">
                                Amount Is Required.
                              </label>
                              <label
                                *ngIf="tcdSubmitted && form.tcdDetails.controls[i].controls.amount.errors && form.tcdDetails.controls[i].controls.amount.errors.pattern"
                                class="error">
                                Invalid Amount (Eg:25.010)
                              </label>
                            </div>
                          </div>
                          <div class="col custom-h border border-right-0 pt-2">
                            <div class="form-group">
                              <input type="text" formControlName="tcdAmount" class="form-control border custom-width"
                                placeholder="Eg:25.010" disabled
                                [ngClass]="{ 'is-invalid': tcdSubmitted && form.tcdDetails.controls[i].controls.tcdAmount.errors }" />
                              <label
                                *ngIf="tcdSubmitted && form.tcdDetails.controls[i].controls.tcdAmount.errors && form.tcdDetails.controls[i].controls.tcdAmount.errors.required"
                                class="error">
                                TCD Amount Is Required.
                              </label>
                              <label
                                *ngIf="tcdSubmitted && form.tcdDetails.controls[i].controls.tcdAmount.errors && form.tcdDetails.controls[i].controls.tcdAmount.errors.pattern"
                                class="error">
                                Invalid Amount (Eg:25.010)
                              </label>
                            </div>
                          </div>
                          <!--p class="text-danger text-center width-100" *ngIf="tcdError">Note: {{tcdError}}</p-->
                        </ng-container>
                        </div>
                        <p class="text-danger text-center width-100" *ngIf="tcdError">Note: {{tcdError}}</p>
                      </div>


                    </div>
                  </div>
                </div>
              </ng-template>
            </ngb-panel>

            <ngb-panel id="toggle-4">
              <ng-template ngbPanelTitle>
                <div class="row">
                <div class="col text-primary">
                  Documents
                </div>
                <div class="col text-primary">
                </div>
                <div class="col text-right"><i class="fa fa-angle-down"></i></div>
              </div>
              </ng-template>
              <ng-template ngbPanelContent>
                <div class="container-fluid h-minus pt-2 pb-2">
                  <input type="file" style="display: none;" (change)="upload($event.target.files)" id="fileUpload" class="hidden" multiple />
                  <div class="col-12 file-upload text-info" (click)="triggerFileUpload()">
                    <i class="fa fa-upload" aria-hidden="true"></i>&nbsp;Upload File
                  </div><label class="text-lowercase">&nbsp;&nbsp;&nbsp;(.png, .jpg, .xlsx, .txt, .pdf Max Size=4Mb)</label>
                  <div class="col-12" *ngIf="fileToUpload && fileToUpload.length > 0">
                    <div class="row mrgn-t-10">
                      <div class="col-2 text-center mrgn-t-10 ovr-hid" *ngFor="let item of fileToUpload; let i = index">
                        <img   ngbTooltip="{{item.name}}" [src]="imageSrc[i]" width = "200" height="150"
                          onerror="this.src='../../../../assets/images/unnamed.png';">
                        <div>{{item.name}}</div>
                        <div>
                          <i class="fa fa-trash" aria-hidden="true" class=" text-info hand" (click)="deleteDoc(i)"></i>
                        </div>
                      </div>
                    </div>
                  </div>
                  <hr *ngIf="orderDetails && orderDetails.PDO.length > 0">
                  <div class="col-12" *ngIf="orderDetails && orderDetails.PDO.length > 0">
                    <div class="row mrgn-t-10">
                      <div class="col-2 text-center mrgn-t-10 ovr-hid"
                        *ngFor="let item of orderDetails.PDO; let i = index">
                        <img [src]="DOC_PATH+'/'+item.filePath" width = "200" height="150"
                          onerror="this.src='../../../../assets/images/unnamed.png';">
                        <div class="item_image_name">{{item.fileName}}</div>
                        <div>
                          <i class="fa fa-trash pr-1" aria-hidden="true" (click)="deleteDocFromServer(item,i)"></i>
                          <a target="_blank" [href]="DOC_PATH+'/'+item.filePath">
                            <i class="fa fa-arrow-down" aria-hidden="true"></i>
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </ng-template>
            </ngb-panel>
          </ngb-accordion>

          <hr class="mb-2 mt-2">
          <div class="row m-0 p-0" >
            <div class="col-md-12 text-right pb-2">
              <div class="btn-group">
                <button class="btn btn-sm btn-primary vendor_save" [routerLink]="['/purchase-order/list']">
                  <i class="fa fa-close" aria-hidden="true"></i>&nbsp;Cancel
                </button>

              </div>
              &nbsp;
              <div class="btn-group" *ngIf="orderDetails.poStatus <2 ||orderDetails.isDirectPO ==1 &&  orderDetails.poCategory ==1">
                <button [disabled]="loading" class="btn btn-sm btn-success vendor_save"><ngx-spinner [fullScreen]="false"  bdColor="transparent">
                                                  </ngx-spinner> 
                  <i class="fa fa-save" aria-hidden="true"></i>&nbsp;Save
                </button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
 
  </div>
  </div>
  </div>
  