
  
    <!-- <div *ngIf="message_content">
      <nb-alert status="info"> {{message_content}}</nb-alert>
    </div> -->

     <div class=" mt-1 mb-5 ">
   <div class=" mt-1 mb-5 ">
      <div class="row ">
         <div class="col-xl-12 col-lg-12 col-md-7 col-sm-12 col-12">
            <div class="card ">
               <div  nb-card-header class="add-new-header-bg pt-1 pb-1 bg-relative text-white card-header bg-info"><i class="fa fa-ship"></i>&nbsp;Change Password</div>
               <div class="col-lg-12">
                  <div nb-card class="pt-0 pr-3 pt-2 pl-3 pb-0">
                     <div  nb-card-body> 

     

 <div *ngIf="checkFirstLogin">
       <div  status="info">  
      Temporary Password is Not recommended.
      <b>Please Update your Password to secure your Account.</b> 
      </div>
       
    </div>
<div class="container h-100">
    <div class="row h-100 justify-content-center align-items-center">
        <div class="col-10 col-md-8 col-lg-6">
            <!-- Form -->
             <form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">
                <h5 class="text-center">Change Password</h5>
                <p class="description">Choose a secure password to keep your account safe.</p>
                <!-- Input fields -->
                <div class="form-group">
                      <input   placeholder="Current Password" 
                 type="password" formControlName="c_password" class="form-control form-control-sm"
                       [ngClass]="{ 'is-invalid': submitted && f.c_password.errors }"/>
                <div *ngIf="submitted && f.c_password.errors" class="invalid-feedback">
                  <div *ngIf="f.c_password.errors?.pattern">Current Password is required</div>
                </div>

                </div>
<div></div>
                <div class="form-group">                   
                <label class="pass_1"> New Password</label>
                <input   placeholder="New Password" type="password" formControlName="new_password" 
                class="form-control form-control-sm"
                       [ngClass]="{ 'is-invalid': submitted && f.new_password.errors }"/>
                <div *ngIf="submitted && f.new_password.errors" class="invalid-feedback">
                  <div *ngIf="f.new_password.errors?.pattern">Password must be atleast 8 characters should have one special character</div>
                </div>

                </div>


                <div class="form-group">
                   
               <label class="pass_1"> Confirm Password</label>
                <input   placeholder="Confirm Password" 
                type="password" formControlName="conf_new_password" class="form-control form-control-sm"
                       [ngClass]="{ 'is-invalid': submitted && f.conf_new_password.errors }"/>
                <div *ngIf="submitted && f.conf_new_password.errors" class="invalid-feedback">
                  <div *ngIf="f.conf_new_password.errors?.pattern">Password must be atleast 8 characters should have one special character</div>
                </div>

                </div>

     <div class="form-group">
                <button  class="btn btn-primary vendor_save mr-1 btn-sm"><ngx-spinner [fullScreen]="false"  bdColor="transparent">
									</ngx-spinner> Update</button>

                </div>



                	

                <!-- End input fields -->
            </form>
            <!-- Form end -->
        </div>
    </div>
</div>
        
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
