<div class=" mt-1 mb-5 ">
   <div class="row ">
      <div class="col-xl-12 col-lg-12 col-md-7 col-sm-12 col-12">
         <div class="card ">
         	 <div  nb-card-header class="add-new-header-bg pt-1 pb-1 bg-relative text-white card-header bg-info"><i class="fa fa-ship"></i>&nbsp;Uom Edit</div>
            <div class="col-lg-12">
               <div nb-card class="pt-0 pr-3 pt-2 pl-3 pb-0">
                  <div  nb-card-body>
  <form [formGroup]="uomForm" (ngSubmit)="onSubmit()">
 				<div class="row vessel-add">
 				<div class="col-sm-3 box-padding">
              <div class="form-group">
                <label>Name</label>
                <input type="text" autocomplete="no-fill" maxlength="100" formControlName="uomName" class="form-control form-control-sm " placeholder="Eg:BKT" 
                  [ngClass]="{ 'is-invalid': submitted && form.uomName.errors }" />
                <div *ngIf="submitted && form.uomName.errors" class="invalid-feedback">
                  <div *ngIf="form.uomName.errors.required">Name is required</div>
                </div>
              </div>
            </div>
               <div class="col-sm-3 box-padding">
              <div class="form-group">
                <label>Description</label>
                <input type="text" maxlength="100" autocomplete="no-fill" formControlName="uomDescripton" class="form-control form-control-sm " placeholder="Eg:Bucket" 
                  [ngClass]="{ 'is-invalid': submitted && form.uomDescripton.errors }" />
                <div *ngIf="submitted && form.uomDescripton.errors" class="invalid-feedback">
                  <div *ngIf="form.uomDescripton.errors.required">Description is required</div>
                </div>
              </div>
            </div>

          </div>
         <hr>
        <div class="row pb-2">
        <div class="col-md-12 text-right pb-2">
           <div class="btn-group">
          <button class="btn btn-primary vendor_save mr-1 btn-sm" [routerLink]="['/uom/list']"> <i class="fa fa-close"></i>&nbsp; Cancel</button>
      </div>
            &nbsp;
           <div class="btn-group">
            <button  [disabled]="loading" class="btn btn-success btn-sm vendor_save"><ngx-spinner [fullScreen]="false"  bdColor="transparent">
                                                  </ngx-spinner> 
                                 <i class="fa fa-save"></i>&nbsp;
                                 Save
                                 </button>
                              </div>
                           </div>
                        </div>
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                      


        </form>
       </div>
       </div>
         </div>
         </div>
      </div>
   </div>
</div>