<div class=" mt-1 mb-5 ">
   <div class="row ">
      <div class="col-xl-12 col-lg-12 col-md-7 col-sm-12 col-12">
         <div class="card ">
            <div  nb-card-header class="add-new-header-bg pt-1 pb-1 bg-relative text-white card-header bg-info"><i class="fa fa-ship"></i>&nbsp;Add Port</div>
            <div class="col-lg-12">
               <div nb-card class="pt-0 pr-3 pt-2 pl-3 pb-0">
                  <div  nb-card-body>
                <form [formGroup]="portForm" (ngSubmit)="onSubmit()">
                    <div class="row port-add">
                        <div class="col-sm-3 box-padding">
                            <div class="form-group">
                                <label>Name</label>
                                <input maxlength="100" autocomplete="no-fill" type="text" formControlName="name" class="form-control form-control-sm " placeholder="Name"
                                    [ngClass]="{ 'is-invalid': submitted && form.name.errors }" />
                                <div *ngIf="submitted && form.name.errors" class="invalid-feedback">
                                    <div *ngIf="form.name.errors.required">Name is required</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3 box-padding">
                            <div class="form-group">
                                <label>Short Name</label>
                                <input type="text" maxlength="20" autocomplete="no-fill" formControlName="shortName" class="form-control form-control-sm " placeholder="Short Name"
                                    [ngClass]="{ 'is-invalid': submitted && form.shortName.errors }" />
                                <div *ngIf="submitted && form.shortName.errors" class="invalid-feedback">
                                    <div *ngIf="form.shortName.errors.required">Short Name is required</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3 box-padding">
                            <div class="form-group">
                                <label>ISO Code</label>
                                <input type="text" maxlength="20" autocomplete="no-fill" formControlName="isoCode" class="form-control form-control-sm " placeholder="ISO code"
                                    [ngClass]="{ 'is-invalid': submitted && form.isoCode.errors }" />
                                <div *ngIf="submitted && form.isoCode.errors" class="invalid-feedback">
                                    <div *ngIf="form.isoCode.errors.required">ISO Code is required</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3 box-padding">
                            <div class="form-group">
                                <label>UN Code</label>
                                <input type="text" maxlength="40" autocomplete="no-fill" formControlName="unCode" class="form-control form-control-sm " placeholder="UN code"
                                    [ngClass]="{ 'is-invalid': submitted && form.unCode.errors }" />
                                <div *ngIf="submitted && form.unCode.errors" class="invalid-feedback">
                                    <div *ngIf="form.unCode.errors.required">UN Code is required</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row port-add">

                       
                        
                        <div class="col-sm-3 box-padding">
                            <div class="form-group">
                                <label>Country</label>
                                 <ng-autocomplete
                  [data]="countries"
                  (selected)="changeSelection($event,countries,'id','countryXid',null,'countryXid')" 
                  placeHolder="Country"
                  [searchKeyword]="keywordCountry"
                  [itemTemplate]="countryTemplate"
                  [notFoundTemplate]="notFoundTemplate" [ngClass]="{ 'is-invalid': submitted && form.countryXid.errors }">
                </ng-autocomplete>

                <ng-template #countryTemplate let-item>
                  <a [innerHTML]="item.name"></a>
                </ng-template>


                <ng-template #notFoundTemplate let-notFound>
                  <div [innerHTML]="notFound"></div>
                </ng-template>
                                <label *ngIf="submitted && form.countryXid.errors" class="invalid-feedback">
                                    Country is required
                                </label>
                            </div>
                        </div>
                        <div class="col-sm-3 box-padding">
                            <div class="form-group">
                                <label>Latitude</label>
                                <input type="text" oninput="this.value = this.value.replace(/[^0-9.()+-]/g, ''); this.value = this.value.replace(/(\..*)\./g, '$1');"
                                    onKeyDown="if(this.value.length==50 && event.keyCode!=8 && event.keyCode!=9 && event.keyCode!=39 && event.keyCode!=37) return false;" autocomplete="no-fill" formControlName="latitude" class="form-control form-control-sm " placeHolder="Latitude" 
                                    [ngClass]="{ 'is-invalid': submitted && form.latitude.errors }" />
                                <div *ngIf="submitted && form.latitude.errors" class="invalid-feedback">
                                    <div *ngIf="form.latitude.errors.required">Latitude is required</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3 box-padding">
                            <div class="form-group">
                                <label>Latitude Direction</label>
                                <input type="text" (keypress)="allownsew($event)" formControlName="latitudeDirection" autocomplete="no-fill" class="form-control form-control-sm " maxlength="1"  placeholder="Latitude Direction"
                                    [ngClass]="{ 'is-invalid': submitted && form.latitudeDirection.errors }" />
                                <div *ngIf="submitted && form.latitudeDirection.errors" class="invalid-feedback">
                                    <div *ngIf="form.latitudeDirection.errors.required">Latitude Direction is required
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3 box-padding">
                            <div class="form-group">
                                <label>Longitude</label>
                                <input type="text"oninput="this.value = this.value.replace(/[^0-9.()+-]/g, ''); this.value = this.value.replace(/(\..*)\./g, '$1');"
                                    onKeyDown="if(this.value.length==50 && event.keyCode!=8 && event.keyCode!=9 && event.keyCode!=39 && event.keyCode!=37) return false;" formControlName="longitude" autocomplete="no-fill" class="form-control form-control-sm "  placeholder="Longitude "
                                    [ngClass]="{ 'is-invalid': submitted && form.longitude.errors }" />
                                <div *ngIf="submitted && form.longitude.errors" class="invalid-feedback">
                                    <div *ngIf="form.longitude.errors.required">Longitude is required</div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="row port-add">
                        
                        
                        <div class="col-sm-3 box-padding">
                            <div class="form-group">
                                <label>Longitude Direction</label>
                                <input type="text" (keypress)="allownsew($event)" formControlName="longitudeDirection" autocomplete="no-fill" class="form-control form-control-sm " maxlength="1" placeholder="Longitude Direction"
                                    [ngClass]="{ 'is-invalid': submitted && form.longitudeDirection.errors }" />
                                <div *ngIf="submitted && form.longitudeDirection.errors" class="invalid-feedback">
                                    <div *ngIf="form.longitudeDirection.errors.required">Longitude is required</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3 box-padding">
                            <div class="form-group">
                                <label>Draft</label>
                                <input placeholder="Ex 2.00" oninput="this.value = this.value.replace(/[^0-9.()+-]/g, ''); this.value = this.value.replace(/(\..*)\./g, '$1');"
                                    onKeyDown="if(this.value.length==13 && event.keyCode!=8 && event.keyCode!=9 && event.keyCode!=39 && event.keyCode!=37) return false;" type="text" autocomplete="no-fill" formControlName="draft" class="form-control form-control-sm " 
                                    [ngClass]="{ 'is-invalid': submitted && form.draft.errors }" />
                                <div *ngIf="submitted && form.draft.errors" class="invalid-feedback">
                                    <div *ngIf="form.draft.errors.required">Draft is required</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3 box-padding">
                            <div class="form-group">
                                <label>Berth</label>
                                <input placeholder="Ex 2.00" oninput="this.value = this.value.replace(/[^0-9.()+-]/g, ''); this.value = this.value.replace(/(\..*)\./g, '$1');"
                                    onKeyDown="if(this.value.length==13 && event.keyCode!=8 && event.keyCode!=9 && event.keyCode!=39 && event.keyCode!=37) return false;" type="text" formControlName="berth" class="form-control form-control-sm " autocomplete="no-fill"                                     [ngClass]="{ 'is-invalid': submitted && form.berth.errors }" />
                                <div *ngIf="submitted && form.berth.errors" class="invalid-feedback">
                                    <div *ngIf="form.berth.errors.required">Berth is required
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3 box-padding">
                            <div class="form-group">
                                <label>Berth type</label>
                                <input type="text" maxlength="50" formControlName="berthType" class="form-control form-control-sm " placeholder="Berth Type" autocomplete="no-fill"
                                    [ngClass]="{ 'is-invalid': submitted && form.berthType.errors }" />
                                <div *ngIf="submitted && form.berthType.errors" class="invalid-feedback">
                                    <div *ngIf="form.berthType.errors.required">Berth Type is required
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                    <hr class="mb-0 mt-0">

                    <div class="row pb-2">
                           <div class="col-md-12 text-right pb-2">
                              <div class="btn-group">
                                 <button class="btn btn-primary vendor_save mr-1 btn-sm" [routerLink]="['/port/list']">
                                 <i class="fa fa-close"></i>&nbsp;Cancel
                                 </button>
                              </div>
                              &nbsp;
                              <div class="btn-group">
                                 <button  [disabled]="loading" class="btn btn-success btn-sm vendor_save"><ngx-spinner [fullScreen]="false"  bdColor="transparent">
                                                  </ngx-spinner> 
                                 <i class="fa fa-save"></i>&nbsp;
                                 Save
                                 </button>
                              </div>
                           </div>
                        </div>

                </form>
        </div>
                  <!-- nb-card-body -->
               </div>
               <!-- nb-card -->
            </div>
         </div>
      </div>
   </div>
</div>