<ngx-spinner bdColor="rgba(0, 0, 0, 0.4)"></ngx-spinner>
<div class=" mt-1 mb-5 ">
  <div class="row ">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
      <div class="card purchase-holder-main">
          <div class="row m-0 p-0 mt-1">
            <div class="col-12 text-right">
              <button [disabled]="loading" class="btn btn-light" type="button" 
                (click)="generateRequest()" *ngIf="(enquiryDetails && enquiryDetails.enqStatus <3)">
                <i class="fa fa-share" aria-hidden="true"></i>&nbsp;Send Request
              </button>&nbsp;
              <button [disabled]="loading" class="btn btn-light" type="button" (click)="viewPdf()" *ngIf="(enquiryDetails && enquiryDetails.enqStatus <11)">
                <i class="fa fa-download" aria-hidden="true" ></i>&nbsp;Preview
              </button>&nbsp;
            </div>
          </div>

        <form [formGroup]="enquiryForm" (ngSubmit)="onSubmit()" encType="multipart/form-data">

          <ngb-accordion #acc="ngbAccordion" activeIds="toggle-1">
            <ngb-panel id="toggle-1">
              <div class="container">
                <ng-template ngbPanelTitle>
                  <div class="row">
                  <div class="col text-primary">
                    Edit Enquiry
                  </div>
                  <div class="col-10 padding text-right" *ngIf="enquiryDetails">
                        {{ENQ_STATUS[enquiryDetails?.enqStatus]}}
                      </div>
                  <div class="col text-right"><i class="fa fa-angle-down"></i></div>
                  </div>
                </ng-template>
              </div>
              <ng-template ngbPanelContent>

                <div class="row p-3">
                  <div class="col-md-12">
                    <div class="row text-left">
                      <div class="col-md-6">
                         <div class="row">
                            <div class=" col-md-4">
                               <label>	ENQ Number </label><br>
                               <label> ENQ Received Date</label><br>
                               <label>	Service Request For</label><br>
                                <label *ngIf="enquiryDetails && enquiryDetails.enqStatus==11">  Reason For Cancellation</label>
                                
                            </div>
                            
                            <div class="col-md-6">
                               <label *ngIf="enquiryDetails" class="col-md-12">:&nbsp;&nbsp;&nbsp;{{enquiryDetails.enqNumber}}</label><br>
                               <label class="col-md-12" *ngIf="enquiryDetails">:&nbsp;&nbsp;&nbsp;{{convertDate(enquiryDetails.enqDate)}}</label><br>
                               <label *ngIf="enquiryDetails" class="col-md-12 elipsis" ngbTooltip="{{enquiryDetails.serviceRequestFor}}" placement="left">:&nbsp;&nbsp;&nbsp;{{enquiryDetails.serviceRequestFor}}</label>
                                <label class="col-md-12 elipsis" ngbTooltip="{{enquiryDetails.reason}}" placement ="left" *ngIf="enquiryDetails && enquiryDetails.enqStatus==11">: {{enquiryDetails.reason}}</label>
                               
                            </div>
                         </div>
                      </div>
                      <div class="col-md-4">
                         <div class="row">
                            <div class=" col-md-5">
                               <label>	Customer Name </label><br>
                               <label> Customer Ref Name </label><br>
                               <label>	Customer Ref No </label><br>
                               <label  *ngIf="enquiryDetails && enquiryDetails.enqStatus==11"> Cancelled Date</label>
                            </div>
                            
                            <div class=" col-md-6">
                               <label class="col-md-12 elipsis" placement="left" ngbTooltip="{{enquiryDetails.customerName}}"  *ngIf="enquiryDetails">:&nbsp;&nbsp;&nbsp;{{enquiryDetails.customerName}}</label><br>
                               <label class="col-md-12 elipsis" placement="left" ngbTooltip="{{enquiryDetails.customerRefName}}"  *ngIf="enquiryDetails">:&nbsp;&nbsp;&nbsp;{{enquiryDetails.customerRefName}} </label><br>
                               <label class="col-md-12 elipsis" ngbTooltip="{{enquiryDetails.customerRefNo}}" placement="left" *ngIf="enquiryDetails">:&nbsp;&nbsp;&nbsp;{{enquiryDetails.customerRefNo}}</label>
                                <label class="col-md-12 elipsis" *ngIf="enquiryDetails && enquiryDetails.enqStatus==11">: {{convertDate(enquiryDetails.cancelDate)}}</label>
                            </div>
                         </div>
                      </div>
                   </div>
               
                
              
                
                   
             
             
              
               
          
                	 
                    
         
             
       
                 </div>
             </div>
                              <!--div class="col-10 text-right">
                    Last Enquiry Request generated to Vendor Date {{convertDate(dateArray)}}
                  </div-->

                            <div class="row">
                           <div class="col-sm-12 invoice-content">
                             <table class="table-bordered table-sm p-0 " style="max-width: 100%;height: 45px;">
                                <thead class="bg-relative-two " >
                                    <tr>
                                       <th class="text-center" style="font-size: 11px; width: 90px;">#</th>
                                       <th class="text-center" style="font-size: 11px; width: 260px;height: 45px; ">Group</th>
                                       <th class="text-center" style="font-size: 11px; width: 260px;">Description</th>
                                       <th class="text-center" style="font-size: 11px; width: 260px">Type </th>
                                       <th class="text-center" style="font-size: 11px; width: 260px">UOM</th>
                                       <th class="text-center" style="font-size: 11px; width: 260px;">Quantity</th>
                                    </tr>
                                 </thead>
                                 <tbody *ngIf="enquiryDetails">
                                    <ng-container *ngFor="let item of enquiryDetails.EDE; let i = index"
                                >
                                       <tr class="po_table_1">
                                          <td class="po_no text-center"> <label>{{(i+1)}}.</label></td>
                                          <td class="pl-2"><label class="pl-2">{{ item.group }}</label></td>
                                          <td class="pl-2"><label class="wrapword pl-2">{{item.description}}</label></td>
                                          <td class="pl-2"><label class="pl-2">{{item.type}}</label></td>
                                          <td class="pl-2"><label class="pl-2">{{item.uom}}</label></td>
                                          <td class="pl-2"><label class="pl-2">{{item.qtQty}}</label></td>
                                       </tr>
                                   </ng-container>
                               </tbody>
                           </table>
                       </div>
                   </div>
         </ng-template>
     </ngb-panel>

      		<ngb-panel id="toggle-3">
              <ng-template ngbPanelTitle>
                <div class="row">
                <div class="col text-primary">
                 Requests
                </div>
               
                <div class="col text-right"><i class="fa fa-angle-down"></i></div></div>
              </ng-template>
              <ng-template ngbPanelContent>
              
               <div class="container-fluid">
                  <div class="row purchase-holder">
                    <div class=" col-md-12">
                      <div class="row bg-relative-two custom-table text-dark mt-3">
                        <div class="new_spc1 col-md-1 mx-auto" style="width: 70px;">
                          <button type="button" class="address-btn" (click)="createRequests(true)" outline status="sussess">
                            <i class="fa fa-plus"></i>
                          </button>
                        </div>
                        <th class="new_spc1a col-md-2 " scope="col">Select Sup to Send Rqst</th>
                        <th class="new_spc1a col-md-2 text-center" scope="col">Supplier Name</th>
                        <th class="new_spc1a col-md-2 text-center" style="width: 260px;" scope="col">Rqstd Date</th>
                        <th class="new_spc1ab col-md-3 text-center" scope="col">Details</th>
                         <th class="new_spc1a col text-center" scope="col">Rqst Status</th>
                      </div>
                    </div>
                   <div class="container-fluid">
                      <div formArrayName="vendorDetails" class="address">
                        <div *ngFor="let item of enquiryForm.get('vendorDetails')['controls']; let i = index"
                          [formGroupName]="i" class="row d-flex h-minus" [class.hidden]="form.vendorDetails.controls[i].controls.status.value!=1">
                           <ng-container *ngIf="form.vendorDetails.controls[i].controls.status.value==1">
                          <div class="col-md-1 text-center mx-auto border custom-h pt-2 border-right-0 ">
                            <div class="form-group">
                              <button type="button" class="btn-default btn-circle address-btn-delete" (click)="deleteVendorItems(i)" outline status="sussess"
                                *ngIf="enquiryForm.get('vendorDetails').controls.length>1 &&  form.vendorDetails.controls[i].controls.enquiryStatus.value ==null">
                                <i class="fa fa-close" aria-hidden="true"></i>

                              </button>
                            </div>
                          </div>
                           <div class="col-md-2 text-center custom-h border border-right-0 pt-2">
                             <div class="form-group">
                               <input type="checkbox"  (change)="chooseSupplier(i)" formControlName="selectVendor" [disabled]= "(enquiryDetails.enqStatus >=3 || enquiryDetails.EV[i] && enquiryDetails.EV[i].enquiryStatus >0 )" *ngIf="form.vendorDetails.controls[i].controls.enquiryStatus.value ==null " [ngClass]="{ 'is-invalid': submitted && submitted && form.vendorDetails.controls[i].controls.selectVendor.errors }"
                                    status="warning">
                                 <div *ngIf="submitted && form.vendorDetails.controls[i].controls.selectVendor.errors" class="invalid-feedback">
                                 </div>
                              </div>
                          </div>
                         <div class="col-md-2 custom-h border border-right-0 pt-2">
                            <div class="form-group ">
                            <ng-autocomplete [data]="vendors"
                            (selected)="changeSelection($event,vendors,'vendorName','vendorName',i,'vendorXid')"
                         (inputCleared)=" clearSupplier(['vendorXid','vendorName','vendorNameAuto'],i,'vendorNameAuto')" formControlName="vendorNameAuto" (closed)="fixSelectedData('vendor',i)" [disabled]= "(enquiryDetails.enqStatus >=3 || enquiryDetails.EV[i] && enquiryDetails.EV[i].enquiryStatus >0 )"
                            [searchKeyword]="keywordVendor" placeHolder="Select Supplier"
                            [itemTemplate]="vendorTemplate" [notFoundTemplate]="notFoundTemplate">
                          </ng-autocomplete>

                          <ng-template #vendorTemplate let-item>
                            <a [innerHTML]="item.vendorName" class="drop-bg"></a>
                          </ng-template>


                          <ng-template #notFoundTemplate let-notFound>
                            <div [innerHTML]="notFound"></div>
                          </ng-template>
                          <label *ngIf="submitted && form.vendorDetails.controls[i].controls.vendorXid.errors" class="error">
                            Supplier Is Required.
                          </label>
                            </div>
                        </div>
                         <div class="col-md-2 custom-h border border-right-0 border-left-0 pt-2">
                            <div class="input-group ">
                              <input  class="form-control form-control-sm" autocomplete="no-fill"     formControlName="vendorDate"  ngbDatepicker #reqDatePicker="ngbDatepicker" [minDate]="form.enqDate.value" [maxDate]="todayDate" [disabled]= "(enquiryDetails && enquiryDetails.enqStatus >=3 || enquiryDetails.EV[i] && enquiryDetails.EV[i].enquiryStatus >0)" (click)="reqDatePicker.toggle()" [readonly]="true"
                                (dateSelect)="dateChange($event,i)">
                                 <div class="input-group-append">
                                    <button class="btn btn-outline-secondary btn-sm calendar" (click)="reqDatePicker.toggle()" type="button"><i class="fa fa-calendar fa-lg"></i></button>
                              <!--label *ngIf="submitted && form.vendorDetails.controls[i].controls.date.errors" class="error">
                                Date Is Required.
                              </label-->
                            </div>
                        </div>
                      </div>
                         <div class="col-md-3 custom-h border border-right-0 pl-2 pr-2 pb-2  pt-2" style="width:9.75%">
                            <div class="form-group ">
                             <input type="text" autocomplete="no-fill" formControlName="details" class="form-control form-control-sm l" maxlength="100" [disabled]= "(enquiryDetails.EV[i] && enquiryDetails.EV[i].enquiryStatus >0)"  placeholder="Details"/>
                              <!--label *ngIf="submitted && form.vendorDetails.controls[i].controls.details.errors" class="error">
                                Details Is Required.
                              </label-->
                            </div>
                        </div>
                         <div  class="col custom-h border border-right-0  pt-2">
                            <div class="form-group text-center" *ngIf="enquiryDetails && enquiryDetails.EV[i]">
                              <span>
                                <label *ngIf="(form.vendorDetails.controls[i].controls.pdfSentDate.value!=null && form.vendorDetails.controls[i].controls.id.value!='' && enquiryDetails.EV[i].enquiryStatus == 1)"> Sent </label>
                                <label *ngIf="enquiryDetails.EV[i].enquiryStatus == 2" > Qtn Received </label>
                                <label *ngIf="enquiryDetails.EV[i].enquiryStatus == 3" > Rqst Declined </label>
                              </span>
                            </div>
                        </div>
                    </ng-container>
                      </div>
                    </div>
                  </div>
                </div>
              </div>                   
                    <!--div class=" col-md-12">
                      <div class="row bg-relative-two custom-table text-dark mt-3">
                        <div class="new_spc1 col-md-1 mx-auto">
                          <button type="button" class="address-btn" (click)="createItems(true)" outline status="sussess">
                            <i class="fa fa-plus"></i>
                          </button>
                        </div>
                        <div class="new_spc1a col-md-2" scope="col">Group</div>
                        <div class="new_spc1a col-md-2" scope="col">Description</div>
                        <div class="new_spc1a col-md-2" scope="col">Type</div>
                        <div class="new_spc1ab col" style="width:9.75%" scope="col">UOM</div>
                        <div class="new_spc1a col" scope="col">Quantity</div>
                      </div>
                    </div>



                    <div class="container-fluid">
                      <div formArrayName="details" class="address">
                        <div *ngFor="let item of enquiryForm.get('details')['controls']; let i = index"
                          [formGroupName]="i" class="row d-flex h-minus">
                          <div class="col-md-1 text-center mx-auto border custom-h pt-2 border-right-0 ">
                            <div class="form-group">
                              <button type="button" class="btn-default btn-circle address-btn-delete" (click)="deleteItems(i)" outline status="sussess"
                                *ngIf="enquiryForm.get('details').controls.length>1">
                                <i class="fa fa-close" aria-hidden="true"></i>

                              </button>
                            </div>
                          </div>
                          <div class="col-md-2 custom-h border border-right-0 pt-2">
                            <div [class]="'form-group itemGroup'+i+'_id'">
                              <ng-autocomplete class="new_cls" [data]="itemGroups"
                                (selected)="changeSelection($event,itemGroups,'groupName','group',i,'groupXid')"
                                [searchKeyword]="keywordGroup" placeHolder="Enter Group Name"
                                formControlName="groupNameAuto" [itemTemplate]="groupTemplate"
                                (inputCleared)="clear(['groupXid','group','groupNameAuto'],i,'groupNameAuto')"
                                [notFoundTemplate]="notFoundTemplate">
                              </ng-autocomplete>
                              <ng-template #groupTemplate let-item>
                                <a [innerHTML]="item.groupName"></a>
                              </ng-template>
                              <<span class="hand text-info pull-right"
                          (click)="clear(['groupXid','group','groupNameAuto'],i,'groupNameAuto');show('itemGroup'+i)">Add
                        New</span>>
                              <label *ngIf="submitted && form.details.controls[i].controls.group.errors" class="error">
                                Group Is Required.
                              </label>
                            </div>
                            <div [class]="'form-group d-none itemGroup'+i">
                              <input type="text" formControlName="group"
                                class="form-control border-top-0 border-left-0 border-right-0 custom-width" autocomplete="no-fill"  />
                              <i class="fa fa-close" aria-hidden="true"
                                (click)="clear(['groupXid','group','groupNameAuto'],i,'groupNameAuto');close('itemGroup'+i)"></i>

                              <label *ngIf="submitted && form.details.controls[i].controls.group.errors" class="error">
                                Group Is Required.
                              </label>
                            </div>
                          </div>
                          <div class="col-md-2 custom-h1 border border-right-0  pt-2">
                            <div class="form-group">
                              <input type="text" formControlName="description"
                                class="form-control form-control-sm border custom-width" autocomplete="no-fill" 
                                [ngClass]="{ 'is-invalid': submitted && form.details.controls[i].controls.description.errors }" />
                              <label *ngIf="submitted && form.details.controls[i].controls.description.errors"
                                class="error">
                                Required
                              </label>
                            </div>
                          </div>
                          <div class="col-md-2 custom-h border border-right-0  pt-2">
                            <div [class]="'form-group itemType'+i+'_id'" class="new_group_1">
                              <ng-select [items]="itemTypes"
                                  class="custom"
                                  bindLabel="name" autocomplete="no-fill" 
                                  bindValue="id" [clearable]="false" [searchable]="false"
                                  placeholder="Choose Type"
                                  formControlName="typeXid"
                                  (change)="changeSelection($event,itemTypes,'name','type',i)"
                                  >
                              </ng-select>
                              <ng-select class="custom" formControlName="typeXidXX"
                                placeholder="Choose type" fullWidth [clearable]="false" [searchable]="false"
                                (ngModelChange)="changeSelection($event,itemTypes,'name','type',i)">
                                <ng-option class="new_7" *ngFor="let item_row of itemTypes" [value]="item_row.id">
                                  {{item_row.name}}
                                </ng-option>
                              </ng-select>
                              <label *ngIf="submitted && form.details.controls[i].controls.type.errors" class="error">
                                Type Is Required.
                              </label>
                            </div>
                            <div [class]="'form-group d-none itemType'+i">
                              <input type="text" formControlName="type" class="form-control border custom-width" />
                              <i class="fa fa-times-circle" aria-hidden="true"
                                (click)="clear(['typeXid','type'],i);close('itemType'+i)"></i>
                              <label *ngIf="submitted && form.details.controls[i].controls.type.errors" class="error">
                                Type Is Required.
                              </label>
                            </div>
                          </div>
                          <div class=" custom-h border border-right-0 pl-2 pr-2 pb-2  pt-2" style="width:9.75%">
                            <div [class]="'form-group uom'+i+'_id'" class="new_width1">
                              <<nb-select formControlName="uomXid" placeholder="Choose uom" fullWidth
                             (ngModelChange)="changeSelection($event,uoms,'uomName','uom',i)">
                    <nb-option *ngFor="let item_row of uoms" [value]="item_row.id">{{item_row.uomName}}</nb-option>
                    <nb-option class="text-info" (click)="clear(['uomXid','uom'],i);show('uom'+i)">Add New
                    </nb-option>
                  </nb-select>
            >

                              <ng-autocomplete class="new_6" [data]="uoms"
                                (selected)="changeSelection($event,uoms,'uomName','uom',i,'uomXid')"
                                [searchKeyword]="keywordUom" placeHolder="Enter UOM" formControlName="uomNameAuto"
                                [itemTemplate]="uomTemplate"
                                (inputCleared)="clear(['uomXid','uom','uomNameAuto'],i,'uomNameAuto')"
                                [notFoundTemplate]="notFoundTemplate">
                              </ng-autocomplete>
                              <ng-template #uomTemplate let-item>
                                <a [innerHTML]="item.uomName"></a>
                              </ng-template>
                              <<span class="hand text-info pull-right"
                          (click)="clear(['uomXid','uom','uomNameAuto'],i,'uomNameAuto');show('uom'+i)">Add New</span>>
                              <label *ngIf="submitted && form.details.controls[i].controls.uom.errors" class="error">
                                Uom Is Required.
                              </label>
                            </div>
                            <div [class]="'form-group d-none uom'+i">
                              <input type="text" formControlName="uom" autocomplete="no-fill" 
                                class="form-control border-top-0 border-left-0 border-right-0 custom-width" />
                              <i class="fa fa-close" aria-hidden="true"
                                (click)="clear(['uomXid','uom','uomNameAuto'],i,'uomNameAuto');close('uom'+i)"></i>
                              <label *ngIf="submitted && form.details.controls[i].controls.uom.errors" class="error">
                                Uom Is Required.
                              </label>
                            </div>
                          </div>
                          <div class="col custom-h border border-right-0  pt-2">
                            <div class="form-group">
                              <input type="text" formControlName="qtQty" class="form-control form-control-sm border custom-width" autocomplete="no-fill" 
                                placeholder="Eg:2.00" (blur)="makeDecimalPoint('qtQty',i,'details',2);"
                                [ngClass]="{ 'is-invalid': submitted && form.details.controls[i].controls.qtQty.errors }" />
                              <label
                                *ngIf="submitted && form.details.controls[i].controls.qtQty.errors && form.details.controls[i].controls.qtQty.errors.required"
                                class="error">
                                Required
                              </label>
                              <label
                                *ngIf="submitted && form.details.controls[i].controls.qtQty.errors && form.details.controls[i].controls.qtQty.errors.pattern"
                                class="error">
                                Invalid Quantity (Eg:2.00)
                              </label>
                            </div>
                          </div>

                        </div>
                      </div>
                    </div>
                  </div>
                </div-->

              </ng-template>
            </ngb-panel>
            <ngb-panel id="toggle-4">
              <ng-template ngbPanelTitle>
                <div class="row">
                <div class="col text-primary">
                  Documents
                </div>
                <div class="col text-primary">
                </div>
                <div class="col text-right"><i class="fa fa-angle-down"></i></div>
              </div>
              </ng-template>
              <ng-template ngbPanelContent>
                <div class="container-fluid h-minus pt-2 pb-2">
                  <input style="display: none;" type="file" (change)="upload($event.target.files)" id="fileUpload"
                    class="hidden" multiple />
                  <div class="col-12 file-upload text-info" (click)="triggerFileUpload()">
                    <i class="fa fa-upload"></i> &nbsp;Upload
                  </div><label class="text-lowercase">&nbsp;&nbsp;&nbsp;(.png, .jpg, .xlsx, .txt, .pdf Max Size=4Mb)</label>
                  <div class="col-12" *ngIf="fileToUpload && fileToUpload.length > 0">
                    <div class="row mrgn-t-10">
                      <div class="col-2 text-center mrgn-t-10 ovr-hid" *ngFor="let item of fileToUpload; let i = index">
                        <img ngbTooltip="{{item.fileName}}" [src]="imageSrc[i]" width = "200" height=" 150"
                          class=""
                          onerror="this.src='../../../../assets/images/unnamed.png';">
                        <div ngbTooltip="{{item.fileName}}" class="item_image_name">{{item.name}}</div>
                        <div>
                          <label (click)="deleteDoc(i)"><i class="fa fa-trash" aria-hidden="true"></i></label>
                        </div>
                      </div>
                    </div>
                  </div>
                  <hr *ngIf="enquiryDetails && enquiryDetails.EDO.length > 0">
                  <div class="col-12" *ngIf="enquiryDetails && enquiryDetails.EDO.length > 0">
                    <div class="row mrgn-t-10">
                      <div class="col-2 text-center mrgn-t-10 ovr-hid"
                        *ngFor="let item of enquiryDetails.EDO; let i = index">
                        <img [src]="UPLOAD_PATH+'/'+item.filePath" class="" width = "200" height=" 150"
                          onerror="this.src='../../../../assets/images/unnamed.png';">
                        <div class="item_image_name">{{item.fileName}} </div>
                        <div>
                          <i class="fa fa-trash pr-1" aria-hidden="true" (click)="deleteDocFromServer(item,i)"></i>
                          <a target="_blank" [href]="UPLOAD_PATH+'/'+item.filePath">
                            <i class="fa fa-arrow-down" aria-hidden="true"></i>
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </ng-template>
            </ngb-panel>
          </ngb-accordion>
          <hr class="mb-2 mt-2">
          <div class="row p-0 m-0">
            <div class="col-md-12 text-right pb-2">
              <div class="btn-group">
                <a class="btn btn-sm btn-primary vendor_save"  [routerLink]="['/enquiry/list']">
                  <i class="fa fa-close" aria-hidden="true"></i>&nbsp;Cancel
                </a>

              </div>
              &nbsp;
              <div class="btn-group">
                <button [disabled]="loading" class="btn btn-sm btn-success vendor_save" *ngIf="(enquiryDetails && enquiryDetails.enqStatus <3)"><ngx-spinner [fullScreen]="false"  bdColor="transparent">
                                                  </ngx-spinner> 
                  <i class="fa fa-save" aria-hidden="true"></i>&nbsp;Save
                </button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>


