
// .custom-width:focus {
   
//     width: 166px;
 
//     z-index: 999;
//     position: relative;
// } 
.custom-width:focus{
    width:100px;
    border: 1px solid #ced4da;
//     outline:0px !important;
//      -webkit-appearance:none;
//    box-shadow: none !important;
    
}
.custom-width{
  border: 0px;
  background: #fafafa ;
}


table thead tr th{
  border-bottom: 1px solid #000000;
}
//   .panel.panel-big-height {
//   min-height: 150px;
// }

// .item {
//   border-radius: 4px;
//   padding: 0.5rem;

// }
// td{
//     width: 15px !important;
// }
// .table{
//     width: 100%;
// max-width: 100%;

// }

.table-heading{
    font-size: 12px;
}
.enq-table th{
  font-size: 11px;
}
.enq-table th,.enq-table td{
  max-width: 150px;
}
// MAX HEIGHT
// .custom-h{
//   max-height: 53px !important;
// }
// .h-minus{
//   margin-top: -9px;
// }
.bg-relative-two{
  background: rgb(236,236,236);
  background: linear-gradient(0deg, rgba(236,236,236,1) 0%, rgba(246,246,246,1) 100%);
}

.autocomplete-container {
  /* box-shadow: 0 1px 3px 0 rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 2px 1px -1px rgba(0,0,0,.12); */
  position: relative;
  box-shadow: none !important;
  overflow: visible;
  border-bottom: 1px solid #fff !important;
  height: 40px;
}
.h-minus{
  background: #00000008;
 
}





.custom-table{
  font-weight: 400 !important;
  border-top: 0;
  font-size: 11px !important;
  padding: 14px 0px 0px 18px !important;
  height: 45px;

}

.bg-rate{
 background: #ffc1070f;
}

.rate-table-border td{
border-right: 1px solid #d6d3d3 !important;
border-left: 1px solid #d6d3d3 !important;
border-bottom: 1px solid #d6d3d3 !important;
}

::ng-deep .card .card-header[role=tab] {

   background: #f1f1f1 ;
   box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.16);
   
    padding: 0px !important;
    max-height: 40px !important;
    width: 98%;
margin : auto auto;   
  margin-top: 5px !important;
  margin-bottom: 1px !important;
  border-bottom: 1px solid #0000 !important;
}
::ng-deep .card .card-header[role=tab] .active {
 
    padding: 2px !important;
}
::ng-deep .card{
  border: 0px !important;
}


// * {
//   border: 1px solid #f00 !important;
// }
::ng-deep .card .card-header[role=tab] {

  background: #f1f1f1;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.16);
  padding: 0px !important;
  max-height: 40px !important;
  color: blue !important;
  width: 100%;
  margin: auto auto;
  margin-top: 5px !important;
  margin-bottom: 1px !important;
  border-bottom: 1px solid #0000 !important;
}
::ng-deep .card .card-header[role=tab] .active {
 
    padding: 2px !important;
}
::ng-deep .card{
  border: 0px !important;
}

.wrapword {
    white-space: -moz-pre-wrap !important;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    white-space: pre-wrap;       /* css-3 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
    white-space: -webkit-pre-wrap; /* Newer versions of Chrome/Safari*/
    word-break: break-all;
    white-space: normal;
}

.form-control:disabled {
background-color: #cbcbd9 !important;
 border: 0.2px solid #cbcbd9 !important;
    outline:0px !important;
  -webkit-appearance:none;
   box-shadow: none !important;
   background: #cbcbd9 !important;
   min-width: 150px !important;
}




.form-control {
    border: 1px solid #dee2e6 !important 
}


