<ngx-spinner bdColor="rgba(0, 0, 0, 0.4)"></ngx-spinner>
<div class="mt-1 mb-5 ">
  <div class="row ">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 p-0">
      <div class="card p-0 purchase-order-content">
        <div class="card-header bg-light custom-width-table-head col-md-12 mx-auto">
          <div class="row">
            <div class="col-md-12">
              <div class="row  customer-heading-wrapper">
                <div class="col-10 p-0 ">
                  <div class="input-group new_search" id="adv-search" (clickOutside)="onClickedOutside($event)">
                    <input type="text" class="form-control rounded-4 form-control-sm" placeholder="Search "
                      [(ngModel)]="search" (ngModelChange)="this.userQuestionUpdate.next($event)">
                    <div class="input-group-append">
                      <div class="input-group-append">
                        <button class="btn btn-danger rounded-0 " type="button" *ngIf="(search || isAdvanceSearch)"
                          (click)="search='';searchBox=false;isAdvanceSearch=false;quotationSearchForm.reset();clearSearch();">
                          <i class="fa fa-trash"></i>
                        </button>
                      </div>
                      <button class="btn btn-secondary rounded-right hand searc-opt search_new user_search"
                        type="button" pack="eva" (click)="searchToggle = !searchToggle;clearMainSearch('')">
                        <i class="fa fa-caret-down"></i>
                      </button>
                    </div>
                    <div class="advance-search" [ngClass]="{'advance-search': true, 
                              'toggleHide': !searchToggle}" *ngIf="firstLoad">
                      <div class="col-md-12">
                        <form [formGroup]="quotationSearchForm" (ngSubmit)="onSubmit()">

                          <div class="container-fluid  dropdown-content  mt-2" >
                            <div class="card card-holder shadow-light p-0">
                            
                              <div class="col-md-12 pl-4">

                                <div class="row mt-3">
                                  <div class="col-lg-2 col-md-12 ">
                                    <label>From & to</label>
                                  </div>
                                  <div class="col-lg-5 col-md-12 ">
                                    <div class="form-group">
                                      <div class="input-group">
                                        <input class="form-control  border-0 border-right-0 form-control-sm" [readonly]="true"
                                          formControlName="fromDate" placeholder="yyyy-mm-dd" name="dp" ngbDatepicker
                                          #d="ngbDatepicker" (click)="d.toggle()">
                                        <div class="input-group-append">
                                          <button class="btn btn-sm btn-outline-secondary calendar border-top-0 border-left-0 border-bottom-0 border-right-0 rounded-0" (click)="d.toggle()"
                                            type="button"><i class="fa fa-calendar fa-lg"></i></button>
                                        </div>
                                      </div>
                                    </div>
                                  </div>

                                 
                                  <div class="col-lg-5 col-md-12 ">

                                    <div class="input-group">
                                      <input class="form-control border-0 border-right-0 form-control-sm"
                                        formControlName="toDate" placeholder="yyyy-mm-dd" name="dp2" ngbDatepicker [readonly]="true"
                                        #d2="ngbDatepicker" (click)="d2.toggle()">
                                      <div class="input-group-append">
                                        <button class="btn btn-sm btn-outline-secondary calendar border-top-0 border-left-0 border-bottom-0 border-right-0 rounded-0" (click)="d2.toggle()"
                                          type="button"><i class="fa fa-calendar fa-lg"></i></button>
                                      </div>
                                    </div>
                                  </div>

                                </div>

                                <div class="row">
                                  <div class="col-lg-2 col-md-12">
                                    <label>Source</label>
                                  </div>
                                  <div class="col-lg-4 col-md-12">
                                    <div class="form-group">
                                      <ng-select class="custom"  [clearable]="false" [searchable]="false"   placeholder="Select a source type" fullWidth formControlName="source"
                                        (ngModelChange)="preventChange($event)"
                                        [ngClass]="{ 'status-danger': submitted && f.source.errors }">
                                        <ng-option *ngFor="let stype of sourceType" [value]="stype.id">{{stype.name}}
                                        </ng-option>
                                      </ng-select>
                                    </div>
                                  </div>
                                  <div class="col-lg-2 col-md-12">
                                    <label>Enq No</label>
                                  </div>
                                  <div class="col-lg-4 col-md-12">
                                    <div class="form-group">
                                      <input fullWidth class="form-control border-top-0 border-left-0 border-right-0"
                                        type="text" formControlName="enqno" placeholder=""
                                        [ngClass]="{ 'status-danger': submitted && f.enqno.errors }" />
                                    </div>
                                  </div>
                                </div>

                                <div class="row">
                                  <div class="col-lg-2 col-md-12">
                                    <label>Customer</label>
                                  </div>
                                  <div class="col-lg-10 col-md-12">
                                    <div class="form-group">
                                      <ng-autocomplete [data]="customers"
                                        (selected)="changeSelection($event,'customer')"
                                        [searchKeyword]="keywordCustomer" placeHolder=""
                                        [itemTemplate]="customerTemplate" [notFoundTemplate]="notFoundTemplate" formControlName="customerName"
                                        (inputCleared)="clear('customer')" [(ngModel)]="customerName" [initialValue]="customerName">
                                      </ng-autocomplete>

                                      <ng-template #customerTemplate let-item>
                                        <a [innerHTML]="item.vendorName"></a>
                                      </ng-template>
                                      <ng-template #notFoundTemplate let-notFound>
                                        <div [innerHTML]="notFound"></div>
                                      </ng-template>
                                    </div>
                                  </div>
                                </div>

                                <div class="row">
                                  <div class="col-lg-2 col-md-12">
                                    <label>Vendor</label>
                                  </div>
                                  <div class="col-lg-10 col-md-12">
                                    <div class="form-group">
                                      <ng-autocomplete [data]="vendors" (selected)="changeSelection($event,'vendor')"
                                        [searchKeyword]="keywordVendor" placeHolder="" [itemTemplate]="vendorTemplate" formControlName="vendorName"
                                        [initialValue]="vendorName" [notFoundTemplate]="notFoundTemplate"
                                        (inputCleared)="clear('vendor')" [(ngModel)]="vendorName">
                                      </ng-autocomplete>

                                      <ng-template #vendorTemplate let-item>
                                        <a [innerHTML]="item.vendorName"></a>
                                      </ng-template>


                                      <ng-template #notFoundTemplate let-notFound>
                                        <div [innerHTML]="notFound"></div>
                                      </ng-template>
                                    </div>
                                  </div>
                                </div>
                                <!--
                                <div class="row">
                                  <div class="col-lg-2 col-md-12">
                                    <label>Enq No</label>
                                  </div>
                                  <div class="col-lg-10 col-md-12">
                                    <div class="form-group">
                                      <input class="form-control border-top-0 border-left-0 border-right-0" type="text"
                                        formControlName="enqno" placeholder=""
                                        [ngClass]="{ 'status-danger': submitted && f.enqno.errors }" />
                                    </div>
                                  </div>
                                </div> -->
                                <div class="row">

                                  <div class="col-lg-12 col-md-12 text-right mb-2">
                                    <button type="submit" class="btn btn-sm btn-primary mr-1 search_user_btn"
                                      [disabled]="searchLoader" (click)="isAdvanceSearch=true">
                                      <i class="fa fa-search"></i>&nbsp; Search</button>
                                    <button type="button" class="mr-1 btn btn-sm btn-defaultcancel_btn_1 btn-danger"
                                      (click)="searchToggle = !searchToggle"><i class="fa fa-close"></i>&nbsp;
                                      Close</button>
                                    <button type="button" class="btn btn-sm btn-default  reset_user"
                                      (click)="isAdvanceSearch=false;clearSearch('reset');quotationSearchForm.reset()">
                                      <i class="fa fa-refresh"></i>&nbsp; Reset </button>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>                
                <div class="col-md-2 p-0">
                  <div class="btn-toolbar float-right  ">
                    <button title="Add New quotation" [routerLink]="['/quotation/add']" *ngIf="permissions.quotation_add" class="btn btn-default border border-right-0  btn-color btn-bg-color theme-btn-icon  btn-sm " style="border-bottom-left-radius: 3px;border-top-left-radius: 3px;border-top-right-radius:0px;border-bottom-right-radius:0px;">
                      <i class="fa fa-plus text-danger"></i>
                    </button>
                      <button title="Export to excel" (click)="exportQuotation()" type="button"  class="btn border btn-default  btn-color btn-bg-color theme-btn-icon btn-sm" style="border-bottom-right-radius: 3px;border-top-right-radius: 3px;border-top-left-radius:0px;border-bottom-left-radius:0px;">
                        <i
                          class="fa fa-file-excel-o text-success"></i>
                        </button>
                  </div>
                </div>
              </div>
            </div>
           
          </div>
        </div>
        <div class="card-body p-0">
          <div class="table-responsive col-md-12 p-0">
            <table class="table mx-auto">
              <thead class="bg-light p-0 m-0">
                <tr class="border-0">
                  <th class="border-0" width="5%">#</th>
                  <th class="border-0">Quotation No</th>
                  <th class="border-0">Source </th>
                   <th class="border-0">Name</th>
                  <th class="border-0" width="10%">Quotation Date</th>
                  <th class="border-0">Enq No</th>
                 
                  <!--th class="border-0">Customer Name </th-->
                  <th class="border-0">Status</th>
                  <th class="border-0">Action</th>
                </tr>
              </thead>
              <!--tbody *ngIf="loader">
                <tr>
                  <td colspan="8" class="text-center">
                    <span class="loading-tr" *ngIf="loader">Processing...</span>
                    <span *ngIf="!loader">No data found!</span>
                  </td>
                </tr>
              </tbody-->
              <tbody *ngIf="quotationList && quotationList.length>0">
                <tr *ngFor="let quotation of quotationList ; let i = index">
                  <td> {{ (pageOffset+1)+ i}}</td>
                  <td class="text-info hand colour_bl  po-new-width1 " [routerLink]="['/quotation/edit/',quotation.id]"
                    *ngIf="permissions.quotation_edit"><span placement="top" ngbTooltip="{{quotation.quotationNumber}}"  *ngIf="quotation.quotationNumber != null">{{quotation.quotationNumber}}</span>
                  </td>
                  <td class="num_po1">
                    {{ QUOTATION_SORCE[quotation.quotationCategory] }}
                  </td>
                  <td class="num_po1 po-ellipsis1" >
                    <span *ngIf="quotation.quotationCategory ==1"><span placement="top" ngbTooltip="{{quotation.vendorName}}"  *ngIf="quotation.quotationCategory ==1">{{quotation.vendorName}}</span></span><span *ngIf="quotation.quotationCategory ==2"><span placement="top" ngbTooltip="{{quotation.customerName}}"  *ngIf="quotation.quotationCategory ==2">{{quotation.customerName}}</span></span></td>
                  <td class="text-info hand colour_bl  po-new-width1" *ngIf="!permissions.quotation_edit"><label placement="top" ngbTooltip="{{quotation.quotationNumber}}"  *ngIf="quotation.quotationNumber != null">{{quotation.quotationNumber}}</label></td>
                  <td class="num_po1"><label placement="top" ngbTooltip="{{convertDate(quotation.quotationDate)}}"  *ngIf="quotation.quotationDate != null"> {{ convertDate(quotation.quotationDate) }} </label></td>
                  <td class="num_po1"> 
                    <label>
                    <span placement="top" ngbTooltip="{{quotation.enqNumber}}"  class="text-info hand"[routerLink]="['/enquiry/edit/',quotation.enqXid]" *ngIf="permissions.enquiry_edit"> {{ quotation.enqNumber}}</span>
                    <span placement="top" ngbTooltip="{{quotation.enqNumber}}"  *ngIf="! permissions.enquiry_edit"> {{ quotation.enqNumber}}</span>
                    </label>
                  </td>                 

                  <!--td class="num_po1 po-ellipsis1"><label placement="top" ngbTooltip="{{quotation.customerName}}"  *ngIf="quotation.customerName != null">{{quotation.customerName}}</label></td-->                 
                  <td class="num_po1 po-ellipsis1 "><span placement="top" ngbTooltip="{{QUOTATION_STATUS[quotation.quotationStatus]}}"  *ngIf="quotation.quotationStatus <=2">{{QUOTATION_STATUS[quotation.quotationStatus] }}</span>
                    <span placement="top" ngbTooltip="{{QUOTATION_STATUS[quotation.quotationStatus]}}"  *ngIf="quotation.quotationStatus >2">Qtn sent to Cust</span></td>
                  <td class=" num_po1   action-col-width" *ngIf="permissions.quotation_edit"> <span *ngIf="quotation.quotationStatus  < 2"><a [routerLink]="['/quotation/edit/',quotation.id]" title="Edit Quotation"
                      ><i class="fa fa-edit " style="font-size:20px;"></i>
                    </a></span>
                    <span *ngIf="quotation.quotationStatus  == 2"><a [routerLink]="['/quotation/edit/',quotation.id]" title="View Quotation"
                      ><i class="fa fa-eye " style="font-size:20px;"></i>
                    </a></span>
                  </td>
                </tr>
                <tr *ngIf="(totalItems > itemsPerPage)">
                  <td colspan="9" class="text-secondary">
                    <ngb-pagination [collectionSize]="totalItems" class="d-flex justify-content-end"
                      [pageSize]="itemsPerPage" (pageChange)="pageChanged($event)" [(page)]="currentPage" [maxSize]="5" [rotate]="true"
                      [boundaryLinks]="true"></ngb-pagination>
                  </td>
                </tr>
              </tbody>
              <tbody *ngIf="!quotationList || !quotationList.length">
                <tr>
                  <td class="text-center" colspan="12">
                    <span *ngIf="!loader">No data found!</span>
                  </td>
                </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>