::ng-deep .card .card-header{
  background: #f1f1f1 ;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.16);
    padding: 0px !important;
    max-height: 40px !important;
    width: 98%;
margin : auto auto;   
  margin-top: 5px !important;
  margin-bottom: 1px !important;
  border-bottom: 1px solid #0000 !important;
}

.bg-relative-two{
    background: rgb(236,236,236);
    background: linear-gradient(0deg, rgba(236,236,236,1) 0%, rgba(246,246,246,1) 100%);
  }
  .invoice-thead-detail{
    overflow: hidden;
    text-overflow: ellipsis !important;
    white-space: nowrap;
}
.invoice-content .table td{
  padding-right:18px !important;
}