<div class=" mt-1 mb-5 ">
   <div class="row ">
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
         <div class="card mrgn-t-10">
            <div class="row m-0 p-0" *ngIf="invoiceDetails">
               <div class="col-12 mt-1 text-right">
                  <button *ngIf="(paymentAllow)" [disabled]="loading" class="btn btn-light border" type="button"
                     [routerLink]="['/payment/generate/',invoice_id]">
                     <i class="fa fa-credit-card"></i> Payment</button>&nbsp;
                     <!--
                  <button *ngIf="(invoiceDetails.invStatus == 1 && invoiceDetails.invoicePdf== null ) "
                     class="btn btn-primary border" type="button" (click)="preViewGeneratepdf()">
                     Preview</button>&nbsp;
                  *!--button *ngIf="(invoiceForm.value.invoicePdf!=null || invoiceDetails.invoicePdf!=null )"
                     [disabled]="loading" class="btn btn-light border" type="button" (click)="viewpdf()" ---*
                     <button *ngIf="(invoiceForm.value.invoicePdf!=null || invoiceDetails.invoicePdf!=null )"
                        [disabled]="loading" class="btn btn-light border" type="button" (click)="preViewGeneratepdf()">
                        <i class="fa fa-download"></i> Preview</button> -->
                        <button [disabled]="loading" class="btn btn-light border" type="button" 
                        (click)="preViewGeneratepdf()"><i class="fa fa-download"></i> Preview</button>
                        &nbsp;
                     <button *ngIf="(allowInvoiceSend)" [disabled]="loading" class="btn btn-light border" type="button"
                        (click)="onSubmit(2)">
                        <i class="fa fa-share"></i>Send Invoice </button>
               </div>
            </div>
            <div nb-card-header class="add-new-header-bg pl-4 pt-1 pb-1 bg-relative text-white pt-1 pb-1 bg-info"><i
                  class="fa fa-file"></i>&nbsp;Invoice Generate</div>
            <form [formGroup]="invoiceForm" (ngSubmit)="onSubmit(1)" encType="multipart/form-data">
               <ngb-accordion #acc="ngbAccordion" activeIds="toggle-1">
                  <!-- Acc start -->
                  <ngb-panel id="toggle-1">
                     <ng-template ngbPanelTitle>

                        <div class="row text-left">
                           <div class="col">
                              Order Details
                           </div>
                           <div class="col" *ngIf="invoicePOTotalCost">
                              PO Total : {{invoicePOTotalCost}}
                              <span *ngIf="invoicePOTotalAmountUsd">(${{invoicePOTotalAmountUsd}})</span>
                           </div>
                           <div class="col" *ngIf="itemTCDTotal">
                              TCD : {{showFloatVal(itemTCDTotal,2)}}
                           </div>
                           <div class="col ">
                              Invoice Item Total :<span class="total-amount">{{ showFloatVal(itemTotal,2) }} </span>
                           </div>
                           <div class="col">
                              <span *ngIf="invoiceDetails"
                                 class="head_payment1 in_status_class inv_stat_{{invoiceDetails.invStatus}}">{{INV_STATUS[invoiceDetails.invStatus] }}
                              </span>
                           </div>
                           <div class="col text-right"><i class="fa fa-angle-down"></i></div>
                        </div>

                     </ng-template>
                     <ng-template ngbPanelContent>
               <div class="row mrgn-t-10 new1" *ngFor="let item of invoicePODetails">
                  <div class="col-sm-8">
                    <div class="row">
                      <div class="col-sm-6">
                        <label class="col-sm-5">ENQ Number</label>
                       <span class="text-info hand colour_bl"
                                 [routerLink]="['/enquiry/edit/',item.enqXid]"
                                 *ngIf="permissions.enquiry_edit"> <label class="col-sm-7">: {{item.enqNumber}}</label></span>
                      </div>
                      <!--div class="col-sm-4">
                        <label class="col-sm-6">Customer Name</label>
                        <label class="col-sm-6">: {{invoiceDetails.customerName}} </label>
                      </div-->
                       <div class="col-sm-6">
                        <label class="col-sm-7">Quotation Number</label>
                        <span class="text-info hand colour_bl"
                                 [routerLink]="['/quotation/edit/',item.quotationXid]"
                                 *ngIf="permissions.quotation_edit"><label class="col-sm-5">: {{item.quotationNumber}} </label></span>
                      </div>
                    </div>
                 </div>
              </div>
                        <div class="row mrgn-t-10 new1">
                           <div class="col-sm-2">
                              <label class="new_head1">Invoice send date</label>
                              <div class="input-group">
                                 <input class="form-control form-control-sm" formControlName="invSentDate"
                                    placeholder="yyyy-mm-dd" name="dp" ngbDatepicker
                                    #d="ngbDatepicker" (click)="d.toggle()">
 <!-- [(ngModel)]="model"  -->
                                 <div class="input-group-append">
                                    <button class="btn btn-sm btn-outline-secondary calendar" (click)="d.toggle()"
                                       type="button"><i class="fa fa-calendar"></i></button>
                                 </div>
                              </div>
                           </div>
                           <div class="col-sm-6">
                              <div class="form-group">
                                 <label class="new_head1">Remarks</label>
                                 <input nbInput class="form-control form-control-sm new_remark" type="text"
                                    formControlName="remarks"
                                    [ngClass]="{ 'status-danger': submitted && form.remarks.errors }" />
                                 <label *ngIf="submitted && form.remarks.errors?.required" class="error">
                                    Remarks is required.
                                 </label>
                              </div>
                           </div>
                             <div class="col-sm-4 ">
                              <div class="alert {{ getLabelColor(invoiceDifference) }} new_alert_1  mt-1 mb-1 pt-1 pb-1" role="alert">
                                <label>Difference between PO amount and Invoice amount </label> 
                                <label class="col-sm-12 text-center"><b> {{ invoiceDifference }}</b></label> 
                              </div>
                           </div> 
                        </div>
                        <div class="container-fluid">
                           <div class="row">
                              <div class="col-sm-12">
                                 <hr class="line1">
                                 <b class="item1">Invoice Item Details </b>
                                 <span class="pull-right show_1">
                                    <input type="checkbox" status="basic" (change)="selectAll($event)"
                                       [checked]='true' />&nbsp;Show All

                                 </span>
                              </div>
                           </div>
                        </div>
                        <div class="row" *ngIf="invoiceDetails && invoiceDetails.IMH">
                           <div class="col-sm-12 invoice-content">
                              <table class="table table-borderless " formArrayName="IMH">
                                 <thead class="invoice-thead bg-light">
                                    <tr>
                                       <th scope="col" class="slno col_1">#</th>
                                       <th scope="col" class="col_2">PO Number</th>
                                       <th scope="col" class="col_2">PO Date</th>
                                       <th scope="col" class="col_2">Port </th>
                                       <th scope="col" class="col_2a">Vessel</th>
                                       <th scope="col" class="col_2a">Vendor</th>
                                       <th scope="col" class="col_2">Customer</th>
                                       <th scope="col" class="col_2">TCD</th>
                                       <th scope="col" class="col_2">Adv. Amount USD</th>
                                       <th scope="col" class="col_2">PO Cost</th>
                                    </tr>
                                 </thead>
                                 <tbody>
                                    <ng-container *ngFor="let invItem of invoiceForm.get('IMH')['controls'];
                     let ind = index" [formGroupName]="ind">
                                       <tr class="po_table_1">
                                          <td class="po_no"> {{(ind+1)}}.</td>
                                          <td colspan="">
                                             <b>
                                                <span class="text-info" (click)="showPODetails(ind,null)">
                                                   {{ invoiceDetails.IMH[ind].poNumber }}
                                                   <br>
                                                </span>
                                             </b>
                                          </td>
                                          <td>{{ convertDate(invoiceDetails.IMH[ind].poDate) }}</td>
                                          <td>{{invoiceDetails.IMH[ind].port}}</td>
                                          <td>{{invoiceDetails.IMH[ind].vesselName}}</td>
                                          <td>{{invoiceDetails.IMH[ind].vendorName}}</td>
                                          <td>{{invoiceDetails.IMH[ind].customerName}}</td>
                                          <td>{{invoiceDetails.IMH[ind].tcd}}</td>
                                          <td class="adv_amt"> {{invoiceDetails.IMH[ind].advanceAmountUsd}}</td>
                                          <td>{{invoiceDetails.IMH[ind].poCost}}</td>
                                       </tr>
                                       <tr class="table_po1"
                                          *ngIf="invoiceDetails.IMH[ind].show && invoiceDetails.IMH[ind].ID && invoiceDetails.IMH[ind].ID.length > 0">
                                          <td colspan="10" class="new3 new_po2">
                                             <table
                                                class="table new_right_b table_new_1 table-bordered table-invoice table-header-details"
                                                formArrayName="ID">
                                                <thead class="invoice-thead-detail bg-relative-two ">
                                                   <tr class="new4">
                                                      <th class="num_1">Sl.No</th>
                                                      <th>Group</th>
                                                      <th class="des">Description</th>
                                                      <th>Type</th>
                                                      <th>UOM</th>
                                                      <th>Quantity</th>
                                                      <th>Price</th>
                                                      <th>Dis (%)</th>
                                                      <th>Cost</th>
                                                      <th>Inv Qty</th>
                                                      <th>Inv Price</th>
                                                      <th>Inv Dis(%)</th>
                                                      <th>Inv Cost</th>
                                                   </tr>
                                                </thead>
                                                <tbody class="new2 h-minus">
                                                   <tr *ngFor="let itemInvoiceItem of invItem.get('ID')['controls']; let i = index"
                                                      [formGroupName]="i">
                                                      <td scope="col" class="new5">
                                                         {{  (i+1) }}
                                                      </td>
                                                      <td scope="col">
                                                         {{  itemInvoiceItem.get('group').value }}
                                                      </td>
                                                      <td scope="col">
                                                         {{  itemInvoiceItem.get('description').value }}
                                                      </td>
                                                      <td scope="col">
                                                         {{  itemInvoiceItem.get('type').value }}
                                                      </td>
                                                      <td scope="col">
                                                         {{  itemInvoiceItem.get('uom').value }}
                                                      </td>
                                                      <td scope="col">
                                                         {{  itemInvoiceItem.get('poQty').value }}
                                                      </td>
                                                      <td scope="col">
                                                         {{  itemInvoiceItem.get('poPrice').value }}
                                                      </td>
                                                      <td scope="col">
                                                         {{  itemInvoiceItem.get('poDiscount').value }}
                                                      </td>
                                                      <td scope="col">
                                                         {{  itemInvoiceItem.get('poCost').value }}
                                                      </td>
                                                      <td scope="col">
                                                         <div class="form-group">
                                                            <input type="text" formControlName="invQty"
                                                               class="form-control form-control-sm" nbInput
                                                               placeholder="Eg:2.00" (keyup)="calculateCost(ind,i)"
                                                               [ngClass]="{ 'is-invalid': submitted && itemInvoiceItem.controls.invQty.errors }" />
                                                            <label
                                                               *ngIf="submitted && itemInvoiceItem.controls.invQty.errors && itemInvoiceItem.controls.invQty.errors.required"
                                                               class="error">
                                                               Should not be blank
                                                            </label>
                                                            <label
                                                               *ngIf="submitted && itemInvoiceItem.controls.invQty.errors && itemInvoiceItem.controls.invQty.errors.pattern"
                                                               class="error">
                                                               Invalid quantity (Eg:2.00)
                                                            </label>
                                                         </div>
                                                      </td>
                                                      <td scope="col">
                                                         <div class="form-group">
                                                            <input type="text" formControlName="invPrice"
                                                               class="form-control form-control-sm" nbInput
                                                               placeholder="Eg:25.010" (keyup)="calculateCost(ind,i)"
                                                               [ngClass]="{ 'is-invalid': submitted && itemInvoiceItem.controls.invPrice.errors }" />
                                                            <label
                                                               *ngIf="submitted && itemInvoiceItem.controls.invPrice.errors && itemInvoiceItem.controls.invPrice.errors.required"
                                                               class="error">
                                                               Should not be blank
                                                            </label>
                                                            <label
                                                               *ngIf="submitted && itemInvoiceItem.controls.invPrice.errors && itemInvoiceItem.controls.invPrice.errors.pattern"
                                                               class="error">
                                                               Invalid amount (Eg:25.010)
                                                            </label>
                                                         </div>
                                                      </td>
                                                      <td scope="col">
                                                         <div class="form-group">
                                                            <input type="text" formControlName="invDiscount"
                                                               class="form-control form-control-sm" nbInput
                                                               placeholder="Discount" (keyup)="calculateCost(ind,i)"
                                                               [ngClass]="{ 'is-invalid': submitted && itemInvoiceItem.controls.invDiscount.errors }" />
                                                            <label
                                                               *ngIf="submitted && itemInvoiceItem.controls.invDiscount.errors && itemInvoiceItem.controls.invDiscount.errors.required"
                                                               class="error">
                                                               Should not be blank
                                                            </label>
                                                            <label
                                                               *ngIf="submitted && itemInvoiceItem.controls.invDiscount.errors && itemInvoiceItem.controls.invDiscount.errors.pattern"
                                                               class="error">
                                                               Invalid discount
                                                            </label>
                                                         </div>
                                                      </td>
                                                      <td scope="col">
                                                         <div class="form-group">
                                                            <input type="text" formControlName="invCost"
                                                               class="form-control form-control-sm" nbInput disabled
                                                               [ngClass]="{ 'is-invalid': submitted && itemInvoiceItem.controls.invCost.errors }" />
                                                            <label
                                                               *ngIf="submitted && itemInvoiceItem.controls.invCost.errors && itemInvoiceItem.controls.invCost.errors.required"
                                                               class="error">
                                                               Should not be blank
                                                            </label>
                                                            <label
                                                               *ngIf="submitted && itemInvoiceItem.controls.invCost.errors && itemInvoiceItem.controls.invCost.errors.pattern"
                                                               class="error">
                                                               Invalid amount (Eg:25.010)
                                                            </label>
                                                         </div>
                                                      </td>
                                                   </tr>
                                                </tbody>
                                             </table>
                                          </td>
                                       </tr>
                                    </ng-container>
                                 </tbody>
                              </table>
                           </div>
                        </div>
                     </ng-template>
                  </ngb-panel>

                 
               <ngb-panel id="toggle-2">
              <ng-template ngbPanelTitle>
                <div class="row">
                <div class="col text-primary">
                  Documents
                </div>
                <div class="col text-primary">
                </div>
                <div class="col text-right"><i class="fa fa-angle-down"></i></div>
              </div>
              </ng-template>
              <ng-template ngbPanelContent>
                <div class="container-fluid h-minus pt-2 pb-2">
                  <input type="file" style="display: none;" (change)="upload($event.target.files)" id="fileUpload" class="hidden" multiple />
                  <div class="col-12 file-upload text-info" (click)="triggerFileUpload()">
                    <i class="fa fa-upload" aria-hidden="true"></i>&nbsp;Upload File
                  </div><label class="text-lowercase">&nbsp;&nbsp;&nbsp;(.png, .jpg, .xlsx, .txt, .pdf Max Size=4Mb)</label>
                  <div class="col-12" *ngIf="fileToUpload && fileToUpload.length > 0">
                    <div class="row mrgn-t-10">
                      <div class="col-2 text-center mrgn-t-10 ovr-hid" *ngFor="let item of fileToUpload; let i = index">
                        <img   ngbTooltip="{{item.name}}" [src]="imageSrc[i]" width = "200" height="150" 
                          onerror="this.src='../../../../assets/images/unnamed.png';">
                        <div>{{item.name}}</div>
                        <div>
                          <i class="fa fa-trash" aria-hidden="true" class=" text-info hand" (click)="deleteDoc(i)"></i>
                        </div>
                      </div>
                    </div>
                  </div>
                  <hr *ngIf="invoiceDetails && invoiceDetails.IMH.length > 0">
                  <div class="col-12"*ngFor="let selPODetail of invoiceDetails.IMH;let j = index">
                    <div class="row mrgn-t-10">
                      <div class="col-2 text-center mrgn-t-10 ovr-hid"
                        *ngFor="let item of selPODetail.IDO;let i = index">
                        <img [src]="DOC_PATH+'/'+item.filePath" width = "200" height="150"
                          onerror="this.src='../../../../assets/images/unnamed.png';">
                        <div class="item_image_name">{{item.fileName}}</div>
                        <div>
                          <i class="fa fa-trash pr-1" aria-hidden="true" (click)="deleteDocFromServer(item,i)"></i>
                          <a target="_blank" [href]="DOC_PATH+'/'+item.filePath">
                            <i class="fa fa-arrow-down" aria-hidden="true"></i>
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                
              </ng-template>
            </ngb-panel>
               </ngb-accordion>
               <!-- Acc End  -->
               <!-- <div *ngIf="invoiceDetails && invoiceDetails.invStatus!=3" class="form-group mrgn-t-10 save-button text-right ">
               <button class="btn btn-primary vendor_save" [routerLink]="['/purchase/order-list']">
               Cancel 
               </button>
               &nbsp;&nbsp;&nbsp;
               <button class="btn btn-primary vendor_save">  Save</button>
               </div> -->

               <hr>
               <div class="row pb-2" *ngIf="invoiceDetails && invoiceDetails.invStatus!=3"
                  class="form-group mrgn-t-10 save-button text-right ">
                  <div class="col-md-12 text-right pb-2">
                     <div class="btn-group">
                        <a class="btn btn-sm btn-primary vendor_save" [routerLink]="['/invoice/list']">
                           <i class="fa fa-close" aria-hidden="true"></i>&nbsp;Cancel
                        </a>
                     </div>
                     &nbsp;
                     <div class="btn-group">
                        <button class="btn btn-sm btn-success vendor_save">
                           <ngx-spinner [fullScreen]="false" bdColor="transparent">
                           </ngx-spinner> <i class="fa fa-save"></i>&nbsp;Save
                        </button>
                     </div>
                  </div>
               </div>


            </form>
         </div>
      </div>
   </div>
</div>