<div class=" mt-1 mb-5 ">
   <div class="row ">
      <div class="col-xl-12 col-lg-12 col-md-7 col-sm-12 col-12">
         <div class="card ">
            <div nb-card-header class="add-new-header-bg pt-1 pb-1 bg-relative text-white card-header bg-info"><i
                  class="fa fa-file"></i>&nbsp;Generate New Invoice</div>
            <div class="col-lg-12 invoice-add-component">
               <div nb-card class="pt-0 pr-3 pt-2 pl-3 pb-0">
                  <div nb-card-body>
                     <form [formGroup]="invoiceAddForm" (ngSubmit)="onSubmit()" encType="multipart/form-data">
                        <div class="row  mrgn-b-10">
                           <ng-template #notFoundTemplate let-notFound>
                              <div [innerHTML]="notFound"></div>
                           </ng-template>
                           <div class="col-md-4">
                              <label>PO Category</label>
                              <ng-select [items]="poCategories" 
                              bindLabel="name" 
                              bindValue="id" 
                              [clearable]="false"
                                 [searchable]="false" 
                                 placeholder="Please select PO Category"
                                 formControlName="poCategory"                                  
                                 [(ngModel)]="selectedPoCategoryId"
                                 (change)="resetCustomerValue()">
                              </ng-select>
                              <label *ngIf="submitted && form.poCategory.errors" class="error">
                                 PO Category Is Required.
                              </label>
                           </div>
                           <div class="col-sm-3">
                              <label>Customer Name</label>
                              <span *ngIf="form.poCategory.value==null || form.poCategory.value==1">
                                 <ng-autocomplete [data]="customers"
                                   (selected)="changeSelection($event,customers,'vendorName','customerName',null,'customerXid')"
                                   [searchKeyword]="keywordVendor" placeHolder="Enter Customer Name"
                                   [itemTemplate]="customerTemplate" [notFoundTemplate]="notFoundTemplate">
                                 </ng-autocomplete>
                               </span>
     
                               <span *ngIf="form.poCategory.value==2">
                                 <ng-autocomplete [data]="vendors"
                                   (selected)="changeSelection($event,vendors,'vendorName','customerName',null,'customerXid')"
                                   [searchKeyword]="keywordVendor" placeHolder="Enter Customer Name"
                                   [itemTemplate]="customerTemplate" [notFoundTemplate]="notFoundTemplate">
                                 </ng-autocomplete>
                               </span>

                              <!--ng-autocomplete [data]="customers"
                                 (selected)="changeSelection($event,customers,'vendorName','customerXid',null,'customerXid')"
                                 (inputCleared)="clearSelection('customerXid')" [searchKeyword]="keywordCustomer"
                                 placeHolder="Select Customer Name" [itemTemplate]="customerTemplate"
                                 [notFoundTemplate]="notFoundTemplate">
                              </ng-autocomplete -->
                              <ng-template #customerTemplate let-item>
                                 <a [innerHTML]="item.vendorName"></a>
                              </ng-template>
                           </div>
                           <div class="col-sm-3">
                              <label>Vendor Name</label>
                              <ng-autocomplete [data]="vendors"
                                 (selected)="changeSelection($event,vendors,'vendorName','vendorXid',null,'vendorXid')"
                                 (inputCleared)="clearSelection('vendorXid')" [searchKeyword]="keywordVendor"
                                 placeHolder="Select Vendor Name" [itemTemplate]="vendorTemplate"
                                 [notFoundTemplate]="notFoundTemplate">
                              </ng-autocomplete>
                              <ng-template #vendorTemplate let-item>
                                 <a [innerHTML]="item.vendorName"></a>
                              </ng-template>
                           </div>

                        </div>
                        <div class="row ">

                           <div class="col-sm-8">
                              <label>From & To Date</label>
                              <div class="row pl-3">
                                 <div class="form-group hidden">
                                    <div class="input-group">
                                       <input name="datepicker" class="form-control form-control-sm" ngbDatepicker
                                          #datepicker="ngbDatepicker" [autoClose]="'outside'"
                                          (dateSelect)="onDateSelection($event)" [displayMonths]="2" [dayTemplate]="t"
                                          outsideDays="hidden" [startDate]="fromDate!">
                                       <ng-template #t let-date let-focused="focused">
                                          <span class="custom-day" [class.focused]="focused"
                                             [class.range]="isRange(date)"
                                             [class.faded]="isHovered(date) || isInside(date)"
                                             (mouseenter)="hoveredDate = date" (mouseleave)="hoveredDate = null">
                                             {{ date.day }}
                                          </span>
                                       </ng-template>
                                    </div>
                                 </div><br><br>
                                 <div class="form-group">
                                    <div class="input-group">
                                       <input #dpFromDate class="form-control form-control-sm" placeholder="yyyy-mm-dd"
                                          name="dpFromDate" [value]="formatter.format(fromDateNew)"
                                          (input)="fromDate = validateInput(fromDate, dpFromDate.value)">
                                       <div class="input-group-append">
                                          <button class="btn btn-sm btn-outline-secondary calendar"
                                             (click)="datepicker.toggle()" type="button"> <i
                                                class="fa fa-calendar fa-lg"></i> </button>
                                       </div>
                                    </div>
                                 </div>&nbsp;
                                 <div class="form-group">
                                    <div class="input-group">
                                       <input #dpToDate class="form-control form-control-sm" placeholder="yyyy-mm-dd"
                                          name="dpToDate" [value]="formatter.format(toDateNew)"
                                          (input)="toDate = validateInput(toDate, dpToDate.value)">
                                       <div class="input-group-append">
                                          <button class="btn btn-sm btn-outline-secondary calendar"
                                             (click)="datepicker.toggle()" type="button"><i
                                                class="fa fa-calendar fa-lg"></i></button>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <hr class="mb-0 mt-0">
                        <div class="row pb-2">
                           <div class="col-md-12 mt-2 text-right">
                              <div class="btn-group">
                                 <button class="btn btn-sm btn-success" (click)="searchCustomerPO()"><i
                                       class="fa fa-search"></i>&nbsp;Search</button>
                              </div>

                           </div>
                        </div>
                     </form>
                     <div class="row mb-1 mt-1" *ngIf="selectedPO && selectedPO.length>0">
                        <div class="col-md-12 text-right">
                           <button class="btn btn-sm btn-info" type="button" (click)="generateNewInvoice(selectedPO)">
                              <ngx-spinner [fullScreen]="false" bdColor="transparent">
                              </ngx-spinner>
                              Generate Invoice
                           </button>
                        </div>
                     </div>
                     <div class="row mrgn-b-10 scroll-x">
                        <div class="table-responsive col-md-12" *ngIf="poSerachList && poSerachList.length>0">
                           
                           <table class="table mx-auto">
                              <thead class="bg-light p-0 m-0">
                                 <tr>
                                    <th scope="col">#</th>
                                    <th scope="col"><input type="checkbox" [checked]="isAllChecked" status="basic"
                                          (change)="selectAll($event,i,po)">All</th>
                                    <th scope="col">PO No</th>
                                    <th scope="col">PO Date</th>
                                    <th scope="col">Customer Name</th>
                                    <th scope="col">Vendor Name</th>
                                    <th scope="col">PO Amount</th>
                                    <th scope="col">Amount (USD)</th>
                                    <th scope="col">Vessel Name & Port</th>
                                    <th scope="col">Status</th>
                                 </tr>
                              </thead>
                              <tbody>
                                 <tr *ngFor="let po of poSerachList;let i = index">
                                    <td scope="row"> {{ (i+1)}}</td>
                                    <td>
                                       <input type="checkbox" (change)="selectPO($event,i,po)" [checked]="po.selected">
                                    </td>
                                    <td class="text-info hand colour_bl  po-new-width1 ">{{po.poNumber}}  
                                       <!-- a target="_blank" [routerLink]="['/purchase-order/edit/',po.id]"  >{{po.poNumber}} </a--> </td>
                                    <td>{{ conertDate(po.poDate) }}</td>
                                    <td>{{po.customerName}} </td>
                                    <td>{{po.vendorName}} </td>
                                    <td>{{po.poCost}}</td>
                                    <td>{{po.amountUsd}}</td>
                                    <td>{{po.vesselName}} & {{po.port}}</td> 
                                    <td>{{PO_STATUS[po.poStatus] }}</td>
                                 </tr>
                              </tbody>
                           </table>
                        </div>
                        <div class="col-md-12 text center" *ngIf="submitted && poSerachList && poSerachList.length ==0">
                           No data available
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>