

table thead tr th{
  border-bottom: 1px solid #000000;
}
//   .panel.panel-big-height {
//   min-height: 150px;
// }

// .item {
//   border-radius: 4px;
//   padding: 0.5rem;

// }
// td{
//     width: 15px !important;
// }
// .table{
//     width: 100%;
// max-width: 100%;

// }

.table-heading{
    font-size: 12px;
}


// MAX HEIGHT
// .custom-h{
//   max-height: 53px !important;
// }
// .h-minus{
//   margin-top: -9px;
// }
.bg-relative-two{
  background: rgb(236,236,236);
  background: linear-gradient(0deg, rgba(236,236,236,1) 0%, rgba(246,246,246,1) 100%);
}

.autocomplete-container {
  /* box-shadow: 0 1px 3px 0 rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 2px 1px -1px rgba(0,0,0,.12); */
  position: relative;
  box-shadow: none !important;
  overflow: visible;
  border-bottom: 1px solid #fff !important;
  height: 40px;
}
.h-minus{
  background: #fafafa;
 
}


.error-star{
  font-size : 13px;
}