<div class="mt-1 mb-5 ">
  <div class="row">
    <div class="col-xl-12 col-lg-12 col-md-7 col-sm-12 col-12">
      <div class="card ">
        <div nb-card-header class="add-new-header-bg pt-1 pb-1 bg-relative text-white card-header bg-info"><i
            class="fa fa-edit"></i>&nbsp;Edit Customer</div>
        <div class="col-lg-12">
          <div nb-card>
            <div nb-card-body>
              <form [formGroup]="custVendorForm" (ngSubmit)="onSubmit()" (keydown.enter)="$event.preventDefault()">
                <div class="row padding-bottom">
                  <div class="col-sm-4 padding-zero">
                    <div class="form-group">
                      <label>Customer Code</label>
                      <input maxlength="24" autocomplete="no-fill" class="form-control  form-control-sm text-uppercase" type="text" (keypress)="omit_special_char($event)"
                        formControlName="vendorCode" oninput="this.value = this.value.toUpperCase()"
                        [ngClass]="{ 'status-danger': submitted && f.vendorCode.errors }" />
                      <label
                        *ngIf="submitted && f.vendorCode.errors?.required && isValidFormSubmitted != null && !isValidFormSubmitted"
                        class="error">
                        Customer Code is required.
                      </label>
                      <label *ngIf="submitted && f.vendorCode.hasError('maxlength')" class="error">
                        Maximum Characters exceeded
                      </label>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="form-group">
                      <label>Customer Name</label>
                      <input maxlength="100" autocomplete="no-fill" class="form-control form-control-sm text-uppercase" type="text" (keypress)="omit_special_char($event)"
                        formControlName="vendorName" oninput="this.value = this.value.toUpperCase()"
                        [ngClass]="{ 'status-danger': submitted && f.vendorName.errors }" />
                      <label
                        *ngIf="submitted && f.vendorName.errors?.required && isValidFormSubmitted != null && !isValidFormSubmitted"
                        class="error">
                        Customer Name is required.
                      </label>
                    </div>
                  </div>

                  <div class="col-sm-4">
                    <div class="form-group">
                      <label>Currency</label>
                      <ng-select placeholder="Choose Currency" autocomplete="no-fill" fullWidth class="custom " [searchable]="false"
                        formControlName="currency" [ngClass]="{ 'red-border': submitted && f.currency.errors }">
                        <ng-option *ngFor="let cr of currencylist" [value]="cr.id">{{cr.name}}</ng-option>
                      </ng-select>
                      <label
                        *ngIf="submitted && f.currency.errors?.required && isValidFormSubmitted != null && !isValidFormSubmitted"
                        class="error">
                        Please Choose Currency.
                      </label>
                    </div>
                  </div>

                </div>
                <div class="row padding-bottom">
                  <div class="col-sm-4 padding-zero">
                    <div class="form-group">
                      <label>Approved Customer ?</label>
                      <ng-select  [clearable]="false" [searchable]="false"   class="custom" placeholder="Choose Customer Approved Or Not" autocomplete="no-fill" [items]="statuslist"
                        fullWidth formControlName="approvedVendor" bindLabel="name" bindValue="id" (change)="handleDateFIeld($event)"
                        [ngClass]="{ 'red-border': submitted && f.approvedVendor.errors }">
                        <!--ng-option *ngFor="let stat of statuslist"  [value]="stat.id">
                          {{stat.name}}
                        </ng-option-->
                      </ng-select>
                      <label
                        *ngIf="submitted && f.approvedVendor.errors?.required && isValidFormSubmitted != null && !isValidFormSubmitted"
                        class="error">
                        Please choose Customer Approved or Not.
                      </label>
                    </div>
                  </div>
                  <div class="col-sm-4 padding-zero">
                    <label>Approved Date</label>
                    <div class="input-group">
                      <input class="form-control  form-control-sm" autocomplete="no-fill" formControlName="approvedDate"
                        placeholder="yyyy-mm-dd" name="dp" [maxDate]="ToDay" ngbDatepicker #d="ngbDatepicker"
                        (click)="d.toggle()" [disabled]='(f.approvedVendor.value==0)' >
 <!-- [(ngModel)]="model"   -->
                      <div class="input-group-append">
                        <button class="btn btn-sm btn-outline-secondary calendar" (click)="d.toggle()" type="button"><i
                            class="fa fa-calendar fa-lg"></i></button>
                      </div>
                      <label
                        *ngIf="submitted && f.approvedDate.errors?.required && isValidFormSubmitted != null && !isValidFormSubmitted"
                        class="error">
                        Approved Date is required.
                      </label>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="form-group">
                      <label>Is Active ?</label>
                      <ng-select  [clearable]="false" [searchable]="false"   placeholder="Choose Customer Status" fullWidth class="custom" autocomplete="no-fill"
                        formControlName="status" [ngClass]="{ 'red-border': submitted && f.status.errors }">
                        <ng-option *ngFor="let stat of statuslist" [value]="stat.id">{{stat.name}}
                        </ng-option>
                      </ng-select>
                      <label
                        *ngIf="submitted && f.status.errors?.required && isValidFormSubmitted != null && !isValidFormSubmitted"
                        class="error">
                        Please choose Customer Status.
                      </label>
                    </div>
                  </div>
                </div>
                <div formArrayName="VA">
                  <label class="m-0 p-0">Fill Mandatory Fields Marked As  <span class="text-danger">*</span> </label>
                  <div class="table-responsive bg-relative-two text-dark pb-0 mt-3">
                    <table class="table text-center text-justify ">
                      <thead class="row 0 mt-2">
                        <td width=5% class="text-right"> <button type="button" class="address-btn" (click)="addNewAddress()" outline status="success">
                            <i class="fa fa-plus"></i>
                          </button>
                        </td>
                        <td class="col">Default </td>
                        <td class="col">Address1<span class="error-star">*</span></td>
                        <td class="col">Address2</td>
                        <td class="col">Address3</td>
                        <td class="col-md-2">Country<span class="error-star">*</span></td>
                        <td class="col-md-2">State<span class="error-star">*</span></td>
                        <td class="col">City<span class="error-star">*</span></td>
                        <td class="col">Zip/Pin<span class="error-star">*</span></td>
                        <td class="col">Fax<span class="error-star">*</span></td>
                        <td class="col">Phone No<span class="error-star">*</span></td>
                        <td class="col">Sales Email<span class="error-star">*</span></td>
                        <td class="col">A/c Mail<span class="error-star">*</span></td>
                        <td class="col">Url</td>
                      </thead>
                    </table>
                  </div>
                           <div class="container-fluid">
                              <div *ngFor="let emp of VA.controls; let i = index" [formGroupName]="i"
                                 class="address row d-flex h-minus">
                                 <div class="col text-center border custom-h pt-2 border-right-0 ">
                                    <div class="form-group ">
                                       <button *ngIf="i!=0" type="button"
                                          (click)="deleteAddress(i,VA.controls[i].get('id').value)" outline
                                          status="danger" class="btn-default btn-circle address-btn-delete">
                                          <i class="fa fa-close"></i>
                                       </button>
                                    </div>
                                 </div>

                                 <div class="col custom-h border border-right-0 pt-2">
                                    <div class="form-group text-center pt-1">
                                       <input type="radio" for="isDefaultAddress" value="i" [value]='i'
                                          formControlName='isDefaultAddress' [(ngModel)]="selectedAddress">
                                       <label for="isDefaultAddress"></label>
                                       <label
                                          *ngIf="VA.controls[i].get('isDefaultAddress').errors?.required && isValidFormSubmitted != null && !isValidFormSubmitted"
                                          class="error">
                                          Please select one Address.
                                       </label>
                                    </div>
                                 </div>
                                 <div class="col custom-h border border-right-0 pt-2">
                                    <div class="form-group">
                                       <input class="form-control border-0 form-control-sm custom-width" placeholder="Address1"
                                          formControlName="address1" autocomplete="no-fill" maxlength="255">
                                       <br />
                                       <!-- <label
                                          *ngIf="VA.controls[i].get('address1').errors?.required && isValidFormSubmitted != null && !isValidFormSubmitted"
                                          class="error">
                                          Address1 required.
                                       </label> -->
                                    </div>
                                 </div>
                                 <div class="col custom-h border border-right-0  pt-2">
                                    <div class="form-group">
                                       <input class="form-control form-control-sm custom-width" 
                                          formControlName="address2" autocomplete="no-fill" maxlength="255" placeholder="Address2"/>
                                    </div>
                                 </div>
                                 <div class="col custom-h border border-right-0  pt-2">
                                    <div class="form-group">
                                       <input class="form-control form-control-sm custom-width"
                                          formControlName="address3" autocomplete="no-fill" maxlength="255" placeholder="Address3"/>
                                    </div>
                                 </div>
                                 <div class="col-md-2 custom-h border border-right-0  pt-2">
                                    <div class="form-group">
                                       <ng-autocomplete [data]="countryList"
                                          (selected)="changeState($event,countryList,'id','country',i,'country')"
                                          [searchKeyword]="keywordCountry" placeHolder="Enter Country Name"
                                          [itemTemplate]="countryTemplate" [notFoundTemplate]="notFoundTemplate"
                                          formControlName="countryName" (inputCleared)="clear(['country','state','stateName'],i,'stateName')">
                                       </ng-autocomplete>
                                       <ng-template #countryTemplate let-item>
                                          <a [innerHTML]="item.name"></a>
                                       </ng-template>
                                       <ng-template #notFoundTemplate let-notFound>
                                          <div [innerHTML]="notFound"></div>
                                       </ng-template>
                                       <br />
                                       <!-- <label
                                          *ngIf="VA.controls[i].get('country').errors?.required && isValidFormSubmitted != null && !isValidFormSubmitted"
                                          class="error">
                                          Country Name required.
                                       </label> -->
                                    </div>
                                 </div>
                                 <div class="col-md-2 custom-h border border-right-0  pt-2">
                                    <div class="form-group">
                                       <div class="custom-width">
                                          <ng-autocomplete [data]="stateList"
                                             (selected)="changeSelection($event,stateList,'id','state',i,'state')"
                                             [searchKeyword]="keywordState" placeHolder="Enter State Name"
                                             [itemTemplate]="stateTemplate" formControlName="stateName"
                                             [notFoundTemplate]="notFoundTemplate" formControlName="stateName" (inputCleared)="clear(['state','stateName'],i,'stateName')">
                                          </ng-autocomplete>
                                          <ng-template #stateTemplate let-item>
                                             <a [innerHTML]="item.name"></a>
                                          </ng-template>
                                          <ng-template #notFoundTemplate let-notFound>
                                             <div [innerHTML]="notFound"></div>
                                          </ng-template>
                                       </div>
                                       <br />
                                       <!-- <label
                                          *ngIf="VA.controls[i].get('state').errors?.required && isValidFormSubmitted != null && !isValidFormSubmitted"
                                          class="error">
                                          State Name required.
                                       </label> -->
                                    </div>
                                 </div>
                                 <div class="col border custom-h border-right-0  pt-2">
                                    <div class="form-group">
                                       <input class="form-control custom-width form-control-sm" formControlName="city" autocomplete="no-fill"
                                          maxlength="50" placeholder="City"/>
                                       <br />
                                       <!-- <label
                                          *ngIf="VA.controls[i].get('city').errors?.required && isValidFormSubmitted != null && !isValidFormSubmitted"
                                          class="error">
                                          City Name required.
                                       </label> -->
                                    </div>
                                 </div>
                                 <div class="col border custom-h border-right-0  pt-2">
                                    <div class="form-group">
                                       <input class="form-control form-control-sm  custom-width" formControlName="zip" autocomplete="no-fill"
                                          type="text" oninput="this.value = this.value.replace(/[^0-9.]/g, ''); this.value = this.value.replace(/(\..*)\./g, '$1');" onKeyDown="if(this.value.length==8 && event.keyCode!=8 && event.keyCode!=9 && event.keyCode!=39 && event.keyCode!=37) return false;" placeholder="Zip"/>
                                       <br />
                                       <!-- <label
                                          *ngIf="VA.controls[i].get('zip').errors?.required && isValidFormSubmitted != null && !isValidFormSubmitted"
                                          class="error">
                                          Zip/Pin Name required.
                                       </label> -->
                                    </div>
                                 </div>
                                 <div class="col border border-right-0  custom-h pt-2">
                                    <div class="form-group">
                                       <input class="form-control form-control-sm  custom-width" formControlName="fax" autocomplete="no-fill"
                                          type="text" oninput="this.value = this.value.replace(/[^0-9.]/g, ''); this.value = this.value.replace(/(\..*)\./g, '$1');" onKeyDown="if(this.value.length==10 && event.keyCode!=8 && event.keyCode!=9 && event.keyCode!=39 && event.keyCode!=37) return false;" placeholder="fax"/>
                                    </div>
                                 </div>

                                 <div class="col border border-right-0  custom-h pt-2">
                                    <div class="form-group">
                                       <input class="form-control form-control-sm  custom-width"
                                          formControlName="phoneNo" autocomplete="no-fill" type="text" oninput="this.value = this.value.replace(/[^0-9.()+-]/g, ''); this.value = this.value.replace(/(\..*)\./g, '$1');" onKeyDown="if(this.value.length==10 && event.keyCode!=8 && event.keyCode!=9 && event.keyCode!=39 && event.keyCode!=37) return false;" placeholder="90XXXXXXXX"/>
                                       <br />
                                       <!-- <label
                                          *ngIf="VA.controls[i].get('phoneNo').errors?.required && isValidFormSubmitted != null && !isValidFormSubmitted"
                                          class="error">
                                          Phone No required.
                                       </label>
                                       <label -->
                                          <!-- *ngIf="VA.controls[i].get('phoneNo').errors?.pattern && isValidFormSubmitted != null && !isValidFormSubmitted"
                                          class="error">
                                          Invalid Phone no.
                                       </label> -->
                                    </div>
                                 </div>
                                 
                                 <div class="col border custom-h pt-2 border-right-0 ">
                                    <div class="form-group">
                                       <input class="form-control form-control-sm  custom-width"
                                          formControlName="salesEmail" autocomplete="no-fill" maxlength="100" placeholder="Sales Email"/>
                                       <!-- <br />
                                       <label
                                          *ngIf="VA.controls[i].get('salesEmail').errors?.required && isValidFormSubmitted != null && !isValidFormSubmitted"
                                          class="error">
                                          Sales Email required.
                                       </label>
                                       <label
                                          *ngIf="VA.controls[i].get('salesEmail').errors?.pattern && isValidFormSubmitted != null && !isValidFormSubmitted"
                                          class="error">
                                          Invalid Mail id.
                                       </label> -->
                                        <label
                                          *ngIf="VA.controls[i].get('salesEmail').errors?.pattern && isValidFormSubmitted != null && !isValidFormSubmitted"
                                          class="error">
                                          Invalid
                                       </label>
                                    </div>
                                 </div>
                                 <div class="col border border-right-0  custom-h pt-2">
                                    <div class="form-group">
                                       <input class="form-control form-control-sm  custom-width"
                                          formControlName="accountsEmail" autocomplete="no-fill" maxlength="100" placeholder="Accounts Email"/>
                                       <!-- <br />
                                       <label
                                          *ngIf="VA.controls[i].get('accountsEmail').errors?.required && isValidFormSubmitted != null && !isValidFormSubmitted"
                                          class="error">
                                          Accounts Email required.
                                       </label>
                                       <label
                                          *ngIf="VA.controls[i].get('accountsEmail').errors?.pattern && isValidFormSubmitted != null && !isValidFormSubmitted"
                                          class="error">
                                          Invalid Mail id.
                                       </label> -->
                                  
                                       <label
                                          *ngIf="VA.controls[i].get('accountsEmail').errors?.pattern && isValidFormSubmitted != null && !isValidFormSubmitted"
                                          class="error">
                                          Invalid
                                       </label>
                                    </div>
                                 </div>
                                 <div class="col border custom-h pt-2">
                                    <div class="form-group">
                                       <input fullWidth class="form-control form-control-sm  custom-width"
                                          formControlName="url" autocomplete="no-fill" maxlength="60" placeholder="url"/>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
              
                <div class="row pb-2">
                  <div class="col-md-12 text-right pb-2">
                    <div class="btn-group">
                      <button [routerLink]="['/customer/list']" class="btn btn-primary btn-sm"><i
                          class="fa fa-close"></i>&nbsp; Cancel </button>
                    </div>
                    &nbsp;
                    <div class="btn-group">
                      <button  *ngIf="(permissions.customers_edit ) || (permissions.customers_edit)" type="submit" [disabled]="loading" class="btn btn-success btn-sm"><ngx-spinner [fullScreen]="false"  bdColor="transparent">
                                                  </ngx-spinner>  <i
                          class="fa fa-save"></i>&nbsp;Save</button>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>