<div class=" mt-1 mb-5 ">
   <div class="row ">
      <div class="col-xl-12 col-lg-12 col-md-7 col-sm-12 col-12">
         <div class="card p-3 border">
            <div class="card-header bg-light custom-width-table-head col-md-12 mx-auto">
               <div class="row mrgn-b-10" *ngIf="userData">
                  <h4 class="text-primary pl-2">Users Rights</h4>
                  <div class="col-12">
                     <div class="row text-info">
                        <div class="col-md-4 ">User : {{userData.TY && userData.TY.typeName?userData.TY.typeName:''}}</div>
                        <div class="col-md-5">User Name : {{userData.username?userData.username:''}}</div>
                     </div>
                     <div class="row text-info">
                        <div class="col-md-4">Rank : {{userData.RK && userData.RK.rankName?userData.RK.rankName:''}}</div>
                        <div class="col-md-5">Email : {{userData.email?userData.email:''}}</div>
                     </div>
                  </div>
                  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12"><hr>
                     <form [formGroup]="permissionForm" (ngSubmit)="onSubmit()">
                     <!--nb-accordion multi>
                        <nb-accordion-item #item [expanded]="true">
                          <nb-accordion-item-header-->
                      
                     <!--/nb-accordion-item-header>
                        <nb-accordion-item-body-->
                     <ul>
                        <li class="row" style="margin:0;padding:0">
                           <div class="col-md-4 margin-zero">
                              <input type="checkbox" (change)="selectionClick($event,'vessels')"
                              [checked]="permissionForm.controls['vessels_add'].value && permissionForm.controls['vessels_edit'].value && permissionForm.controls['vessels_view'].value && permissionForm.controls['vessels_delete'].value">
                              Vessels
                           </div>
                           <div class="col-md-2">
                              <input type="checkbox" formControlName="vessels_add">Add
                           </div>
                           <div class="col-md-2">
                              <input type="checkbox" formControlName="vessels_edit">Edit
                           </div>
                           <div class="col-md-2">
                              <input type="checkbox" formControlName="vessels_delete">Delete
                           </div>
                           <div class="col-md-2">
                              <input type="checkbox" formControlName="vessels_view">View
                           </div>
                        </li>
                        <li class="row" style="margin:0;padding:0">
                           <div class="col-md-4 margin-zero">
                              <input type="checkbox"  (change)="selectionClick($event,'vendors')"
                              [checked]="permissionForm.controls['vendors_add'].value && permissionForm.controls['vendors_edit'].value && permissionForm.controls['vendors_view'].value && permissionForm.controls['vendors_delete'].value">
                              Vendors
                           </div>
                           <div class="col-md-2">
                              <input type="checkbox" formControlName="vendors_add">Add
                           </div>
                           <div class="col-md-2">
                              <input type="checkbox" formControlName="vendors_edit">Edit
                           </div>
                           <div class="col-md-2">
                              <input type="checkbox" formControlName="vendors_delete">Delete
                           </div>
                           <div class="col-md-2">
                              <input type="checkbox" formControlName="vendors_view">View
                           </div>
                        </li>
                        <li class="row" style="margin:0;padding:0">
                           <div class="col-md-4 margin-zero">
                              <input type="checkbox" (change)="selectionClick($event,'customers')"
                              [checked]="permissionForm.controls['customers_add'].value && permissionForm.controls['customers_edit'].value && permissionForm.controls['customers_view'].value && permissionForm.controls['customers_delete'].value">
                              Customers
                           </div>
                           <div class="col-md-2">
                              <input type="checkbox" formControlName="customers_add">Add
                           </div>
                           <div class="col-md-2">
                              <input type="checkbox" formControlName="customers_edit">Edit
                           </div>
                           <div class="col-md-2">
                              <input type="checkbox" formControlName="customers_delete">Delete
                           </div>
                           <div class="col-md-2">
                              <input type="checkbox" formControlName="customers_view">View
                           </div>
                        </li>
                        <li class="row" style="margin:0;padding:0">
                           <div class="col-md-4 margin-zero">
                              <input type="checkbox" (change)="selectionClick($event,'companies')"
                              [checked]="permissionForm.controls['companies_add'].value && permissionForm.controls['companies_edit'].value && permissionForm.controls['companies_view'].value && permissionForm.controls['companies_delete'].value">
                              Companies
                           </div>
                           <div class="col-md-2">
                              <input type="checkbox" formControlName="companies_add">Add
                           </div>
                           <div class="col-md-2">
                              <input type="checkbox" formControlName="companies_edit">Edit
                           </div>
                           <div class="col-md-2">
                              <input type="checkbox" formControlName="companies_delete">Delete
                           </div>
                           <div class="col-md-2">
                              <input type="checkbox" formControlName="companies_view">View
                           </div>
                        </li>
                        <li class="row" style="margin:0;padding:0">
                           <div class="col-md-4 margin-zero">
                              <input type="checkbox" (change)="selectionClick($event,'user_rights')"
                              [checked]="permissionForm.controls['user_rights_add'].value && permissionForm.controls['user_rights_edit'].value && permissionForm.controls['user_rights_view'].value && permissionForm.controls['user_rights_delete'].value">
                              User Rights
                           </div>
                           <div class="col-md-2">
                              <input type="checkbox" formControlName="user_rights_add">Add
                           </div>
                           <div class="col-md-2">
                              <input type="checkbox" formControlName="user_rights_edit">Edit
                           </div>
                           <div class="col-md-2">
                              <input type="checkbox" formControlName="user_rights_delete">Delete
                           </div>
                           <div class="col-md-2">
                              <input type="checkbox" formControlName="user_rights_view">View
                           </div>
                        </li>
                        <li class="row" style="margin:0;padding:0">
                           <div class="col-md-4 margin-zero">
                              <input type="checkbox" (change)="selectionClick($event,'uom')"
                              [checked]="permissionForm.controls['uom_add'].value && permissionForm.controls['uom_edit'].value && permissionForm.controls['uom_view'].value && permissionForm.controls['uom_delete'].value"
                              >Uom
                           </div>
                           <div class="col-md-2">
                              <input type="checkbox" formControlName="uom_add">Add
                           </div>
                           <div class="col-md-2">
                              <input type="checkbox" formControlName="uom_edit">Edit
                           </div>
                           <div class="col-md-2">
                              <input type="checkbox" formControlName="uom_delete">Delete
                           </div>
                           <div class="col-md-2">
                              <input type="checkbox" formControlName="uom_view">View
                           </div>
                        </li>
                        <li class="row" style="margin:0;padding:0">
                           <div class="col-md-4 margin-zero">
                              <input type="checkbox" (change)="selectionClick($event,'ports')"
                              [checked]="permissionForm.controls['ports_add'].value && permissionForm.controls['ports_edit'].value && permissionForm.controls['ports_view'].value && permissionForm.controls['ports_delete'].value"
                              >Ports
                           </div>
                           <div class="col-md-2">
                              <input type="checkbox" formControlName="ports_add">Add
                           </div>
                           <div class="col-md-2">
                              <input type="checkbox" formControlName="ports_edit">Edit
                           </div>
                           <div class="col-md-2">
                              <input type="checkbox" formControlName="ports_delete">Delete
                           </div>
                           <div class="col-md-2">
                              <input type="checkbox" formControlName="ports_view">View
                           </div>
                        </li>
                        <li class="row" style="margin:0;padding:0">
                           <div class="col-md-4 margin-zero">
                              <input type="checkbox" (change)="selectionClick($event,'currency')"
                              [checked]="permissionForm.controls['currency_add'].value && permissionForm.controls['currency_edit'].value && permissionForm.controls['currency_view'].value && permissionForm.controls['currency_delete'].value"
                              >Currency
                           </div>
                           <div class="col-md-2">
                              <input type="checkbox" formControlName="currency_add">Add
                           </div>
                           <div class="col-md-2">
                              <input type="checkbox" formControlName="currency_edit">Edit
                           </div>
                           <div class="col-md-2">
                              <input type="checkbox" formControlName="currency_delete">Delete
                           </div>
                           <div class="col-md-2">
                              <input type="checkbox" formControlName="currency_view">View
                           </div>
                        </li>
                        <li class="row" style="margin:0;padding:0">
                           <div class="col-md-4 margin-zero">
                              <input type="checkbox" (change)="selectionClick($event,'itemGroups')"
                              [checked]="permissionForm.controls['itemGroups_add'].value && permissionForm.controls['itemGroups_edit'].value && permissionForm.controls['itemGroups_view'].value && permissionForm.controls['itemGroups_delete'].value"
                              >ItemGroups
                           </div>
                           <div class="col-md-2">
                              <input type="checkbox" formControlName="itemGroups_add">Add
                           </div>
                           <div class="col-md-2">
                              <input type="checkbox" formControlName="itemGroups_edit">Edit
                           </div>
                           <div class="col-md-2">
                              <input type="checkbox" formControlName="itemGroups_delete">Delete
                           </div>
                           <div class="col-md-2">
                              <input type="checkbox" formControlName="itemGroups_view">View
                           </div>
                        </li>
                        <li class="row" style="margin:0;padding:0">
                           <div class="col-md-4 margin-zero">
                              <input type="checkbox" (change)="selectionClick($event,'invoiceInstruction')"
                              [checked]="permissionForm.controls['invoiceInstruction_add'].value && permissionForm.controls['invoiceInstruction_edit'].value && permissionForm.controls['invoiceInstruction_view'].value && permissionForm.controls['invoiceInstruction_delete'].value"
                              >Invoice Instruction
                           </div>
                           <div class="col-md-2">
                              <input type="checkbox" formControlName="invoiceInstruction_add">Add
                           </div>
                           <div class="col-md-2">
                              <input type="checkbox" formControlName="invoiceInstruction_edit">Edit
                           </div>
                           <div class="col-md-2">
                              <input type="checkbox" formControlName="invoiceInstruction_delete">Delete
                           </div>
                           <div class="col-md-2">
                              <input type="checkbox" formControlName="invoiceInstruction_view">View
                           </div>
                        </li>
                     </ul>
                     <!--/nb-accordion-item-body>
                        </nb-accordion-item-->
                     <!--nb-accordion-item #item [expanded]="true">
                        <nb-accordion-item-header-->
                           <hr>
                     <div class="col-md-6">
                        Users
                     </div>
                     <div class="col-md-3">
                     </div>
                     <!--/nb-accordion-item-header>
                        <nb-accordion-item-body-->
                     <ul>
                        <li class="row no-padd-margin">
                           <div class="col-md-4 margin margin-zero">
                              <input type="checkbox" (change)="selectionClick($event,'users')"
                              [checked]="permissionForm.controls['users_add'].value && permissionForm.controls['users_edit'].value && permissionForm.controls['users_view'].value && permissionForm.controls['users_delete'].value">
                              Users
                           </div>
                           <div class="col-md-2">
                              <input type="checkbox" formControlName="users_add">Add
                           </div>
                           <div class="col-md-2">
                              <input type="checkbox" formControlName="users_edit">Edit
                           </div>
                           <div class="col-md-2">
                              <input type="checkbox" formControlName="users_delete">Delete
                           </div>
                           <div class="col-md-2">
                              <input type="checkbox" formControlName="users_view">View
                           </div>
                        </li>
                     </ul>
                     <!--/nb-accordion-item-body>
                        </nb-accordion-item>
                        <nb-accordion-item #item [expanded]="true">
                          <nb-accordion-item-header-->
                             <hr>
                     <div class="col-md-6">
                        Transaction
                     </div>
                     <div class="col-md-3">
                     </div>
                     <!--/nb-accordion-item-header>
                        <nb-accordion-item-body-->
                     <ul>
                        <li class="row" style="margin:0;padding:0">
                           <div class="col-md-4 margin margin-zero">
                              <input type="checkbox" (change)="selectionClick($event,'invoice')"
                              [checked]="permissionForm.controls['invoice_add'].value && permissionForm.controls['invoice_edit'].value && permissionForm.controls['invoice_view'].value && permissionForm.controls['invoice_delete'].value"
                              >Invoice
                           </div>
                           <div class="col-md-2">
                              <input type="checkbox" formControlName="invoice_add">Add
                           </div>
                           <div class="col-md-2">
                              <input type="checkbox" formControlName="invoice_edit">Edit
                           </div>
                           <div class="col-md-2">
                              <input type="checkbox" formControlName="invoice_delete">Delete
                           </div>
                           <div class="col-md-2">
                              <input type="checkbox" formControlName="invoice_view">View
                           </div>
                        </li>
                        <li class="row" style="margin:0;padding:0">
                           <div class="col-md-4 margin margin-zero">
                              <input type="checkbox" (change)="selectionClick($event,'po')"
                              [checked]="permissionForm.controls['po_add'].value && permissionForm.controls['po_edit'].value && permissionForm.controls['po_view'].value && permissionForm.controls['po_delete'].value"
                              >Purchase
                           </div>
                           <div class="col-md-2">
                              <input type="checkbox" formControlName="po_add">Add
                           </div>
                           <div class="col-md-2">
                              <input type="checkbox" formControlName="po_edit">Edit
                           </div>
                           <div class="col-md-2">
                              <input type="checkbox" formControlName="po_delete">Delete
                           </div>
                           <div class="col-md-2">
                              <input type="checkbox" formControlName="po_view">View
                           </div>
                        </li>
                      <li class="row" style="margin:0;padding:0">
                           <div class="col-md-4 margin margin-zero">
                              <input type="checkbox" (change)="selectionClick($event,'enquiry')"
                              [checked]="permissionForm.controls['enquiry_add'].value && permissionForm.controls['enquiry_edit'].value && permissionForm.controls['enquiry_view'].value && permissionForm.controls['enquiry_cancel'].value"
                              >Enquiry
                           </div>
                           <div class="col-md-2">
                              <input type="checkbox" formControlName="enquiry_add">Add
                           </div>
                           <div class="col-md-2">
                              <input type="checkbox" formControlName="enquiry_edit">Edit
                           </div>
                           <div class="col-md-2">
                              <input type="checkbox" formControlName="enquiry_cancel">Cancel
                           </div>
                           <div class="col-md-2">
                              <input type="checkbox" formControlName="enquiry_view">View
                           </div>
                        </li>
                           <li class="row" style="margin:0;padding:0">
                           <div class="col-md-4 margin margin-zero">
                              <input type="checkbox" (change)="selectionClick($event,'quotation')"
                              [checked]="permissionForm.controls['quotation_add'].value && permissionForm.controls['quotation_edit'].value && permissionForm.controls['quotation_view'].value && permissionForm.controls['quotation_delete'].value"
                              >Quotation
                           </div>
                           <div class="col-md-2">
                              <input type="checkbox" formControlName="quotation_add">Add
                           </div>
                           <div class="col-md-2">
                              <input type="checkbox" formControlName="quotation_edit">Edit
                           </div>
                           <div class="col-md-2">
                              <input type="checkbox" formControlName="quotation_delete">Delete
                           </div>
                           <div class="col-md-2">
                              <input type="checkbox" formControlName="quotation_view">View
                           </div>
                        </li>
                     </ul>
                     <!--/nb-accordion-item-body>
                        </nb-accordion-item>
                        </nb-accordion>
                        <nb-card-body-->
<hr class="mb-0 mt-0">
<div class="row pb-2">
                           <div class="col-md-12 text-right pb-2">
                              <div class="btn-group">
                                 <button [routerLink]="['/user/list']" class="btn btn-primary btn-sm"><i
                                       class="fa fa-close"></i>&nbsp; Cancel </button>
                              </div>
                              &nbsp;
                              <div class="btn-group">
                                 <button   *ngIf="(permissions.user_rights_add && !userRightsId) || (permissions.user_rights_edit && userRightsId)" type="submit" class="btn btn-success btn-sm"><ngx-spinner [fullScreen]="false"  bdColor="transparent">
                                                  </ngx-spinner>  <i
                                       class="fa fa-save"></i>&nbsp;Save</button>
                              </div>
                           </div>
                        </div>
                     <!--/nb-card-body-->
                     </form>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>