<div class=" mt-1 mb-5 ">
   <div class="row ">
      <div class="col-xl-12 col-lg-12 col-md-7 col-sm-12 col-12">
         <div class="card ">
            <div  nb-card-header class="add-new-header-bg pt-1 pb-1 bg-relative text-white card-header bg-info"><i class="fa fa-ship"></i>&nbsp;Add Currency</div>
            <div class="col-lg-12">
               <div nb-card class="pt-0 pr-3 pt-2 pl-3 pb-0">
                  <div  nb-card-body>
  <form [formGroup]="currencyForm" (ngSubmit)="onSubmit()">

                  <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label>Name</label>
                <input type="text" maxlength="100" formControlName="name" class="form-control form-control-sm" placeholder="Currency Name" autocomplete="no-fill"
                  [ngClass]="{ 'is-invalid': submitted && form.name.errors }" />
                <div *ngIf="submitted && form.name.errors" class="invalid-feedback">
                  <div *ngIf="form.name.errors.required">Name is required</div>
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label>Short Key</label>
                <input type="text" maxlength="20" formControlName="shortKey" class="form-control form-control-sm" placeholder="Short Key" autocomplete="no-fill"
                  [ngClass]="{ 'is-invalid': submitted && form.shortKey.errors }" />
                <div *ngIf="submitted && form.shortKey.errors" class="invalid-feedback">
                  <div *ngIf="form.shortKey.errors.required">Short Key is required</div>
                </div>
              </div>
            </div>

          </div>

          <div class="row">
          <div class="col-sm-6">
              <div class="form-group">
                <label>Symbol</label>
                <input type="text" maxlength="100" formControlName="symbol" class="form-control form-control-sm" placeholder="Symbol" autocomplete="no-fill"
                  [ngClass]="{ 'is-invalid': submitted && form.symbol.errors }" />
                <div *ngIf="submitted && form.symbol.errors" class="invalid-feedback">
                  <div *ngIf="form.symbol.errors.required">Symbol is required</div>
                </div>
              </div>
            </div>

             <div class="col-sm-6">
              <div class="form-group">
                <label>Rate</label>
                <input type="text" maxlength="13" formControlName="Rate" class="form-control form-control-sm" placeholder="Rate" autocomplete="no-fill"
                  [ngClass]="{ 'is-invalid': submitted && form.Rate.errors }"   oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" />
                <div *ngIf="submitted && form.Rate.errors" class="invalid-feedback">
                  <div *ngIf="form.Rate.errors.required">Valid numeric Rate is required</div>
                </div>
              </div>
            </div>

          </div>
   <!-- <div class="form-group">
            <button class="btn btn-primary vendor_save" [routerLink]="['/pages/currency']">
            Cancel</button>
               &nbsp;&nbsp;&nbsp;
            <button   [disabled]="loading" class="btn btn-primary vendor_save">
             Save</button>
          </div> --><hr>
  <div class="row pb-2">
                           <div class="col-md-12 text-right pb-2">
                              <div class="btn-group">
                                 <button class="btn btn-primary vendor_save mr-1 btn-sm" [routerLink]="['/currency/list']">
                                 <i class="fa fa-close"></i>&nbsp;Cancel
                                 </button>
                              </div>
                              &nbsp;
                              <div class="btn-group">
                                 <button  [disabled]="loading" class="btn btn-success btn-sm vendor_save"><ngx-spinner [fullScreen]="false"  bdColor="transparent">
                                                  </ngx-spinner> 
                                 <i class="fa fa-save"></i>&nbsp;
                                 Save
                                 </button>
                              </div>
                           </div>
                        </div>
    </form>
           </div>
                  <!-- nb-card-body -->
               </div>
               <!-- nb-card -->
            </div>
         </div>
      </div>
   </div>
</div>