<div class=" mt-1 mb-5 ">
   <div class="row ">
      <div class="col-xl-12 col-lg-12 col-md-7 col-sm-12 col-12 p-0">
         <div class="card p-0">
            <div class="card-header bg-light custom-width-table-head col-md-12 mx-auto">
               <div class="row">
                  
                  <div class="col-md-12 p-0">
                     <div class="btn-toolbar float-right  ">
                        <button *ngIf="permissions.vessels_add" type="button" class="theme-btn-icon btn btn-default border border-right-0  btn-color btn-bg-color  btn-sm " style="border-bottom-left-radius: 3px;border-top-left-radius: 3px;border-top-right-radius:0px;border-bottom-right-radius:0px;">
                           <a [routerLink]="['/currency/add']" ><i class="fa fa-plus text-danger"></i></a>
                           </button>
                           <button type="button" class=" btn border btn-default  btn-color btn-bg-color theme-btn-icon btn-sm" style="border-bottom-right-radius: 3px;border-top-right-radius: 3px;border-top-left-radius:0px;border-bottom-left-radius:0px;">
                              <a  (click)="exportCurrency()"  > <i class="fa fa-file-excel-o text-success"></i></a>
                              </button>
                     </div>
                  </div>
                 
                 
               </div>
            </div>
            <div class="card-body p-0">
               <div class="table-responsive">
                  <table class="table mx-auto">
                     <thead class="bg-light p-0 m-0">
                        <tr class="border-0">
                           <th class="border-0" scope="col" width="5%">#</th>
                           <th class="border-0" scope="col">Currency</th>
                           <th class="border-0" scope="border-0">Short Key</th>
                           <th class="border-0" scope="border-0">Symbol</th>
                           <th class="border-0" scope="border-0">WEF</th>
                           <th class="border-0"  scope="border-0">Updated Rate</th>
                           <th class="border-0 text-center" colspan="2" width=10%>Actions</th>
                        </tr>
                     </thead>
                     <tbody *ngIf="currencyList && currencyList.length>0">
                        <tr *ngFor="let cr of currencyList;let i = index">
                           <td>{{ (offset+1)+ i}}</td>
                           <td><label placement="top" ngbTooltip="{{cr.name}}"  *ngIf="cr.name != null">{{cr.name}}</label></td>
                           <td><label placement="top" ngbTooltip="{{cr.shortKey}}"  *ngIf="cr.shortKey != null">{{cr.shortKey}}</label></td>
                           <td><label placement="top" ngbTooltip="{{cr.symbol}}"  *ngIf="cr.symbol != null">{{cr.symbol}}</label></td>
                           <td *ngIf="cr.ER?.length > 0"><label placement="top" ngbTooltip="{{cr.ER[0].WEF}}"  *ngIf="cr.ER[0].WEF != null">{{cr.ER[0].WEF}}</label></td>
                           <td *ngIf="cr.ER?.length > 0"><label placement="top" ngbTooltip="{{cr.ER[0].Rate}}"  *ngIf="cr.ER[0].Rate != null">{{cr.ER[0].Rate}}</label></td>
                           <td class="pr-5  action-col-width"> 
                              <span ngbTooltip="Edit Currency" placement ="top">
                              <a *ngIf="permissions.currency_edit" [routerLink]="['/currency/edit/',cr.id]"  > <i class="fa fa-edit fa-2x" ></i> </a> 
                           </span>
                           </td>
                        </tr>
                        <tr *ngIf="(totalItems > itemsPerPage)">
                           <td colspan="8" class="text-secondary">
                              <ngb-pagination [collectionSize]="totalItems" class="d-flex justify-content-end"
                                 [pageSize]="itemsPerPage" (pageChange)="pageChanged($event)" [(page)]="currentPage"
                                 [maxSize]="5" [boundaryLinks]="true"></ngb-pagination>
                           </td>
                        </tr>
                     </tbody>
                     <tbody *ngIf="!currencyList.length">
                        <tr>
                           <td colspan="8" class="text-center">No data found..</td>
                        </tr>
                     </tbody>
                  </table>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>