<div class="container-fluid p-0">

  <nav class="navbar navbar-expand-lg navbar-light main border-0 p-0">
    <div class="container-fluid pl-4 pr-4">

      <a class="navbar-brand" href="#">
        <img class="img img-fluid" width="120" src="assets/images/logo.png" alt="logo">
      </a>
      <div class="col-md-8" style="color: blue;">
        Request For Quotation
      </div>
      <div class="col-md-2" *ngIf="vendorIdDetails && vendorIdDetails.length > 0">
        {{convertDate(vendorIdDetails[0].date)}}
      </div>
    </div>
  </nav>
</div>
<div class="container-fluid mt-1 mb-5 ">
  <div class="row ">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
      <div class="card purchase-holder-main">
        
        <div class="row p-3" *ngIf="quotationDetails">
          <div class="container text-center pb-3 alert alert-success"> Quotation generated on {{ convertDate(quotationDetails.quotationDate)}}, Quotation number is <b>{{quotationDetails.quotationNumber}}</b>. </div>
        </div>
        <div class="row p-3" *ngIf="vendorIdDetails && vendorIdDetails.length > 0 && vendorIdDetails[0].enquiryStatus == 3">
          <div class="container text-center pb-3 alert alert-danger"> Quotation request declined by <b>{{vendorIdDetails[0].vendorName}}. </b></div>
        </div>
        
        
        <div class="row p-3" *ngIf="enquiryDetails && enquiryDetails.enqStatus > 2">
          <div class="container text-center pb-3 alert alert-danger"> Can't Sent Quotation, Please contact with our team. </div>
        </div>

        <form [formGroup]="enquirySupplierForm" (ngSubmit)="onSubmit()" encType="multipart/form-data">

          <ngb-accordion #acc="ngbAccordion" [activeIds]="openActiveIds">
            <ngb-panel id="toggle-1">
              <div class="container">
                <ng-template ngbPanelTitle>
                  <div class="row">
                    <div class="col text-primary">
                      Enquiry
                    </div>
                    <div class="col text-right"><i class="fa fa-angle-down"></i></div>
                  </div>
                </ng-template>
              </div>
              <ng-template ngbPanelContent>      
                <div class="row p-3" *ngIf="enquiryDetails">

                  <div class="col-sm-8">
                    <div class="row">
                      <div class="row col-sm-6">
                        <label class="col-sm-5">ENQ Number</label>
                        <label class="col-sm-7">: {{enquiryDetails.enqNumber}}</label>
                      </div>
                      <div class="row col-sm-6">
                        <label class="col-sm-5">Customer Name</label>
                        <label class="col-sm-7 elipsis" placement="left" ngbTooltip="{{enquiryDetails.customerName}}">: {{enquiryDetails.customerName}} </label>
                      </div>
                    </div>
                    <div class="row">
                      <div class="row col-sm-6">
                        <label class="col-sm-5">ENQ Received Date</label>
                        <label class="col-sm-7">: {{ convertDate(enquiryDetails.enqDate)}} </label>
                      </div>
                      <div class="row col-sm-6">
                        <label class="col-sm-5">Customer Ref Name</label>
                        <label class="col-sm-7 elipsis" placement="left" ngbTooltip="{{enquiryDetails.customerRefName}}">: {{enquiryDetails.customerRefName}} </label>
                      </div>
                    </div>
                    <div class="row">
                      <div class="row col-sm-6">
                        <label class="col-sm-5">Service Request For</label>
                        <label class="col-sm-7 elipsis" placement="left" ngbTooltip="{{ enquiryDetails.serviceRequestFor}}">: {{ enquiryDetails.serviceRequestFor}} </label>
                      </div>
                      <div class="row col-sm-6">
                        <label class="col-sm-5">Customer Ref No</label>
                        <label class="col-sm-7 elipsis" placement="left" ngbTooltip="{{enquiryDetails.customerRefNo}}">: {{enquiryDetails.customerRefNo}} </label>
                      </div>
                    </div>

                    <div class="row form-group">
                      <div class="row col-sm-6">
                        <label class="col-sm-5 ">Delivery Date</label>
                        <div class="col-sm-7 ">
                          <div class="input-group">
                            <input class="form-control form-control-sm" [readonly]="true" formControlName="deliveryDate"
                              placeholder="yyyy-mm-dd" name="dp" ngbDatepicker #d="ngbDatepicker" (click)="d.toggle()">
                            <div class="input-group-append">
                              <button class="btn btn-sm btn-outline-secondary calendar" (click)="d.toggle()"
                                type="button"><i class="fa fa-calendar fa-lg"></i></button>
                            </div>
                            <div *ngIf="submitted && form.deliveryDate.errors" class="invalid-feedback">
                              <div *ngIf="form.deliveryDate.errors.required">
                                <label> Delivery Date Is Required</label>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="row col-sm-6">
                        <label class="col-sm-5 ">Currency (Vend)</label>
                        <label class="col-sm-7 ">
                          
                          <ng-autocomplete [data]="currencies"
                            (selected)="changeSelection($event,currencies,'name','vendCurrency',null,'vendCurrencyXid');toUsd();"
                            [searchKeyword]="keywordCurrency" placeHolder="Select Currency Name"
                            formControlName="currencyNameAuto" [itemTemplate]="currencyTemplate"
                            [initialValue]=""
                            (inputCleared)="clear(['vendCurrencyXid','vendCurrency','currencyNameAuto'],null,'currencyNameAuto')"
                            [notFoundTemplate]="notFoundTemplate">
                          </ng-autocomplete>
                          <ng-template #currencyTemplate let-item>
                            <a [innerHTML]="item.name"></a>
                          </ng-template>
                          <label *ngIf="submitted && form.vendCurrency.errors" class="error">
                            Select Valid Currency.
                          </label>

                        </label>
                      </div>
                    </div>
                    <div class="row form-group">
                     
                      <div class="row col-sm-6">
                        <label class="col-sm-5 ">Pay Terms </label>
                        <div class="col-sm-7 ">
                          <div class="input-control">
                            <ng-select fullWidth [items]="PayTerms" class="custom" autocomplete="no-fill"
                              bindLabel="name" bindValue="id" [clearable]="false" [searchable]="false"
                              placeholder="Select Pay Term" formControlName="payTermId"
                              (change)="changeSelection($event,PayTerms,'name','payTerm',null,'payTermId')">
                            </ng-select>
                            <label *ngIf="submitted && form.payTerm.errors" class="error">
                              Pay Term Required.
                            </label>
                          </div>
                        </div>
                      </div>
                      <div class="row col-sm-6">
                        <label class="col-sm-5 ">Pay Mode</label>
                        <div class="col-sm-7 ">
                          <div class="input-control">
                            <ng-select fullWidth [items]="PayModes" class="custom" autocomplete="no-fill"
                              bindLabel="name" bindValue="id" [clearable]="false" [searchable]="false"
                              placeholder="Select Pay Mode" formControlName="payModeId"
                              (change)="changeSelection($event,PayModes,'name','payMode',null,'payModeId')">
                            </ng-select>
                            <label *ngIf="submitted && form.payMode.errors" class="error">
                              Pay Mode Is Required.
                            </label>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="row form-group">
                      <div class="row col-sm-6">
                        <label class="col-sm-5 ">Inco Terms </label>
                        <div class="col-sm-7 ">
                          <div class="input-control">
                            <ng-select [items]="IncoTerms" class="custom" autocomplete="no-fill" bindLabel="name"
                              bindValue="id" [clearable]="false" [searchable]="false" placeholder="Select Inco Term"
                              formControlName="incoTermId"
                              (change)="changeSelection($event,IncoTerms,'name','incoTerm',null,'incoTermId')">
                            </ng-select>
                            <label *ngIf="submitted && form.incoTerm.errors" class="error">
                              Inco Terms Is Required.
                            </label>
                          </div>
                        </div>
                      </div>
                      <div class="row col-sm-6">
                        <label class="col-sm-5 ">Inco Place </label>
                        <div class="col-sm-7 ">
                            <input type="text" maxlength="60" autocomplete="no-fill" formControlName="incoPlace"
                              class="form-control form-control-sm "
                              [ngClass]="{ 'is-invalid': submitted && form.incoPlace.errors }" />
                            <label *ngIf="submitted && form.incoPlace.errors" class="error">
                              Inco Place Is Required.
                            </label>
                        </div>
                      </div>
                    </div>

                    <div class="row">
                      <div class="row col-sm-6">
                        <label class="col-sm-5 ">Remarks </label>
                        <div class="col-sm-7 ">
                          <textarea formControlName="remarks" class="form-control new_text1" rows="1"
                            [ngClass]="{ 'is-invalid': submitted && form.remarks.errors }" autocomplete="no-fill">
                          </textarea>
                          <label *ngIf="submitted && form.remarks.errors" class="error">
                            Remarks Is Required.
                          </label>
                        </div>
                      </div>
                    </div>

                  </div>

                  <div class="col-md-4">
                    <div class="row" *ngIf="vendorIdDetails && vendorIdDetails.length > 0">
                      <div class="col-sm-12">
                        <label class="col-sm-4 p-0">Vendor Name</label>
                        <label class="col-sm-8">: {{vendorIdDetails[0].vendorName}} </label>
                      </div>
                    </div>


                    <table class="table rate-table-border">
                      <thead>
                        <tr class="bg-info text-white">
                          <th>Total Amount</th>
                        </tr>
                      </thead>
                      <tbody class="bg-rate">
                        <tr>
                          <td>
                            <p>
                              <label class="amount-box-label"> <b>Item Total <span *ngIf="currencyShortKey"> ( {{ currencyShortKey }} ) </span></b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                              </label>:&nbsp;<label class="amount-box-value"
                                *ngIf="enquirySupplierForm.get('fromVendorCost').value">
                                {{currencySymbol}} {{ enquirySupplierForm.get('fromVendorCost').value }} </label>
                            </p>
                          </td>
                        </tr>
                        
                        <tr>
                          <td>
                            <p>
                              <label class="amount-box-value"> Tax/Charge : {{ vend_tcdTotal }}, Disc : {{ vend_tcdDiscount }} </label>
                            </p>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <p>
                              <label class="amount-box-label"> <b>Amount <span *ngIf="currencyShortKey"> ( {{ currencyShortKey }} ) </span></b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                              </label>:&nbsp;<label class="amount-box-value"
                                *ngIf="enquirySupplierForm.get('fromVendorCostWithTCD').value && enquirySupplierForm.get('fromVendorCostWithTCD').value > 0">
                                {{currencySymbol}} {{ enquirySupplierForm.get('fromVendorCostWithTCD').value }} </label>
                            </p>
                          </td>
                        </tr>
                        <!--tr
                          *ngIf="enquirySupplierForm.value.vendAmountUsd && enquirySupplierForm.value.vendAmountUsd > 0">
                          <td>
                            <p>
                              <label class="amount-box-label"> Amount(USD) </label>:<label class="amount-box-value">
                                ${{enquirySupplierForm.value.vendAmountUsd}} </label>
                            </p>
                          </td>
                        </tr -->
                      </tbody>
                    </table>
                    <div class="col-sm-12 invalid-feedback">
                      <span
                        *ngIf="(submitted && form.fromVendorCost.errors && form.fromVendorCost.errors.required) || (submitted && form.fromVendorCostWithTCD.errors && form.fromVendorCostWithTCD.errors.required)">
                        <label> Please add quotation amount</label>
                      </span>
                      <span
                        *ngIf="(submitted && form.fromVendorCost.errors && form.fromVendorCost.errors.pattern) || (submitted && form.fromVendorCostWithTCD.errors && form.fromVendorCostWithTCD.errors.pattern)">
                        <label> There is no quotation amount, expect amount (Eg:100.00) </label>
                      </span>
                    </div>
                  </div>

                </div>
              </ng-template>
            </ngb-panel>

            <ngb-panel id="toggle-2">
              <ng-template ngbPanelTitle>
                <div class="row">
                  <div class="col text-primary">
                    Item Details
                  </div>
                  <div class="col">
                  </div>
                  <div class="col text-right"><i class="fa fa-angle-down"></i></div>
                </div>
              </ng-template>
              <ng-template ngbPanelContent>
                <div class="container-fluid">
                  <div class="row  purchase-holder">
                    <div class=" col-md-12">
                      <div class="row bg-relative-two custom-table text-dark mt-3">  
                        <div class="new_spc1 col-md-1 mx-auto">                        
                          <button type="button" class="address-btn" (click)="createItems(true)" outline
                            status="sussess">
                            <i class="fa fa-plus" aria-hidden="true"></i>
                          </button>
                        </div>                      
                        <div class="new_spc1a col text-center" scope="col">#</div>
                        <div class="new_spc1a col-md-2" scope="col">Group</div>
                        <div class="new_spc1a col-md-2" scope="col">Description</div>
                        <div class="new_spc1a col-md-2" scope="col">Type</div>
                        <div class="new_spc1ab col" style="width:9.75%" scope="col">UOM</div>
                        <div class="new_spc1a col" scope="col">Quantity</div>
                        <div class="new_spc1a col" scope="col">Price</div>
                        <div class="new_spc1a col" scope="col">Cost</div>
                      </div>
                    </div>
                    <div class="container-fluid">
                      <div formArrayName="details" class="address">
                        <div *ngFor="let item of enquirySupplierForm.get('details')['controls']; let i = index"
                          [formGroupName]="i" class="row d-flex h-minus"
                          [class.hidden]="form.details.controls[i].controls.status.value!=1">                          
                          
                          <ng-container *ngIf="form.details.controls[i].controls.status.value==1">
                            <div class="col-md-1 text-center border custom-h pt-2 border-right-0 ">
                              <div class="form-group">
                                <button type="button" class="btn-default btn-circle address-btn-delete"
                                  (click)="deleteItems(i)" outline status="sussess"
                                  *ngIf="enquirySupplierForm.get('details').controls.length>1">
                                  <i class="fa fa-close" aria-hidden="true"></i>
                                </button>
                              </div>
                            </div>
                            <div class="col-md-1 text-center custom-h border border-right-0 pt-2">
                              {{ (i+1) }}
                            </div>     
                            <div class="col-md-2  custom-h border border-right-0 pt-2 po-ellipsis1">
                              <div [class]="'form-group itemGroup'+i+'_id'">
                                <ng-autocomplete [data]="itemGroups"
                                  (selected)="changeSelection($event,itemGroups,'groupName','group',i,'groupXid')"
                                  [searchKeyword]="keywordGroup" placeHolder="Select Group Name"
                                  formControlName="groupNameAuto" [itemTemplate]="groupTemplate" (closed)="fixSelectedData('group',i)"
                                  (inputCleared)="clear(['groupXid','group','groupNameAuto'],i,'groupNameAuto')"
                                  [notFoundTemplate]="notFoundTemplate">
                                </ng-autocomplete>
                                <ng-template #groupTemplate let-item>
                                  <a [innerHTML]="item.groupName"></a>
                                </ng-template>
                                <label *ngIf="submitted && form.details.controls[i].controls.group.errors"
                                  class="error">
                                 Select Valid Group.
                                </label>
                              </div>
                              <div [class]="'form-group d-none itemGroup'+i">
                                <input type="text" formControlName="group" class="form-control custom-width" />
                                <i class="fa fa-close" aria-hidden="true"
                                  (click)="clear(['groupXid','group','groupNameAuto'],i,'groupNameAuto');close('itemGroup'+i)"></i>
                                <label *ngIf="submitted && form.details.controls[i].controls.group.errors"
                                  class="error">
                                  Select Valid Group.
                                </label>
                              </div>
                            </div>
                            <div class="col-md-2 custom-h border border-right-0  pt-2">
                              <div class="form-group">
                                <input type="text" formControlName="description"
                                  class="form-control form-control-sm border" autocomplete="no-fill"
                                  [ngClass]="{ 'is-invalid': submitted && form.details.controls[i].controls.description.errors }" />
                                <label *ngIf="submitted && form.details.controls[i].controls.description.errors"
                                  class="error">
                                  Required
                                </label>
                              </div>
                            </div>
                            <div class="col-md-2 custom-h border border-right-0  pt-2">
                              <div [class]="'form-group itemType'+i+'_id'" class="new_group_1">
                                <ng-select [items]="itemTypes" fullWidth class="custom" autocomplete="no-fill"
                                  bindLabel="name" bindValue="id" [clearable]="false" [searchable]="false"
                                  placeholder="Choose Type" formControlName="typeXid"
                                  (change)="changeSelection($event,itemTypes,'name','type',i)">
                                </ng-select>

                                <label *ngIf="submitted && form.details.controls[i].controls.type.errors" class="error">
                                  Type Is Required.
                                </label>
                              </div>
                              <div [class]="'form-group d-none itemType'+i">
                                <input type="text" formControlName="type" class="form-control border custom-width" />
                                <i class="fa fa-times-circle" aria-hidden="true"
                                  (click)="clear(['typeXid','type'],i);close('itemType'+i)"></i>
                                <label *ngIf="submitted && form.details.controls[i].controls.type.errors" class="error">
                                  Type Is Required.
                                </label>
                              </div>
                            </div>    
                            <div class=" custom-h border border-right-0 pl-2 pr-2 pb-2  pt-2" style="width:9.75%">
                              <div [class]="'form-group uom'+i+'_id'" class="new_width1">

                                <ng-autocomplete class="new_6" [data]="uoms"
                                  (selected)="changeSelection($event,uoms,'uomName','uom',i,'uomXid')"
                                  [searchKeyword]="keywordUom" placeHolder="Select UOM" formControlName="uomNameAuto" (closed)="fixSelectedData('uom',i)"
                                  [itemTemplate]="uomTemplate"
                                  (inputCleared)="clear(['uomXid','uom','uomNameAuto'],i,'uomNameAuto')"
                                  [notFoundTemplate]="notFoundTemplate">
                                </ng-autocomplete>
                                <ng-template #uomTemplate let-item>
                                  <a [innerHTML]="item.uomName"></a>
                                </ng-template>
                                <label *ngIf="submitted && form.details.controls[i].controls.uom.errors" class="error">
                                  Select Valid UOM.
                                </label>
                              </div>
                              <div [class]="'form-group d-none uom'+i">
                                <input type="text" formControlName="uom"
                                  class="form-control border-top-0 border-left-0 border-right-0 custom-width" />
                                <i class="fa fa-close" aria-hidden="true"
                                  (click)="clear(['uomXid','uom','uomNameAuto'],i,'uomNameAuto');close('uom'+i)"></i>
                                <label *ngIf="submitted && form.details.controls[i].controls.uom.errors" class="error">
                                  Select Valid UOM.
                                </label>
                              </div>
                            </div>
                            <div class="col custom-h border border-right-0  pt-2">
                              <div class="form-group">
                                <input type="text" formControlName="qtQty"
                                  class="form-control form-control-sm border custom-width" autocomplete="no-fill"
                                  placeholder="Eg:2.00"
                                  (blur)="makeDecimalPoint('qtQty',i,'details',2);calculateCost(i)"
                                  (keyup)="calculateCost(i)"
                                  [ngClass]="{ 'is-invalid': submitted && form.details.controls[i].controls.qtQty.errors }" />
                                <label
                                  *ngIf="submitted && form.details.controls[i].controls.qtQty.errors && form.details.controls[i].controls.qtQty.errors.required"
                                  class="error">
                                  Required
                                </label>
                                <label
                                  *ngIf="submitted && form.details.controls[i].controls.qtQty.errors && form.details.controls[i].controls.qtQty.errors.pattern"
                                  class="error">
                                  Invalid Quantity (Eg:2.00)
                                </label>
                              </div>
                            </div>
                            <div class="col border custom-h border-right-0  pt-2">
                              <div class="form-group">
                                <input type="text" formControlName="venQtUnitPrice"
                                  class="form-control form-control-sm border custom-width" autocomplete="no-fill"
                                  placeholder="Eg:25.010"
                                  (blur)="makeDecimalPoint('venQtUnitPrice',i,'details');calculateCost(i);"
                                  (keyup)="calculateCost(i)"
                                  [ngClass]="{ 'is-invalid': submitted && form.details.controls[i].controls.venQtUnitPrice.errors }" />
                                <label
                                  *ngIf="submitted && form.details.controls[i].controls.venQtUnitPrice.errors && form.details.controls[i].controls.venQtUnitPrice.errors.required"
                                  class="error">
                                  Required
                                </label>
                                <label
                                  *ngIf="submitted && form.details.controls[i].controls.venQtUnitPrice.errors && form.details.controls[i].controls.venQtUnitPrice.errors.pattern"
                                  class="error">
                                  Invalid Amount (Eg:25.010)
                                </label>
                              </div>
                            </div>
                            <div class="col border border-right-0  custom-h pt-2">
                              <div class="form-group">
                                <input type="text" formControlName="vendQtCost"
                                  class="form-control form-control-sm border custom-width" disabled
                                  [ngClass]="{ 'is-invalid': submitted && form.details.controls[i].controls.vendQtCost.errors }" />
                                <label
                                  *ngIf="submitted && form.details.controls[i].controls.vendQtCost.errors && form.details.controls[i].controls.vendQtCost.errors.required"
                                  class="error">
                                  Required
                                </label>
                                <label
                                  *ngIf="submitted && form.details.controls[i].controls.vendQtCost.errors && form.details.controls[i].controls.vendQtCost.errors.pattern"
                                  class="error">
                                  Invalid Amount (Eg:25.010)
                                </label>
                              </div>
                            </div>
                          </ng-container>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

              </ng-template>
            </ngb-panel>

            <ngb-panel id="toggle-3">
              <ng-template ngbPanelTitle>
                <div class="row ">
                  <div class="col text-primary">
                    TCD Details
                  </div>

                  <div class="col text-right"><i class="fa fa-angle-down"></i></div>
                </div>
              </ng-template>
              <ng-template ngbPanelContent>
                <div class="container-fluid">
                  <div class="row  purchase-holder">
                    <div class=" col-md-12">
                      <div class="row bg-relative-two custom-table text-dark mt-3">
                        <div class="col-md-1 mx-auto ">
                          <button type="button" class="address-btn" (click)="createTcdItems(true)" outline
                            status="sussess">
                            <i class="fa fa-plus" aria-hidden="true"></i>
                          </button>
                        </div>
                        <div class="new_spc1a col" scope="col">TCD Types</div>
                        <div class="new_spc1a col" scope="col">Description</div>
                        <div class="new_spc1a col" scope="col">Flat/Percentage</div>
                        <div class="new_spc1ab col" scope="col">Value</div>
                        <div class="new_spc1a col" scope="col">TCD Amount</div>

                      </div>
                    </div>




                    <div class="container-fluid">

                      <div formArrayName="tcdDetails" class="address">
                        <div *ngFor="let item of enquirySupplierForm.get('tcdDetails').controls; let i = index"
                          [formGroupName]="i" [class.hidden]="form.tcdDetails.controls[i].controls.status.value!=1"
                          class="row d-flex h-minus">
                          <ng-container *ngIf="form.tcdDetails.controls[i].controls.status.value==1">

                            <div class="col-md-1  custom-h border border-right-0 pt-2">
                              <div class="form-group text-center">
                                <button type="button" class="btn-default btn-circle address-btn-delete"
                                  (click)="deleteTcdItems(i)" outline status="sussess"
                                  *ngIf="enquirySupplierForm.get('tcdDetails').controls.length>1">
                                  <i class="fa fa-close" aria-hidden="true"></i>
                                </button>
                              </div>
                            </div>
                            <div class="col custom-h border border-right-0 pt-2">
                              <div [class]="'form-group tcdType'+i+'_id'">
                                <ng-select [items]="tcdTypes" fullWidth bindLabel="tcdName" bindValue="id"
                                  [clearable]="false" [searchable]="false" placeholder="Choose Type"
                                  formControlName="tcdType" autocomplete="no-fill" (change)="calculateTcdAmount()">
                                </ng-select>
                                <label *ngIf="tcdSubmitted && form.tcdDetails.controls[i].controls.tcdType.errors"
                                  class="error">
                                  TCD Type Is Required.
                                </label>
                              </div>
                              <div [class]="'form-group d-none tcdType'+i">
                                <input type="text" class="form-control form-control-sm border" formControlName="tcdName"
                                  [ngClass]="{ 'is-invalid': submitted && form.tcdDetails.controls[i].controls.tcdType.errors }" />

                                <i class="fa fa-floppy-o" aria-hidden="true" class="text-info pull-right hand"
                                  (click)="saveList('tcdName','tcdType','tcdTypes',i,'tcdDetails')"></i>
                                <i class="fa fa-close" aria-hidden="true" class="text-danger pull-right hand"
                                  (click)="clearTcd(['tcdType','tcdName'],i);close('tcdType'+i);calculateTcdAmount();"></i>
                                <label *ngIf="tcdSubmitted && form.tcdDetails.controls[i].controls.tcdType.errors"
                                  class="error">
                                  TCD Type Is Required.
                                </label>
                              </div>
                            </div>
                            <div class="col custom-h border border-right-0 pt-2">
                              <div class="form-group">
                                <input type="text" formControlName="tcdDesc"
                                  class="form-control form-control-sm border" />
                              </div>
                            </div>

                            <div class="col custom-h border border-right-0 pt-2">
                              <div class="form-group control-select ">
                                <ng-select [items]="FPtypes" fullWidth bindLabel="name" bindValue="name"
                                  [clearable]="false" [searchable]="false" placeholder="Choose Type"
                                  autocomplete="no-fill" formControlName="flatOrPercentage"
                                  (change)="calculateTcdAmount();validateTcdValue(i)">
                                </ng-select>
                                <label
                                  *ngIf="tcdSubmitted && form.tcdDetails.controls[i].controls.flatOrPercentage.errors"
                                  class="error">
                                  Flat/Percentage Is Required.
                                </label>
                              </div>
                            </div>
                            <div class="col custom-h border border-right-0 pt-2">
                              <div class="form-group">
                                <input type="text" formControlName="amount"
                                  class="form-control form-control-sm border custom-width" placeholder="Eg:25.010"
                                  autocomplete="no-fill"
                                  (blur)="makeDecimalPoint('amount',i,'tcdDetails');calculateTcdAmount()"
                                  (keyup)="calculateTcdAmount();validateTcdValue(i)"
                                  [ngClass]="{ 'is-invalid': tcdSubmitted && form.tcdDetails.controls[i].controls.amount.errors }" />
                                <label
                                  *ngIf="tcdSubmitted && form.tcdDetails.controls[i].controls.amount.errors && form.tcdDetails.controls[i].controls.amount.errors.required"
                                  class="error">
                                  Amount Is Required.
                                </label>
                                <label
                                  *ngIf="tcdSubmitted && form.tcdDetails.controls[i].controls.amount.errors && form.tcdDetails.controls[i].controls.amount.errors.pattern"
                                  class="error">
                                  Invalid Amount (Eg:25.010)
                                </label>
                              </div>
                            </div>
                            <div class="col custom-h border border-right-0 pt-2">
                              <div class="form-group">
                                <input type="text" formControlName="tcdAmount" class="form-control border custom-width"
                                  placeholder="Eg:25.010" disabled
                                  [ngClass]="{ 'is-invalid': tcdSubmitted && form.tcdDetails.controls[i].controls.tcdAmount.errors }" />
                                <label
                                  *ngIf="tcdSubmitted && form.tcdDetails.controls[i].controls.tcdAmount.errors && form.tcdDetails.controls[i].controls.tcdAmount.errors.required"
                                  class="error">
                                  TCD Amount Is Required.
                                </label>
                                <label
                                  *ngIf="tcdSubmitted && form.tcdDetails.controls[i].controls.tcdAmount.errors && form.tcdDetails.controls[i].controls.tcdAmount.errors.pattern"
                                  class="error">
                                  Invalid Amount (Eg:25.010)
                                </label>
                              </div>
                            </div>
                            <!--p class="text-danger text-center width-100" *ngIf="tcdError">Note: {{tcdError}}</p-->
                          </ng-container>
                        </div>
                        <p class="text-danger text-center width-100" *ngIf="tcdError">Note: {{tcdError}}</p>
                      </div>
                    </div>
                  </div>
                </div>
              </ng-template>
            </ngb-panel>

            <ngb-panel id="toggle-4">
              <ng-template ngbPanelTitle>
                <div class="row">
                  <div class="col">
                    Documents
                  </div>
                  <div class="col text-right"><i class="fa fa-angle-down"></i></div>
                </div>
              </ng-template>
              <ng-template ngbPanelContent>
                <div class="container h-minus">                  
                  <div class="col-12" *ngIf="enquiryDetails && enquiryDetails.EDO.length > 0">
                    <div class="row mrgn-t-10">
                      <div  class="col-2 text-center mrgn-t-10 ovr-hid"
                        *ngFor="let item of enquiryDetails.EDO; let i = index">
                        <img [src]="UPLOAD_PATH+'/'+item.fileName" class="pr-5 pt-3" width = "200" height=" 150"
                          onerror="this.src='../../../../assets/images/unnamed.png';">
                        <div class="item_image_name">{{item.fileName}} {{ UPLOAD_PATH}}{{item.fileName }}</div>
                        <div>
                          <a target="_blank" [href]="UPLOAD_PATH+'/'+item.fileName">
                            <i class="fa fa-arrow-down" aria-hidden="true"></i>
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </ng-template>
            </ngb-panel>


            <!--ngb-panel id="toggle-4">
              <ng-template ngbPanelTitle>
                <div class="row">
                  <div class="col text-primary">
                    Documents
                  </div>
                  <div class="col text-primary">
                  </div>
                  <div class="col text-right"><i class="fa fa-angle-down"></i></div>
                </div>
              </ng-template>
              <ng-template ngbPanelContent>
                <div class="container-fluid h-minus pt-2 pb-2">
                  <input type="file" style="display: none;" (change)="upload($event.target.files)" id="fileUpload"
                    class="hidden" multiple />
                  <div class="col-12 file-upload text-info" (click)="triggerFileUpload()">
                    <i class="fa fa-upload" aria-hidden="true"></i>&nbsp;Upload File
                  </div>
                  <div class="col-12" *ngIf="fileToUpload && fileToUpload.length > 0">
                    <div class="row mrgn-t-10">
                      <div class="col-2 text-center mrgn-t-10 ovr-hid" *ngFor="let item of fileToUpload; let i = index">
                        <img ngbTooltip="{{item.name}}" [src]="imageSrc[i]" class="img-sz img img-responsive img-fluid"
                          onerror="this.src='../../../../assets/images/unnamed.png';">
                        <div>{{item.name}}</div>
                        <div>
                          <i class="fa fa-trash" aria-hidden="true" class=" text-info hand" (click)="deleteDoc(i)"></i>
                        </div>
                      </div>
                    </div>
                  </div>
                  <hr *ngIf="enquiryDetails && enquiryDetails.EDO.length > 0">
                  <div class="col-12" *ngIf="enquiryDetails && enquiryDetails.EDO.length > 0">
                    <div class="row mrgn-t-10">
                      <div class="col-2 text-center mrgn-t-10 ovr-hid"
                        *ngFor="let item of enquiryDetails.EDO; let i = index">
                        <img [src]="DOC_PATH+'/'+item.fileName" class="img-sz img img-responsive img-fluid"
                          onerror="this.src='../../../../assets/images/unnamed.png';">
                        <div class="item_image_name">{{item.fileName}}</div>
                        <div>
                          <i class="fa fa-trash" aria-hidden="true" (click)="deleteDocFromServer(item,i)"></i>
                          <a target="_blank" [href]="DOC_PATH+'/'+item.fileName">
                            <i class="fa fa-arrow-down" aria-hidden="true"></i>
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </ng-template>
            </ngb-panel-->

          </ngb-accordion>
          <hr class="mb-2 mt-2">
          <div class="col-md-12 p-0 m-0 text-danger text-center" *ngIf="quotationDetails"> Quotation Generated</div>
          <div class="row p-0 m-0" *ngIf="!quotationDetails && enquiryDetails && enquiryDetails.enqStatus < 3">
            <div class="col-md-12 text-right pb-2" *ngIf="vendorIdDetails && vendorIdDetails.length > 0 && vendorIdDetails[0].enquiryStatus != 3">
              <div class="btn-group">
                <a class="btn btn-sm btn-danger" (click)="declineQuote()">
                  <i class="fa fa-close" aria-hidden="true"></i>&nbsp;Decline Quote
                </a>

              </div>
              &nbsp;
              <div class="btn-group">
                <button [disabled]="loading" class="btn btn-sm btn-success vendor_save">
                  <ngx-spinner [fullScreen]="false" bdColor="transparent">
                  </ngx-spinner>
                  <i class="fa fa-save" aria-hidden="true"></i>&nbsp;Submit
                </button>
              </div>
            </div>
          </div>
          <div class="copy-right">
            <p>&copy;2020 samudhra</p>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<footer>
  <div class="container-fluid p-0">
  </div>
</footer>