 <ngx-spinner bdColor="rgba(0, 0, 0, 0.4)"></ngx-spinner>
<div class=" mt-1 mb-5 ">
   <div class="row ">
      <div class="col-xl-12 col-lg-12 col-md-7 p-0 col-sm-12 col-12">
         <div class="card p-0"> 
            <div class="card-header bg-light custom-width-table-head col-md-12 mx-auto">
               <div class="row">
                  <div class="col-md-8">
                     <div class="row  customer-heading-wrapper">
                        <div class="col-10 p-0 ">
                          
                           <div class="input-group new_search" id="adv-search" (clickOutside)="onClickedOutside($event)">
                            <input type="text" class="form-control rounded-4 form-control-sm" placeholder="Search here.."  [(ngModel)]="search" (ngModelChange)="removeAdvSearch();searchVesselCheck.next($event)">
                            <div class="input-group-append">
                              <div class="input-group-append">
                                <button  class="btn btn-danger rounded-0 " type="button"   *ngIf="(serachType != 'all' || search!='')"  (click)="search='';resetSearchForm();">
                                  <i class="fa fa-trash"></i>
                                </button>
                              </div>
                              <button class="btn btn-secondary rounded-right hand searc-opt search_new user_search" type="button"  pack="eva" (click)="clearMainSearch('');searchToggle = !searchToggle">
                                <i class="fa fa-caret-down"></i>
                              </button>
                            </div>
                            
                             
                              <!-- <label nbicon   *ngIf="(serachType != 'all' || search!='')"  (click)="search='';resetSearchForm();" icon="close-circle" pack="eva" class="mrgn-t-10 close_search_icon"></label> -->
                              <div class="advance-search" [ngClass]="{'advance-search': true, 
                              'toggleHide': !searchToggle}"  *ngIf="firstLoad">
                              <div class="col-md-12">
                              <form [formGroup]="vesselSeacrhForm" (ngSubmit)="onSubmit()">
                             
                                <div class="container-fluid  dropdown-content  mt-2">
                                 <div class="card card-holder shadow-light p-0">
                                  
                                   
                                <div class="col-md-12 pl-4">
                                  
                              <div class="row mt-2 ">
                                 <div class="col-lg-2 col-md-12 ">
                                    <label>Vessel Code</label>
                                 </div>
                                 <div class="col-lg-10 col-md-12 ">
                                    <div class="form-group">
                                       <input   class=" transparent-field form-control-sm rounded-0 form-control border-top-0 border-left-0 border-right-0 " autocomplete="no-fill" type="text" formControlName="vesselCode"
                                        autocomplete="no-fill"   placeholder="" [ngClass]="{ 'status-danger': submitted && f.vesselCode.errors }" />
                                    </div>
                                 </div>
                                 <div class="col-lg-2 col-md-12 ">
                                  <label>Vessel</label>
                               </div>
                                 <div class="col-lg-10 col-md-12">
                                    <div class="form-group">
                                     
                                       <input  class="form-control form-control-sm transparent-field rounded-0 border-top-0 border-left-0 border-right-0 " type="text" formControlName="vessel" placeholder="" autocomplete="no-fill"
                                          [ngClass]="{ 'status-danger': submitted && f.vessel.errors }" />
                                    </div>
                                 </div>
                              </div>
                              <div class="row ">
                                 <div class="col-lg-2 col-md-12">
                                    <label>Vessel Type</label>
                                 </div>
                                 <div class="col-lg-10 col-md-12">
                                    <div class="form-group">
                                       <ng-autocomplete [data]="vesselTypeList" #auto
                                       (selected)="changeSelection($event,'vesselType');getVesselSubTypes($event,vesselTypeList)"
                                       (inputCleared)="clearSelection('vesselType')" [searchKeyword]="kyVesselType"  formControlName="vesselTypeAuto"     (inputFocused)='onFocused($event)'                                  placeHolder="Vessel Type" [itemTemplate]="vesselTypeTemplate"
                                       [notFoundTemplate]="notFoundTemplate" [(ngModel)]="vesselTypeAuto" [initialValue]="vesselTypeAuto"
                                       [ngClass]="{ 'is-invalid': submitted && f.vesselType.errors }">
                                       </ng-autocomplete>
                                       <ng-template #vesselTypeTemplate let-item>
                                          <a [innerHTML]="item.Vtype"></a>
                                       </ng-template>
                                    </div>
                                 </div>
                              </div>
                              <div class="row">
                                 <div class="col-lg-2 col-md-12 align-item">
                                    <label>Sub Type</label>
                                 </div>
                                 <div class="col-lg-10 col-md-12">
                                    <div class="form-group">
                                       <ng-autocomplete [data]="vesselSubTypeList"
                                       (selected)="changeSelection($event,'vesselSubType')"
                                       (inputCleared)="clearSelection('vesselSubType')" [searchKeyword]="kyVesselSubType" formControlName="vesselSubTypeAuto"
                                       placeHolder="Vessel Sub Type" [itemTemplate]="vesselSubTypeTemplate" [(ngModel)]="vesselSubTypeAuto"
                                       [notFoundTemplate]="notFoundTemplate" [initialValue]="vesselSubTypeAuto"
                                       [ngClass]="{ 'is-invalid': submitted && f.vesselSubType.errors }">
                                       </ng-autocomplete>
                                       <ng-template #vesselSubTypeTemplate let-item>
                                          <a [innerHTML]="item.VSubtype"></a>
                                       </ng-template>
                                    </div>
                                 </div>
                              </div>
                              <div class="row">
                                 <div class="col-lg-2 col-md-12 align-item">
                                    <label>Owner</label>
                                 </div>
                                 <div class="col-lg-10 col-md-12">
                                    <div class="form-group">
                                       <ng-autocomplete [data]="ownerList"
                                       (selected)="changeSelection($event,'owner')"
                                       (inputCleared)="clearSelection('owner')" [searchKeyword]="kyOwner"
                                       placeHolder="Owner" [itemTemplate]="ownerTemplate" [(ngModel)]="ownerName" [initialValue]="ownerName"
                                       [notFoundTemplate]="notFoundTemplate" formControlName="ownerName"
                                       [ngClass]="{ 'is-invalid': submitted && f.owner.errors }">
                                       </ng-autocomplete>
                                       <ng-template #ownerTemplate let-item>
                                          <a [innerHTML]="item.ownername"></a>
                                       </ng-template>
                                    </div>
                                 </div>
                              </div>
                              <div class="row">
                                 <div class="col-lg-2 col-md-12 align-item">
                                    <label>Port</label>
                                 </div>
                                 <div class="col-lg-10 col-md-12">
                                    <div class="form-group">
                                       <ng-autocomplete [data]="portOfRegistryList"
                                      (selected)="changeSelection($event,'port')"
                                       (inputCleared)="clearSelection('portOfRegistryXid')" [searchKeyword]="kyPort" formControlName="portName" [(ngModel)]="portName" [initialValue]="portName"
                                       placeHolder="Select Port" [itemTemplate]="portOfRegistryTemplate"
                                       [notFoundTemplate]="notFoundTemplate"
                                       [ngClass]="{ 'is-invalid': submitted && f.portOfRegistryXid.errors }">
                                       </ng-autocomplete>
                                       <ng-template #portOfRegistryTemplate let-item>
                                          <a [innerHTML]="item.name"></a>
                                       </ng-template>
                                    </div>
                                 </div>
                              </div>
                              <div class="row">
                                 
                                 <div class="col-lg-12 col-md-12 text-right mb-2">
                                    <button type="submit" class="btn btn-primary btn-sm mr-1 search_user_btn"  
                                       [disabled]="searchLoader">  
                                       <i class="fa fa-search"></i>&nbsp;  Search</button>
                                    <button type="button" class="mr-1 btn btn-defaultcancel_btn_1 btn-sm btn-danger"
                                       (click)="searchToggle = !searchToggle"><i class="fa fa-close"></i>&nbsp; Close</button>
                                    <button type="button" class="btn btn-default btn-sm reset_user"
                                       (click)="resetSearchForm('reset')">
                                       <i class="fa fa-refresh"></i>&nbsp; Reset  </button>
                                 </div>
                              </div>
                              </div>
                              </div>
                            </div>
                          
                              </form>
                            </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="col-md-4 p-0">
                  <div class="btn-toolbar float-right  ">
                     <button *ngIf="permissions.vessels_add" type="button" type="button" class="btn btn-default border border-right-0  btn-color btn-bg-color theme-btn-icon  btn-sm " style="border-bottom-left-radius: 3px;border-top-left-radius: 3px;border-top-right-radius:0px;border-bottom-right-radius:0px;">
                        <a  [routerLink]="['/vessel/add']" ><i class="fa fa-plus text-danger"></i></a>
                        </button>
                        <button type="button" class="btn border btn-default  btn-color btn-bg-color theme-btn-icon btn-sm" style="border-bottom-right-radius: 3px;border-top-right-radius: 3px;border-top-left-radius:0px;border-bottom-left-radius:0px;">
                           <a [routerLink]="['/vessel/list']" (click)="exportVessel()" > <i class="fa fa-file-excel-o text-success"></i></a>
                           </button>
                  </div>
               </div>

              
            </div>
         </div>
         <div class="card-body p-0">
            <div class="table-responsive">
               <table class="table mx-auto">
                  <thead class="bg-light p-0 m-0">
                     <tr class="border-0">
        <th class="border-0" scope="col" width="5%">#</th>
        <th class="border-0 width-style-s1" scope="col">Vessel Code</th>
        <th class="border-0" scope="border-0">Vessel</th>
        <th class="border-0" scope="border-0">Vessel Type</th>
        <th class="border-0" scope="border-0">Vessel Sub Type</th>
        <th class="border-0" scope="border-0">Owner</th>
        <th class="border-0" scope="border-0">Management</th>
        <th class="border-0" scope="border-0">Engine Type</th>
        <th class="border-0" scope="border-0">Aux Engine Type</th>
        <th class="border-0 text-center" colspan="2" width="10%">Actions</th>
                     </tr>
                  </thead>
                  <tbody *ngIf="vesselList && vesselList.length>0 ;let i = index">
                     <tr  *ngFor="let vessel of vesselList ;let i = index">
                        <td>{{ (offset+1)+ i}}</td>
                        <td> <label  ngbTooltip="{{vessel.vesselCode}}"  placement="top"> {{vessel.vesselCode}} </label></td>
                        <td placement="top"><label ngbTooltip="{{vessel.vessel}}"  >{{vessel.vessel}} </label></td>
                        <td >
                           <label *ngIf="vessel.VTS != null" placement="top" ngbTooltip="{{vessel.VTS.Vtype}}">
                           {{vessel.VTS.Vtype}}
                           </label>
                        </td>
                        <td>
                           <label  placement="top" ngbTooltip="{{vessel.VSTR.VSubtype}}"  *ngIf="vessel.VSTR != null">
                           {{vessel.VSTR.VSubtype}}
                           </label>
                        </td>
                        <td>
                           <label   placement="top" ngbTooltip="{{vessel.VOR.ownername}}"  *ngIf="vessel.VOR != null">
                           {{vessel.VOR.ownername}}
                           </label>
                        </td>
                        <td>
                           <label placement="top" ngbTooltip="{{vessel.VMR.management}}"   *ngIf="vessel.VMR != null">
                           {{vessel.VMR.management}}
                           </label>
                        </td>
                        <td>
                           <label placement="top" ngbTooltip="{{vessel.VER.typeName}}"  *ngIf="vessel.VER != null">
                           {{vessel.VER.typeName}}
                           </label>
                        </td>
                        <td> <label placement="top" ngbTooltip="{{vessel.VAER.typeName}}"  *ngIf="vessel.VAER != null">
                           {{vessel.VAER.typeName}}
                           </label>  </td>
                        <td  class=" action-col-width" *ngIf="permissions.vessels_edit">
                           <div class="outerDivFull" >
                              <div class="switchToggle" ngbTooltip="{{vessel.status ==0? 'Activate' : 'Deactivate'}}" placement ="top">
                                 <input  (click)='changevesselStatus(vessel.id,vessel.status)'  *ngIf="vessel.status == 1"   type="checkbox"  id="switch{{vessel.id}}"  checked >
                                 <input  (click)='changevesselStatus(vessel.id,vessel.status)' *ngIf="vessel.status == 0"   type="checkbox" class="custom-control-input" id="switch{{vessel.id}}"   > 
                                 <label for="switch{{vessel.id}}">Toggle</label>
                              </div>
                           </div>
                        </td>
                        <td class="pr-5 action-col-width"><span ngbTooltip="Edit Vessel" placement="top"><a   [routerLink]="['/vessel/edit/',vessel.id]"
              *ngIf="permissions.vessels_edit"><i class="fa fa-edit " style="font-size:20px;"></i> </a>
              </span> </td>
                     </tr>
                     <tr>
<!-- Pagination -->
                        <td colspan="11" class="text-secondary" *ngIf="(totalItems > itemsPerPage)">
<ngb-pagination [collectionSize]="totalItems"  class="d-flex justify-content-end" [pageSize]="itemsPerPage" (pageChange)="pageChanged($event)" [(page)]="currentPage" [maxSize]="5" [boundaryLinks]="true"></ngb-pagination>

<!-- <ngb-pagination [collectionSize]="totalItems" class="d-flex justify-content-end"   (pageChange)="pageChanged($event)" [(page)]="currentPage" [maxSize]="5" [boundaryLinks]="true"></ngb-pagination> -->
 </td>
                     </tr>
                  </tbody>

                  
                  <tbody *ngIf="!vesselList.length">
                     <tr>
                        <td colspan="11" class="text-center">
                           <span *ngIf="loader">Loading...</span>
                           <span *ngIf="!loader">No data found!</span>
                        </td>
                     </tr>
                  </tbody>

               </table>
            </div>
         </div>
      </div>
   </div>
</div>
</div>