<ngx-spinner bdColor="rgba(0, 0, 0, 0.4)"></ngx-spinner>
<div class=" mt-1 mb-5 ">
    <div class="row" *ngIf="!selectedEnqId && !newPo">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
      <div class="card mrgn-t-10">
        <div class="row mt-3" *ngIf="showNoVendorMsg">
            <div  class="container text-center pb-3 alert alert-danger">
              Sorry,&nbsp; Purchase Order is already received for this enquiry
            </div>
            
        </div>
        <div class="row mt-3" *ngIf="!qtFound">
            <div  class="container text-center pb-3 alert alert-danger">
              Sorry,&nbsp; No Customer Quotation Generated for this enquiry !
            </div>
            
        </div>

        <div class="row m-0 p-0 pt-2">
          <label class="col-md-3 text-center" style="padding-top: 10px;">Enquiry Number</label>
          <div class="col-md-4">
            <ng-autocomplete [data]="quotationList" [(ngModel)]="search_enq"
              (ngModelChange)="this.searchQuotationList.next($event)" (selected)="selectQuotationFromList($event)"
              [searchKeyword]="keywordQuotation" placeHolder="Select Quotation" [itemTemplate]="qtTemplate" #auto
              [notFoundTemplate]="notFoundTemplate" [initialValue]="initialKeywordQuotation">
            </ng-autocomplete>
            <ng-template #qtTemplate let-item>
              <a [innerHTML]="item.enqNumber"></a>
            </ng-template>
            <ng-template #notFoundTemplate let-notFound>
              <div [innerHTML]="notFound"></div>
            </ng-template>
          </div>
          <!--div class="col-md-4">
             <input type="checkbox"  name="includeCustomerQuotation"
                        id="includeCustomerQuotation" (click)="includeCustomerQuotation($event.target.checked)" /> 
                        &nbsp;&nbsp;<label style="padding-top: 10px;"> &nbsp; Search Customer Quotation </label>
             </div-->  
             <span class="col-md-2">         
         <label class="col-md-12 text-center">OR</label>
       </span><span class="col-md-3">
            <div class="btn-group">
                <button  class="btn btn-sm btn-success vendor_save" *ngIf="permissions.po_add" [routerLink]="['/purchase-order/add/new']"><ngx-spinner [fullScreen]="false"  bdColor="transparent">
                                                  </ngx-spinner> 
                  <i class="fa fa-plus" aria-hidden="true"></i>&nbsp;Add New PO without Enq
                </button>
              </div>
            </span>
        </div>
        <hr>
                <div class="row" class="form-group mrgn-t-10 save-button text-right " *ngIf="!selectedEnqId && !newPo">  
            <div class="col-md-12 text-right pb-2">
              <div class="btn-group">
                <a class="btn btn-sm btn-primary" [routerLink]="['/purchase-order/list']">
                  <i class="fa fa-close" aria-hidden="true"></i>&nbsp;Cancel
                </a>
              </div>
          </div>
          </div>
      </div>

    </div>
  </div>

  <div class="row " *ngIf="selectedEnqId || newPo">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
      <div class="card purchase-holder-main">
                          <div class="row m-0 p-0" *ngIf="orderDetails && orderDetails.quotationVendors.length ==0">
                <div  class="col-md-12 text-center pb-2 alert alert-warning">
                  No Vendors to generate purchase order
                </div>
    
            </div>

        <form [formGroup]="purchaseForm" (ngSubmit)="onSubmit()" encType="multipart/form-data">

          <ngb-accordion #acc="ngbAccordion" activeIds="toggle-1">
            <!-- Acc start -->
            <ngb-panel id="toggle-1">
              <div class="container">
                <ng-template ngbPanelTitle>
                  <div class="row">
                  <div class="col text-primary">
                   Add Purchase Order
                  </div>
                  <div class="col" *ngIf="purchaseForm.value.poCost">
                    Total : {{currencySymbol+purchaseForm.value.poCost}}<span
                      *ngIf="purchaseForm.value.amountUsd && purchaseForm.value.amountUsd>0">(${{purchaseForm.value.amountUsd}})</span>
                  </div>
                  <div class="col" *ngIf="tcdTotal || tcdDiscount">
                    Tcd : (<span *ngIf="tcdTotal">Tax/Charge :{{currencySymbol+tcdTotal}}</span>
                      <span>{{tcdTotal&&tcdDiscount?', ':''}}</span>
                      <span *ngIf="tcdDiscount">Discount : {{currencySymbol+tcdDiscount}}</span>)
                  </div>
                  <div class="col text-right"><i class="fa fa-angle-down"></i></div>
                </div>
                </ng-template>
              </div>
              <ng-template ngbPanelContent>
                  <div class="row mrgn-t-10 new1" style="padding : 20px;" *ngIf="(orderDetails) && !newPo">
                  <div class="col-sm-12">
                    <div class="row">
                      <div class="row col-sm-4">
                        <label class="row col-sm-5">ENQ Number</label>
                        <label class="row col-sm-7">:&nbsp;&nbsp;&nbsp;&nbsp;
                          <span *ngIf="permissions.enquiry_edit"> <a [routerLink]="['/enquiry/edit/',orderDetails.id]">
                              {{orderDetails.enqNumber}} </a> </span>
                          <span *ngIf="!permissions.enquiry_edit"> {{orderDetails.enqNumber}}</span>
                        </label>
                      </div>
                      <div class="row col-sm-4">
                        <label class="row col-sm-5">Customer Name</label>
                        <label class="row col-sm-7 elipsis" placement="left" ngbTooltip="{{orderDetails.customerName}}">: &nbsp;&nbsp;&nbsp;&nbsp;{{orderDetails.customerName}} </label>
                      </div>
                      <div class="row col-sm-4" *ngIf="arrQuot">
                        <label class="row col-sm-5">Quotation Number</label>
                        <label class="row col-sm-7" >:&nbsp;&nbsp;&nbsp;&nbsp; <span *ngIf="permissions.quotation_edit && arrQuot"> <a [routerLink]="['/quotation/edit/',arrQuot.id]">{{arrQuot.quotationNumber}} </a></span> </label>
                      </div>
                    </div>
                    <div class="row">
                      <div class=" row col-sm-4">
                        <label class="row col-sm-5">ENQ Received Date</label>
                        <label class="row col-sm-7">:&nbsp;&nbsp;&nbsp;&nbsp; {{ convertDate(orderDetails.enqDate)}} </label>
                      </div>
                      <div class="row col-sm-4">
                        <label class="row col-sm-5">Customer Ref Name</label>
                        <label class="row col-sm-7 elipsis" placement="left" ngbTooltip="{{orderDetails.customerRefName}}">:&nbsp;&nbsp;&nbsp;&nbsp; {{orderDetails.customerRefName}} </label>
                      </div>
                        <div class="row col-sm-4" *ngIf="arrQuot">
                        <label class="row col-sm-5">Vendor Name</label>
                        <label class="row col-sm-7 elipsis" placement="left" ngbTooltip="{{arrQuot.vendorName}}">:&nbsp;&nbsp;&nbsp;&nbsp; {{arrQuot.vendorName}} </label>
                      </div>
                    </div>
                    <div class="row">
                      <div class="row col-sm-4">
                        <label class="row col-sm-5">Service Request For</label>
                        <label class="row col-sm-7 elipsis" placement="left" ngbTooltip="{{ orderDetails.serviceRequestFor}}">:&nbsp;&nbsp;&nbsp;&nbsp; {{ orderDetails.serviceRequestFor}} </label>
                      </div>
                      <div class="row col-sm-4">
                        <label class="row col-sm-5">Customer Ref No</label>
                        <label class="row col-sm-7 elipsis" placement="left" ngbTooltip="{{orderDetails.customerRefNo}}">:&nbsp;&nbsp;&nbsp;&nbsp; {{orderDetails.customerRefNo}} </label>
                      </div>
                      <div class="row col-sm-4" *ngIf="arrQuot">
                        <label class="row col-sm-5">Vendor Currency</label>
                        <label class="row col-sm-7 ">:&nbsp;&nbsp;&nbsp;&nbsp; {{arrQuot.vendCurrency}} </label>
                      </div>
                    </div>

                    <div class="row" *ngIf="arrQuot">
                      <div class="row col-sm-4">
                        <label class="row col-sm-5">Customer currency</label>
                        <label class="row col-sm-7" > :&nbsp;&nbsp;&nbsp;&nbsp; {{ arrQuot.custCurrency}} </label>
                      </div>
                    <div class="row col-sm-4">
                        <label class="row col-sm-5">Quotation Sent Date</label>
                        <label class="row col-sm-7" > :&nbsp;&nbsp;&nbsp;&nbsp; {{ convertDate(arrQuot.custQtGenDate)}} </label>
                      </div>
                    </div>
                                      </div>
                                      </div>
                    <!--div class="row p-2" *ngIf="submitted && form.vendorName.errors">
                      <div class="container text-center alert alert-danger"> Please choose a vendor to generate
                        quotation.</div>
                    </div-->
                     <div class="row mrgn-t-10 new1" *ngIf="!newPo">
                    <div class="row col-sm-12">
                    <div class="row col-sm-8" *ngIf="orderDetails  && orderDetails.quotationVendors.length > 0">
                      <hr>
                      <div class="col-sm-12">
                        <table class="table mx-auto">
                          <thead class="bg-light p-0 m-0">
                            <tr class="border-0">
                              <th>#</th>
                              <th></th>
                              <th>Vendor Name</th>
                              <th>Rqst Date</th>
                              <th>Details</th>
                              <th>Qtn No</th>
                              <th>Action</th>
                            </tr>
                          </thead>
                          <tbody formArrayName="vendors">
                            <tr *ngFor="let item of purchaseForm.get('vendors')['controls']; let iv = index"
                              [formGroupName]="iv" [class.hidden]="form.vendors.controls[iv].controls.status.value!=1">
                              <td>{{ (iv+1) }}</td>
                              <td>
                                <span  *ngIf="purchaseForm.get('vendors').controls.length>0 && item.get('quotationNumber').value && item.get('quotationStatus').value ==2">
                                  <input type="radio" name="selectVendor" [(ngModel)]="vendorSel" formControlName="selectVendor" id="selectVendor" [value]="item.get('id').value"
                                    (click)="selectVendor($event.target.checked,item,iv,item.get('id').value,purchaseForm.get('vendors').controls.length,item.get('date').value)" />

                                </span>
                              </td>
                              <td> {{ item.get('vendorName').value }} </td>
                              <td> {{ convertDate(item.get('date').value) }} </td>
                              <td> {{ item.get('details').value }} </td>
                              <td class="colour_bl">
                                <span >
                                  <span class="hand" *ngIf="(permissions.quotation_edit)">
                                    <a [routerLink]="['/quotation/edit/',item.get('id').value]">
                                      {{ item.get('quotationNumber').value }}</a> </span>
                                  <span *ngIf="(permissions.quotation_edit == false)">
                                    {{ item.get('quotationNumber').value }} </span>
                                </span>
                              </td>
                              <td>
                                <span
                                  *ngIf="purchaseForm.get('vendors').controls.length>1 && item.get('quotationNumber').value ">
                                  <button type="button" title="Remove" class="btn-default btn-circle address-btn-delete"
                                    (click)="deleteVendorItems(iv,purchaseForm.get('vendorName').value)" outline status="sussess">
                                    <i class="fa fa-close" aria-hidden="true"></i>
                                  </button>
                                </span> </td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>


                  <!--div class="col-sm-4">
                    <table class="table rate-table-border">
                      <thead>
                        <tr class="bg-info text-white">
                          <th>Sup Amount <span *ngIf="vend_currencyShortKey"> (
                            {{ vend_currencyShortKey }} ) </span> </th>
                          <th>Cust Amount <span *ngIf="vend_currencyShortKey"> (
                            {{ cust_currencyShortKey }} ) </span> </th>
                        </tr>
                      </thead>
                      <tbody class="bg-rate">
                        <tr>
                          <td>
                            <p>
                              <label class="amount-box-label"> Item Total&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                              </label>:&nbsp;<label class="amount-box-value"
                                *ngIf="purchaseForm.get('fromVendorCost').value">
                                {{vend_currencySymbol}} {{ purchaseForm.get('fromVendorCost').value }} </label>
                            </p>
                          </td>
                          <td>
                            <p>
                              <label class="amount-box-label">Item Total &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                              </label>:&nbsp;<label class="amount-box-value" *ngIf="converted_toCustomerCost">
                                {{cust_currencySymbol}} {{ converted_toCustomerCost.toFixed(3) }}
                              </label>
                            </p>
                          </td>
                        </tr>

                        <tr>
                          <td>
                            <p>
                              <label class="amount-box-value"> Tax/Charge  : {{vend_currencySymbol}} {{ vend_tcdTotal.toFixed(3) }},
                                Disc :
                                {{vend_currencySymbol}} {{ vend_tcdDiscount.toFixed(3) }} </label>
                            </p>
                          </td>
                          <td>
                            <p>
                              <label class="amount-box-label"> Tax/Charge : {{cust_currencySymbol}} {{ converted_cust_tcdTotal.toFixed(3) }}, Disc : {{cust_currencySymbol}}
                                {{ converted_cust_tcdDiscount.toFixed(3) }}</label>
                            </p>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <p>
                              <label class="amount-box-label"> <b>Total </b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                              </label>:&nbsp;<label class="amount-box-value"
                                *ngIf="purchaseForm.get('fromVendorCostWithTCD').value">
                                {{vend_currencySymbol}} {{ purchaseForm.get('fromVendorCostWithTCD').value }} </label>
                            </p>
                          </td>
                          <td>
                            <p>
                              <label class="amount-box-label"> <b>Total </b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                              </label>:&nbsp;<label class="amount-box-value" *ngIf="converted_toCustomerCostWithTCD">
                                {{cust_currencySymbol}} {{ converted_toCustomerCostWithTCD.toFixed(3) }}
                              </label>
                            </p>
                          </td>
                        </tr>
                        <tr
                          *ngIf="purchaseForm.get('custAmountUsd').value || purchaseForm.get('vendAmountUsd').value">
                          <td>
                            <p *ngIf="purchaseForm.get('vendAmountUsd').value">
                              <label class="amount-box-label"> Amount in USD </label>:<label class="amount-box-value">
                                ${{purchaseForm.get('vendAmountUsd').value}} </label>
                            </p>
                          </td>
                          <td>
                            <p *ngIf="purchaseForm.get('custAmountUsd').value">
                              <label class="amount-box-label"> Amount in USD </label>:<label class="amount-box-value">
                                ${{purchaseForm.get('custAmountUsd').value}} </label>
                            </p>
                          </td>
                        </tr>
                      </tbody>
                    </table>

                  </div-->
                        <div class="col-md-4">


                        <table class="table rate-table-border">
                          <thead>
                            <tr class="bg-info text-white">
                              <th>Total Amount</th>
                              <th>TCD Amount</th>

                            </tr>
                          </thead>
                          <tbody class="bg-rate">
                            <tr>
                              <td>
                                <p>
                                  <label class="amount-box-label"> <b>Amount</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                  </label>:&nbsp;<span class="amount-box-value">
                                    {{currencySymbol+purchaseForm.value.poCost}} </span>
                                </p>
                              </td>
                              <td>
                                <p>
                                  <label class="amount-box-label"> <b>Tax/Charge </b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                  </label>:&nbsp;<span class="amount-box-value">
                                    {{currencySymbol+tcdTotal}}
                                  </span>
                                </p>
                              </td>

                            </tr>
                            <tr>
                              <td>
                                <p *ngIf="purchaseForm.value.amountUsd && purchaseForm.value.amountUsd>0">
                                  <label class="amount-box-label"> Amount(USD) </label>:<label class="amount-box-value">
                                    ${{purchaseForm.value.amountUsd}} </label>
                                </p>
                              </td>
                              <td>
                                <p>
                                  <label class="amount-box-label">
                                    <b>Discount</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
                                  :&nbsp;<span class="amount-box-value">
                                    {{currencySymbol+tcdDiscount}} </span>
                                </p>
                              </td>
                            </tr>



                          </tbody>
                        </table>
                      </div>
                    </div>
                </div>
                  <div class="row" *ngIf="arrQuot">
                  <div class="col-sm-4">
                    <label
                      class="col-md-4 float-left">PO Received Date</label>
                    <div class="col-md-6 float-left">
                      <div class="input-group" *ngIf="arrQuot.custQtGenDate !=null">
                        <input class="form-control form-control-sm" [readonly]="true" formControlName="poDate" style="margin-left: -27px;" 
                          [minDate]="toJsonDate(arrQuot.custQtGenDate)"  placeholder="yyyy-mm-dd" name="dp" ngbDatepicker [maxDate]="todayDate"
                          #d="ngbDatepicker" (click)="d.toggle()">
                        <div class="input-group-append">
                          <button class="btn btn-sm btn-outline-secondary calendar" (click)="d.toggle()"
                            type="button"><i class="fa fa-calendar fa-lg"></i></button>
                        </div>
                        <div *ngIf="submitted && form.poDate.errors" class="invalid-feedback">
                          <div *ngIf="form.poDate.errors.required">
                            <label >PO
                              Received Date Is Required</label>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="col-sm-4">
                    <label
                      class="col-md-3 float-left">Vessel</label>
                    <div class="col-md-6 float-left">
                      <div class="form-group" style="margin-left: -40px;" >
                          <ng-autocomplete [data]="vessels"
                            (selected)=" changeSelection($event,vessels,'vessel','vesselName',null,'vesselXid')"
                            [searchKeyword]="keywordVessel" placeHolder="Select Vessel " formControlName="vesselNameAuto" (closed)="fixSelectedData('vessel',i)"
                            [itemTemplate]="vesselTemplate" [notFoundTemplate]="notFoundTemplate">
                          </ng-autocomplete>

                          <ng-template #vesselTemplate let-item>
                            <a [innerHTML]="item.vessel" class="drop-bg"></a>
                          </ng-template>


                          <ng-template #notFoundTemplate let-notFound>
                            <div [innerHTML]="notFound"></div>
                          </ng-template>
                          <label *ngIf="submitted && form.vesselXid.errors" class="error">
                            Vessel Is Required.
                          </label>
                        </div>
                      </div>
                    </div>
                    </div>
                      <div class="row" *ngIf="arrQuot">
                  <div class="col-sm-4">
                    <label
                      class="col-md-4 float-left">Port</label>
                    <div class="col-md-6 float-left">
                      <div class="form-group" style="margin-left: -27px;">
                          <ng-autocomplete [data]="port"
                            (selected)="changeSelection($event,port,'name','port',null,'portXid')"
                            [searchKeyword]="keywordPort" placeHolder="Select Port " (closed)="fixSelectedData('port',i)" formControlName="portNameAuto"
                            [itemTemplate]="portTemplate"
                            (inputCleared)="clear(['portXid','port','portNameAuto'],null,'portNameAuto')"
                            [notFoundTemplate]="notFoundTemplate">
                          </ng-autocomplete>
                          <ng-template #portTemplate let-item>
                            <a [innerHTML]="item.name" class="drop-bg"></a>
                          </ng-template>


                          <label *ngIf="submitted && form.port.errors" class="error">
                            Port Is Required.
                          </label>
                        </div>
                      </div>
                    </div>
                  <div class="col-sm-4">
                    <label
                      class="col-md-3 float-left">Remarks</label>
                    <div class="col-md-6 float-left">
                      <div class="form-group">
                          <textarea formControlName="remarks" class="form-control new_text1"
                            [ngClass]="{ 'is-invalid': submitted && form.remarks.errors }" autocomplete="no-fill" style="margin-left: -40px;" >
                    </textarea>
                          <label *ngIf="submitted && form.remarks.errors" class="error">
                            Remarks Is Required.
                          </label>
                        </div>
                      </div>
                    </div>





                    </div>

                <div class="row p-3" *ngIf="newPo">
                  <div class="col-md-8">
                    <div class="row ">

                      <div class="col-sm-6 space-between poCategoty_id">
                        <div class="form-group">
                          <label>PO Category</label>
                          <ng-select [items]="poCategories" [disabled]="true"
                                  bindLabel="name" autocomplete="no-fill" 
                                  bindValue="id" [clearable]="false" [searchable]="false"
                                  placeholder="Please select PO Category"
                                  formControlName="poCategory"
                                  [(ngModel)]="selectedPoCategoryId"
                                  (change)="resetCustomerValue()"
                                  >
                          </ng-select>
                          <label *ngIf="submitted && form.poCategory.errors" class="error">
                            PO Category Is Required.
                          </label>
                        </div>
                      </div>

                      <div class="col-sm-6 space-between">
                        <div class="form-group">
                          <label>Vessel</label>
                          <ng-autocomplete [data]="vessels"
                            (selected)="changeSelection($event,vessels,'vessel','vesselName',null,'vesselXid')"
                            [searchKeyword]="keywordVessel" formControlName="vesselNameAuto" placeHolder="Enter Vessel Name" (closed)="fixSelectedData('vessel',i)" 
                            [itemTemplate]="vesselTemplate" [notFoundTemplate]="notFoundTemplate">
                          </ng-autocomplete>

                          <ng-template #vesselTemplate let-item>
                            <a [innerHTML]="item.vessel" class="drop-bg"></a>
                          </ng-template>


                          <ng-template #notFoundTemplate let-notFound>
                            <div [innerHTML]="notFound"></div>
                          </ng-template>
                          <label *ngIf="submitted && form.vesselXid.errors" class="error">
                            Vessel Is Required.
                          </label>
                        </div>
                      </div>



                    </div>

                    <div class="row po-list-row">


                      <div class="col-sm-6 space-between">
                        <div class="form-group">
                          <label>Vendor</label>
                          <ng-autocomplete [data]="vendors"
                            (selected)="changeSelection($event,vendors,'vendorName','vendorName',null,'vendorXid',1,currency)"
                            [searchKeyword]="keywordVendor" placeHolder="Enter Vendor Name"
                            [itemTemplate]="vendorTemplate" [notFoundTemplate]="notFoundTemplate"         formControlName="vendorNameAuto" (closed)="fixSelectedData('vendor',i)"                   
                            (inputCleared)="clearSelect('vendorXid')">
                          </ng-autocomplete>

                          <ng-template #vendorTemplate let-item>
                            <a [innerHTML]="item.vendorName" class="drop-bg"></a>
                          </ng-template>


                          <ng-template #notFoundTemplate let-notFound>
                            <div [innerHTML]="notFound"></div>
                          </ng-template>
                          <label *ngIf="submitted && form.vendorXid.errors" class="error">
                            Vendor Is Required.
                          </label>
                        </div>
                      </div>



                      <div class="col-sm-6 space-between">
                        <div class="form-group">
                          <label>Customer </label>

                          <span>
                            <ng-autocomplete [data]="customers"
                              (selected)="changeSelection($event,customers,'vendorName','customerName',null,'customerXid',2,currency)" formControlName="customerNameAuto"
                              (closed)="fixSelectedData('customer',i)"
                              [searchKeyword]="keywordVendor" placeHolder="Enter Customer Name"
                              [itemTemplate]="customerTemplate" [notFoundTemplate]="notFoundTemplate"
                              (inputCleared)="clearSelect('customerXid')">
                            </ng-autocomplete>
                          </span>

                          <!--span *ngIf="form.poCategory.value==2">
                            <ng-autocomplete [data]="vendors"
                              (selected)="changeSelection($event,vendors,'vendorName','customerName',null,'customerXid')" formControlName="customerNameAuto"
                              [searchKeyword]="keywordVendor" placeHolder="Enter Customer Name"
                              [itemTemplate]="customerTemplate" [notFoundTemplate]="notFoundTemplate"
                              (inputCleared)="clearSelect('customerXid')">
                            </ng-autocomplete>
                          </span-->
                          

                          <ng-template #customerTemplate let-item>
                            <a [innerHTML]="item.vendorName" class="drop-bg"></a>
                          </ng-template>


                          <ng-template #notFoundTemplate let-notFound>
                            <div [innerHTML]="notFound"></div>
                          </ng-template>
                          <label *ngIf="submitted && form.customerXid.errors" class="error">
                            Customer Is Required.
                          </label>
                        </div>
                      </div>




                    </div>

                    <div class="row po-list-row">

                      <div class="col-sm-6 space-between currency_id">
                        <div class="form-group">
                          <label>Currency</label>
                          <ng-autocomplete [data]="currencies"
                            (selected)="changeSelection($event,currencies,'name','currency',null,'currencyXid');toUsd();" (closed)="fixSelectedData('currency',i)"
                            [searchKeyword]="keywordCurrency" placeHolder="Enter Currency Name"
                            formControlName="currencyNameAuto" [itemTemplate]="currencyTemplate" (closed)="fixSelectedData('currency',i)" 
                            (inputCleared)="clear(['currencyXid','currency','currencyNameAuto'],null,'currencyNameAuto')"
                            [notFoundTemplate]="notFoundTemplate">
                          </ng-autocomplete>
                          <ng-template #currencyTemplate let-item>
                            <a [innerHTML]="item.name" class="drop-bg"></a>
                          </ng-template>
                          <label *ngIf="submitted && form.currency.errors" class="error">
                            Currency Is Required.
                          </label>
                        </div>
                      </div>

                      <div class="col-sm-6 space-between currency d-none">
                        <label>Currency</label>
                        <div class="input-group">

                          <input type="text" formControlName="currency" class="form-control form-control-sm"
                            [ngClass]="{ 'is-invalid': submitted && form.currency.errors }" autocomplete="no-fill"  />

                          <div class="input-group-append">
                            <button><i class="material-icons" aria-hidden="true"
                                (click)="clear(['currencyXid','currency','currencyAuto'],null,'currencyNameAuto');close('currency')"></i>X</button>

                          </div>

                        </div>
                        <label *ngIf="submitted && form.currency.errors" class="error">
                          Currency Is Required.
                        </label>
                      </div>
                      <div class="col-sm-6 space-between port_id">
                        <div class="form-group">
                          <label>Port</label>
                          <ng-autocomplete [data]="port"
                            (selected)="changeSelection($event,port,'name','port',null,'portXid')"
                            [searchKeyword]="keywordPort" placeHolder="Enter Port Name" formControlName="portNameAuto" (closed)="fixSelectedData('port',i)"
                            [itemTemplate]="portTemplate"
                            (inputCleared)="clear(['portXid','port','portNameAuto'],null,'portNameAuto')"
                            [notFoundTemplate]="notFoundTemplate">
                          </ng-autocomplete>
                          <ng-template #portTemplate let-item>
                            <a [innerHTML]="item.name" class="drop-bg"></a>
                          </ng-template>


                          <label *ngIf="submitted && form.port.errors" class="error">
                            Port Is Required.
                          </label>
                        </div>
                      </div>
                    </div>
                    <div class="row po-list-row">
                      <div class="col-sm-6 space-between port d-none">
                        <label>Port</label>
                        <div class="input-group">


                          <input type="text" formControlName="port" class="form-control form-control-sm"
                            [ngClass]="{ 'is-invalid': submitted && form.port.errors }" autocomplete="no-fill" />
                          <div class="input-group-append">
                            <button class="border-left-0 border"><i class="material-icons" aria-hidden="true"
                                (click)="clear(['portXid','port','portNameAuto'],null,'portNameAuto');close('port')">close</i></button>
                          </div>

                        </div>
                        <label *ngIf="submitted && form.port.errors" class="error">
                          Port Is Required.
                        </label>
                      </div>


                    </div>


                    <div class="row">
                      <div class="col-sm-12 space-between ">
                        <div class="form-group">
                          <label>Remarks</label>
                          <textarea formControlName="remarks" class="form-control new_text1"
                            [ngClass]="{ 'is-invalid': submitted && form.remarks.errors }" autocomplete="no-fill" >
                    </textarea>
                          <label *ngIf="submitted && form.remarks.errors" class="error">
                            Remarks Is Required.
                          </label>
                        </div>
                      </div>





                    </div>


                  </div>
                  <div class="col-md-4  border bg-light border-right-0 border-bottom-0 border-top-0">
                    <div class="row  p-3">
                      <div class="col-sm-12 mb-2">
                        <label *ngIf="form.poCategory.value==null || form.poCategory.value==2">Order Received Date</label>
                        <label *ngIf="form.poCategory.value==1">Order Send Date</label>
                        <label></label>
                        <div class="input-group">

                          <input class="form-control form-control-sm" [readonly]="true" formControlName="poDate" placeholder="yyyy-mm-dd"
                            name="dp" ngbDatepicker #d="ngbDatepicker" (click)="d.toggle()">
                          <div class="input-group-append">
                            <button class="btn btn-sm btn-outline-secondary calendar" (click)="d.toggle()"
                              type="button"><i class="fa fa-calendar fa-lg"></i></button>
                          </div>
                          <div *ngIf="submitted && form.poDate.errors" class="invalid-feedback">
                            <div *ngIf="form.poDate.errors.required">
                              <label *ngIf="form.poCategory.value==null || form.poCategory.value==1">Order Received Date Is Required</label>
                              <label *ngIf="form.poCategory.value==2">Order Send Date Is Required</label>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-sm-12">
                        <div class="form-group">
                          <label>Advance Amount</label>
                          <input type="text" formControlName="advanceAmountUsd" class="form-control form-control-sm" autocomplete="no-fill" 
                            (blur)="makeDecimalPoint('advanceAmountUsd')" />
                          <label
                            *ngIf="submitted && (form!=null && form.advanceAmountUsd.errors && form.advanceAmountUsd.errors.required) "
                            class="error">
                            Invalid Amount.
                          </label>
                          <label
                            *ngIf="submitted && ( form!=null && form.advanceAmountUsd.errors && form.advanceAmountUsd.errors.pattern)"
                            class="error">
                            Invalid Amount (Eg:25.010)
                          </label>
                          <label *ngIf="customError.advanceAmountUsd && customError.advanceAmountUsd!=null"
                            class="error">
                            {{customError.advanceAmountUsd}}
                          </label>
                        </div>
                      </div>


                      <div class="col-md-12">


                        <table class="table rate-table-border">
                          <thead>
                            <tr class="bg-info text-white">
                              <th>Total Amount</th>
                              <th>TCD Amount</th>

                            </tr>
                          </thead>
                          <tbody class="bg-rate">
                            <tr>
                              <td>
                                <p>
                                  <label class="amount-box-label"> <b>Amount</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                  </label>:&nbsp;<label class="amount-box-value">
                                    {{currencySymbol+purchaseForm.value.poCost}} </label>
                                </p>
                              </td>
                              <td>
                                <p>
                                  <label class="amount-box-label"> <b>Tax/Charge </b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                  </label>:&nbsp;<label class="amount-box-value">
                                    {{currencySymbol+tcdTotal}}
                                  </label>
                                </p>
                              </td>

                            </tr>
                            <tr>
                              <td>
                                <p *ngIf="purchaseForm.value.amountUsd && purchaseForm.value.amountUsd>0">
                                  <label class="amount-box-label"> Amount(USD) </label>:<label class="amount-box-value">
                                    ${{purchaseForm.value.amountUsd}} </label>
                                </p>
                              </td>
                              <td>
                                <p>
                                  <label class="amount-box-label">
                                    <b>Discount</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
                                  :&nbsp;<label class="amount-box-value">
                                    {{currencySymbol+tcdDiscount}} </label>
                                </p>
                              </td>
                            </tr>



                          </tbody>
                        </table>
                      </div>

                    </div>
                  </div>
                </div>

              </ng-template>
            </ngb-panel>

            <!--ngb-panel id="toggle-2" *ngIf="arrQuot!=null || newPo">
              <ng-template ngbPanelTitle>
                <div class="row">
                <div class="col text-primary">
                  Item Details
                </div>
               
                <div class="col text-right"><i class="fa fa-angle-down"></i></div></div>
              </ng-template>
              <ng-template ngbPanelContent>
                <div class="container-fluid">
                  <div class="row m-0 p-0" *ngIf="vendorChoose">
                <div  class="col-md-12 text-center pb-2 alert alert-warning">
                   Must choose a vendor before submit quotation.
                </div>
    
            </div>
                  <div class="row purchase-holder">
                    <div class=" col-md-12">
                      <div class="row bg-relative-two custom-table text-dark mt-3">
                        <div class="new_spc1 col-md-1 mx-auto">
                          <button type="button" class="address-btn" (click)="createItems(true)" outline status="sussess">
                            <i class="fa fa-plus"></i>
                          </button>
                        </div>
                        <div class="new_spc1a col-md-2" scope="col">Group</div>
                        <div class="new_spc1a col-md-2" scope="col">Description</div>
                        <div class="new_spc1a col" scope="col">Type</div>
                        <div class="new_spc1ab col" style="width:9.75%" scope="col">UOM</div>
                        <div class="new_spc1a col" scope="col" *ngIf="!newPo">Qty</div>
                        <div class="new_spc1a col" scope="col" *ngIf="!newPo">Unit Price (Cust)</div>
                        <div class="new_spc1a col" scope="col" *ngIf="!newPo">Cost (Cust)</div>  
                        <div class="new_spc1a col" scope="col">Qty</div>               
                        <div class="new_spc1a col" scope="col">Unit Price (PO)</div>
                        <div class="new_spc1a col" scope="col">Cost (PO)</div>

                      </div>
                    </div>



                    <div class="container-fluid">
                      <div formArrayName="details" class="address">
                        <div *ngFor="let item of purchaseForm.get('details')['controls']; let i = index"
                          [formGroupName]="i" class="row d-flex h-minus">
                          <div class="col-md-1 text-center mx-auto border custom-h pt-2 border-right-0 ">
                            <div class="form-group">
                              <button type="button" class="btn-default btn-circle address-btn-delete" (click)="deleteItems(i)" outline status="sussess"
                                *ngIf="purchaseForm.get('details').controls.length>1">
                                <i class="fa fa-close" aria-hidden="true"></i>

                              </button>
                            </div>
                          </div>
                          <div class="col-md-2 custom-h border border-right-0 pt-2">
                            <div [class]="'form-group itemGroup'+i+'_id'">
                              <ng-autocomplete class="new_cls" [data]="itemGroups" 
                                (selected)=" changeSelection($event,itemGroups,'groupName','group',i,'groupXid')"
                                [searchKeyword]="keywordGroup" placeHolder="Enter Group Name"
                                formControlName="groupNameAuto" [itemTemplate]="groupTemplate"
                                (inputCleared)="clear(['groupXid','group','groupNameAuto'],i,'groupNameAuto')"
                                [notFoundTemplate]="notFoundTemplate">
                              </ng-autocomplete>
                              <ng-template #groupTemplate let-item>
                                <a [innerHTML]="item.groupName"></a>
                              </ng-template>
                          <ng-template #notFoundTemplate let-notFound>
                            <div [innerHTML]="notFound"></div>
                          </ng-template>                              
                              <label *ngIf="submitted && form.details.controls[i].controls.group.errors" class="error">
                                Group Is Required.
                              </label>
                            </div>
                            <div [class]="'form-group d-none itemGroup'+i">
                              <input type="text" formControlName="group"
                                class="form-control border-top-0 border-left-0 border-right-0 custom-width" autocomplete="no-fill"  />
                              <i class="fa fa-close" aria-hidden="true"
                                (click)="clear(['groupXid','group','groupNameAuto'],i,'groupNameAuto');close('itemGroup'+i)"></i>

                              <label *ngIf="submitted && form.details.controls[i].controls.group.errors" class="error">
                                Group Is Required.
                              </label>
                            </div>
                          </div>
                          <div class="col-md-2 custom-h1 border border-right-0  pt-2">
                            <div class="form-group">
                              <input type="text" formControlName="description"
                                class="form-control form-control-sm border custom-width" autocomplete="no-fill" 
                                [ngClass]="{ 'is-invalid': submitted && form.details.controls[i].controls.description.errors }" />
                              <label *ngIf="submitted && form.details.controls[i].controls.description.errors"
                                class="error">
                                Required
                              </label>
                            </div>
                          </div>
                          <div class="col-md-2 custom-h border border-right-0  pt-2">
                            <div [class]="'form-group itemType'+i+'_id'" class="new_group_1">
                              <ng-select [items]="itemTypes"
                                  class="custom" 
                                  bindLabel="name" autocomplete="no-fill" 
                                  bindValue="id" [clearable]="false" [searchable]="false"
                                  placeholder="Choose Type"
                                  formControlName="typeXid"
                                  (change)="changeSelection($event,itemTypes,'name','type',i)"
                                  >
                              </ng-select>
                              <label *ngIf="submitted && form.details.controls[i].controls.type.errors" class="error">
                                Type Is Required.
                              </label>
                            </div>
                            <div [class]="'form-group d-none itemType'+i">
                              <input type="text" formControlName="type" class="form-control border custom-width" />
                              <i class="fa fa-times-circle" aria-hidden="true"
                                (click)="clear(['typeXid','type'],i);close('itemType'+i)"></i>
                              <label *ngIf="submitted && form.details.controls[i].controls.type.errors" class="error">
                                Type Is Required.
                              </label>
                            </div>
                          </div>
                          <div class=" custom-h border border-right-0 pl-2 pr-2 pb-2  pt-2" style="width:9.75%">
                            <div [class]="'form-group uom'+i+'_id'" class="new_width1">

                              <ng-autocomplete class="new_6" [data]="uoms"
                                (selected)="changeSelection($event,uoms,'uomName','uom',i,'uomXid')"
                                [searchKeyword]="keywordUom" placeHolder="Enter UOM" formControlName="uomNameAuto" 
                                [itemTemplate]="uomTemplate"
                                (inputCleared)="clear(['uomXid','uom','uomNameAuto'],i,'uomNameAuto')"
                                [notFoundTemplate]="notFoundTemplate">
                              </ng-autocomplete>
                              <ng-template #uomTemplate let-item>
                                <a [innerHTML]="item.uomName"></a>
                              </ng-template>
                              <label *ngIf="submitted && form.details.controls[i].controls.uom.errors" class="error">
                                Uom Is Required.
                              </label>
                            </div>
                            <div [class]="'form-group d-none uom'+i">
                              <input type="text" formControlName="uom" autocomplete="no-fill" 
                                class="form-control border-top-0 border-left-0 border-right-0 custom-width" />
                              <i class="fa fa-close" aria-hidden="true"
                                (click)="clear(['uomXid','uom','uomNameAuto'],i,'uomNameAuto');close('uom'+i)"></i>
                              <label *ngIf="submitted && form.details.controls[i].controls.uom.errors" class="error">
                                Uom Is Required.
                              </label>
                            </div>
                          </div>
                          <div class="col custom-h border border-right-0  pt-2" *ngIf="!newPo">
                            <div class="form-group">
                              <input type="text" formControlName="qtQty" class="form-control form-control-sm border custom-width" autocomplete="no-fill" 
                                placeholder="Eg:2.00"  (blur)="makeDecimalPoint('qtQty',i,'details',2);calculateCost(i)"
                                (keyup)="calculateCost(i)"
                                [ngClass]="{ 'is-invalid': submitted && form.details.controls[i].controls.qtQty.errors }" />
                              <label
                                *ngIf="submitted && form.details.controls[i].controls.qtQty.errors && form.details.controls[i].controls.qtQty.errors.required"
                                class="error">
                                Required
                              </label>
                              <label
                                *ngIf="submitted && form.details.controls[i].controls.qtQty.errors && form.details.controls[i].controls.qtQty.errors.pattern"
                                class="error">
                                Invalid Quantity (Eg:2.00)
                              </label>
                            </div>
                          </div>
                          <div class="col border custom-h border-right-0  pt-2" *ngIf="!newPo">
                            <div class="form-group">
                              <input type="text" formControlName="qtPrice" class="form-control form-control-sm border custom-width" autocomplete="no-fill" 
                                placeholder="Eg:25.010" 
                                (blur)="makeDecimalPoint('qtPrice',i,'details');calculateCost(i);supPrice(i,item.get('qtPrice').value)"
                                (keyup)="calculateCost(i)"
                                [ngClass]="{ 'is-invalid': submitted && form.details.controls[i].controls.qtPrice.errors }" />
                              <label
                                *ngIf="submitted && form.details.controls[i].controls.qtPrice.errors && form.details.controls[i].controls.qtPrice.errors.required"
                                class="error">
                                Required
                              </label>
                              <label
                                *ngIf="submitted && form.details.controls[i].controls.qtPrice.errors && form.details.controls[i].controls.qtPrice.errors.pattern"
                                class="error">
                                Invalid Amount (Eg:25.010)
                              </label>
                            </div>
                          </div>

                          <div class="col border border-right-0  custom-h pt-2" *ngIf="!newPo">
                            <div class="form-group">
                              <input type="text" formControlName="qtCost" class="form-control form-control-sm border custom-width" 
                                disabled
                                [ngClass]="{ 'is-invalid': submitted && form.details.controls[i].controls.qtCost.errors }" />
                              <label
                                *ngIf="submitted && form.details.controls[i].controls.qtCost.errors && form.details.controls[i].controls.qtCost.errors.pattern"
                                class="error">
                                Invalid Amount (Eg:25.010)
                              </label>
                            </div>
                          </div>
                            <div class="col custom-h border border-right-0  pt-2">
                            <div class="form-group">
                              <input type="number" formControlName="poQty" class="form-control form-control-sm border custom-width" autocomplete="no-fill" 
                                placeholder="Eg:2.00" (blur)="makeDecimalPoint('poQty',i,'details',2);calculateCost(i)"
                                (keyup)="calculateCost(i)"
                                [ngClass]="{ 'is-invalid': submitted && form.details.controls[i].controls.poQty.errors }" />
                              <label
                                *ngIf="submitted && form.details.controls[i].controls.poQty.errors && form.details.controls[i].controls.poQty.errors.required"
                                class="error">
                                Required
                              </label>
                              <label
                                *ngIf="submitted && form.details.controls[i].controls.poQty.errors && form.details.controls[i].controls.poQty.errors.pattern"
                                class="error">
                                Invalid Quantity (Eg:2.00)
                              </label>
                            </div>
                          </div>
                          <div class="col border custom-h border-right-0  pt-2">
                              <div class="form-group">
                                <input type="text" formControlName="poPrice"
                                  class="form-control form-control-sm border custom-width" autocomplete="no-fill"
                                  placeholder="Eg:25.010" oninput="this.value = this.value.replace(/[^0-9.]/g, ''); this.value = this.value.replace(/(\..*)\./g, '$1');" onKeyDown="if(this.value.length==8 && event.keyCode!=8 && event.keyCode!=9 && event.keyCode!=39 && event.keyCode!=37) return false;"
                                  (blur)="makeDecimalPoint('poPrice',i,'details');calculateCost(i);"
                                  (keyup)="calculateCost(i)"
                                  [ngClass]="{ 'is-invalid': submitted && form.details.controls[i].controls.poPrice.errors }" />
                                <label
                                  *ngIf="submitted && form.details.controls[i].controls.poPrice.errors && form.details.controls[i].controls.poPrice.errors.required"
                                  class="error">
                                  Required
                                </label>
                                <label
                                  *ngIf="submitted && form.details.controls[i].controls.poPrice.errors && form.details.controls[i].controls.poPrice.errors.pattern"
                                  class="error">
                                  Invalid Amount (Eg:25.010)
                                </label>
                              </div>
                            </div>

                            <div class="col border border-right-0  custom-h pt-2">
                              <div class="form-group">
                                <input type="text" formControlName="poCost" placeholder="0.000"
                                  class="form-control form-control-sm border custom-width" disabled
                                  [ngClass]="{ 'is-invalid': submitted && form.details.controls[i].controls.poCost.errors }" />
                                <label
                                  *ngIf="submitted && form.details.controls[i].controls.poCost.errors && form.details.controls[i].controls.poCost.errors.pattern"
                                  class="error">
                                  Invalid Amount (Eg:25.010)
                                </label>
                              </div>
                            </div>
                        </div>

                      </div>
                    </div>
                  </div>
                </div>

              </ng-template>
            </ngb-panel-->
            <ngb-panel id="toggle-2" *ngIf="arrQuot!=null || newPo">
              <ng-template ngbPanelTitle>
                <div class="row">
                <div class="col text-primary">
                  Item Details
                </div>
               
                <div class="col text-right"><i class="fa fa-angle-down"></i></div></div>
              </ng-template>
        <ng-template ngbPanelContent>
        <div class="container-fluid">
        <div class="row m-0 p-0" *ngIf="vendorChoose">
        <div class="col-md-12 text-center pb-2 alert alert-warning">
        Must choose a vendor before submit quotation.
        </div>

        </div>

        <div class="row purchase-holder mt-2">
        <div class=" col-md-12 p-0">
        <div formArrayName="details">
        <table class="table-bordered table-sm p-0 " style="max-width: 100%;">
        <thead class="bg-relative-two">
        <tr class="border">
        <th> <button type="button" class="address-btn" (click)="createItems(true)" outline status="sussess">
        <i class="fa fa-plus"></i>
        </button></th>
        <th class="text-center" style="font-size: 11px; width: 250px;">Group</th>
        <th class="text-center" style="font-size: 11px; width: 250px;">Description</th>
        <th class="text-center" style="font-size: 11px; ">Type</th>
        <th class="text-center" style="font-size: 11px; width: 70px;">UOM</th>
        <th class="text-center" style="font-size: 11px;" *ngIf="newPo">Qty</th>
        <th class="text-center" style="font-size: 11px; width: 70px;" *ngIf="!newPo">Qty (QS)</th>
        <th class="text-center" style="font-size: 11px;" colspan="2"  *ngIf="!newPo"><div class="row">
          <div class="col-md-12 text-center" >
    <div style="border-bottom: 1px solid #fff;">Qtn to Cust</div>
    </div>
      </div>
        <div class="row">
          <div class="col-md-6 text-center">Unit Price (QS)</div>
          <div class="col-md-6 text-center" style="border-left: 1px solid #fff;">Cost (QS)</div>
        </div>
      </th>
      <th class="text-center" style="font-size: 11px; width: 80px;"  *ngIf="!newPo">Qty (PO-R)</th>
  <th style="font-size: 11px;" colspan="2"  *ngIf="!newPo"><div class="row">
  <div class="col-md-12 text-center" >
    <div style="border-bottom: 1px solid #fff;">PO from Cust</div>
    </div>
      </div>
        <div class="row">
          <div class="col-md-6 text-center">Unit Price (PO-R)</div>
          <div class="col-md-6 text-center" style="border-left: 1px solid #fff;">Cost Cust (PO-R)</div>
        </div>
      </th>
      <th style="font-size: 11px;" *ngIf="newPo">Unit Price</th>
      <th style="font-size: 11px;" *ngIf="newPo">Cost</th>
</tr>
</thead>
<tbody>


            <tr *ngFor="let item of purchaseForm.get('details')['controls']; let i = index"
            [formGroupName]="i" style="">
            <td class="text-center"><div class="form-group d-inline">
            <button type="button" class="btn-default text-center btn-circle address-btn-delete" (click)="deleteItems(i)" outline status="sussess"
            *ngIf="purchaseForm.get('details').controls.length>1">
            <i class="fa fa-close" aria-hidden="true"></i>

            </button>
            </div></td>
            <td class="" style="padding: 0px 0px 0px 0px"> <div [class]="'form-group d-inline itemGroup'+i+'_id'">
            <ng-autocomplete class="new_cls" [data]="itemGroups"
            (selected)=" changeSelection($event,itemGroups,'groupName','group',i,'groupXid')"
            [searchKeyword]="keywordGroup" placeHolder="Enter Group Name"
            formControlName="groupNameAuto" [itemTemplate]="groupTemplate" (closed)="fixSelectedData('group',i)"
            (inputCleared)="clear(['groupXid','group','groupNameAuto'],i,'groupNameAuto')"
            [notFoundTemplate]="notFoundTemplate">
            </ng-autocomplete>
            <ng-template #groupTemplate let-item>
            <a [innerHTML]="item.groupName"></a>
            </ng-template>
            <ng-template #notFoundTemplate let-notFound>
            <div [innerHTML]="notFound"></div>
            </ng-template>
            <!--<span class="hand text-info pull-right"
            (click)="clear(['groupXid','group','groupNameAuto'],i,'groupNameAuto');show('itemGroup'+i)">Add
            New</span>-->
            <label *ngIf="submitted && form.details.controls[i].controls.group.errors" class="error-po">
            Group Is Required.
            </label>
            </div>
            <div [class]="'form-group d-none itemGroup'+i">
            <input type="text" formControlName="group"
            class="form-control border-top-0 border-left-0 border-right-0 custom-width" autocomplete="no-fill" />
            <i class="fa fa-close" aria-hidden="true"
            (click)="clear(['groupXid','group','groupNameAuto'],i,'groupNameAuto');close('itemGroup'+i)"></i>

            <label *ngIf="submitted && form.details.controls[i].controls.group.errors" class="error-po">
            Group Is Required.
            </label>
            </div></td>
            <td class=""><div class="form-group d-inline">
            <input type="text" formControlName="description"
            class="form-control form-control-sm border custom-width" autocomplete="no-fill"
            [ngClass]="{ 'is-invalid': submitted && form.details.controls[i].controls.description.errors }" />
            <label *ngIf="submitted && form.details.controls[i].controls.description.errors"
            class="error-po">
            Required
            </label>
            </div></td>
            <td class=""><div [class]="'form-group d-inline itemType'+i+'_id'" class="new_group_1">
            <ng-select [items]="itemTypes"
            class="custom"
            bindLabel="name" autocomplete="no-fill"
            bindValue="id" [clearable]="false" [searchable]="false"
            placeholder="Choose Type"
            formControlName="typeXid"
            (change)="changeSelection($event,itemTypes,'name','type',i)"
            >
             <ng-template ng-option-tmp let-item="item">
                    <div title="{{item.name}}">{{item.name}}</div>
                    </ng-template>
            </ng-select>
                          
            <!--ng-select class="custom" formControlName="typeXidXX"
            placeholder="Choose type" fullWidth [clearable]="false" [searchable]="false"
            (ngModelChange)="changeSelection($event,itemTypes,'name','type',i)">
            <ng-option class="new_7" *ngFor="let item_row of itemTypes" [value]="item_row.id">
            {{item_row.name}}
            </ng-option>
            </ng-select-->
            <label *ngIf="submitted && form.details.controls[i].controls.type.errors" class="error-po">
            Type Is Required.
            </label>
            </div>
            <div [class]="'form-group d-none itemType'+i">
            <input type="text" formControlName="type" class="form-control border custom-width" />
            <i class="fa fa-times-circle" aria-hidden="true"
            (click)="clear(['typeXid','type'],i);close('itemType'+i)"></i>
            <label *ngIf="submitted && form.details.controls[i].controls.type.errors" class="error-po">
            Type Is Required.
            </label>
            </div></td>
            <td class=""> <div [class]="'form-group d-inline uom'+i+'_id'" class="new_width1">
            <!--<nb-select formControlName="uomXid" placeholder="Choose uom" fullWidth
            (ngModelChange)="changeSelection($event,uoms,'uomName','uom',i)">
            <nb-option *ngFor="let item_row of uoms" [value]="item_row.id">{{item_row.uomName}}</nb-option>
            <nb-option class="text-info" (click)="clear(['uomXid','uom'],i);show('uom'+i)">Add New
            </nb-option>
            </nb-select>
            -->

            <ng-autocomplete class="new_6" [data]="uoms"
            (selected)="changeSelection($event,uoms,'uomName','uom',i,'uomXid')"
            [searchKeyword]="keywordUom" placeHolder="Enter UOM" formControlName="uomNameAuto"
            [itemTemplate]="uomTemplate" (closed)="fixSelectedData('uom',i)"
            (inputCleared)="clear(['uomXid','uom','uomNameAuto'],i,'uomNameAuto')"
            [notFoundTemplate]="notFoundTemplate">
            </ng-autocomplete>
            <ng-template #uomTemplate let-item>
            <a [innerHTML]="item.uomName"></a>
            </ng-template>
            <!--<span class="hand text-info pull-right"
            (click)="clear(['uomXid','uom','uomNameAuto'],i,'uomNameAuto');show('uom'+i)">Add New</span>-->
            <label *ngIf="submitted && form.details.controls[i].controls.uom.errors" class="error-po">
            Uom Is Required.
            </label>
            </div>
            <div [class]="'form-group d-none uom'+i">
            <input type="text" formControlName="uom" autocomplete="no-fill"
            class="form-control border-top-0 border-left-0 border-right-0 custom-width" />
            <i class="fa fa-close" aria-hidden="true"
            (click)="clear(['uomXid','uom','uomNameAuto'],i,'uomNameAuto');close('uom'+i)"></i>
            <label *ngIf="submitted && form.details.controls[i].controls.uom.errors" class="error-po">
            Uom Is Required.
            </label>
            </div></td>
            <td class="" *ngIf="!newPo"><div class="form-group d-inline">
            <input type="text" formControlName="qtQty" class="form-control form-control-sm border custom-width" autocomplete="no-fill"
            placeholder="Eg:2.00" (blur)="makeDecimalPoint('qtQty',i,'details',2);calculateCost(i)"
            (keyup)="calculateCost(i)"
            [ngClass]="{ 'is-invalid': submitted && form.details.controls[i].controls.qtQty.errors }" />
            <label
            *ngIf="submitted && form.details.controls[i].controls.qtQty.errors && form.details.controls[i].controls.qtQty.errors.required"
            class="error-po">
            Required
            </label>
            <label
            *ngIf="submitted && form.details.controls[i].controls.qtQty.errors && form.details.controls[i].controls.qtQty.errors.pattern"
            class="error-po">
            Invalid Quantity (Eg:2.00)
            </label>
            </div></td>
            <td class="" *ngIf="!newPo"> <div class="form-group d-inline">
            <input type="text" formControlName="qtPrice" class="form-control form-control-sm border custom-width" autocomplete="no-fill"
            placeholder="Eg:25.010"
            (blur)="makeDecimalPoint('qtPrice',i,'details');calculateCost(i);supPrice(i,item.get('qtPrice').value)"
            (keyup)="calculateCost(i)"
            [ngClass]="{ 'is-invalid': submitted && form.details.controls[i].controls.qtPrice.errors }" />
            <label
            *ngIf="submitted && form.details.controls[i].controls.qtPrice.errors && form.details.controls[i].controls.qtPrice.errors.required"
            class="error-po">
            Required
            </label>
            <label
            *ngIf="submitted && form.details.controls[i].controls.qtPrice.errors && form.details.controls[i].controls.qtPrice.errors.pattern"
            class="error-po">
            Invalid Amount (Eg:25.010)
            </label>
            </div></td>
            <td class="" *ngIf="!newPo"><div class="form-group d-inline">
            <input type="text" formControlName="qtCost" class="form-control form-control-sm border custom-width"
            disabled
            [ngClass]="{ 'is-invalid': submitted && form.details.controls[i].controls.qtCost.errors }" />
            <!--label
            *ngIf="submitted && form.details.controls[i].controls.qtCost.errors && form.details.controls[i].controls.qtCost.errors.required"
            class="error-po">
            Required
            </label-->
            <label
            *ngIf="submitted && form.details.controls[i].controls.qtCost.errors && form.details.controls[i].controls.qtCost.errors.pattern"
            class="error-po">
            Invalid Amount (Eg:25.010)
            </label>
            </div></td>
            <td class=""> <div class="form-group d-inline">
            <input type="number" formControlName="poQty" class="form-control form-control-sm border custom-width" autocomplete="no-fill"
            placeholder="Eg:2.00" (blur)="makeDecimalPoint('poQty',i,'details',2);calculateCost(i)"
            (keyup)="calculateCost(i)"
            [ngClass]="{ 'is-invalid': submitted && form.details.controls[i].controls.poQty.errors }" />
            <label
            *ngIf="submitted && form.details.controls[i].controls.poQty.errors && form.details.controls[i].controls.poQty.errors.required"
            class="error-po">
            Required
            </label>
            <label
            *ngIf="submitted && form.details.controls[i].controls.poQty.errors && form.details.controls[i].controls.poQty.errors.pattern"
            class="error-po">
            Invalid Quantity (Eg:2.00)
            </label>
            </div></td>
            <td class="" *ngIf="!newPo"><div class="form-group d-inline">
            <input type="text" formControlName="poPrice" disabled
            class="form-control form-control-sm border custom-width" autocomplete="no-fill"
            placeholder="Eg:25.010" oninput="this.value = this.value.replace(/[^0-9.]/g, ''); this.value = this.value.replace(/(\..*)\./g, '$1');" onKeyDown="if(this.value.length==8 && event.keyCode!=8 && event.keyCode!=9 && event.keyCode!=39 && event.keyCode!=37) return false;"
            (blur)="makeDecimalPoint('poPrice',i,'details');calculateCost(i);"
            (keyup)="calculateCost(i)"
            [ngClass]="{ 'is-invalid': submitted && form.details.controls[i].controls.poPrice.errors }" />
            <label
            *ngIf="submitted && form.details.controls[i].controls.poPrice.errors && form.details.controls[i].controls.poPrice.errors.required"
            class="error-po">
            Required
            </label>
            <label
            *ngIf="submitted && form.details.controls[i].controls.poPrice.errors && form.details.controls[i].controls.poPrice.errors.pattern"
            class="error-po">
            Invalid Amount (Eg:25.010)
            </label>
            </div></td>
            <td class="" *ngIf="newPo"><div class="form-group d-inline">
            <input type="text" formControlName="poPrice"
            class="form-control form-control-sm border custom-width" autocomplete="no-fill"
            placeholder="Eg:25.010" oninput="this.value = this.value.replace(/[^0-9.]/g, ''); this.value = this.value.replace(/(\..*)\./g, '$1');" onKeyDown="if(this.value.length==8 && event.keyCode!=8 && event.keyCode!=9 && event.keyCode!=39 && event.keyCode!=37) return false;"
            (blur)="makeDecimalPoint('poPrice',i,'details');calculateCost(i);"
            (keyup)="calculateCost(i)"
            [ngClass]="{ 'is-invalid': submitted && form.details.controls[i].controls.poPrice.errors }" />
            <label
            *ngIf="submitted && form.details.controls[i].controls.poPrice.errors && form.details.controls[i].controls.poPrice.errors.required"
            class="error-po">
            Required
            </label>
            <label
            *ngIf="submitted && form.details.controls[i].controls.poPrice.errors && form.details.controls[i].controls.poPrice.errors.pattern"
            class="error-po">
            Invalid Amount (Eg:25.010)
            </label>
            </div></td>
            <td class=""><div class="form-group d-inline">
            <input type="text" formControlName="poCost" placeholder="0.000"
            class="form-control form-control-sm border custom-width" disabled
            [ngClass]="{ 'is-invalid': submitted && form.details.controls[i].controls.poCost.errors }" />
            <!--label
            *ngIf="submitted && form.details.controls[i].controls.poCost.errors && form.details.controls[i].controls.poCost.errors.required"
            class="error-po">
            Required
            </label-->
            <label
            *ngIf="submitted && form.details.controls[i].controls.poCost.errors && form.details.controls[i].controls.poCost.errors.pattern"
            class="error-po">
            Invalid Amount (Eg:25.010)
            </label>
            </div></td>


            </tr>


            </tbody>
            </table>
            </div>

            </div>




            </div>
            </div>

            </ng-template>
            </ngb-panel>

            <ngb-panel id="toggle-3" *ngIf="arrQuot!=null || newPo">
              <ng-template ngbPanelTitle>
                <div class="row">
                <div class="col text-primary">
                  TCD Details
                </div>
                <div class="col text-right"><i class="fa fa-angle-down"></i></div>
              </div>
              </ng-template>
              <ng-template ngbPanelContent>
                <div class="container-fluid">
                  <div class="row purchase-holder">
                    <div class=" col-md-12">
                      <div class="row bg-relative-two custom-table text-dark mt-3">
                        <div class="col-md-1 mx-auto" *ngIf="newPo">
                          <button type="button"  (click)="createTcdItems(true)" class="address-btn"  outline 
                            status="sussess">
                            <i class="fa fa-plus" aria-hidden="true"></i>
                          </button>
                        </div>
                          <div class="col-md-1 mx-auto" *ngIf="!newPo">
                          <button type="button"   class="address-btn"  outline 
                            status="sussess">
                            <i class="fa fa-plus" aria-hidden="true"></i>
                          </button>
                        </div>
                        <div class="new_spc1a col-md-2" scope="col">TCD Types</div>
                        <div class="new_spc1a col-md-2" scope="col">Description</div>
                        <div class="new_spc1a col-md-2" scope="col">Flat/Percentage</div>
                        <div class="new_spc1ab col-md-1" scope="col">Amount</div>
                        <div class="new_spc1a col" scope="col">TCD Amount</div>

                      </div>
                    </div>




                    <div class="container-fluid">

                      <div formArrayName="tcdDetails" class="address">
                        <div *ngFor="let item of purchaseForm.get('tcdDetails')['controls']; let i = index"
                          [formGroupName]="i" class="row d-flex h-minus">
                          <div class="col-md-1 mx-auto custom-h border border-right-0 pt-2">
                            <div class="form-group text-center">
                              <button type="button" class="btn-default btn-circle address-btn-delete" (click)="deleteTcdItems(i)" outline status="sussess"
                                *ngIf="purchaseForm.get('tcdDetails').controls.length>1">
                                <i class="fa fa-close" aria-hidden="true"></i>

                              </button>
                            </div>
                          </div>
                          <div class="col-md-2 custom-h border border-right-0 pt-2">
                            <div [class]="'form-group tcdType'+i+'_id'">
                              <ng-select formControlName="tcdType" placeholder="Choose Type" fullWidth *ngIf="toggle" [clearable]="false" [searchable]="false" autocomplete="no-fill" 
                                (ngModelChange)="calculateTcdAmount()" class="custom">
                                <ng-option *ngFor="let item_row of tcdTypes" [value]="item_row.id">{{item_row.tcdName}}
                                </ng-option>
                              </ng-select>
                              <label *ngIf="tcdSubmitted && form.tcdDetails.controls[i].controls.tcdType.errors"
                                class="error">
                                TCD Type Is Required.
                              </label>
                            </div>

                            <div [class]="'form-group  d-none tcdType'+i">
                              <input type="text" class="form-control form-control-sm border" formControlName="tcdName"
                                [ngClass]="{ 'is-invalid': submitted && form.tcdDetails.controls[i].controls.tcdType.errors }" />

                              <i class="fa fa-floppy-o" aria-hidden="true" class="text-info pull-right hand"
                                (click)="saveList('tcdName','tcdType','tcdTypes',i,'tcdDetails')"></i>
                              <i class="fa fa-close" aria-hidden="true" class="text-danger pull-right hand"
                                (click)="clearTcd(['tcdType','tcdName'],i);close('tcdType'+i);calculateTcdAmount();"></i>
                              <label *ngIf="tcdSubmitted && form.tcdDetails.controls[i].controls.tcdType.errors"
                                class="error">
                                TCD Type Is Required.
                              </label>
                            </div>
                          </div>
                          <div class="col-md-2 custom-h2 border border-right-0 pt-2">
                            <div class="form-group ">
                              <input type="text" formControlName="tcdDesc"
                                class="form-control form-control-sm border custom-desc" />
                            </div>
                          </div>
                          <div class="col-md-2 custom-h border border-right-0 pt-2 ">
                            <div class="form-group control-select">
                              <ng-select formControlName="flatOrPercentage" placeholder="Choose Type" fullWidth [clearable]="false" [searchable]="false" autocomplete="no-fill" 
                                *ngIf="toggle" (ngModelChange)="calculateTcdAmount()"
                                class="custom">
                                <ng-option *ngFor="let item_row of FPtypes" [value]="item_row.name">{{item_row.name}}
                                </ng-option>
                              </ng-select>
                              <label
                                *ngIf="tcdSubmitted && form.tcdDetails.controls[i].controls.flatOrPercentage.errors"
                                class="error">
                                Flat/Percentage Is Required.
                              </label>
                            </div>
                          </div>
                          <div class="col-md-1 custom-h3 border border-right-0 pt-2">
                            <div class="form-group">
                              <input type="text" formControlName="amount"
                                class="form-control form-control-sm border custom-width" placeholder="Eg:25.010" autocomplete="no-fill" 
                                (blur)="makeDecimalPoint('amount',i,'tcdDetails');calculateTcdAmount()"
                                (keyup)="calculateTcdAmount()"
                                [ngClass]="{ 'is-invalid': tcdSubmitted && form.tcdDetails.controls[i].controls.amount.errors }" />
                              <label
                                *ngIf="tcdSubmitted && form.tcdDetails.controls[i].controls.amount.errors && form.tcdDetails.controls[i].controls.amount.errors.required"
                                class="error">
                                Amount Is Required.
                              </label>
                              <label
                                *ngIf="tcdSubmitted && form.tcdDetails.controls[i].controls.amount.errors && form.tcdDetails.controls[i].controls.amount.errors.pattern"
                                class="error">
                                Invalid Amount (Eg:25.010)
                              </label>
                            </div>
                          </div>
                          <div class="col custom-h border border-right-0 pt-2">
                            <div class="form-group">
                              <input type="text" formControlName="tcdAmount" class="form-control form-control-sm border custom-width"
                                placeholder="Eg:25.010" disabled
                                [ngClass]="{ 'is-invalid': tcdSubmitted && form.tcdDetails.controls[i].controls.tcdAmount.errors }" />
                              <label
                                *ngIf="tcdSubmitted && form.tcdDetails.controls[i].controls.tcdAmount.errors && form.tcdDetails.controls[i].controls.tcdAmount.errors.required"
                                class="error">
                                TCD Amount Is Required.
                              </label>
                              <label
                                *ngIf="tcdSubmitted && form.tcdDetails.controls[i].controls.tcdAmount.errors && form.tcdDetails.controls[i].controls.tcdAmount.errors.pattern"
                                class="error">
                                Invalid Amount (Eg:25.010)
                              </label>
                            </div>
                          </div>

                        </div>
                        <p class="text-danger text-center width-100" *ngIf="tcdError">Note: {{tcdError}}</p>
                      </div>


                    </div>
                  </div>
                </div>
              </ng-template>
            </ngb-panel>
            

            <ngb-panel id="toggle-4" *ngIf="arrQuot!=null || newPo">
              <ng-template ngbPanelTitle>
                <div class="row">
                  <div class="col">
                    Documents
                  </div>
                  <div class="col text-right"><i class="fa fa-angle-down"></i></div>
                </div>
              </ng-template>
              <ng-template ngbPanelContent>
                <div class="container-fluid h-minus pt-2 pb-2">
                  <input style="display: none;" type="file" (change)="upload($event.target.files)" id="fileUpload"
                    class="hidden" multiple />
                  <div class="col-12 file-upload text-info" (click)="triggerFileUpload()">
                    <i class="fa fa-upload"></i> &nbsp;Upload
                  </div><label class="text-lowercase">&nbsp;&nbsp;&nbsp;(.png, .jpg, .xlsx, .txt, .pdf Max Size=4Mb)</label>
                  <div class="col-12" *ngIf="fileToUpload && fileToUpload.length > 0">
                    <div class="row mrgn-t-10">
                      <div class="col-2 text-center mrgn-t-10 ovr-hid" *ngFor="let item of fileToUpload; let i = index">
                        <img ngbTooltip="{{item.fileName}}" [src]="imageSrc[i]"
                          class="" width = "200" height=" 150"
                          onerror="this.src='../../../../assets/images/unnamed.png';">
                        <div ngbTooltip="{{item.fileName}}" class="item_image_name">{{item.name}}</div>
                        <div>
                          <label (click)="deleteDoc(i)"><i class="fa fa-trash" aria-hidden="true"></i></label>
                        </div>
                      </div>
                    </div>
                  </div>

                  <hr *ngIf="orderDetails && arrQuot !=null">
                  <div class="col-12" *ngIf="!newPo">
                    <div class="row mrgn-t-10">
                      <div class="col-2 text-center mrgn-t-10 ovr-hid"
                        *ngFor="let item of arrQuot.QDO; let i = index">
                        <img [src]="DOC_PATH+'/'+item.filePath" class="" width = "200" height=" 150"
                          onerror="this.src='../../../../assets/images/unnamed.png';">
                        <div class="item_image_name">{{item.fileName}}</div>
                        <div>
                          <!--i class="fa fa-trash" aria-hidden="true" (click)="deleteDocFromServer(item,i)"></i-->
                          <a target="_blank" [href]="DOC_PATH+'/'+item.filePath">
                            <i class="fa fa-arrow-down" aria-hidden="true"></i>
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>


                </div>
              </ng-template>
            </ngb-panel>
          </ngb-accordion>

          <hr class="mb-2 mt-2">
          <div class="row p-0 m-0">
            <div class="col-md-12 text-right pb-2">
              <div class="btn-group">
                <a class="btn btn-sm btn-primary vendor_save" [routerLink]="['/purchase-order/list']">
                  <i class="fa fa-close" aria-hidden="true"></i>&nbsp;Cancel
                </a>

              </div>
              &nbsp;
              <div class="btn-group">
                <button [disabled]="loading" class="btn btn-sm btn-success vendor_save"><ngx-spinner [fullScreen]="false"  bdColor="transparent">
                                                  </ngx-spinner> 
                  <i class="fa fa-save" aria-hidden="true"></i>&nbsp;Save
                </button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

  