<ngx-spinner bdColor="rgba(0, 0, 0, 0.4)"></ngx-spinner>
<div class=" mt-1 mb-5 ">
  <div class="row" *ngIf="!selectedEnqId">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
      <div class="card mrgn-t-10">
        <div class="row mt-3" *ngIf="showNoVendorMsg">
            <div  class="container text-center pb-3 alert alert-danger">
              Sorry, No vendor details added for this enquiry.
            </div>

        </div>
        <div class="row mt-3" *ngIf="showQuotationMessage">
            <div  class="container text-center pb-3 alert alert-danger">
              Sorry,&nbsp; All the vendors were submitted quotation for this enquiry.&nbsp; Please choose another enquiry number.
            </div>
            
        </div>

        <div class="row m-0 p-0 pt-2">
          <label class="col-md-4 text-center" style="padding-top: 10px;">Enquiry Number</label>
          <div class="col-md-4">
            <ng-autocomplete [data]="enquiryList" [(ngModel)]="search_enq"
              (ngModelChange)="this.searchEnquiryList.next($event)" (selected)="selectEnquiryFromList($event)"
              [searchKeyword]="keywordEnquiry" placeHolder="Select Enquiry" [itemTemplate]="enqTemplate" #auto
              [notFoundTemplate]="notFoundTemplate" [initialValue]="initialKeywordEnquiry">
            </ng-autocomplete>
            <ng-template #enqTemplate let-item>
              <a [innerHTML]="item.enqNumber"></a>
            </ng-template>
            <ng-template #notFoundTemplate let-notFound>
              <div [innerHTML]="notFound"></div>
            </ng-template>
          </div>
          <span class="col-md-12">
            <hr></span>
        </div>
          <div class="row" class="form-group mrgn-t-10 save-button text-right " *ngIf="!selectedEnqId">  
            <div class="col-md-12 text-right pb-2">
              <div class="btn-group">
                <a class="btn btn-sm btn-primary" [routerLink]="['/quotation/list']">
                  <i class="fa fa-close" aria-hidden="true"></i>&nbsp;Cancel
                </a>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="row" *ngIf="showPage ">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
      <div class="card mrgn-t-10">  

        <div nb-card-header class="add-new-header-bg pl-4 pt-1 pb-1 bg-relative text-white pt-1 pb-1 bg-info"><i
            class="fa fa-file"></i>&nbsp;Add Quotation </div>
        <form [formGroup]="quotationForm" (ngSubmit)="onSubmit()" encType="multipart/form-data">
          <ngb-accordion #acc="ngbAccordion" activeIds="toggle-1">
            <!-- Acc start -->
            <ngb-panel id="toggle-1">
              <ng-template ngbPanelTitle>

                <div class="row text-left">
                  <div class="col">
                    Quotation Add
                  </div>
                  <div class="col text-right" style="padding-left: 900px;"  *ngIf="enqDetails && enqDetails.enqStatus ==2">Quotation Generated</div>
                  <div class="col text-right">
                  <i class="fa fa-angle-down"></i>
                </div>
                </div>

              </ng-template>
              <ng-template ngbPanelContent>

                <div class="row mrgn-t-10 new1" *ngIf="(enqDetails)">
                  <div class="col-sm-8">
                    <div class="row">
                      <div class="row col-sm-6">
                        <label class=" col-sm-5">ENQ Number</label>
                        <label class="col-sm-7">:&nbsp;
                          <span *ngIf="permissions.enquiry_edit"> <a [routerLink]="['/enquiry/edit/',enqDetails.id]">
                              {{enqDetails.enqNumber}} </a> </span>
                          <span *ngIf="!permissions.enquiry_edit"> {{enqDetails.enqNumber}}</span>
                        </label>
                      </div>
                      <div class="row col-sm-6">
                        <label class="col-sm-5">Customer Name</label>
                        <label class="col-sm-7  elipsis" placement="left" ngbTooltip="{{enqDetails.customerName}}">: {{enqDetails.customerName}} </label>
                      </div>
                    </div>
                    <div class="row">
                      <div class=" row col-sm-6">
                        <label class="col-sm-5">ENQ Received Date</label>
                        <label class="col-sm-7">: {{ convertDate(enqDetails.enqDate)}} </label>
                      </div>
                      <div class="row col-sm-6">
                        <label class="col-sm-5">Customer Ref Name</label>
                        <label class=" col-sm-7  elipsis" placement="left" ngbTooltip="{{enqDetails.customerRefName}}">: {{enqDetails.customerRefName}} </label>
                      </div>
                    </div>
                    <div class="row">
                      <div class="row col-sm-6">
                        <label class="col-sm-5">Service Request For</label>
                        <label class="col-sm-7  elipsis" placement="left" ngbTooltip="{{ enqDetails.serviceRequestFor}}">: {{ enqDetails.serviceRequestFor}} </label>
                      </div>
                      <div class="row col-sm-6 ">
                        <label class="col-sm-5">Customer Ref No</label>
                        <label class="col-sm-7 elipsis" placement="left" ngbTooltip="{{enqDetails.customerRefNo}}">:&nbsp;{{enqDetails.customerRefNo}} </label>
                      </div>
                    </div>

                    <div class="row">
                      <div class="row col-sm-6">
                        <label class="col-sm-5">Customer Currency</label>
                        <label class="col-sm-7" *ngIf="cust_currencyShortKey"> : {{ cust_currencyFullName }} </label>
                      </div>
                    </div>
                    <div class="row p-2" *ngIf="submitted && form.vendorName.errors">
                      <div class="container text-center alert alert-danger"> Please choose a vendor to generate
                        quotation.</div>
                    </div>
                    <div class="row" *ngIf="enqDetails  && enqDetails.EV">
                      <hr>
                      <div class="col-sm-12">
                        <table class="table mx-auto">
                          <thead class="bg-light p-0 m-0">
                            <tr class="border-0">
                              <th>#</th>
                              <th></th>
                              <th>Vendor Name</th>
                              <th>Rqst Date</th>
                              <th>Details</th>
                              <th>Qtn No</th>
                              <th>Action</th>
                            </tr>
                          </thead>
                          <tbody formArrayName="vendors">
                            <tr *ngFor="let item of quotationForm.get('vendors')['controls']; let iv = index"
                              [formGroupName]="iv" [class.hidden]="form.vendors.controls[iv].controls.status.value!=1">
                              <td>{{ (iv+1) }}</td>
                              <td>
                                <span  *ngIf="quotationForm.get('vendors').controls.length>0 && !item.get('quotationNumber').value ">
                                  <input type="radio" name="selectVendor" [(ngModel)]="vendorSel" formControlName="selectVendor" id="selectVendor" [value]="item.get('id').value"
                                    (click)="selectVendor($event.target.checked,item,iv,item.get('id').value,quotationForm.get('vendors').controls.length,item.get('date').value)" />

                                </span>
                              </td>
                              <td><span ngbTooltip="{{ item.get('vendorName').value }}" placement="top"> {{ item.get('vendorName').value }} </span></td>
                              <td> {{ convertDate(item.get('date').value) }} </td>
                              <td><span ngbTooltip="{{ item.get('details').value }}" placement="top"> {{ item.get('details').value }} </span></td>
                              <td class="colour_bl">
                                <span *ngIf="item.get('quotationXid').value">
                                  <label class="hand" *ngIf="(permissions.quotation_edit)">
                                    <a [routerLink]="['/quotation/edit/',item.get('quotationXid').value]">
                                      {{ item.get('quotationNumber').value }}</a> </label>
                                  <label *ngIf="(permissions.quotation_edit == false)">
                                    {{ item.get('quotationNumber').value }} </label>
                                </span>
                              </td>
                              <td>
                                <span
                                  *ngIf="quotationForm.get('vendors').controls.length>1 && !item.get('quotationNumber').value ">
                                  <button type="button" title="Remove" class="btn-default btn-circle address-btn-delete"
                                    (click)="deleteVendorItems(iv,item.get('vendorName').value)" outline status="sussess">
                                    <i class="fa fa-close" aria-hidden="true"></i>
                                  </button>
                                </span> </td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>

                  </div>
                  <div class="col-sm-4">
                    <table class="table rate-table-border">
                      <thead>
                        <tr class="bg-info text-white">
                          <th>Sup Amount <span *ngIf="vend_currencyShortKey"> (
                            {{ vend_currencyShortKey }} ) </span> </th>
                          <th>Cust Amount <span *ngIf="vend_currencyShortKey"> (
                            {{ cust_currencyShortKey }} ) </span> </th>
                        </tr>
                      </thead>
                      <tbody class="bg-rate">
                        <tr>
                          <td>
                            <p>
                              <label class="amount-box-label"> Item Total&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                              </label>:&nbsp;<label class="amount-box-value"
                                *ngIf="quotationForm.get('fromVendorCost').value">
                                {{vend_currencySymbol}} {{ quotationForm.get('fromVendorCost').value }} </label>
                            </p>
                          </td>
                          <td>
                            <p>
                              <label class="amount-box-label">Item Total &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                              </label>:&nbsp;<label class="amount-box-value" *ngIf="converted_toCustomerCost">
                                {{cust_currencySymbol}} {{ converted_toCustomerCost.toFixed(3) }}
                              </label>
                            </p>
                          </td>
                        </tr>

                        <tr>
                          <td>
                            <p>
                              <label class="amount-box-value"> Tax/Charge  : {{vend_currencySymbol}} {{ vend_tcdTotal.toFixed(3) }},
                                Disc :
                                {{vend_currencySymbol}} {{ vend_tcdDiscount.toFixed(3) }} </label>
                            </p>
                          </td>
                          <td>
                            <p>
                              <label class="amount-box-label"> Tax/Charge : {{cust_currencySymbol}} {{ converted_cust_tcdTotal.toFixed(3) }}, Disc : {{cust_currencySymbol}}
                                {{ converted_cust_tcdDiscount.toFixed(3) }}</label>
                            </p>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <p>
                              <label class="amount-box-label"> <b>Total </b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                              </label>:&nbsp;<label class="amount-box-value"
                                *ngIf="quotationForm.get('fromVendorCostWithTCD').value">
                                {{vend_currencySymbol}} {{ quotationForm.get('fromVendorCostWithTCD').value }} </label>
                            </p>
                          </td>
                          <td>
                            <p>
                              <label class="amount-box-label"> <b>Total </b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                              </label>:&nbsp;<label class="amount-box-value" *ngIf="converted_toCustomerCostWithTCD">
                                {{cust_currencySymbol}} {{ converted_toCustomerCostWithTCD.toFixed(3) }}
                              </label>
                            </p>
                          </td>
                        </tr>
                        <tr
                          *ngIf="quotationForm.get('custAmountUsd').value || quotationForm.get('vendAmountUsd').value">
                          <td>
                            <p *ngIf="quotationForm.get('vendAmountUsd').value">
                              <label class="amount-box-label"> Amount in USD </label>:<label class="amount-box-value">
                                ${{quotationForm.get('vendAmountUsd').value}} </label>
                            </p>
                          </td>
                          <td>
                            <p *ngIf="quotationForm.get('custAmountUsd').value">
                              <label class="amount-box-label"> Amount in USD </label>:<label class="amount-box-value">
                                ${{quotationForm.get('custAmountUsd').value}} </label>
                            </p>
                          </td>
                        </tr>
                      </tbody>
                    </table>

                  </div>
                </div>

                <div class="row" *ngIf="quotationForm.get('vendorName').value">
                  <div class="col-sm-5">
                    <label *ngIf="form.quotationCategory.value==null || form.quotationCategory.value==1"
                      class="col-sm-4 float-left">Vendor Name </label>
                    <label *ngIf="form.quotationCategory.value==2" class="col-sm-4 float-left">Customer Name</label>
                    <div class="col-sm-7 float-left">:

                      {{ quotationForm.get('vendorName').value }}
                      <label *ngIf="submitted && form.vendorName.errors" class="error">
                        Please choose Vendor from above list to generate quotation.
                      </label>
                    </div>
                  </div>
                </div>
                 <div class="row" *ngIf="quotationForm.get('vendorName').value">
                  <div class="col-sm-4">
                    <label class="col-sm-5 float-left">Currency </label>
                    <div class="col-sm-7 float-left">: {{ vend_currencyFullName }}
                    </div>
                  </div>
                </div>
                 <div class="row" *ngIf="quotationForm.get('vendorName').value">
                  <div class="col-sm-4">

                    <label *ngIf="form.quotationCategory.value==null || form.quotationCategory.value==1"
                      class="col-sm-5 float-left">Quotation Recv'd Date</label>
                    <label *ngIf="form.quotationCategory.value==2" class="col-sm-5 float-left">Quotation Send
                      Date</label>
                    
                      <div class="input-group col-sm-6" >
                        :&nbsp;
                        <input class="form-control form-control-sm" [readonly]="true" formControlName="quotationDate"
                          [minDate]="min_enqDate && vendorDate" [maxDate]="todayDate" placeholder="yyyy-mm-dd" name="dp" ngbDatepicker
                          #d="ngbDatepicker" (click)="d.toggle()">
                        <div class="input-group-append">
                          <button class="btn btn-sm btn-outline-secondary calendar" (click)="d.toggle()"
                            type="button"><i class="fa fa-calendar fa-lg"></i></button>
                        </div>
                        <div *ngIf="submitted && form.quotationDate.errors" class="invalid-feedback">
                          <div *ngIf="form.quotationDate.errors.required">
                            <label
                              *ngIf="form.quotationCategory.value==null || form.quotationCategory.value==1">Quotation
                              Received Date Is Required</label>
                            <label *ngIf="form.quotationCategory.value==2">Quotation Send Date Is Required</label>
                          </div>
                        </div>
                      </div>
                    
                  </div>
                </div>
                <span style="padding: 100px;">
                    <div class="row form-group" *ngIf="quotationForm.get('vendorName').value">
                     
                      <div class="col-sm-4">
                        <label class="col-sm-5 float-left">Pay Terms </label>
                        <div class="col-sm-7 float-left">
                          <div class="input-control">
                            <ng-select fullWidth [items]="PayTerms" class="custom" autocomplete="no-fill"
                              bindLabel="name" bindValue="id" [clearable]="false" [searchable]="false"
                              placeholder="Select Pay Term" formControlName="payTermId"
                              (change)="changeSelection($event,PayTerms,'name','payTerm',null,'payTermId')">
                            </ng-select>
                            <label *ngIf="submitted && form.payTerm.errors" class="error">
                              Pay Term Required.
                            </label>
                          </div>
                        </div>
                      </div>
                      <div class="col-sm-4">
                        <label class="col-sm-5 float-left">Pay Mode</label>
                        <div class="col-sm-7 float-left">
                          <div class="input-control">
                            <ng-select fullWidth [items]="PayModes" class="custom" autocomplete="no-fill"
                              bindLabel="name" bindValue="id" [clearable]="false" [searchable]="false"
                              placeholder="Select Pay Mode" formControlName="payModeId"
                              (change)="changeSelection($event,PayModes,'name','payMode',null,'payModeId')">
                            </ng-select>
                            <label *ngIf="submitted && form.payMode.errors" class="error">
                              Pay Mode Is Required.
                            </label>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row form-group" *ngIf="quotationForm.get('vendorName').value">
                      <div class="col-sm-4">
                        <label class="col-sm-5 float-left">Inco Terms </label>
                        <div class="col-sm-7 float-left">
                          <div class="input-control">
                            <ng-select [items]="IncoTerms" class="custom" autocomplete="no-fill" bindLabel="name"
                              bindValue="id" [clearable]="false" [searchable]="false" placeholder="Select Pay Term"
                              formControlName="incoTermId"
                              (change)="changeSelection($event,IncoTerms,'name','incoTerm',null,'incoTermId')">
                            </ng-select>
                            <label *ngIf="submitted && form.incoTerm.errors" class="error">
                              Inco Terms Is Required.
                            </label>
                          </div>
                        </div>
                      </div>
                      <div class="col-sm-4">
                        <label class="col-sm-5 float-left">Inco Place </label>
                        <div class="col-sm-7 float-left">
                            <input type="text" maxlength="60" autocomplete="no-fill" formControlName="incoPlace"
                              class="form-control form-control-sm "
                              [ngClass]="{ 'is-invalid': submitted && form.incoPlace.errors }" />
                            <label *ngIf="submitted && form.incoPlace.errors" class="error">
                              Inco Place Is Required.
                            </label>
                        </div>
                      </div>
                    </div>
                      <div class="row form-group" *ngIf="quotationForm.get('vendorName').value">
                      <div class="col-sm-4">
                        <label class="col-sm-5 float-left">Remarks </label>
                        <div class="col-sm-7 float-left">
                          <textarea formControlName="remarks" class="form-control new_text1" rows="1"
                            [ngClass]="{ 'is-invalid': submitted && form.remarks.errors }" autocomplete="no-fill">
                          </textarea>
                          <label *ngIf="submitted && form.remarks.errors" class="error">
                            Remarks Is Required.
                          </label>
                        </div>
                      </div>
                   
                      <div class="col-sm-4">
                        <label class="col-sm-5 float-left">Delivery Date</label>
                        <div class="col-sm-7 float-left">
                          <div class="input-group">
                            <input class="form-control form-control-sm" [readonly]="true" formControlName="deliveryDate" [minDate]="form.quotationDate.value" 
                              placeholder="yyyy-mm-dd" name="dp" ngbDatepicker #d="ngbDatepicker" (click)="d.toggle()">
                            <div class="input-group-append">
                              <button class="btn btn-sm btn-outline-secondary calendar" (click)="d.toggle()"
                                type="button"><i class="fa fa-calendar fa-lg"></i></button>
                            </div>
                            <div *ngIf="submitted && form.deliveryDate.errors" class="invalid-feedback">
                              <div *ngIf="form.deliveryDate.errors.required">
                                <label> Delivery Date Is Required</label>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                 </div>
               </span>
              </ng-template>
            </ngb-panel>
            <ngb-panel id="toggle-2">
              <ng-template ngbPanelTitle>
                <div class="row">
                  <div class="col">
                    Item Details
                  </div>
                  <div class="col text-right"><i class="fa fa-angle-down"></i></div>
                </div>
              </ng-template>
              <ng-template ngbPanelContent>
                <div class="container-fluid">
                  
              <div class="row m-0 p-0" *ngIf="vendorChoose">
                <div  class="col-md-12 text-center pb-2 alert alert-danger">
                   Please select a vendor
                </div>
    
            </div>
                  <div class="row">
                    <div class="col-md-12 text-right">
                      <input type="checkbox" formControlName="includeCustomerQuotation" name="includeCustomerQuotation"
                        id="includeCustomerQuotation" (click)="includeCustomerQuotation($event)" /> 
                        &nbsp;&nbsp;<label> &nbsp; Include Customer Quotation </label>
                    </div>
                    <div class="col-md-12 text-right" *ngIf="quotationForm.get('custAmountUsd').value && quotationForm.get('custAmountUsd').value > 0">
                      Total Amount in USD To Customer : ${{ quotationForm.get('custAmountUsd').value }}
                    </div>

                  </div>

                  <div class="row  purchase-holder">
                    <div class=" col-md-12">
                      <!--div class="row bg-relative-two custom-table text-dark mt-3">
                        <div class="new_spc1 col-md-1 mx-auto">
                          <button type="button" class="address-btn" (click)="createItems(true)" outline
                            status="sussess">
                            <i class="fa fa-plus" aria-hidden="true"></i>
                          </button>
                        </div>
                        <div class="new_spc1a col-md-2" scope="col">Group</div>
                        <div class="new_spc1a col-md-2" scope="col">Description</div>
                        <div class="new_spc1a col" scope="col">Type</div>
                        <div class="new_spc1ab col" style="width:9.75%" scope="col">UOM</div>
                        <div class="new_spc1a col" scope="col">Qty</div>
                        <div class="new_spc1a col" scope="col">Unit Price (Sup)</div>
                        <div class="new_spc1a col" scope="col">Cost (Sup)</div>
                        <div class="new_spc1a col" scope="col">SME Profit</div>
                        <div class="new_spc1a col" scope="col">Unit Price (Cust)</div>
                        <div class="new_spc1a col" scope="col">Cost (Cust)</div>
                      </div>
                    </div-->
                    <!--div class="container-fluid"-->
                      <div formArrayName="details" >
                        <table class="table-bordered table-sm p-0 " style="max-width: 100%;">
                    <thead class="bg-relative-two">
                    <tr class="border">
                    <th> <button type="button" class="address-btn" (click)="createItems(true)" outline status="sussess">
                    <i class="fa fa-plus"></i>
                    </button></th>
                    <th class="text-center" style="font-size: 11px; width: 190px;">Group</th>
                    <th class="text-center" style="font-size: 11px; width: 190px;">Description</th>
                    <th class="text-center" style="font-size: 11px;">Type</th>
                    <th class="text-center" style="font-size: 11px; width: 70px;">UOM</th>
                    <th class="text-center" style="font-size: 11px; width: 70px;">Qty</th>
                  <th style="font-size: 11px;" colspan="2" ><div class="row">
                      <div class="col-md-12 text-center" >
                  <div style="border-bottom: 1px solid #fff;">Qtn from Sup</div>
                  </div>
                    </div>
                      <div class="row">
                        <div class="col-md-6 text-center">Unit Price (QR)</div>
                        <div class="col-md-6 text-center" style="border-left: 1px solid #fff;">Cost (QR)</div>
                      </div>
                    </th>
                    <th class="text-center" style="font-size: 11px;">SME Profit (%)</th>
                    <th style="font-size: 11px;" colspan="2" ><div class="row">
                      <div class="col-md-12 text-center" >
                  <div style="border-bottom: 1px solid #fff;">Qtn to Cust </div>
                  </div>
                    </div>
                      <div class="row">
                        <div class="col-md-6 text-center">Unit Price (QS)</div>
                        <div class="col-md-6 text-center" style="border-left: 1px solid #fff;">Cost (QS)</div>
                      </div>
                    </th>
                     </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of quotationForm.get('details')['controls']; let i = index"
                          [formGroupName]="i" 
                          [class.hidden]="form.details.controls[i].controls.status.value!=1">
                          <ng-container *ngIf="form.details.controls[i].controls.status.value==1">
                            <td class="text-center">
                              <div class="form-group d-inline">
                                <button type="button" class="btn-default btn-circle address-btn-delete"
                                  (click)="deleteItems(i)" outline status="sussess"
                                  *ngIf="quotationForm.get('details').controls.length>1">
                                  <i class="fa fa-close" aria-hidden="true"></i>
                                </button>
                              </div>
                            </td>
                            <td>
                              <div [class]="'form-group d-inline itemGroup'+i+'_id'">
                                <ng-autocomplete [data]="itemGroups"
                                  (selected)="changeSelection($event,itemGroups,'groupName','group',i,'groupXid')"
                                  [searchKeyword]="keywordGroup" placeHolder="Select Group Name"
                                  formControlName="groupNameAuto" [itemTemplate]="groupTemplate" (closed)="fixSelectedData('group',i)"
                                  (inputCleared)="clear(['groupXid','group','groupNameAuto'],i,'groupNameAuto')"
                                  [notFoundTemplate]="notFoundTemplate">
                                </ng-autocomplete>
                                <ng-template #groupTemplate let-item>
                                  <a [innerHTML]="item.groupName"></a>
                                </ng-template>
                                <!-- <span class="hand text-info pull-right"
                                      (click)="clear(['groupXid','group','groupNameAuto'],i,'groupNameAuto');show('itemGroup'+i)">Add
                                    New</span>-->
                                <label *ngIf="submitted && form.details.controls[i].controls.group.errors"
                                  class="error-po">
                                  Select valid Group.
                                </label>
                              </div>
                              <div [class]="'form-group d-none itemGroup'+i">
                                <input type="text" formControlName="group" class="form-control custom-width" />
                                <i class="fa fa-close" aria-hidden="true"
                                  (click)="clear(['groupXid','group','groupNameAuto'],i,'groupNameAuto');close('itemGroup'+i)"></i>
                                <label *ngIf="submitted && form.details.controls[i].controls.group.errors"
                                  class="error-po">
                                  Select valid Group.
                                </label>
                              </div>
                            </td>
                            <td>
                              <div class="form-group d-inline">
                                <input type="text" formControlName="description"
                                  class="form-control form-control-sm border" autocomplete="no-fill"
                                  [ngClass]="{ 'is-invalid': submitted && form.details.controls[i].controls.description.errors }" />
                                <label *ngIf="submitted && form.details.controls[i].controls.description.errors"
                                  class="error-po">
                                  Required
                                </label>
                              </div>
                            </td>
                            <td>
                              <div [class]="'form-group d-inline itemType'+i+'_id'" class="new_group_1">
                                <ng-select [items]="itemTypes" class="custom" autocomplete="no-fill" bindLabel="name"
                                  bindValue="id" [clearable]="false" [searchable]="false" placeholder="Choose Type"
                                  formControlName="typeXid"
                                  (change)="changeSelection($event,itemTypes,'name','type',i)">
                                    <ng-template ng-option-tmp let-item="item">
                                  <div title="{{item.name}}">{{item.name}}</div>
                                  </ng-template>
                                </ng-select>
                                <label *ngIf="submitted && form.details.controls[i].controls.type.errors" class="error-po">
                                  Type Is Required.
                                </label>
                              </div>
                              <div [class]="'form-group d-none itemType'+i">
                                <input type="text" formControlName="type" class="form-control border custom-width" />
                                <i class="fa fa-times-circle" aria-hidden="true"
                                  (click)="clear(['typeXid','type'],i);close('itemType'+i)"></i>
                                <label *ngIf="submitted && form.details.controls[i].controls.type.errors" class="error-po">
                                  Type Is Required.
                                </label>
                              </div>
                            </td>
                            <td>
                              <div [class]="'form-group d-inline uom'+i+'_id'" class="new_width1">

                                <ng-autocomplete class="new_6" [data]="uoms"
                                  (selected)="changeSelection($event,uoms,'uomName','uom',i,'uomXid')"
                                  [searchKeyword]="keywordUom" placeHolder="Select UOM" formControlName="uomNameAuto" (closed)="fixSelectedData('uom',i)"
                                  [itemTemplate]="uomTemplate"
                                  (inputCleared)="clear(['uomXid','uom','uomNameAuto'],i,'uomNameAuto')"
                                  [notFoundTemplate]="notFoundTemplate">
                                </ng-autocomplete>
                                <ng-template #uomTemplate let-item>
                                  <a [innerHTML]="item.uomName"></a>
                                </ng-template>
                                <label *ngIf="submitted && form.details.controls[i].controls.uom.errors" class="error-po">
                                  Select valid UOM.
                                </label>
                              </div>
                              <div [class]="'form-group d-none uom'+i">
                                <input type="text" formControlName="uom"
                                  class="form-control border-top-0 border-left-0 border-right-0 custom-width" />
                                <i class="fa fa-close" aria-hidden="true"
                                  (click)="clear(['uomXid','uom','uomNameAuto'],i,'uomNameAuto');close('uom'+i)"></i>
                                <label *ngIf="submitted && form.details.controls[i].controls.uom.errors" class="error-po">
                                  Select valid UOM.
                                </label>
                              </div>
                            </td>
                            <td>
                              <div class="form-group d-inline">
                                <input type="text" formControlName="qtQty"
                                  class="form-control form-control-sm border custom-width" autocomplete="no-fill"
                                  placeholder="Eg:2.00"
                                  (blur)="makeDecimalPoint('qtQty',i,'details',2);calculateCost(i)"
                                  (keyup)="calculateCost(i)"
                                  [ngClass]="{ 'is-invalid': submitted && form.details.controls[i].controls.qtQty.errors }" />
                                <label
                                  *ngIf="submitted && form.details.controls[i].controls.qtQty.errors && form.details.controls[i].controls.qtQty.errors.required"
                                  class="error-po">
                                  Required
                                </label>
                                <label
                                  *ngIf="submitted && form.details.controls[i].controls.qtQty.errors && form.details.controls[i].controls.qtQty.errors.pattern"
                                  class="error-po">
                                  Invalid Quantity (Eg:2.00)
                                </label>
                              </div>
                            </td>
                            <td>
                              <div class="form-group d-inline">
                                <input type="text" formControlName="venQtUnitPrice"
                                  class="form-control form-control-sm border custom-width" autocomplete="no-fill"
                                  placeholder="Eg:25.010" oninput="this.value = this.value.replace(/[^0-9.]/g, ''); this.value = this.value.replace(/(\..*)\./g, '$1');" onKeyDown="if(this.value.length==8 && event.keyCode!=8 && event.keyCode!=9 && event.keyCode!=39 && event.keyCode!=37) return false;"
                                  (blur)="makeDecimalPoint('venQtUnitPrice',i,'details');calculateCost(i);"
                                  (keyup)="calculateCost(i)"
                                  [ngClass]="{ 'is-invalid': submitted && form.details.controls[i].controls.venQtUnitPrice.errors }" />
                                <label
                                  *ngIf="submitted && form.details.controls[i].controls.venQtUnitPrice.errors && form.details.controls[i].controls.venQtUnitPrice.errors.required"
                                  class="error-po">
                                  Required
                                </label>
                                <label
                                  *ngIf="submitted && form.details.controls[i].controls.venQtUnitPrice.errors && form.details.controls[i].controls.venQtUnitPrice.errors.pattern"
                                  class="error-po">
                                  Invalid Amount (Eg:25.010)
                                </label>
                              </div>
                            </td>

                            <td>
                              <div class="form-group d-inline">
                                <input type="text" formControlName="vendQtCost" placeholder="0.000"
                                  class="form-control form-control-sm border custom-width" disabled
                                  [ngClass]="{ 'is-invalid': submitted && form.details.controls[i].controls.vendQtCost.errors }" />
                                <label
                                  *ngIf="submitted && form.details.controls[i].controls.vendQtCost.errors && form.details.controls[i].controls.vendQtCost.errors.required"
                                  class="error-po">
                                  Required
                                </label>
                                <label
                                  *ngIf="submitted && form.details.controls[i].controls.vendQtCost.errors && form.details.controls[i].controls.vendQtCost.errors.pattern"
                                  class="error-po">
                                  Invalid Amount (Eg:25.010)
                                </label>
                              </div>
                            </td>
                            <td>
                              <div class="form-group d-inline">
                                <input type="text" formControlName="smeProfit"
                                  class="form-control form-control-sm border custom-width" autocomplete="no-fill"
                                  placeholder="Eg:2.00" oninput="this.value = this.value.replace(/[^0-9.]/g, ''); this.value = this.value.replace(/(\..*)\./g, '$1');" onKeyDown="if(this.value.length==8 && event.keyCode!=8 && event.keyCode!=9 && event.keyCode!=39 && event.keyCode!=37) return false;"
                                  (blur)="makeDecimalPoint('smeProfit',i,'details',2);calculateCost(i)" 
                                  (keyup)="validateSMEprofitValue(i);calculateCost(i)"
                                  [ngClass]="{ 'is-invalid': submitted && form.details.controls[i].controls.smeProfit.errors }" />
                                <label
                                  *ngIf="submitted && form.details.controls[i].controls.smeProfit.errors && form.details.controls[i].controls.smeProfit.errors.required"
                                  class="error-po">
                                  Required
                                </label>
                                <label
                                  *ngIf="submitted && form.details.controls[i].controls.smeProfit.errors && form.details.controls[i].controls.smeProfit.errors.pattern"
                                  class="error-po">
                                  Invalid SME Profit (Eg:2.00)
                                </label>
                              </div>
                            </td>
                            <td>
                              <div class="form-group d-inline">
                                <input type="text" formControlName="custQtUnitPrice"
                                  class="form-control form-control-sm border custom-width" autocomplete="no-fill"
                                  placeholder="0.000" oninput="this.value = this.value.replace(/[^0-9.]/g, ''); this.value = this.value.replace(/(\..*)\./g, '$1');" onKeyDown="if(this.value.length==8 && event.keyCode!=8 && event.keyCode!=9 && event.keyCode!=39 && event.keyCode!=37) return false;"
                                  (blur)="makeDecimalPoint('custQtUnitPrice',i,'details');calculateCost(i);"
                                  (keyup)="calculateCost(i)"
                                  [ngClass]="{ 'is-invalid': submitted && form.details.controls[i].controls.custQtUnitPrice.errors }" />
                                <label
                                  *ngIf="submitted && form.details.controls[i].controls.custQtUnitPrice.errors && form.details.controls[i].controls.custQtUnitPrice.errors.required"
                                  class="error-po">
                                  Required
                                </label>
                                <label
                                  *ngIf="submitted && form.details.controls[i].controls.custQtUnitPrice.errors && form.details.controls[i].controls.custQtUnitPrice.errors.pattern"
                                  class="error-po">
                                  Invalid Amount (Eg:25.010)
                                </label>
                              </div>
                            </td>

                            <td>
                              <div class="form-group d-inline">
                                <input type="text" formControlName="custQtCost" placeholder="0.000"
                                  class="form-control form-control-sm border custom-width" disabled
                                  [ngClass]="{ 'is-invalid': submitted && form.details.controls[i].controls.custQtCost.errors }" />
                                <label
                                  *ngIf="submitted && form.details.controls[i].controls.custQtCost.errors && form.details.controls[i].controls.custQtCost.errors.required"
                                  class="error-po">
                                  Required
                                </label>
                                <label
                                  *ngIf="submitted && form.details.controls[i].controls.custQtCost.errors && form.details.controls[i].controls.custQtCost.errors.pattern"
                                  class="error-po">
                                  Invalid Amount (Eg:25.010)
                                </label>
                              </div>
                            </td>

                          </ng-container>
                        </tr>
                      </tbody>
                    </table>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12 text-right">
                      <label class="pull-right"
                        *ngIf="quotationForm.get('toCustomerCost').value && quotationForm.get('toCustomerCost').value > 0">Cust
                        Item Total ({{vend_currencyShortKey}}) : {{ quotationForm.get('toCustomerCost').value }}
                      </label>
                      <span *ngIf="vend_currencyShortKey" class="col-md-12 pull-right error"><small> * Vendor currency
                          ({{vend_currencyShortKey}}) is using for calculation. </small></span>
                    </div>
                  </div>

                </div>
              </ng-template>
            </ngb-panel>

            <ngb-panel id="toggle-3">
              <ng-template ngbPanelTitle>
                <div class="row ">
                  <div class="col text-primary">
                    TCD Details
                    <!--span *ngIf="quotationForm.get('quotationCategory').value && quotationForm.get('quotationCategory').value == 1"> (Vendor) </span>
                  <span *ngIf="quotationForm.get('quotationCategory').value && quotationForm.get('quotationCategory').value == 2"> (Customer) </span -->
                  </div>

                  <div class="col text-right"><i class="fa fa-angle-down"></i></div>
                </div>
              </ng-template>
              <ng-template ngbPanelContent>
                <div class="container-fluid">
                  <div class="row  purchase-holder">
                    <div class=" col-md-12">
                      <div class="row bg-relative-two custom-table text-dark mt-3">
                        <div class="col-md-1 mx-auto ">
                          <button type="button" class="address-btn" (click)="createTcdItems(true)" outline
                            status="sussess">
                            <i class="fa fa-plus" aria-hidden="true"></i>
                          </button>
                        </div>
                        <div class="new_spc1a col" scope="col">TCD Types</div>
                        <div class="new_spc1a col" scope="col">Description</div>
                        <div class="new_spc1a col" scope="col">Flat/Percentage</div>
                        <div class="new_spc1ab col" scope="col">Amount</div>
                        <div class="new_spc1a col" scope="col">TCD Amount</div>

                      </div>
                    </div>




                    <div class="container-fluid">
                      <div formArrayName="tcdDetails" class="address">
                        <div *ngFor="let item of quotationForm.get('tcdDetails').controls; let i = index"
                          [formGroupName]="i" [class.hidden]="form.tcdDetails.controls[i].controls.status.value!=1"
                          class="row d-flex h-minus">
                          <ng-container *ngIf="form.tcdDetails.controls[i].controls.status.value==1">

                            <div class="col-md-1  custom-h border border-right-0 pt-2">
                              <div class="form-group text-center">
                                <button type="button" class="btn-default btn-circle address-btn-delete"
                                  (click)="deleteTcdItems(i)" outline status="sussess"
                                  *ngIf="quotationForm.get('tcdDetails').controls.length>1">
                                  <i class="fa fa-close" aria-hidden="true"></i>
                                </button>
                              </div>
                            </div>
                            <div class="col custom-h border border-right-0 pt-2">
                              <div [class]="'form-group tcdType'+i+'_id'">
                                <ng-select [items]="tcdTypes" fullWidth bindLabel="tcdName" bindValue="id"
                                  [clearable]="false" [searchable]="false" placeholder="Choose Type"
                                  formControlName="tcdType" autocomplete="no-fill" (change)="calculateTcdAmount()">
                                </ng-select>
                                <label *ngIf="tcdSubmitted && form.tcdDetails.controls[i].controls.tcdType.errors"
                                  class="error">
                                  TCD Type Is Required.
                                </label>
                              </div>
                              <div [class]="'form-group d-none tcdType'+i">
                                <input type="text" class="form-control form-control-sm border" formControlName="tcdName"
                                  [ngClass]="{ 'is-invalid': submitted && form.tcdDetails.controls[i].controls.tcdType.errors }" />

                                <i class="fa fa-floppy-o" aria-hidden="true" class="text-info pull-right hand"
                                  (click)="saveList('tcdName','tcdType','tcdTypes',i,'tcdDetails')"></i>
                                <i class="fa fa-close" aria-hidden="true" class="text-danger pull-right hand"
                                  (click)="clearTcd(['tcdType','tcdName'],i);close('tcdType'+i);calculateTcdAmount();"></i>
                                <label *ngIf="tcdSubmitted && form.tcdDetails.controls[i].controls.tcdType.errors"
                                  class="error">
                                  TCD Type Is Required.
                                </label>
                              </div>
                            </div>
                            <div class="col custom-h border border-right-0 pt-2">
                              <div class="form-group">
                                <input type="text" formControlName="tcdDesc"
                                  class="form-control form-control-sm border" />
                              </div>
                            </div>

                            <div class="col custom-h border border-right-0 pt-2">
                              <div class="form-group control-select ">
                                <ng-select [items]="FPtypes" fullWidth bindLabel="name" bindValue="name"
                                  [clearable]="false" [searchable]="false" placeholder="Choose Type"
                                  autocomplete="no-fill" formControlName="flatOrPercentage"
                                  (change)="validateTcdValue(i);calculateTcdAmount();">
                                </ng-select>
                                <label
                                  *ngIf="tcdSubmitted && form.tcdDetails.controls[i].controls.flatOrPercentage.errors"
                                  class="error">
                                  Flat/Percentage Is Required.
                                </label>
                              </div>
                            </div>
                            <div class="col custom-h border border-right-0 pt-2">
                              <div class="form-group">
                                <input type="text" formControlName="amount"
                                  class="form-control form-control-sm border custom-width" placeholder="Eg:25.010"
                                  autocomplete="no-fill"
                                  (blur)="makeDecimalPoint('amount',i,'tcdDetails');calculateTcdAmount()" oninput="this.value = this.value.replace(/[^0-9.]/g, ''); this.value = this.value.replace(/(\..*)\./g, '$1');" onKeyDown="if(this.value.length==8 && event.keyCode!=8 && event.keyCode!=9 && event.keyCode!=39 && event.keyCode!=37) return false;"
                                  (keyup)="validateTcdValue(i);calculateTcdAmount();"
                                  [ngClass]="{ 'is-invalid': tcdSubmitted && form.tcdDetails.controls[i].controls.amount.errors }" />
                                <label
                                  *ngIf="tcdSubmitted && form.tcdDetails.controls[i].controls.amount.errors && form.tcdDetails.controls[i].controls.amount.errors.required"
                                  class="error">
                                  Amount Is Required.
                                </label>
                                <label
                                  *ngIf="tcdSubmitted && form.tcdDetails.controls[i].controls.amount.errors && form.tcdDetails.controls[i].controls.amount.errors.pattern"
                                  class="error">
                                  Invalid Amount (Eg:25.010)
                                </label>
                              </div>
                            </div>
                            <div class="col custom-h border border-right-0 pt-2">
                              <div class="form-group">
                                <input type="text" formControlName="tcdAmount" class="form-control form-control-sm border custom-width"
                                  placeholder="Eg:25.010" disabled
                                  [ngClass]="{ 'is-invalid': tcdSubmitted && form.tcdDetails.controls[i].controls.tcdAmount.errors }" />
                                <label
                                  *ngIf="tcdSubmitted && form.tcdDetails.controls[i].controls.tcdAmount.errors && form.tcdDetails.controls[i].controls.tcdAmount.errors.required"
                                  class="error">
                                  TCD Amount Is Required.
                                </label>
                                <label
                                  *ngIf="tcdSubmitted && form.tcdDetails.controls[i].controls.tcdAmount.errors && form.tcdDetails.controls[i].controls.tcdAmount.errors.pattern"
                                  class="error">
                                  Invalid Amount (Eg:25.010)
                                </label>
                              </div>
                            </div>
                            <!--p class="text-danger text-center width-100" *ngIf="tcdError">Note: {{tcdError}}</p-->
                          </ng-container>
                        </div>
                        <p class="text-danger text-center width-100" *ngIf="tcdError">Note: {{tcdError}}</p>
                      </div>
                    </div>
                  </div>
                </div>
              </ng-template>
            </ngb-panel>

            <ngb-panel id="toggle-4">
              <ng-template ngbPanelTitle>
                <div class="row">
                  <div class="col">
                    Documents
                  </div>
                  <div class="col text-right"><i class="fa fa-angle-down"></i></div>
                </div>
              </ng-template>
              <ng-template ngbPanelContent>
                <div class="container-fluid h-minus pt-2 pb-2">
                  <input style="display: none;" type="file" (change)="upload($event.target.files)" id="fileUpload"
                    class="hidden" multiple />
                  <div class="col-12 file-upload text-info" (click)="triggerFileUpload()">
                    <i class="fa fa-upload"></i> &nbsp;Upload
                  </div><label class="text-lowercase">&nbsp;&nbsp;&nbsp;(.png, .jpg, .xlsx, .txt, .pdf Max Size=4Mb)</label>
                  <div class="col-12" *ngIf="fileToUpload && fileToUpload.length > 0">
                    <div class="row mrgn-t-10">
                      <div class="col-2 text-center mrgn-t-10 ovr-hid" *ngFor="let item of fileToUpload; let i = index">
                        <img ngbTooltip="{{item.fileName}}" [src]="imageSrc[i]"
                          width = "200" height=" 150"
                          onerror="this.src='../../../../assets/images/unnamed.png';">
                        <div ngbTooltip="{{item.fileName}}" class="item_image_name">{{item.name}}</div>
                        <div>
                          <label (click)="deleteDoc(i)"><i class="fa fa-trash" aria-hidden="true"></i></label>
                        </div>
                      </div>
                    </div>
                  </div>

                  <hr *ngIf="enqDetails && enqDetails.EDO && enqDetails.EDO.length > 0">
                  <div class="col-12" *ngIf="enqDetails && enqDetails.EDO && enqDetails.EDO.length > 0">
                    <div class="row mrgn-t-10">
                      <div class="col-2 text-center mrgn-t-10 ovr-hid"
                        *ngFor="let item of enqDetails.EDO; let i = index">
                        <img [src]="DOC_PATH+'/'+item.fileName" width = "200" height=" 150" 
                          onerror="this.src='../../../../assets/images/unnamed.png';">
                        <div class="item_image_name">{{item.fileName}}</div>
                        <div>
                          <!--i class="fa fa-trash" aria-hidden="true" (click)="deleteDocFromServer(item,i)"></i-->
                          <a target="_blank" [href]="DOC_PATH+'/'+item.fileName">
                            <i class="fa fa-arrow-down" aria-hidden="true"></i>
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>


                </div>
              </ng-template>
            </ngb-panel>
          </ngb-accordion>

          <hr>
          <div class="row pb-2" class="form-group mrgn-t-10 save-button text-right ">
            <div class="col-md-12 text-right pb-2">
              <div class="btn-group">
                <a class="btn btn-sm btn-primary" [routerLink]="['/quotation/list']">
                  <i class="fa fa-close" aria-hidden="true"></i>&nbsp;Cancel
                </a>
              </div>
              &nbsp;
              <div class="btn-group">
                <button class="btn btn-sm btn-success" [disabled]="loading">
                  <ngx-spinner [fullScreen]="false" bdColor="transparent">
                  </ngx-spinner> <i class="fa fa-save"></i>&nbsp;Save
                </button>
              </div>
            </div>
          </div>

        </form>
      </div>
    </div>
  </div>
</div>
