<ngx-spinner bdColor="rgba(0, 0, 0, 0.4)"></ngx-spinner>
<div class=" mt-1 mb-5 ">
  <div class="row ">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
      <div class="card purchase-holder-main">
        

        <form [formGroup]="enquiryForm" (ngSubmit)="onSubmit()" encType="multipart/form-data">

          <ngb-accordion #acc="ngbAccordion" activeIds="toggle-1">
            <ngb-panel id="toggle-1">
              <div class="container">
                <ng-template ngbPanelTitle>
                  <div class="row">
                  <div class="col text-primary">
                   Add Enquiry
                  </div>
                  <div class="col text-right"><i class="fa fa-angle-down"></i></div>
                  </div>
                </ng-template>
              </div>
              <ng-template ngbPanelContent>

                <div class="row p-3">
                  <div class="col-md-12">
                    <div class="row ">
                       <div class="col-sm-4 space-between">
                        <div class="form-group">
                          <label>Customer </label>
 							                <ng-autocomplete [data]="customers"
                              (selected)="changeSelection($event,customers,'vendorName','customerName',null,'customerXid', 'customerNameAuto'); "  formControlName="customerNameAuto" (closed) = "fixSelectedData('customer')"
                              [searchKeyword]="keywordVendor" placeHolder="Select Customer Name" 
                              [itemTemplate]="customerTemplate" [notFoundTemplate]="notFoundTemplate"
                              (inputCleared)="clearSelect('customerXid')">
                            </ng-autocomplete>
                            <ng-template #customerTemplate let-item>
                            <a [innerHTML]="item.vendorName" class="drop-bg"></a>
                          </ng-template>


                          <ng-template #notFoundTemplate let-notFound>
                            <div [innerHTML]="notFound"></div>
                          </ng-template>
                          <label *ngIf="submitted && form.customerXid.errors" class="error">
                            Customer Is Required.
                          </label>
                        </div>
                    </div>
                    <div class="col-sm-4 space-between">
                       <div class="form-group">
                          <label>ENQ Received Date</label>
                             <div class="input-group">
                                 <input  class="form-control form-control-sm" autocomplete="no-fill"  placeholder="yyyy-mm-dd" [readonly]="true" [ngClass]="{ 'is-invalid': submitted && form.enqDate.errors }"  (click)="enqDatePicker.toggle()"  [(ngModel)]="enqDate"  formControlName="enqDate"  (dateChange)="checkDate()" [maxDate] ="todayDate" ngbDatepicker #enqDatePicker="ngbDatepicker" >
                                 <div class="input-group-append">
                                    <button class="btn btn-outline-secondary btn-sm calendar" (click)="enqDatePicker.toggle()" type="button"><i class="fa fa-calendar fa-lg"></i></button>
                                 </div>
                                 <div *ngIf="submitted && form.enqDate.errors" class="invalid-feedback">
                                    <div *ngIf="form.enqDate.errors.required">ENQ Received Date is required</div>
                                 </div>
                              </div>
                           </div>
                       </div>
                   <div class="col-sm-4 space-between">
                        <div class="form-group">
                          <label>Customer Ref Name</label>
                          <input type="text" autocomplete="no-fill" maxlength="100" formControlName="customerRefName" class="form-control form-control-sm l" [ngClass]="{ 'is-invalid': submitted && form.customerRefName.errors }" placeholder="Customer Ref Name"/>
                              <div *ngIf="submitted && form.customerRefName.errors" class="invalid-feedback">
                                 <div *ngIf="form.customerRefName.errors.required">Customer Ref Name required</div>
                              </div>
                           </div>
                       </div>
                </div>
                <div class="row ">
  
                       <div class="col-sm-4 space-between">
                       <div class="form-group">
                          <label>Service Request For</label>
                          <!--ng-autocomplete [data]="vessels"
                            (selected)="changeSelection($event,vessels,'vessel','vesselName',null,'vesselXid')"
                            [searchKeyword]="keywordVessel" placeHolder="Enter Vessel Name"
                            [itemTemplate]="vesselTemplate" [notFoundTemplate]="notFoundTemplate">
                          </ng-autocomplete>

                          <ng-template #vesselTemplate let-item>
                            <a [innerHTML]="item.vessel" class="drop-bg"></a>
                          </ng-template>


                          <ng-template #notFoundTemplate let-notFound>
                            <div [innerHTML]="notFound"></div>
                          </ng-template-->
                          <input type="text" maxlength="100" autocomplete="no-fill" formControlName="serviceRequestFor" class="form-control form-control-sm l" [ngClass]="{ 'is-invalid': submitted && form.serviceRequestFor.errors }" placeholder="Service Request For"/>
                          <label *ngIf="submitted && form.serviceRequestFor.errors" class="error">
                            Service Request For Is Required.
                          </label>
                           </div>
                         </div>
                    <div class="col-sm-4 space-between">
                       <div class="form-group">
                          <label>Customer Ref No</label>
                           <input type="text" autocomplete="no-fill" maxlength="100" formControlName="customerRefNo" class="form-control form-control-sm l" [ngClass]="{ 'is-invalid': submitted && form.customerRefNo.errors }" placeholder="Customer Ref No"/>
                              <div *ngIf="submitted && form.customerRefNo.errors" class="invalid-feedback">
                                 <div *ngIf="form.customerRefNo.errors.required">Customer Ref No required</div>
                              </div>
                           </div>
                         </div>
                   </div>
                 </div>
             </div>
         </ng-template>
     </ngb-panel>
    
      		<ngb-panel id="toggle-3">
              <ng-template ngbPanelTitle>
                <div class="row">
                <div class="col text-primary">
                  Item Details
                </div>
               
                <div class="col text-right"><i class="fa fa-angle-down"></i></div></div>
              </ng-template>
              <ng-template ngbPanelContent>
                <div class="container-fluid">
                  <div class="row purchase-holder">
                    <div class=" col-md-12">
                      <div class="row bg-relative-two custom-table text-dark mt-3">
                        <div class="new_spc1 col-md-1 mx-auto">
                          <button type="button" class="address-btn" (click)="createItems(true)" outline status="sussess">
                            <i class="fa fa-plus"></i>
                          </button>
                        </div>
                        <div class="new_spc1a col-md-2 text-center" scope="col">Group</div>
                        <div class="new_spc1a col-md-3 text-center" scope="col">Description</div>
                        <div class="new_spc1a col-md-3 text-center" scope="col">Type</div>
                        <div class="new_spc1ab col" style="width:9.75%" scope="col">UOM</div>
                        <div class="new_spc1a col " scope="col">Quantity</div>
                      </div>
                    </div>



                    <div class="container-fluid">
                      <div formArrayName="details" class="address">
                        <div *ngFor="let item of enquiryForm.get('details')['controls']; let i = index"
                          [formGroupName]="i" class="row d-flex h-minus">
                          <div class="col-md-1 text-center mx-auto border custom-h pt-2 border-right-0 ">
                            <div class="form-group">
                              <button type="button" class="btn-default btn-circle address-btn-delete" (click)="deleteItems(i)" outline status="sussess"
                                *ngIf="enquiryForm.get('details').controls.length>1">
                                <i class="fa fa-close" aria-hidden="true"></i>

                              </button>
                            </div>
                          </div>
                          <div class="col-md-3 custom-h border border-right-0 pt-2">
                            <div [class]="'form-group itemGroup'+i+'_id'">
                              <ng-autocomplete class="new_cls" [data]="itemGroups"
                                (selected)="changeSelection($event,itemGroups,'groupName','group',i,'groupXid')"
                                (closed) = "fixSelectedData('group',i)"
                                [searchKeyword]="keywordGroup" placeHolder="Select Group Name"
                                formControlName="groupNameAuto" [itemTemplate]="groupTemplate"
                                (inputCleared)=" clear(['groupXid','group','groupNameAuto'],i,'groupNameAuto')"
                                [notFoundTemplate]="notFoundTemplate" >
                              </ng-autocomplete>
                              <ng-template #groupTemplate let-item>
                                <a [innerHTML]="item.groupName"></a>
                              </ng-template>
                               <ng-template #notFoundTemplate let-notFound>
                              <div [innerHTML]="notFound"></div>
                              </ng-template>
                              <!--<span class="hand text-info pull-right"
                          (click)="clear(['groupXid','group','groupNameAuto'],i,'groupNameAuto');show('itemGroup'+i)">Add
                        New</span>-->
                              <label *ngIf="submitted && form.details.controls[i].controls.group.errors" class="error">
                                Group Is Required.
                              </label>
                            </div>
                            <div [class]="'form-group d-none itemGroup'+i">
                              <input type="text" formControlName="group"
                                class="form-control border-top-0 border-left-0 border-right-0 custom-width" autocomplete="no-fill"  />
                              <i class="fa fa-close" aria-hidden="true"
                                (click)="clear(['groupXid','group','groupNameAuto'],i,'groupNameAuto');close('itemGroup'+i)"></i>

                              <label *ngIf="submitted && form.details.controls[i].controls.group.errors" class="error">
                                Group Is Required.
                              </label>
                            </div>
                          </div>
                          <div class="col-md-3 custom-h border border-right-0  pt-2">
                            <div class="form-group">
                              <input type="text" formControlName="description"
                                class="form-control form-control-sm border custom-width" autocomplete="no-fill" maxlength="100" 
                                [ngClass]="{ 'is-invalid': submitted && form.details.controls[i].controls.description.errors }" />
                              <label *ngIf="submitted && form.details.controls[i].controls.description.errors"
                                class="error">
                                Required
                              </label>
                            </div>
                          </div>
                          <div class="col-md-2 custom-h border border-right-0  pt-2">
                            <div [class]="'form-group itemType'+i+'_id'" class="new_group_1">
                              <ng-select [items]="itemTypes"
                                  class="custom"
                                  bindLabel="name" autocomplete="no-fill" 
                                  bindValue="id" [clearable]="false" [searchable]="false"
                                  placeholder="Select Type"
                                  formControlName="typeXid"
                                  (change)="changeSelection($event,itemTypes,'name','type',i)"
                                  >
                              </ng-select>
                              <!--ng-select class="custom" formControlName="typeXidXX"
                                placeholder="Choose type" fullWidth [clearable]="false" [searchable]="false"
                                (ngModelChange)="changeSelection($event,itemTypes,'name','type',i)">
                                <ng-option class="new_7" *ngFor="let item_row of itemTypes" [value]="item_row.id">
                                  {{item_row.name}}
                                </ng-option>
                              </ng-select-->
                              <label *ngIf="submitted && form.details.controls[i].controls.type.errors" class="error">
                                Type Is Required.
                              </label>
                            </div>
                            <div [class]="'form-group d-none itemType'+i">
                              <input type="text" formControlName="type" class="form-control border custom-width" />
                              <i class="fa fa-times-circle" aria-hidden="true"
                                (click)="clear(['typeXid','type'],i);close('itemType'+i)"></i>
                              <label *ngIf="submitted && form.details.controls[i].controls.type.errors" class="error">
                                Type Is Required.
                              </label>
                            </div>
                          </div>
                          <div class=" custom-h border border-right-0 pl-2 pr-2 pb-2  pt-2" style="width:9.75%">
                            <div [class]="'form-group uom'+i+'_id'" class="new_width1">
                              <!--<nb-select formControlName="uomXid" placeholder="Choose uom" fullWidth
                             (ngModelChange)="changeSelection($event,uoms,'uomName','uom',i)">
                    <nb-option *ngFor="let item_row of uoms" [value]="item_row.id">{{item_row.uomName}}</nb-option>
                    <nb-option class="text-info" (click)="clear(['uomXid','uom'],i);show('uom'+i)">Add New
                    </nb-option>
                  </nb-select>
            -->

                              <ng-autocomplete class="new_6" [data]="uoms"
                                (selected)="changeSelection($event,uoms,'uomName','uom',i,'uomXid')"
                                [searchKeyword]="keywordUom" placeHolder="Select UOM" formControlName="uomNameAuto"
                                [itemTemplate]="uomTemplate" (closed) = "fixSelectedData('uom',i)"
                                (inputCleared)="clear(['uomXid','uom','uomNameAuto'],i,'uomNameAuto')"
                                [notFoundTemplate]="notFoundTemplate">
                              </ng-autocomplete>
                              <ng-template #uomTemplate let-item>
                                <a [innerHTML]="item.uomName"></a>
                              </ng-template>
                              <!--<span class="hand text-info pull-right"
                          (click)="clear(['uomXid','uom','uomNameAuto'],i,'uomNameAuto');show('uom'+i)">Add New</span>-->
                              <label *ngIf="submitted && form.details.controls[i].controls.uom.errors" class="error">
                                Uom Is Required.
                              </label>
                            </div>
                            <div [class]="'form-group d-none uom'+i">
                              <input type="text" formControlName="uom" autocomplete="no-fill" 
                                class="form-control border-top-0 border-left-0 border-right-0 custom-width" />
                              <i class="fa fa-close" aria-hidden="true"
                                (click)="clear(['uomXid','uom','uomNameAuto'],i,'uomNameAuto');close('uom'+i)"></i>
                              <label *ngIf="submitted && form.details.controls[i].controls.uom.errors" class="error">
                                Uom Is Required.
                              </label>
                            </div>
                          </div>
                          <div class="col custom-h border border-right-0  pt-2">
                            <div class="form-group">
                              <input type="text" formControlName="qtQty" class="form-control form-control-sm border custom-width" autocomplete="no-fill" 
                                placeholder="Eg:2.00" oninput="this.value = this.value.replace(/[^0-9.]/g, ''); this.value = this.value.replace(/(\..*)\./g, '$1');" onKeyDown="if(this.value.length==8 && event.keyCode!=8 && event.keyCode!=9 && event.keyCode!=39 && event.keyCode!=37) return false;" (blur)="makeDecimalPoint('qtQty',i,'details',2);"
                                [ngClass]="{ 'is-invalid': submitted && form.details.controls[i].controls.qtQty.errors }" />
                              <label
                                *ngIf="submitted && form.details.controls[i].controls.qtQty.errors && form.details.controls[i].controls.qtQty.errors.required"
                                class="error">
                                Required
                              </label>
                              <label
                                *ngIf="submitted && form.details.controls[i].controls.qtQty.errors && form.details.controls[i].controls.qtQty.errors.pattern"
                                class="error">
                                Invalid Quantity (Eg:2.00)
                              </label>
                            </div>
                          </div>

                        </div>
                      </div>
                    </div>
                  </div>
                </div>

              </ng-template>
            </ngb-panel>
             <ngb-panel id="toggle-2">
              <ng-template ngbPanelTitle>
                <div class="row">
                <div class="col text-primary">
                  Request
                </div>
               
                <div class="col text-right"><i class="fa fa-angle-down"></i></div></div>
              </ng-template>
              <ng-template ngbPanelContent>
                <div class="container-fluid">
                  <div class="row purchase-holder">
                    <div class=" col-md-12">
                      <div class="row bg-relative-two custom-table text-dark mt-3">
                        <div class="new_spc1 col-md-1 mx-auto">
                          <button type="button" class="address-btn" (click)="createRequests(true)" outline status="sussess">
                            <i class="fa fa-plus"></i>
                          </button>
                        </div>
                        <div class="new_spc1a col-md-2 " scope="col">Select Sup to Send Rqst</div>
                        <div class="new_spc1a col-md-3 text-center" scope="col">Supplier Name</div>
                        <div class="new_spc1a col" scope="col">Rqstd Date</div>
                        <div class="new_spc1a col" scope="col">Details</div>
                      </div>
                    </div>
                   <div class="container-fluid">
                      <div formArrayName="vendorDetails" class="address">
                        <div *ngFor="let item of enquiryForm.get('vendorDetails')['controls']; let i = index"
                          [formGroupName]="i" class="row d-flex h-minus">
                          <div class="col-md-1 text-center mx-auto border custom-h pt-2 border-right-0 ">
                            <div class="form-group">
                              <button type="button" class="btn-default btn-circle address-btn-delete" (click)="deleteVendorItems(i)" outline status="sussess"
                                *ngIf="enquiryForm.get('vendorDetails').controls.length>1">
                                <i class="fa fa-close" aria-hidden="true"></i>

                              </button>
                            </div>
                          </div>
                          <div class="col text-center custom-h border border-right-0 pt-2">
                             <div class="form-group">
                               <input type="checkbox"  formControlName="selectVendor" [ngClass]="{ 'is-invalid': submitted && submitted && form.vendorDetails.controls[i].controls.selectVendor.errors }"
                                    status="warning">
                                 <!--div *ngIf="submitted && form.vendorDetails.controls[i].controls.selectVendor.errors" class="invalid-feedback">
                                 </div-->
                              </div>
                          </div>
                         <div class="col-md-3 custom-h border border-right-0 pt-2">
                            <div class="form-group ">
                            <ng-autocomplete [data]="vendors"
                            (selected)="changeRequest($event,vendors,'vendorName','vendorName',i,'vendorXid')"
                            [searchKeyword]="keywordVendor" placeHolder="Select Supplier"
                            [itemTemplate]="vendorTemplate" [notFoundTemplate]="notFoundTemplate"    (closed) = "fixSelectedData('vendor',i)" formControlName="vendorNameAuto"                        
                            (inputCleared)="clearSupplier(['vendorXid','vendorName','vendorNameAuto'],i,'vendorNameAuto')">
                          </ng-autocomplete>

                          <ng-template #vendorTemplate let-item>
                            <a [innerHTML]="item.vendorName" class="drop-bg"></a>
                          </ng-template>


                          <ng-template #notFoundTemplate let-notFound>
                            <div [innerHTML]="notFound"></div>
                          </ng-template>
                          <!--label *ngIf="submitted && form.vendorDetails.controls[i].controls.vendorXid.errors" class="error">
                            Supplier Is Required.
                          </label-->
                            </div>
                        </div>
                         <div class="col-md-2 custom-h border border-right-0 pt-2">
                            <div class="input-group ">
                              <input  class="form-control form-control-sm" autocomplete="no-fill"   placeholder="yyyy-mm-dd"     formControlName="date"  ngbDatepicker #reqDatePicker="ngbDatepicker" [readonly]="true" [minDate]="form.enqDate.value" [maxDate]="todayDate" (dateSelect)="dateChange($event,i)" (click)="reqDatePicker.toggle()">
                                 <div class="input-group-append">
                                    <button class="btn btn-outline-secondary btn-sm calendar" (click)="reqDatePicker.toggle()" type="button"><i class="fa fa-calendar fa-lg"></i></button>
                              <!--label *ngIf="submitted && form.vendorDetails.controls[i].controls.date.errors" class="error">
                                Date Is Required.
                              </label-->
                            </div>
                        </div>
                      </div>
                         <div class="col-md-4 custom-h border border-right-0 pt-2">
                            <div class="form-group ">
                             <input type="text" autocomplete="no-fill" formControlName="details" class="form-control form-control-sm l" maxlength="100" placeholder="Details"/>
                              <!--label *ngIf="submitted && form.vendorDetails.controls[i].controls.details.errors" class="error">
                                Details Is Required.
                              </label-->
                            </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              </ng-template>
            </ngb-panel>
             <ngb-panel id="toggle-4">
              <ng-template ngbPanelTitle>
                <div class="row">
                <div class="col text-primary">
                  Documents
                </div>
                <div class="col">
                </div>
                <div class="col text-right"><i class="fa fa-angle-down"></i></div>
              </div>
              </ng-template>
              <ng-template ngbPanelContent>
                <div class="container-fluid h-minus pt-2 pb-2">
                  <input style="display: none;" type="file" (change)="upload($event.target.files)" id="fileUpload"
                    class="hidden" multiple />
                  <div class="col-12 file-upload text-info" (click)="triggerFileUpload()">
                    <i class="fa fa-upload"></i> &nbsp;Upload
                  </div><label>&nbsp;&nbsp;&nbsp;(.png, .jpg, .xlsx, .txt, .pdf Max Size=4Mb)</label>
                  <div class="col-12" *ngIf="fileToUpload && fileToUpload.length > 0">
                    <div class="row mrgn-t-10">
                      <div class="col-2 text-center mrgn-t-10 ovr-hid" *ngFor="let item of fileToUpload; let i = index">
                        <img width = "200" height=" 150" class="pr-5" ngbTooltip="{{item.fileName}}" [src]="imageSrc[i]"
                          class=""
                          onerror="this.src='../../../../assets/images/unnamed.png';">
                        <div ngbTooltip="{{item.fileName}}" class="item_image_name">{{item.name}}</div>
                        <div>
                          <label (click)="deleteDoc(i)"><i class="fa fa-trash" aria-hidden="true"></i></label>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </ng-template>
            </ngb-panel>
          </ngb-accordion>
          <hr class="mb-2 mt-2">
          <div class="row p-0 m-0">
            <div class="col-md-12 text-right pb-2">
              <div class="btn-group">
                <a class="btn btn-sm btn-primary vendor_save" [routerLink]="['/enquiry/list']">
                  <i class="fa fa-close" aria-hidden="true"></i>&nbsp;Cancel
                </a>

              </div>
              &nbsp;
              <div class="btn-group">
                <button [disabled]="loading" class="btn btn-sm btn-success vendor_save" ><ngx-spinner [fullScreen]="false"  bdColor="transparent">
                                                  </ngx-spinner> 
                  <i class="fa fa-save" aria-hidden="true"></i>&nbsp;Save
                </button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>





<!--<ng-template #content let-modal>
<div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Save Enquiry</h4>
      <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <p>Have you confirmed the Data before submit?</p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" (click)="activeModal.close(true)">Yes</button>
      <button type="button" class="btn btn-secondary" (click)="activeModal.close(false)">No</button>
    </div>
  </ng-template>-->


