/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';
@import "~@ng-select/ng-select/themes/default.theme.css";
@import 'aos/dist/aos.css';

html body {
  margin: 0px;
  padding: 0px;
}
body{
  background:#f0eff7;
  // background-image: ;
  font-family: 'Lato', sans-serif;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: 1px solid #000;
  -webkit-text-fill-color: #000;
  -webkit-box-shadow: 0 0 0px 1000px #fff inset;
  transition: background-color 5000s ease-in-out 0s;
}
.form-control:focus {
  border-color: inherit;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.btn:focus{
  outline:none !important;
  box-shadow: none;
}
.ng-select .ng-select-container .ng-value-container .ng-placeholder {
  color: #999;
  text-indent: 9px;
}
// MAIN CONTENT CSS
.content-main{
  
}
// * input[type=text]{
//   font-size:1em !important;
// }


// UNIVERSAL INPUT BORDER
.card-body.form-control{
 border-bottom: 1px solid #eceff1 !important;
}
.card-holder .form-control{
  border-bottom: 1px solid #eceff1 !important;
  padding-top: 0px;
}
.card-body.form-control:focus{
  border-bottom: 1px solid #c8cacc !important;
 }
 .card-holder .form-control:focus{
   border-bottom: 1px solid #c8cacc!important;
   padding-top: 0px;
 }


.hand{
  cursor: pointer;
}

    // ADDED BY GIGIN SWITCH CSS


    .switchToggle input[type=checkbox]{height: 0; width: 0; visibility: hidden; position: absolute; }
    .switchToggle label {cursor: pointer; text-indent: -9999px; width: 41px; max-width: 70px; background: #d1d1d1; display: block; border-radius: 100px; position: relative; }
    .switchToggle label:after {content: ''; position: absolute; top: 3px; left: 4px; width: 12px; height: 12px; background: #fff; border-radius: 90px; transition: 0.1s; }
    .switchToggle input:checked + label, .switchToggle input:checked + input + label  {background: #00adee; }
    .switchToggle input + label:before, .switchToggle input + input + label:before {content: 'No'; position: absolute; top: 0px; left: 19px; width: 26px; height: 26px; border-radius: 90px; transition: 0.1s; text-indent: 0; color: #fff;font-size:12px; }
    .switchToggle input:checked + label:before, .switchToggle input:checked + input + label:before {content: 'Yes'; position: absolute; top: 0px; left: 7px; width: 26px; height: 26px; border-radius: 90px; transition: 0.1s; text-indent: 0; color: #fff;font-size: 12px; }
    .switchToggle input:checked + label:after, .switchToggle input:checked + input + label:after {left: calc(100% - 2px); transform: translateX(-100%); }
    .switchToggle label:active:after {width: 60px; } 
    
    
    // TABLE CSS
    
    .mx-auto tbody tr td, .mx-auto tbody tr td label {
    max-width: 99px;
    overflow: hidden;
    text-overflow: ellipsis !important;
    white-space: nowrap;
    font-size: 12px;
    display: table-cell;
 
      }
      td .outerDivFull{
        display: inline-block !important;
      }
   
      thead th {
        font-size: 14px;
 
  padding: 10px !important;
  height: 35px;
}
      .table{
       
    max-width: 99%;
    margin-bottom: 1rem;
    background-color: transparent;
    //table-layout: fixed;
}
      
.table td{
  font-weight: 400 !important;
  border-top: 0;
  font-size: 12px !important;
  padding: 6px 0px 0px 18px !important;
  height: 8px;
  
}
.table thead th{
  font-weight: normal;
  border-right: 0.1px solid #fff !important;
}

table.table tbody tr td

 {
   
  // border-left: 1px solid #a4a8ad7a;
  border-right: 1px solid #f3f3f3;
  border-left: 1px solid #f3f3f3;
  border-bottom: 1px solid #f3f3f3

}

// TABLE BG-CSS
.bg-relative-two table td{
  white-space: nowrap;
  font-size: 13px !important;
}
.bg-relative-two{
  background: #193f69 !important;
  color: #fff !important;
}


.pb-2 .text-right{
  margin-top: 5px;
}

@media (min-width: 768px) {
.table-responsive{
  overflow-x: hidden !important;
}
}
      // SEARCH BOX CSS
      #collapseExample {
        position: absolute;
        z-index: 1;
      }
      .searc-opt{
        background: #00adee !important;
        border:0px !important;
        border-top-right-radius: 6px !important;
        border-bottom-right-radius: 6px !important;
      }
      .searc-opt:focus{
       box-shadow: none !important;
      }

      .shadow-default{
        -webkit-box-shadow: 0px 17px 8px -16px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px 17px 8px -16px rgba(0,0,0,0.75);
        box-shadow: 0px 17px 8px -16px rgba(0,0,0,0.75);
      }
      .shadow-default-high{
        -webkit-box-shadow: 17px 20px 19px -20px rgba(0,0,0,0.75);
-moz-box-shadow: 17px 20px 19px -20px rgba(0,0,0,0.75);
box-shadow: 17px 20px 19px -20px rgba(0,0,0,0.75);
      }
      .shadow-low{
        box-shadow: 0 1px 1px 0 rgba(0,0,0,.16);
      }
      .shadow-light{
        -webkit-box-shadow: 0px 3px 7px -3px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px 3px 7px -3px rgba(0,0,0,0.75);
        box-shadow: 0px 3px 7px -3px rgba(0,0,0,0.75);
      }
      // TRANSPARENT FIELD CSS
      .transparent-field{
        background-color: transparent;
        border-bottom: 1px solid #eceff1;
      }

      // AUTO COMPLETE CONTAINER CSS
      .autocomplete-container{
       border : 0px 0px 1px 0px;
      }
      .autocomplete-container .suggestions-container ul li a {
        padding: 8px 10px !important;
        display: block;
        text-decoration: none;
        cursor: pointer;
        color: rgba(0,0,0,.87);
        font-size: 15px;
    }

    
      // AUTO COMPLETE CSS
      .dropdown-content .autocomplete-container .input-container input {
        background: transparent !important;
        border-top:0px !important;
        border-left:0px !important;
        font-size: 1rem;
        padding: 0 0px 7px 15px;
        
      }
     
      .dropdown-content .ng-select .ng-select-container{
        border-bottom: 1px solid #fff !important;

      }
      // .dropdown-content .ng-select-container .ng-value-container .ng-placeholder  {
      //   border-bottom: 1px solid #fff !important;
      //   padding-left: 0px !important;

      // }
      .dropdown-content .autocomplete-container .input-container .x i {
        font-size: 14px !important;
      }
      .dropdown-content .autocomplete-container .input-container input::-webkit-input-placeholder {
        color:#9999a5 !important;
      }
      .ng-select.ng-select-opened.ng-select-bottom>.ng-select-container {
        border-bottom-right-radius: 0;
        
        border-bottom-left-radius: 0;
    }
      .dropdown-content .autocomplete-container {
        /* box-shadow: 0 1px 3px 0 rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 2px 1px -1px rgba(0,0,0,.12); */
        position: relative;
        box-shadow: none !important;
     
        overflow: visible;
        border-bottom: 1px solid #eceff1;
        height: 31px;
    }
    .dropdown-menu h7{
      font-size: 13.5px;
      color:#000000ad !important;
    }
.advance-search .dropdown-content label{
    font-size: 0.875rem;
    letter-spacing: .2px;
    padding-top: 16px;
    color: #5f6368;
}
form label{
  font-size: 13px;
}
.add-new-header-bg{
  display: none;
}
.col-xl-12 form{
  margin-top:7px;
}
.col-xl-12, .col-xl-12 .card{
  padding: 0px 7px 0px 7px !important;
}
    // AUTO COMPLETE CSS TABLE CONTENT
    .d-flex .autocomplete-container .input-container input {
      background: transparent !important;
      border-top:0px 0px 0px 0px !important;
      margin-top: -4px;
      
      
    }
//      .custom-width:focus{
//     width:100px;
//     border: 0.2px solid #000 !important;
//     outline:0px !important;
//      -webkit-appearance:none;
//    box-shadow: none !important;
//    background: #e7e5f7 !important;
    
// }
    .d-flex .autocomplete-container .input-container input:focus {
   
      
      
    }
    
    .d-flex .autocomplete-container {
      /* box-shadow: 0 1px 3px 0 rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 2px 1px -1px rgba(0,0,0,.12); */
      position: relative;
      box-shadow: none !important;
      overflow: visible;
      background:#fdffd9;
    
      height: 29px;
  }
  .d-flex .autocomplete-container .input-container .x i {
   font-size: 13px;
  }

//   .user-add-content .ng-select .ng-select-container .ng-value-container .ng-placeholder {
//     color: #999;
//     padding-left: 8px;
// }
// .user-add-content .ng-select.ng-select-multiple .ng-select-container .ng-value-container {
//   padding-top: 5px;
//   text-indent:20px;
//   padding-left: 2px;
// }
    
       // AUTO COMPLETE CSS INSIDE CONTENT
      .card-body .autocomplete-container .input-container input {
        background: transparent !important;
       
        padding: 0px 10px 15px 15px;
      }
     
      .itemType0_id .form-control{
        position: relative;
        box-shadow: none !important;
        overflow: visible;
        border: 1px solid #ced4da;
        height: 29px !important;
        border-radius: .2rem !important;
      }
      .col-sm-3 .autocomplete-container .input-container input,.padding-zero .autocomplete-container .input-container input,.box-padding .autocomplete-container .input-container input {
        background: transparent !important;
       
        padding: 0px 10px 10px 8px;
      }
      .col-sm-3 .autocomplete-container,.padding-zero .autocomplete-container,.box-padding .autocomplete-container{
        position: relative;
        box-shadow: none !important;
        overflow: visible;
        border: 1px solid #ced4da;
        height: 31px !important;
        border-radius: .2rem !important;
        background: #fdffd9 !important;
      }
      .card-body .autocomplete-container {
        /* box-shadow: 0 1px 3px 0 rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 2px 1px -1px rgba(0,0,0,.12); */
        position: relative;
        box-shadow: none !important;
        overflow: visible;
        border: 1px solid #ced4da;
        height: 31px !important;
        border-radius: .2rem !important;
        background: #fdffd9 !important;
        // padding: .25rem .5rem;
    }
    .itemGroup0_id .autocomplete-container, .uom0_id .autocomplete-container, .itemGroup1_id .autocomplete-container, .new_group_1 .autocomplete-container, .itemType0_id .ng-select-container{
        height: 29px !important;
        border: 0px !important;
    }

    // AUTO COMPLETE CSS FOR SELECT 
    .card .itemType0_id .ng-select .ng-select-container, .card .tcdType0_id .ng-select .ng-select-container, .card .control-select .ng-select .ng-select-container,.card .itemType1_id .ng-select .ng-select-container{
      height: 29px !important;
      border: 0px !important;
  }
  .card .purchase-holder .ng-select .ng-select-container, .card .purchase-holder .autocomplete-container{
    height: 29px !important;
      border: 0px !important;
  }
    .card .ng-select .ng-select-container {
      color: #333;
      cursor: default;
      display: flex;
      font-size: 14px;
      outline: 0;
      overflow: hidden;
      border: 1px solid #ced4da !important;
      border-radius: .2rem !important;
      height: 31px !important;
      position: relative;
      width: 100%;
  }
  .card .ng-select.ng-select-single .ng-select-container .ng-value-container, .ng-select.ng-select-single .ng-select-container .ng-value-container .ng-value{
    padding: 2px !important;
  
    text-indent: 0px;
  }
  .card-holder .ng-select .ng-select-container{
border-top:0px !important;
border-radius: 0px !important;
background: #fff !important; 
border-left:0px !important;
border-right:0px !important;
border-bottom: 1px solid #eceff1 !important;

box-shadow: none !important;
  }
  .card-holder .ng-select.ng-select-single .ng-select-container .ng-value-container, .ng-select.ng-select-single .ng-select-container .ng-value-container .ng-value {
    padding-left: 7px !important;
    font-size: .875rem ;
    line-height: 1.5;
    font-family: 'Lato', sans-serif;
// 1rem;
      }

    // .card-holder .ng-select .ng-select-container .ng-value-container .ng-placeholder {
    //   padding-left: 9px !important;
    // }

  .ng-select .ng-select-container {
    background-color: #fff;
    border-radius: none !important;
    border-bottom: 1px solid #eceff1 !important;
   min-height: 0px !important;
    align-items: center;
}
.ng-select.ng-select-focused:not(.ng-select-opened)>.ng-select-container{
  outline: 0;
  box-shadow: none!important;
}

// AUTO COMPLETE DROPDOWN
.ng-select-single .ng-select-container {
  border-top:none !important;
  border-right:none !important;
  border-left:none !important;
  border-radius: none !important;
}
.ng-select-multiple .ng-select-container{
  border-top:none !important;
  border-right:none !important;
  border-left:none !important;
  border-radius: 0px !important;
}
      // SEARCH DROPDOWN CSS
      
      @media (min-width: 768px) { //bootstrap 3 collapses navbar at 768p
        .dropdown-content{
          position: absolute;
          position: absolute;
          width: 727px;
          z-index: 1;
          left: -711px;
      
          top: 21px;
      
        }
        .card-holder{
          // height: 342px;
          padding: 16px;
        }
    }


    // MENU CSS 
    .margin-top-custom{
      margin-top:-16px;
      padding: 10px 35px 35px 9px;


    }
    .megamenu{
      padding: 13px 15px 0px 15px !important;
    }
    .background-custom{
      background: #f7f7f7;
    }

    // CUSTOM MEDIA QUERY SECOND MENU
    @media (min-width: 768px) { 
    .dropdown-menu-two{
    width: 30% !important;
    margin-left: 275px !important;
    margin-right: auto !important;
    }
  }
  @media (min-width: 768px) { 
    .dropdown-menu-one{
  
    margin-left: 172px !important;
    
    }
    #adv-search .rounded-4{
   
      max-width: 665px !important;
    }
  }



  // NAVBAR CSS
  #navbarSupportedContent{
    padding-left: 15px !important;
    padding-right: 15px !important;
  }


  // SEACH FILTER CSS
  .advance-search label{
    font-size: 12px;
  }
  .advance-search .card-header{
    margin-top: -15px;
  }
  // CONTENT BAR CSS
  .bg-info{
 background: linear-gradient(90deg, #00d4ff 0%, #007bff 100%) !important;
  }
  .bg-info-two {
    background: linear-gradient(90deg, #007bff 0%, #00d4ff 100%) !important;
}
// VALIDATION ERROR CSS
.error{
  color: #dc3545;
  font-size: 13px;
  text-transform: capitalize;
  z-index: 999;
}
.invalid-feedback {
  color: #dc3545;
    font-size: 13px !important;
    display: inline-block !important;
    text-transform: capitalize;
}
.ng-valid label{
  text-transform: capitalize;

}
.ng-select-searchable .ng-select-container{
  background: #fdffd9 !important;
}
.company-add-content .ng-select .ng-select-container .ng-value-container .ng-placeholder {
  color: #6c757d !important;
  padding-left: 6px;
}
.company-add-content .autocomplete-container{
  background: #fdffd9 !important;
}
.plus-btn{
  width: 23px;
    height: 21px;
}

.autocomplete-container .input-container .x i {
  color: rgba(0,0,0,.54);
  font-size: 13px !important;
  vertical-align: middle;
}
// TABLE BACKGROUND
.h-minus{
  background: #00000008;
 
}

// SEARCH HEADER CSS
.custom-width-table-head{
  background: #fff !important;
  /* background: linear-gradient(270deg, #28334ab8 0%, #28334a 100%); */
  border-bottom: 1px #000 !important;
  border-radius: 7px !important;
  /* box-shadow: -5px -5px 5px -5px rgba(0, 0, 0, 0.75); */
  padding-bottom: 0px !important;
  margin-top: 0px;
  margin-bottom: 5px

}

// SEARCH BAR CSS
#adv-search .rounded-4{
  background:#eeeeee;
  border: 0px;
  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;

}
#adv-search{
  padding-left: 2px;
}

// CUSTOM WIDTH EDIT ADD TABLE
.custom-width:focus{
  width:100% !important;
  border: 0.2px solid #000;
  outline:0px !important;
   -webkit-appearance:none;
 box-shadow: none !important;
 background: #FFF !important;
  
}
.custom-width{
border-radius: 0px !important;
// border: 0px;
// background: #fafafa !important;
}

// SELECT CSS
select{

  color: black;
}
select option { color: black; }
select option:first-child{
  color: black;
}
// LINK BUTTON CSS
.btn-link {
  font-weight: 400;
  color: #007bff;
  width: 100%;
  text-align: left;
  background-color: transparent;
  text-decoration: none;
}
.btn-link:hover, .btn-link:active, .btn-link:checked{
  text-decoration: none !important;
}

.btn-link.focus, .btn-link:focus {
  text-decoration: none !important;
  border-color: transparent;
  box-shadow: none;
}

// THEME BUTTON CSS
.theme-btn-icon{
  padding: 6px 4px 6px 4px;
  background-color: #fff;
  display: inline-block;
  cursor: pointer;
  color: #333333;
  font-family: Arial;
  font-size: 19px;
  font-weight: bold;
  padding: 3px 10px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #ffee66;
  margin-top: 0px;
 
  
}
.theme-btn-icon .text-danger{
  color:#00adee !important;
  font-weight: normal !important;
  font-size:20px;
  
}
.theme-btn-icon .text-success{
  color:#28a745!important ;
  font-weight: normal !important;
  font-size:20px;
  
}


.theme-btn-icon:focus{
outline: 0;
box-shadow: none!important;
}
.btn-toolbar{
  margin-right: 3px;
}
// .theme-btn-icon:hover{
// 	background:linear-gradient(to bottom, #ffab23 5%, #ffec64 100%);
// 	background-color:#ffab23;
// }

.the-btn-icon:active{
  position:relative;
	top:1px;

}

// NAVBAR BRAND
// .navbar-brand{
// background: #fff;
// }


// TEXT HOVER TABLE CSS
.text-info:hover{
  color:#ffab23 !important;
}
.text-info:focus{
  outline:none !important;
  box-shadow: none;
}

// BACKGROUND COLORS
.bg-relative-three-color{
  color: #28334aff;
}
.bg-relative-three{background: #28334aff;}
.mx-auto .bg-light{
  background:#193f69 !important;
  
  color:#fff !important;
}
.bg-relative-four{
  background:#fbde44 !important;
}
.bg-relative-five{
  background:#f65158 !important;
}
.bg-relative-five-color{
  color:#f65158 !important;
}
.bg-relative-four-color{
  color:#fbde44 !important;

}

// .overLay {
//   z-index: 98 !important;
// }

// .overLay {
 
// }
// .overLay {
//   position: fixed;
//   top: 0;
//   right: 0;
//   bottom: 0;
//   left: 0;
//   z-index: 10000;
//   background: #000;
//   opacity: .8;
// }



option{
  background-color:#fff !important;
  color:#FFF;
}

.mb-5 .card{
  border: none !important;
  border-radius: 0px !important;
}

td .fa-edit,.fa-lock, .fa-eye{
  color: #00adee !important;
  cursor: pointer;
  font-size: 20px !important;
}

.custom-h{
  max-height: 32px !important;
  padding: 0px !important;
}
.custom-h .form-control{
  border:0px !important;
} 
.custom-h .form-control:focus{
  border: 0.2px solid #183f6947 !important;
   outline:0px !important;
  -webkit-appearance:none;
   box-shadow: none !important;
   background: #FFF !important;
   min-width: 150px !important;
} 

.btn-circle{ 
 
  border-radius: 15px;
  font-size: 8px;
  text-align: center;

} 

.tcdType0_id .form-control, .control-select .form-control{
 height: 29px !important; 
}
.action-col-width{
  width: 80px;
}
.address-btn{ 
border:1px solid #eee ;
margin-left: 11px;
border-radius: 2px;
// margin-left: 16px;
}
.address-btn i{ 
 font-size: 13px;
 text-align: center;
 margin-right: auto;
 margin-left: auto;
}
.address-btn-delete{
    border: 1px solid #eee;
    background-color: #10adee;
    color: #fdecec;
    padding: 2px 4px 2px 4px;
}
.address-btn-delete i{
  font-size: 13px;
  margin:auto;
    text-align:center;
}
.address-btn:focus{
  outline:none !important;
  box-shadow: none;
}



// NAVBAR STYLE
.navbar-light{
  background: #fff !important;
} 
.error-star {
    color: red;
    font-weight: bold;
    padding-right: 3px;
    font-size: 14px;
}


.custom-select.is-invalid, .form-control.is-invalid, .was-validated .custom-select:invalid, .was-validated .form-control:invalid {
  border-color:#ced4da;
}
  .invalid-feedback {
    color: #dc3545;
      font-size: 13px !important;
      display: inline-block !important;
  }
  .po-list-drop .card .ng-select .ng-select-container{
    height: 35px !important;

  }


  .ovr-hid div{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .address .error {
    position: absolute;
        z-index: 10000;
        background: #fffdda;
        border: 1px solid #ffb000;
        padding: 0px 9px;
        margin-top: -7px;
    }

    .company-edit-content .autocomplete-container{
      background: #fdffd9 !important;
      }

   .purchase-holder-main .card-body{
     padding: 0px !important;
   }

   .address .error {
    position: absolute;
        z-index: 10000;
        background: #fffdda;
        border: 1px solid #ffb000;
        padding: 0px 9px;
        margin-top: -7px;
    }

    // .drop-bg:hover{
    //   background: #ebf5ff !important;
    // }
    // .autocomplete-container .suggestions-container ul li a:hover{
    //   background: #ebf5ff !important;
    // }
    .ng-dropdown-panel.ng-select-top .ng-dropdown-panel-items .ng-option:hover{
    background:#eeeeee !important;
    }
    .ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-selected, .ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-selected.ng-option-marked:hover{
      background:#eeeeee !important;
    }
    .ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-marked {
      background:#e6e6e6 !important;
      // font-size: .875rem ;
      // line-height: 1.5;
    }

    .ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-marked {
      background: #e6e6e6 !important;
      font-size: inherit;
      line-height: 1.5;
  }
  .ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-selected .ng-option-label, .ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-selected.ng-option-marked .ng-option-label {
    font-weight: none; 
}

// CLOSE DROPDOWN CSS
div .material-icons{
  background: #f1f1f1;
    border-radius: 100px;
    border: 1px solid #dfdede;
    color: #193f69;
    padding: 3px;
    /* top: 10px; */
    font-weight: bold;
    margin: -5px -6px 0px 0px
}

.elipsis {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        width: 100%;
    }

 .custom-table-2 .table thead td{
  font-weight: 400 !important;
    border-top: 0;
    font-size: 11px !important;
    color: #fff;
    height: 50px;
}
.custom-table-2 .table thead td{
  border-right: 0.1px solid #fff;
}
.bg-relative-2{
  background-color:  #193f69;
  height: 45px;
}

.table-sm td, {
padding: 0rem !important;
}
.table-sm th{
padding: 0.4rem !important;
}


.error-po{
  color: #dc3545;
  font-size: 13px;
  text-transform: capitalize;
  position:absolute;
  z-index: 999;
}

.autocomplete-container .input-container input:disabled{
   background-color: #cbcbd9 !important;
   border: 1px solid #ced4da !important;
}


.ng-select.ng-select-disabled>.ng-select-container {
  background-color: #cbcbd9 !important;
}

.ng-select.ng-select-disabled .ng-arrow-wrapper {
  display: none;
}


.swal2-title {
    position: relative;
    max-width: 100%;
    margin: 0 0 .4em;
    padding: 0;
    color: #595959;
    font-size: 1.5em !important;
    font-weight: 600;
    text-align: center;
    text-transform: none;
    word-wrap: break-word;
}

.swal2-styled.swal2-confirm {
    border: 0;
    border-radius: .25em;
    background: initial;
    background-color: #3085d6;
    color: #fff;
    font-size: 0.925em !important;
}

.swal2-styled.swal2-cancel {
    border: 0;
    border-radius: .25em;
    background: initial;
    background-color: #aaa;
    color: #fff;
    font-size: 0.925em !important;
}

.form-control[readonly] {
    background-color: #fff;
    opacity: 1;
}

.main-blue-color{
color: #00adee !important;
}
.main-bg-color{
  background-color: #00adee;
 }
.shade-sm{
  box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;
 }

.swal2-popup .swal2-styled:focus {
    box-shadow: none !important;
}


.fill {
display: flex;
justify-content: center;
align-items: center;
overflow: hidden
}

.fill img {
flex-shrink: 0;
max-width: 137px;
object-fit: cover;

}