<div class=" mt-1 mb-5 ">
   <div class="row ">
      <div class="col-xl-12 col-lg-12 col-md-7 col-sm-12 col-12">
         <div class="card">
            <div  nb-card-header class="add-new-header-bg pt-1 pb-1 bg-relative text-white card-header bg-info"><i class="fa fa-edit"></i>&nbsp;
            {{user_edit_or_profile}}
         </div>
            <div class="col-lg-12">
               <div nb-card class="pt-0 pr-3 pt-2 pl-3 pb-0">
                  <div  nb-card-body class="card-body p-0">
                     <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
                     <!--div class="row" *ngIf="this.profileEdit">
                        <div class="col-sm-12">
                           <input type="file" style="display: none;" (change)="upload($event.target.files)" id="fileUpload" class="d-none" 
                              accept="image/x-png,image/gif,image/jpeg" />
                           <div class="col-12 file-upload text-info" (click)="triggerFileUpload()">
                              <i class="fa fa-upload" aria-hidden="true"></i>&nbsp;Upload File
                           </div>
                           <div class="col-12" *ngIf="fileToUpload">
                              <div class="row mrgn-t-10">
                                 <div class="col-3 text-center mrgn-t-10 ovr-hid d-none" >
                                    <img ngbTooltip="{{fileToUpload.name}}" [src]="imageSrc" class="img-sz">
                                    <div>{{fileToUpload.name}}</div>
                                    <div>
                                       <i class="fa fa-trash-o" aria-hidden="true"(click)="deleteDoc()"></i> 
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div-->
                     <div class="row">
                     <div class="col-md-12">
                     <div class="row edit-row">
                        <div class="col-sm-4 padding-zero">
                           <div class="form-group">
                              <label>Name</label>
                              <input type="text" (keypress)="omit_special_char($event)" maxlength="26" formControlName="name" class="form-control form-control-sm " autocomplete="no-fill"
                                 [ngClass]="{ 'is-invalid': submitted && form.name.errors }" />
                              <div *ngIf="submitted && form.name.errors" class="invalid-feedback">
                                 <div *ngIf="form.name.errors.required">Name is required</div>
                              </div>
                           </div>
                        </div>
                        <div class="col-sm-4 padding-zero">
                           <div class="form-group">
                              <label>Username</label>
                              <input type="text" maxlength="15" (keypress)="omit_special_char($event)" formControlName="username" class="form-control form-control-sm " autocomplete="no-fill"
                                 [ngClass]="{ 'is-invalid': submitted && form.username.errors }" />
                              <div *ngIf="submitted && form.username.errors" class="invalid-feedback">
                                 <div *ngIf="form.username.errors.required">Username is required</div>
                              </div>
                           </div>
                        </div>
                        <div class="col-sm-4 padding-zero">
                           <div class="form-group">
                              <label>Email</label>
                              <input type="text" maxlength="100" formControlName="email" class="form-control form-control-sm " autocomplete="no-fill"
                                 [ngClass]="{ 'is-invalid': submitted && form.email.errors }" />
                              <div *ngIf="submitted && form.email.errors" class="invalid-feedback">
                                 <div *ngIf="form.email.errors.required">Email is required</div>
                                 <div *ngIf="form.email.errors.pattern">Email must be a valid Email Address</div>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="row edit-row">
                        <div class="col-sm-4 box-padding">
                              <label>Date Of Joining</label>
                              <div class="input-group">
 								<input  autocomplete="off" type="text" formControlName="dateOfJoining" class="form-control form-control-sm " autocomplete="no-fill" placeholder="yyyy-mm-dd"  name="dateOfJoiningPicker"
                                 ngbDatepicker #dateOfJoiningPicker="ngbDatepicker"
                                 [ngClass]="{ 'is-invalid': submitted && form.dateOfJoining.errors }" />
                                 <div class="input-group-append">
                                    <button class="btn btn-outline-secondary calendar btn-sm" (click)="dateOfJoiningPicker.toggle()" type="button"><i class="fa fa-calendar fa-lg"></i></button>
                                 </div>
                                   <div *ngIf="submitted && form.dateOfJoining.errors" class="invalid-feedback">
                                    <div *ngIf="form.dateOfJoining.errors.required">Date Of Joining is required</div>
                                 </div>
                              </div>
                           </div>
                        <div class="col-sm-4 padding-zero">
                           <div class="form-group">
                              <label>Company</label>
                              <ng-select formControlName="company" [searchable]="false" autocomplete="no-fill"  class="custom" placeholder="Choose Company" [ngClass]="{ 'red-border': submitted && form.company.errors }" fullWidth>
                                 <ng-option *ngFor="let item_row of companies" [value]="item_row.id">{{item_row.name}}</ng-option>
                              </ng-select>
                              <label *ngIf="submitted && form.company.errors" class="error">
                              Company required.
                              </label>
                           </div>
                        </div>
                        <div class="col-sm-4 padding-zero">
                           <div class="form-group">
                              <label>Type</label>
                              <ng-select class="custom" [searchable]="false" autocomplete="no-fill"  [(ngModel)]="selectedType"  formControlName="types"  placeholder="Choose Type"  [ngClass]="{ 'red-border': submitted && form.types.errors }"
                              [items]="types" 
                              [multiple]="true"
                              bindLabel="typeName"
                              [selectableGroup]="true"
                              [closeOnSelect]="false"
                              bindValue="id" ></ng-select>
                              <!-- <select multiple formControlName="types" placeholder="Choose Type" fullWidth
                                 selected="selectedType" [ngClass]="{ 'red-border': submitted && form.types.errors }">
                                 <option [ngValue]="null" disabled>Choose Type</option>
                                 <option *ngFor="let type_item of types" [value]="type_item.id">{{type_item.typeName}}</option>
                                 </select> -->
                              <label *ngIf="submitted && form.types.errors" class="error">
                              Type required.
                              </label>
                           </div>
                        </div>
                        <!--div class="col-sm-4 padding-zero">
                           <div class="form-group">
                             <label>Type</label>
                              <select multiple formControlName="types" placeholder="Choose Type" fullWidth
                               selected="selectedType" [ngClass]="{ 'red-border': submitted && form.types.errors }">
                               <option [ngValue]="null" disabled>Choose Type</option>
                               <option *ngFor="let type_item of types" [value]="type_item.id">{{type_item.typeName}}</option>
                             </select>
                             <label *ngIf="submitted && form.types.errors" class="error">
                               Type required.
                             </label>
                           
                           </div>
                           </div-->
                        
                     </div>
                     <!--div class="row edit-row">
                        <div class="col-sm-6 padding-zero">
                          <div class="form-group">
                            <label>Groups</label>
                            <select multiple formControlName="group" placeholder="Choose Group" fullWidth
                              selected="selectedGroup" [ngClass]="{ 'red-border': submitted && form.group.errors }">
                              <option [ngValue]="null" disabled>Choose Group</option>
                              <option *ngFor="let group of c" [value]="group.id">{{group.groupName}}</option>
                            </select>
                          </div>
                        </div>
                        </div-->
                     <div class="row edit-row">
                        <div class="col-sm-4 padding-zero">
                           <div class="form-group">
                              <label>Report To</label>
                              <!--ngx-select *ngIf="usersList && usersList.length > 0" [items]="usersList"
                                 placeholder="No username selected" optionValueField="id" optionTextField="username"
                                 formControlName="reportTo" [allowClear]="true"
                                 [ngClass]="{ 'is-invalid': submitted && form.reportTo.errors }">
                                 </ngx-select-->
                              <ng-autocomplete
                              [data]="usersList" formControlName="reportToName"
                              (selected)="changeSelection($event,usersList,'id','reportTo',null,'reportTo')"
                              [searchKeyword]="keywordReport"
                              placeHolder="No Username Selected"
                              [itemTemplate]="reportToTemplate" 
                              [notFoundTemplate]="notFoundTemplate" [ngClass]="{ 'is-invalid': submitted && form.reportTo.errors }">
                              </ng-autocomplete>
                              <ng-template #reportToTemplate let-item>
                                 <a [innerHTML]="item.username"></a>
                              </ng-template>
                              <ng-template #notFoundTemplate let-notFound>
                                 <div [innerHTML]="notFound"></div>
                              </ng-template>
                              <label *ngIf="submitted && form.reportTo.errors" class="error">
                              Report To should not be blank.
                              </label>
                              <!-- <div *ngIf="submitted && form.reportTo.errors" class="invalid-feedback">
                                 <div>{{form.reportTo.errors.required}}</div>
                                 <div *ngIf="form.reportTo.errors.required">Report should not be blank</div>
                                 </div> -->
                           </div>
                        </div>
                        <div class="col-sm-4 padding-zero">
                           <div class="form-group">
                              <label>Groups</label>
                              <ng-select class="custom" [searchable]="false" [(ngModel)]="selectedGroup" formControlName="group"  placeholder="Choose Group"  [ngClass]="{ 'red-border': submitted && form.group.errors }"
                              [items]="groups" autocomplete="no-fill"
                              [multiple]="true"
                              bindLabel="groupName"
                              [selectableGroup]="true"
                              [closeOnSelect]="false"
                              bindValue="id" >
                              </ng-select>
                           </div>
                        </div>
                        <div class="col-sm-4 padding-zero">
                           <div class="form-group">
                              <label>Rank</label>
                              <ng-select formControlName="rank" [searchable]="false" class="custom" autocomplete="no-fill"  placeholder="Choose Rank" [ngClass]="{ 'red-border': submitted && form.rank.errors }" fullWidth>
                                 <ng-option *ngFor="let rank of ranks" [value]="rank.id">{{rank.rankName}}</ng-option>
                              </ng-select>
                              <label *ngIf="submitted && form.rank.errors" class="error">
                              Rank required.
                              </label>
                           </div>
                        </div>
                        
                       
                              
                     </div>
                     <div class="row edit-row">
                        <div class="col-sm-4 padding-zero">
                           <div class="form-group">
                              <label>Mobile Number</label>
                              <input type="text" oninput="this.value = this.value.replace(/[^0-9.()+-]/g, ''); this.value = this.value.replace(/(\..*)\./g, '$1');" onKeyDown="if(this.value.length==10 && event.keyCode!=8 && event.keyCode!=9 && event.keyCode!=39 && event.keyCode!=37) return false;" autocomplete="no-fill"  formControlName="mobileNumber" class="form-control form-control-sm "
                                 [ngClass]="{ 'is-invalid': submitted && form.mobileNumber.errors }" />
                                 <label *ngIf="submitted && form.mobileNumber.errors && form.mobileNumber.errors.required" class="error">
                                    Mobile Number required.
                                    </label>
                                    <label *ngIf="submitted && form.mobileNumber.errors && form.mobileNumber.errors.pattern" class="error">Enter valid Mobile Number</label>
                                 </div>
                        </div>
                        <div class="col-sm-4 padding-zero">
                           <div class="form-group">
                              <label>Permanent Address
                              </label>
                              <!-- <input type="text" formControlName="permanentAddress" class="form-control" [ngClass]="{ 'is-invalid': submitted && form.permanentAddress.errors }" /> -->
                              <textarea rows="2" nbInput fullWidth shape="round" formControlName="permanentAddress" maxlength="255" autocomplete="no-fill"
                                 class="form-control form-control-sm " [ngClass]="{ 'is-invalid': submitted && form.permanentAddress.errors }"
                                 placeholder="Permanent Address"></textarea>
                              <div *ngIf="submitted && form.permanentAddress.errors" class="invalid-feedback">
                                 <div *ngIf="form.permanentAddress.errors.required">Permanent Address required</div>
                              </div>
                           </div>
                        </div>
                        <div class="col-sm-4 padding-zero">
                           <div class="form-group">
                              <label>Temporary Address
                              </label>
                              <textarea rows="2" nbInput fullWidth shape="round" formControlName="temporaryAddress" maxlength="255" autocomplete="no-fill"
                                 class="form-control form-control-sm " [ngClass]="{ 'is-invalid': submitted && form.temporaryAddress.errors }"
                                 placeholder="Temporary Address"></textarea>
                              <!-- <input type="text" formControlName="temporaryAddress" class="form-control" [ngClass]="{ 'is-invalid': submitted && form.temporaryAddress.errors }" /> -->
                              <div *ngIf="submitted && form.permanentAddress.errors" class="invalid-feedback">
                                 <div *ngIf="form.permanentAddress.errors.required">Temporary Address required</div>
                              </div>
                              <input type="checkbox" [ngClass]="{ 'is-invalid': submitted && form.permanentAddress.errors }" status="warning"
                              (change)="copyClick($event)">
                              <label class="font-italic pt-2"> &nbsp;Copy Permanent address</label>
                           </div>
                        </div>
                     </div>
                     <div *ngIf="!isSuper"  class="row edit-row" >
                        <div class="col-sm-6 padding-zero">
                           <div class="form-group">
                              <label class="col-md-12 p-0 m-0"> User Status</label>
                              <input type="checkbox" formControlName="status" [ngClass]="{ 'is-invalid': submitted && form.status.errors }"
                                 status="warning">&nbsp;<b class="text-primary">ACTIVE</b>
                              <div *ngIf="submitted && form.status.errors" class="invalid-feedback">
                              </div>
                           </div>
                        </div>
                        <div class="col-sm-6 padding-zero">
                           <label class="col-md-12 p-4 m-0"> Profile Image</label>
                           <div class="col-4" *ngIf="imageSrc">
                              <img class="pull-right" src="{{imageSrc}}" width="35" height="35">
                           </div>
                           <input type="file" style="display: none;" (change)="upload($event.target.files)" id="fileUpload" class="hidden" />
                           <div class="row">
                              <div class="col-8 file-upload text-info" (click)="triggerFileUpload()">
                                 <i class="fa fa-upload" aria-hidden="true"></i>&nbsp;Upload File
                                 </div>
                                 
                                 
                           </div>
                           <div >
                            <label class="text-lowercase" autocorrect="off" autocapitalize="none">(png, .jpg, .jpeg,  .gif Max Size=4Mb)</label>
                         </div>
                        </div>
                     </div>
                     
                  </div>
           
              
                  </div><hr class="mb-0 mt-0">
                     <div class="row pb-2">
                        <div class="col-md-12 text-right pb-2">
                           <div class="btn-group">
                              <button class="btn btn-primary vendor_save mr-1 btn-sm" [routerLink]="['/user/list']"> <i class="fa fa-close"></i>&nbsp; Cancel</button>
                           </div>
                           &nbsp;
                           <div class="btn-group">
                              <button  [disabled]="loading" class="btn btn-success btn-sm vendor_save">
                                 <ngx-spinner [fullScreen]="false"  bdColor="transparent">
                                                  </ngx-spinner> 
                              <i class="fa fa-save"></i>&nbsp;
                              Save
                              </button>
                           </div>
                        </div>
                     </div>
                     </form>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>