
//sreekala 
// .ng-select.custom {
//     border:0px;
//     min-height: 0px;
//     border-radius: 0;
// }
// .ng-select.custom .ng-select-container  {            
//     min-height: 0px;
//     border-radius: 0;
    
// }
//end sreekalacss

// ADDED BY GIGIN

// .autocomplete-container {
//     box-shadow: 0 1px 3px 0 rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 2px 1px -1px rgba(0,0,0,.12);
//     position: relative;
//     overflow: visible;
//     height: 32px !important;
// }
.file-upload{
    min-width:150px
}